<div class="au-o-box au-o-box--small au-c-app-chrome">
  <AuToolbar class="au-c-toolbar--wrap au-u-margin-bottom-small">
    <AuToolbarGroup>
      <AuLink @linkRoute="inbox.index" @skin="secondary">
        <AuIcon @icon="arrow-left" @alignment="left" />
        Terug naar overzicht notulen
      </AuLink>
      <span class="au-c-app-chrome__entity">{{get (await currentSession.group) 'classificatie.label'}} {{get (await currentSession.group) 'naam'}}</span>
    </AuToolbarGroup>
    <AuToolbarGroup>
      <ul class="au-c-list-horizontal">
        {{#unless editorDocument.isNew}}
        {{#if editorDocument.updatedOn}}
        <li class="au-c-list-horizontal__item">
          <span class="au-c-app-chrome__status">
            Bewaard op {{moment-calendar editorDocument.updatedOn}}
          </span>
        </li>
        {{else}}
        <li class="au-c-list-horizontal__item">
          <span class="au-c-app-chrome__status">
            <AuIcon @icon="alert-triangle" @alignment="left" />
            Wijzigingen niet bewaard
          </span>
        </li>
        {{/if}}
        {{/unless}}
        {{#if startSyncModal}}
        <li class="au-c-list-horizontal__item">
          <AuButton {{on "click" this.startSyncModal}} @skin="tertiary">
            <AuIcon @icon="renew" @alignment="left" />
            Synchroniseer gegevens met OCMW
          </AuButton>
        </li>
        {{/if}}
        {{!-- // Still needed? --}}
        {{#if features.languageSelect}}
        <li class="au-c-list-horizontal__item">
          <LanguageSelect />
        </li>
        {{/if}}
      </ul>
    </AuToolbarGroup>
  </AuToolbar>
  <AuToolbar class="au-c-toolbar--wrap">
    <AuToolbarGroup class="au-c-toolbar__group--main au-c-toolbar__group--fill">
      <EditorDocumentTitle @editorDocument={{editorDocument}} @readOnly={{readOnly}} />
      {{#unless editorDocument.isNew}}
        <EditorStatusPill @status={{await documentContainer.status}} />
      {{/unless}}
      {{#if editorDocument.isNew}}
      <AuPill @skin="warning">
        <AuIcon @icon="alert-triangle" @alignment="left" />
        Concept niet bewaard
      </AuPill>
      {{/if}}
    </AuToolbarGroup>
    <AuToolbarGroup class="au-c-toolbar__group--secondary au-c-toolbar__group--fill au-c-toolbar__group--small">
      {{#if editorDocument.isNew}}
        <LinkTo @route="inbox.index" class="au-c-button au-c-button--tertiary au-c-button--alert">
          <AuIcon @icon="bin" @alignment="left" />
          Verwijder concept
        </LinkTo>
      {{else}}
        <AuButton {{on "click" this.sendToTrash}} @skin="tertiary" @alert="true">
          <AuIcon @icon="bin" @alignment="left" />
          Naar prullenmand
        </AuButton>
      {{/if}}
      <AuButton {{on "click" this.publish}} @skin="secondary">Ondertekenen en publiceren</AuButton>
      <AuButton {{on "click" this.save}}>Bewaar concept</AuButton>
    </AuToolbarGroup>
  </AuToolbar>
</div>
