<div class="au-o-box au-o-box--small au-c-app-chrome">
  <AuToolbar class="au-c-toolbar--wrap au-u-margin-bottom-small">
    <AuToolbarGroup>
      {{#if this.isMeetingMinutes}}
      <AuLink @linkRoute="inbox.index" @skin="secondary">
        <AuIcon @icon="arrow-left" @alignment="left" />
        Terug naar overzicht notulen
      </AuLink>
      {{else if this.isDraftDecisions}}
      <AuLink @linkRoute="inbox.draft-decisions" @skin="secondary">
        <AuIcon @icon="arrow-left" @alignment="left" />
        Terug naar overzicht ontwerpbesluiten
      </AuLink>
      {{/if}}
      <span class="au-c-app-chrome__entity">{{get (await currentSession.group) 'classificatie.label'}} {{get (await currentSession.group) 'naam'}}</span>
    </AuToolbarGroup>
    <AuToolbarGroup>
      <ul class="au-c-list-horizontal">
        {{#unless editorDocument.isNew}}
        {{#if editorDocument.updatedOn}}
        <li class="au-c-list-horizontal__item">
          <span class="au-c-app-chrome__status">
            Bewaard op {{moment-calendar editorDocument.updatedOn}}
          </span>
        </li>
        {{else}}
        <li class="au-c-list-horizontal__item">
          <span class="au-c-app-chrome__status">
            <AuIcon @icon="alert-triangle" @alignment="left" />
            Wijzigingen niet bewaard
          </span>
        </li>
        {{/if}}
        {{/unless}}
        {{#if startSyncModal}}
        <li class="au-c-list-horizontal__item">
          <AuButton {{on "click" this.startSyncModal}} @skin="tertiary">
            <AuIcon @icon="renew" @alignment="left" />
            Synchroniseer gegevens met OCMW
          </AuButton>
        </li>
        {{/if}}
        {{#if @exportHtmlFunction}}
        <li class="au-c-list-horizontal__item">
          <AuButton {{on "click" this.exportHtmlFunction}} @skin="tertiary">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="au-c-icon au-c-icon--left" aria-hidden="true">
              <path d="M8.30387729,1.05196106 L3.40937322,5.93422888 L7.08025128,5.93422888 L7.08025128,14.5118473 L9.52750331,14.5118473 L9.52750331,5.93422888 L13.1983814,5.93422888 L8.30387729,1.05196106 Z M16.8692594,18.1949616 L16.8692594,9.61734319 L14.4220074,9.61734319 L14.4220074,18.1949616 L10.7511293,18.1949616 L15.6456334,23.0772294 L20.5401375,18.1949616 L16.8692594,18.1949616 Z"/>
            </svg>
            Exporteer als HTML
          </AuButton>
        </li>
        {{/if}}
        {{#if features.languageSelect}}
        <li class="au-c-list-horizontal__item">
          <LanguageSelect />
        </li>
        {{/if}}
      </ul>
    </AuToolbarGroup>
  </AuToolbar>
  <AuToolbar class="au-c-toolbar--wrap">
    <AuToolbarGroup class="au-c-toolbar__group--main au-c-toolbar__group--fill">
      <EditorDocumentTitle @editorDocument={{editorDocument}} @readOnly={{readOnly}} />
      {{#unless editorDocument.isNew}}
        <EditorStatusPill @status={{await documentContainer.status}} />
      {{/unless}}
      {{#if editorDocument.isNew}}
      <AuPill @skin="warning">
        <AuIcon @icon="alert-triangle" @alignment="left" />
        Concept niet bewaard
      </AuPill>
      {{/if}}
    </AuToolbarGroup>
    <AuToolbarGroup class="au-c-toolbar__group--secondary au-c-toolbar__group--fill au-c-toolbar__group--small">
      {{#if @editorDocument.isNew}}
        <LinkTo @route="inbox.index" class="au-c-button au-c-button--tertiary au-c-button--alert">
          <AuIcon @icon="bin" @alignment="left" />
          Verwijder concept
        </LinkTo>
      {{else}}
        <AuButton {{on "click" this.sendToTrash}} @skin="tertiary" @alert="true">
          <AuIcon @icon="bin" @alignment="left" />
          Naar prullenmand
        </AuButton>
        {{#if isArchived}}
          <AuButton {{on "click" this.unarchive}} @skin="tertiary">
            <AuIcon @icon="document" @alignment="left" />
            Maak actief
          </AuButton>
        {{else}}
          <AuButton {{on "click" this.archive}} @skin="tertiary">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="au-c-icon au-c-icon--left" aria-hidden="true">
              <path d="M18.7105,5.63636 C19.6992,5.63636 20.5,6.45 20.5,7.45455 L20.5,7.45455 L20.5,20.1818 C20.5,21.1864 19.6992,22 18.7105,22 L18.7105,22 L8.86842,22 C7.87974,22 7.07895,21.1864 7.07895,20.1818 L7.07895,20.1818 L7.07895,7.45455 C7.07895,6.45 7.87974,5.63636 8.86842,5.63636 L8.86842,5.63636 Z M17.0297582,16 L10.6131582,16 C10.5357582,16 10.4615582,16.0527 10.4068582,16.1464 C10.3521582,16.2402 10.3214582,16.3674 10.3214582,16.5 C10.3214582,16.6326 10.3521582,16.7598 10.4068582,16.8536 C10.4615582,16.9473 10.5357582,17 10.6131582,17 L17.0297582,17 C17.1071582,17 17.1813582,16.9473 17.2360582,16.8536 C17.2907582,16.7598 17.3214582,16.6326 17.3214582,16.5 C17.3214582,16.3674 17.2907582,16.2402 17.2360582,16.1464 C17.1813582,16.0527 17.1071582,16 17.0297582,16 Z M16.0263,2 L16.0263,3.81818 L5.28947,3.81818 L5.28947,16.5455 L3.5,16.5455 L3.5,3.81818 C3.5,2.81364 4.30079,2 5.28947,2 L5.28947,2 L16.0263,2 Z M17.0297582,14 L10.6131582,14 C10.5357582,14 10.4615582,14.0527 10.4068582,14.1464 C10.3521582,14.2402 10.3214582,14.3674 10.3214582,14.5 C10.3214582,14.6326 10.3521582,14.7598 10.4068582,14.8536 C10.4615582,14.9473 10.5357582,15 10.6131582,15 L17.0297582,15 C17.1071582,15 17.1813582,14.9473 17.2360582,14.8536 C17.2907582,14.7598 17.3214582,14.6326 17.3214582,14.5 C17.3214582,14.3674 17.2907582,14.2402 17.2360582,14.1464 C17.1813582,14.0527 17.1071582,14 17.0297582,14 Z M17.0297582,12 L10.6131582,12 C10.5357582,12 10.4615582,12.0527 10.4068582,12.1464 C10.3521582,12.2402 10.3214582,12.3674 10.3214582,12.5 C10.3214582,12.6326 10.3521582,12.7598 10.4068582,12.8536 C10.4615582,12.9473 10.5357582,13 10.6131582,13 L17.0297582,13 C17.1071582,13 17.1813582,12.9473 17.2360582,12.8536 C17.2907582,12.7598 17.3214582,12.6326 17.3214582,12.5 C17.3214582,12.3674 17.2907582,12.2402 17.2360582,12.1464 C17.1813582,12.0527 17.1071582,12 17.0297582,12 Z M17.0297582,10 L10.6131582,10 C10.5357582,10 10.4615582,10.0527 10.4068582,10.1464 C10.3521582,10.2402 10.3214582,10.3674 10.3214582,10.5 C10.3214582,10.6326 10.3521582,10.7598 10.4068582,10.8536 C10.4615582,10.9473 10.5357582,11 10.6131582,11 L17.0297582,11 C17.1071582,11 17.1813582,10.9473 17.2360582,10.8536 C17.2907582,10.7598 17.3214582,10.6326 17.3214582,10.5 C17.3214582,10.3674 17.2907582,10.2402 17.2360582,10.1464 C17.1813582,10.0527 17.1071582,10 17.0297582,10 Z"/>
            </svg>
            Archiveer
          </AuButton>
        {{/if}}
      {{/if}}
      {{#if @publish}}
        <AuButton {{on "click" this.publish}} @skin="secondary">Ondertekenen en publiceren</AuButton>
      {{/if}}
      <AuButton {{on "click" this.save}}>Bewaar concept</AuButton>
    </AuToolbarGroup>
  </AuToolbar>
</div>
