<div class="grid u-spacer--tiny">
  <div class="col--6-12">
    {{#if this.isMeetingMinutes}}
      <LinkTo @route="inbox.index" class="smaller link-dark">&leftarrow; Terug naar overzicht notulen</LinkTo>
    {{else if this.isDraftDecisions}}
      <LinkTo @route="inbox.draft-decisions" class="smaller link-dark">&leftarrow; Terug naar overzicht ontwerpbesluiten</LinkTo>
    {{/if}}
    <label class="pill u-spacer--left--tiny">
      <span>{{get (await this.currentSession.group) 'classificatie.label'}} {{get (await this.currentSession.group) 'naam'}}</span>
    </label>
  </div>
  <div class="col--6-12">
    <div class="grid grid--collapse grid--align-right">
      <div class="col--10-12 u-align-right">
        <WuButtonGroup>
          {{#if @startSyncModal}}
            <WuLinkButton @isSmall={{true}} @isNarrow={{true}} @isLink={{true}} @onClick={{@startSyncModal}}>
              <i class="fa fa-rotate-right"></i>Synchroniseer gegevens met OCMW
            </WuLinkButton>
          {{/if}}
          {{#if @exportHtmlModal}}
            <WuLinkButton @isSmall={{true}} @isNarrow={{true}} @isLink={{true}} @onClick={{@exportHtmlFunction}}>
              <i class="fa fa-retweet"></i>Exporteer als HTML
            </WuLinkButton>
          {{/if}}
          {{!-- // Still needed? --}}
        </WuButtonGroup>
      </div>
      {{#if this.features.languageSelect}}
        <div class="col--2-12 u-align-left u-padding--left--small">
          <LanguageSelect />
        </div>
      {{/if}}
    </div>
  </div>
</div>
<div class="grid">
  <div class="col--6-12">
    <EditorDocumentTitle @editorDocument={{@editorDocument}} @readOnly={{@readOnly}} />
    {{#unless @editorDocument.isNew}}
      <EditorStatusPill @status={{await @documentContainer.status}} />
    {{/unless}}
  </div>
  <div class="col--6-12 u-align-right">
    <WuButtonGroup @class="u-align-right">
      {{#if @editorDocument.isNew}}
        <LinkTo @route="inbox.index" class="button button--small button--narrow button--link button--link--dark">Verwijder concept</LinkTo>
      {{else}}
        <WuButton @label="Naar prullenmand" @isSmall={{true}} @isNarrow={{true}} @isLink={{true}} @isDarkLink={{true}} @onClick={{@sendToTrash}} />
      {{/if}}
      {{#if @publish}}
        <WuButton @label="Ondertekenen en publiceren" @isSmall={{true}} @isNarrow={{true}} @isAlt={{true}} @onClick={{@publish}} />
      {{/if}}
      <WuButton @label="Bewaar concept" @isNarrow={{true}} @isSmall={{true}} @onClick={{@save}} />
    </WuButtonGroup>

    <div class="u-spacer--top--tiny">
      {{#if @editorDocument.isNew}}
        <p class="smaller">
          <label class="pill pill--primary-yellow">
            <span class="badge badge--accent badge--xs badge--initials"><i class="vi vi-warning"></i></span>
            <span>Concept niet bewaard</span>
          </label>
        </p>
      {{else}}
        {{#if @editorDocument.updatedOn}}
          <p class="smaller">
            Bewaard {{moment-calendar @editorDocument.updatedOn}}
          </p>
        {{else}}
          <p class="smaller">
            <span class="smaller u-padding--right--tiny">
              <span class="badge badge--accent badge--xs badge--initials"><i class="vi vi-warning"></i></span>
              <span>Wijzigingen niet bewaard</span>
            </span>
          </p>
        {{/if}}
      {{/if}}
    </div>
  </div>
</div>
