<div class="tasklist__header">
  <AuToolbar>
    <AuHeading @level="2" @skin="3">
      Takenlijsten
    </AuHeading>
    <a class="u-spacer--none button button--link button--link--dark button--narrow" {{action "expandTasklist"}}>
      <i class="vi vi-expand u-padding--right--none vi-u-s"></i>
      <i class="vi vi-long-arrow vi-u-90deg"></i>
      <span>klap takenlijst in</span>
    </a>
  </AuToolbar>
</div>
<div class="tasklist__content">
  <div class="tasklist-navigation">
    <div class="tasklist-navigation__group">
      {{#if tasklistObserver.isRunning}}
        <p class="loader"><span class="u-visually-hidden">Aan het laden</span></p>
      {{else}}
        {{#each tasklistSolutions as |solution|}}
          <TasklistSolution::Edit @tasklistSolution={{solution}} @class="tasklist-navigation__item js-accordion" @onMoveUp={{action "moveUp"}} @onMoveDown={{action "moveDown"}} />
        {{/each}}
        {{yield}}
      {{/if}}
    </div>
  </div>
</div>
