{{#if readOnly}}
  <h1 class="au-c-app-chrome__title">
    {{#if editorDocument.title}}
      {{editorDocument.title}}
    {{else}}
      <span class="au-c-app-chrome__title-fade">Naamloos document</span>
    {{/if}}
  </h1>
{{else}}
  {{#if active}}
    <Input class="au-c-app-chrome__title-input" @type="text" placeholder="Naamloos document" @value={{mut editorDocument.title}} @focus-out={{action "toggleActive"}} @autofocus="autofocus" />
  {{else}}
    <h1 onClick={{action "toggleActive"}} class="au-c-app-chrome__title au-c-app-chrome__title--edit" tabindex="0">
      {{#if editorDocument.title}}
        {{editorDocument.title}}
      {{else}}
        Naamloos document
      {{/if}}
    </h1>
  {{/if}}
{{/if}}
