{{#if readOnly}}
  <h1 class="h3 sans-serif">
    {{#if editorDocument.title}}
      {{editorDocument.title}}
    {{else}}
      <span class="text-fade">Naamloos document</span>
    {{/if}}
  </h1>
{{else}}
  {{#if active}}
    {{input class="input-field input-field--block u-spacer--small" type="text" placeholder="Naamloos document" value=overruledTitle focus-out=(action "toggleActive") autofocus="autofocus"}}
  {{else}}
    <h1 class="h3 sans-serif">
        <a class="link-dark link--edit" onClick={{action "toggleActive"}}>
          {{title}}
        </a>
    </h1>
  {{/if}}
{{/if}}
