<div class="au-o-box">
  {{#if this.initializeAgendas.isIdle}}
  <ul>
    <Signatures::Agenda::TimelineStep
      @name="ontwerpagenda"
      @agenda={{this.ontwerpAgenda}}
      @signing={{perform this.createSignedResource "ontwerpagenda"}}
      @publish={{perform this.createPublishedResource "ontwerpagenda"}}
    />

    <Signatures::Agenda::TimelineStep
      @name="aanvullende agenda"
      @agenda={{this.aanvullendeAgenda}}
      @signing={{perform this.createSignedResource "aanvullendeagenda"}}
      @publish={{perform this.createPublishedResource "aanvullendeagenda"}}
    />

    <Signatures::Agenda::TimelineStep
      @name="spoedeisende agenda"
      @agenda={{this.spoedeisendeAgenda}}
      @signing={{perform this.createSignedResource "spoedeisendeagenda"}}
      @publish={{perform this.createPublishedResource "spoedeisendeagenda"}}
    />
  </ul>
  {{else}}
    <AuHelpText @size="large">{{t "publish.loadingMessage"}}</AuHelpText>
    <AuLoader @size="small" />
  {{/if}}
</div>
