<div class="au-o-box">
  {{#if this.initializeBesluitenLijst.isIdle}}
  <ul>
    <Signatures::Besluitenlijst::TimelineStep
      @name="besluitenlijst"
      @lijst={{this.besluitenlijst}}
      @signing={{perform this.createSignedResource}}
      @publish={{perform this.createPublishedResource}}
    />
  </ul>
  {{else}}
    <AuHelpText @size="large">{{t "publish.loadingMessage"}}</AuHelpText>
    <AuLoader @padding="small" />
  {{/if}}
</div>
