<div class="au-o-box">
  {{#if this.initializeNotulen.isIdle}}
  <ul>
    <Signatures::Notulen::TimelineStep
      @name="notulen"
      @notulen={{this.notulen}}
      @publicBehandelingUris={{publicBehandelingUris}}
      @behandelings={{behandelings}}
      @behandelingContainerId={{behandelingContainerId}}
      @zittingWrapper={{zittingWrapper}}
      @togglePublicationStatus={{togglePublicationStatus}}
      @signing={{perform this.createSignedResource}}
      @publish={{perform this.createPublishedResource}}
    />
  </ul>
  {{else}}
    <AuHelpText @size="large">{{t "publish.loadingMessage"}}</AuHelpText>
    <AuLoader @size="small" />
  {{/if}}
</div>
