<div class="au-o-box">
  {{#if this.initializeNotulen.isIdle}}
  <ul>
    <Signatures::Notulen::TimelineStep
      @name="notulen"
      @notulen={{this.notulen}}
      @errors={{this.errors}}
      @publicBehandelingUris={{this.publicBehandelingUris}}
      @behandelings={{this.behandelings}}
      @behandelingContainerId={{this.behandelingContainerId}}
      @zittingWrapper={{this.zittingWrapper}}
      @togglePublicationStatus={{this.togglePublicationStatus}}
      @signing={{perform this.createSignedResource}}
      @publish={{perform this.createPublishedResource}}
    />
  </ul>
  {{else}}
    <AuHelpText @size="large">{{t "publish.loadingMessage"}}</AuHelpText>
    <AuLoader @padding="small" />
  {{/if}}
</div>
