<div class="au-o-box">
  {{#if this.isLoading}}
    <AuHelpText @size="large">{{t (if this.isEmpty "publish.loadingMessage" "publish.updatingMessage")}}</AuHelpText>
    <AuLoader @padding="small"/>
  {{/if}}
  <ul>
    {{#each this.extracts as |extract|}}
      <Signatures::Behandeling::TimelineStep
              @name={{extract.document.behandeling.onderwerp.titel}}
              @extract={{extract}}
              @signing={{perform this.createSignedResourceTask extract.document.behandeling}}
              @publish={{perform this.createPublishedResourceTask extract.document.behandeling}}
              @print={{this.print}}
      />
    {{else}}
      {{#unless this.isLoading }}
        <AuAlert @alertIcon="alert-triangle" @alertskin="warning" @alertsize="small">
          {{t "publish.excerptsErrorMessage"}}
        </AuAlert>
      {{/unless}}
    {{/each}}
  </ul>
</div>
