<div class="au-o-box">
  {{#if this.initializeUittreksels.isIdle}}
  <ul>
    {{#each this.uittreksels as |uittreksel|}}
      <Signatures::Behandeling::TimelineStep
        @name={{uittreksel.behandeling.onderwerp.titel}}
        @step={{timeline.step}}
        @behandeling={{uittreksel}}
        @signing={{perform this.createSignedResource uittreksel.behandeling}}
        @publish={{perform this.createPublishedResource uittreksel.behandeling}}
      />
    {{else}}
    <AuAlert @alertIcon="alert-triangle" @alertskin="warning" @alertsize="small">
      {{t "publish.excerptsErrorMessage"}}
    </AuAlert>
    {{/each}}
  </ul>
  {{else}}
    <AuHelpText @size="large">{{t "publish.loadingMessage"}}</AuHelpText>
    <AuLoader @size="small" />
  {{/if}}
</div>