<div class='au-c-app-chrome'>
  <AuToolbar
    @size='small'
    class='au-u-padding-top-none au-u-padding-bottom-none'
    as |Group|
  >
    <Group>
      <AuLink @route='regulatory-statements.edit' @skin='secondary' >
      <AuIcon @icon='arrow-left' @alignment='left' />
      {{t 'inbox.regulatory-statements.return-to-edit'}}
    </AuLink>
    <span class='au-c-app-chrome__entity'>{{t 'copy-options.heading'}}
      {{@model.document.title}}</span>
    </Group>
  </AuToolbar>
</div>
<AuMainContainer as |m|>
  <m.content @scroll={{true}}>
    <AuToolbar @size='large' as |Group|>
      <Group>
        <AuHeading @level='1' @skin='2'>
          {{t 'copy-options.heading'}}
          <span
            class='au-c-meeting-chrome__highlight'
          >{{this.model.document.title}}</span>
        </AuHeading>
      </Group>
      <Group>
        <DownloadMeetingPart
          @documentType='besluit'
          @documentContainer={{this.model.container}}
          @buttonText={{t 'copy-options.copy-rb'}}
          @loadingText={{t 'copy-options.copying'}}
          @completedText={{t 'copy-options.completed'}}
          @icon='copy-paste'
          @buttonSkin='secondary'
          @callback={{this.copyToClipboard}}
        />
      </Group>
    </AuToolbar>
    <p class='au-u-margin-left au-u-margin-bottom'>{{t
        'copy-options.disclaimer'
      }}</p>
    <div
      class='au-u-flex au-u-flex--column au-u-flex--vertical-center au-u-margin-bottom-large'
    >
      <RbCopyParts @decision={{this.model.document}} />
    </div>
  </m.content>
</AuMainContainer>