<div class="au-o-box">
  <AuDataTable 
    @content={{this.model}}
    @noDataMessage={{t "publish.no-publication-actions-message"}}
    @sort={{this.sort}}
    @page={{this.page}}
    @size={{this.pageSize}}
    as |table|
  >
    <table.content as |c|>
      <c.header>
        <th><span class="au-c-data-table__header-title au-c-data-table__header-title--sortable">{{t 'publication-actions.document'}}</span></th>
        <AuDataTableThSortable 
          @field="action" 
          @currentSorting={{this.sort}}
          @label={{t 'publication-actions.action' }} 
        />
        <AuDataTableThSortable 
          @field="date" 
          @currentSorting={{this.sort}}
          @label={{t 'publication-actions.date' }} 
        />
        <AuDataTableThSortable 
          @field="user" 
          @currentSorting={{this.sort}}
          @label={{t 'publication-actions.user' }} 
        />
        <th><span class="au-c-data-table__header-title au-c-data-table__header-title--sortable">{{t 'publication-actions.hash'}}</span></th>
      </c.header>
      <c.body as |publishingLog|>
        <td>
          <PublishingLogDocumentName @log={{publishingLog}} />
        </td>
        <td>
          {{publishingLog.action}}
        </td>
        <td>
          {{human-friendly-date publishingLog.date locale=this.intl.primaryLocale}}
        </td>
        <td>
          {{publishingLog.user.fullName}}
        </td>
        <td>
          <PublishingLogHash @log={{publishingLog}} />
        </td>
      </c.body>
    </table.content>
  </AuDataTable>
</div>