<div class="container--flex-scroll">
	<section class="u-padding--rl--small u-background--gray-lighter u-hide-on-print u-hide-on-print--show">
		<div class="u-padding--top--tiny">
			<div class="grid">
				<div class="col--6-12">
					<LinkTo @route="documents.show.publish.uittreksels" @model={{model.documentContainer.id}} @isDarkLink={{true}} class="smaller link--dark">
						<i class="vi-arrow vi-u-180deg vi vi-u-xs"></i> Terug naar ondertekenen &amp; publiceren
					</LinkTo>
					<div class="u-padding--tb--large">
						<h1 class="h4 u-spacer--bottom--tiny">
							<i class="vi vi-paper vi-u-m" aria-hidden="true"></i> Maak een print of PDF van een uittreksel
						</h1>
						<p>U kan deze pagina opslaan als PDF, of printen. Bekijk hoe opslaan en printen werkt in Firefox of Chrome, in de <a href="https://gelinkt-notuleren.vlaanderen.be/handleiding/#notuleren-printen" target="_blank">handleiding</a>. Deze informatie (boven de stippellijn) zal niet op de print of PDF te zien zijn.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="u-padding--rl--small u-spacer--tb document-print" id="main">
		<div class="grid">
			<div class="col--8-12 u-wide-on-print">
				<h1 class="h1 u-spacer--bottom--small">
					Uittreksel uit de notulen
					<br>
					{{bestuursorgaan.naam}}
					<br>
					zitting van {{moment-format geplandeStart 'L LT'}}
				</h1>
				<p class="u-spacer--bottom--large">{{!-- Dit is een rechtsgeldig ondertekend document. --}}Het document slaat op de situatie zoals gekend bij het afleveren{{!-- , afgeleverd te {{locatie}} op {{datum}}, door {{naam}} --}}.</p>

				<div class="document-print--uittreksel--blockchain-signature">
					<div class="grid">
						{{#each model.signedResources as |signature|}}
					  	<div class="col--6-12">
						    <p class="uppercase text-fade smaller u-spacer--bottom--tinier">Ondertekend door</p>
						    <h3 class="h6">{{signature.gebruiker.fullName}}</h3>
						    <p class="u-spacer--small">{{moment-format signature.createdOn 'L LT'}}</p>
						    {{!-- <p class="text-fade smaller uppercase"><i class="fa fa-lock vi-u-s"></i> Blockchain hash ondertekening</p> --}}
						    {{!-- {{#if signature.hashValue}} --}}
{{!-- 							    <p class="uppercase small u-spacer--tiny word-break--break-word">
							      {{signature.hashValue}}
							    </p> --}}
						    {{!-- {{else}} --}}
						    	{{!-- <p class="smaller">Ondertekening werd nog niet versleuteld op de blockchain.</p> --}}
						    	{{!-- <p class="smaller">Nog niet ondertekend.</p> --}}
						    {{!-- {{/if}} --}}
						  </div>
						{{/each}}
					</div>
				</div>

				<div class="u-hr u-spacer--tb"></div>

				<div class="u-spacer--left">
					{{{model.content}}}
				</div>

				<div class="u-hr u-spacer--bottom"></div>

				<div class="document-print--uittreksel--blockchain-signature u-spacer--bottom--large">
					<div class="grid">
						{{#each model.signedResources as |signature|}}
					  	<div class="col--6-12">
						    <p class="uppercase text-fade smaller u-spacer--bottom--tinier">Ondertekend door</p>
						    <h3 class="h6">{{signature.gebruiker.fullName}}</h3>
						    <p class="u-spacer--small">{{moment-format signature.createdOn 'L LT'}}</p>
						    {{!-- <p class="text-fade smaller uppercase"><i class="fa fa-lock vi-u-s"></i> Blockchain hash ondertekening</p> --}}
						    {{!-- {{#if signature.hashValue}} --}}
{{!-- 							    <p class="uppercase small u-spacer--tiny word-break--break-word">
							      {{signature.hashValue}}
							    </p> --}}
						    {{!-- {{else}} --}}
						    	{{!-- <p class="smaller">Ondertekening werd nog niet versleuteld op de blockchain.</p> --}}
						    	{{!-- <p class="smaller">Nog niet ondertekend.</p> --}}
						    {{!-- {{/if}} --}}
						  </div>
						{{/each}}
					</div>
				</div>
				{{outlet}}
			</div>
		</div>
	</section>
</div>
