<div class="au-c-body-container au-c-body-container--scroll">
  <section class="au-o-box u-background--gray-lighter u-hide-on-print u-hide-on-print--show">
    <div class="au-o-grid">
      <div class="au-o-grid__item au-u-3-4@medium au-u-1-2@large">
        <AuContent>
          <AuLink @linkRoute="meetings.publish.uittreksels" @model={{this.model.zitting.id}} @skin="secondary" @icon="arrow-left" @iconAlignment="left">
            Terug naar ondertekenen &amp; publiceren
          </AuLink>
          <AuHeading @skin="3">
            <AuIcon @icon="document" @iconAlignment="left" />
            Maak een print of PDF van een uittreksel
          </AuHeading>
          <p>U kan deze pagina opslaan als PDF, of printen. Bekijk hoe opslaan en printen werkt in Firefox of Chrome, in de <a href="https://gelinkt-notuleren.vlaanderen.be/handleiding/#notuleren-printen" target="_blank" rel="noopener noreferrer" class="au-c-link">handleiding</a>. Deze informatie (boven de stippellijn) zal niet op de print of PDF te zien zijn.</p>
        </AuContent>
      </div>
    </div>
  </section>
  <section class="au-o-box" id="main">
    <div class="au-o-grid">
      <div class="au-o-grid__item au-u-3-4@large au-u-wide-on-print">
        <AuHeading>
          Uittreksel uit de notulen
          <br>
          {{this.bestuursorgaan.naam}}
          <br>
          zitting van {{moment-format this.geplandeStart 'L LT'}}
        </AuHeading>
        <p class="au-u-margin-top-small au-u-margin-bottom">Het document slaat op de situatie zoals gekend bij het afleveren.</p>

        <div class="au-o-grid">
          {{#each this.model.signedResources as |signature|}}
            <div class="au-o-grid__item au-u-1-2@medium">
              <AuHeading @level="3" @skin="6" class="au-u-margin-bottom-tiny">Ondertekend door</AuHeading>
              <p>{{signature.gebruiker.fullName}} <br> {{moment-format signature.createdOn 'L LT'}}</p>
            </div>
          {{/each}}
        </div>

        <AuHr @size="large" />

        {{html-safe this.model.content}}

        <AuHr @size="large" />

        <div class="au-o-grid">
          {{#each this.model.signedResources as |signature|}}
            <div class="au-o-grid__item au-u-1-2@medium">
              <AuHeading @level="3" @skin="6" class="au-u-margin-bottom-tiny">Ondertekend door</AuHeading>
              <p>{{signature.gebruiker.fullName}} <br> {{moment-format signature.createdOn 'L LT'}}</p>
            </div>
          {{/each}}
        </div>

        {{outlet}}

      </div>
    </div>
  </section>
</div>
