<PrintView as |Print|>
  <Print.Header as |Header|>
    <Header.BackLink @linkRoute="meetings.publish.uittreksels" @model={{this.model.id}}>
      Terug naar ondertekenen & publiceren
    </Header.BackLink>
  </Print.Header>
  <Print.Body>

    <AuHeading>
      Uittreksel uit de notulen
      <br>
      {{this.bestuursorgaan.naam}}
      <br>
      zitting van {{moment-format this.geplandeStart 'L LT'}}
    </AuHeading>
    <p class="au-u-margin-top-small au-u-margin-bottom">Het document slaat op de situatie zoals gekend bij het
      afleveren.</p>

    <div class="au-o-grid">
      {{#each this.model.signedResources as |signature|}}
        <PrintView::Signature @fullName={{signature.gebruiker.fullName}} @createdOn={{signature.createdOn}}/>
      {{/each}}
    </div>

    <AuHr @size="large"/>

    {{html-safe this.model.content}}

    <AuHr @size="large"/>

    <div class="au-o-grid">
      {{#each this.model.signedResources as |signature|}}
        <PrintView::Signature @fullName={{signature.gebruiker.fullName}} @createdOn={{signature.createdOn}}/>
      {{/each}}
    </div>
  </Print.Body>
</PrintView>
