<AuModal @modalOpen={{true}}
         @size="fullscreen"
         @closeModal={{this.closeModal}}
         @modalTitle={{this.document.title}}
         class="au-c-modal--editor"
         as |Modal|
>
  <Modal.Body>
    {{#if this.documentContainer}}
      <div class={{if this.uploading "" "au-u-hidden"}}>
        <DocumentAttachments @documentContainer={{this.documentContainer}} @decisions={{this.decisions}}/>
      </div>
    {{/if}}
    {{#if this.document}}
      <div class={{if this.uploading "au-u-hidden" ""}}>
        <BesluitDocumentContainer class={{if this.uploading ".au-u-hidden" ""}}
                                  @document={{this.document}}
                                  @handleRdfaEditorInit={{this.handleRdfaEditorInit}}
                                  @editor={{this.editor}}
                                  @saving={{this.saveDocumentTask.isRunning}}
        />
      </div>
    {{/if}}
  </Modal.Body>
  <Modal.Footer>
    <AuButtonGroup>
      <AuButton @disabled={{this.saveDocumentTask.isRunning}}
        {{on "click" (perform this.saveDocumentTask)}}>
        {{t "behandelingVanAgendapunten.saveButton"}}
      </AuButton>
      <AuButton @disabled={{this.saveDocumentTask.isRunning}} {{on "click" this.saveAndQuit}}>
        {{t "behandelingVanAgendapunten.saveAndQuit"}}
      </AuButton>
      {{#if this.uploading}}
        <AuButton @skin="secondary" @icon="arrow-left" {{on "click" this.toggleUpload}}>
          {{t "attachments.return"}}
        </AuButton>
      {{else}}
        <AuButton @icon="attachment" {{on "click" this.toggleUpload}}>
          {{t "attachments.attachments"}}
        </AuButton>
      {{/if}}
    </AuButtonGroup>
    <AuButtonGroup>
       <AuButton @skin="secondary"
                @disabled={{this.saveDocumentTask.isRunning}}
        {{on "click" this.closeModal}}>
        {{t "behandelingVanAgendapunten.cancel"}}
      </AuButton>
    </AuButtonGroup>
  </Modal.Footer>
</AuModal>
<ConfirmRouteLeave @enabled={{this.dirty}} @message={{t "behandelingVanAgendapunten.confirmLeaveWithoutSaving"}}/>