<AuModal
  @modalTitle={{t "manageIntermissions.modalTitle"}}
  @modalOpen={{@visible}}
  @size="default"
  @closeModal={{this.cancel}}
  as |Modal|
>
  <Modal.Body>
    <div class="au-c-form">
      <div>
        <AuLabel>{{t "manageIntermissions.interruptionStartLabel"}}</AuLabel>
        <DateTimePicker @onChange={{fn this.changeDate 'startedAt'}} @value={{this.startedAtExternal}}/>
      </div>
      <div>
        <AuLabel>{{t "manageIntermissions.interruptionEndLabel"}}</AuLabel>
        <DateTimePicker @onChange={{fn this.changeDate 'endedAt'}} @value={{this.endedAtExternal}}/>
      </div>
      <div>
        <AuLabel for="intermissionComment">{{t "manageIntermissions.commentLabel"}} <AuPill>Optioneel</AuPill></AuLabel>
        <AuTextarea id="intermissionComment" @value={{this.commentExternal}} @width="block"></AuTextarea>
      </div>
    </div>
    {{#unless @intermissionToEdit.isNew}}
      <AuButtonGroup>
        <AuButton
          @alert={{true}}
          @skin="primary"
          @loading={{this.deleteTask.isRunning}}
          {{on "click" (perform this.deleteTask @intermissionToEdit)}} >
            {{t "manageIntermissions.deleteButton"}}
        </AuButton>
      </AuButtonGroup>
    {{/unless}}
  </Modal.Body>
  <Modal.Footer>
    <AuButtonGroup>
      <AuButton
        @loading={{this.saveIntermission.isRunning}}
        {{on "click" (perform this.saveIntermission)}}
      >
        {{#if @intermissionToEdit.isNew}}
          {{t "manageIntermissions.insertLabel"}}
        {{else}}
          {{t "manageIntermissions.saveLabel"}}
        {{/if}}
      </AuButton>
      <AuButton @skin="secondary" {{on "click" this.cancel}}>
        {{t "manageIntermissions.cancelLabel"}}
      </AuButton>
    </AuButtonGroup>
  </Modal.Footer>
</AuModal>