<div class="au-c-meeting-chrome-card au-u-margin-bottom-none">
  <AuHeading @level="3" @skin="6" class="au-c-meeting-chrome-card__title">{{t "manage-intermissions.title"}}</AuHeading>
  <table class="au-c-meeting-chrome-table">
    <thead>
      <tr>
        <th>
          {{t "manage-intermissions.interruption-start-label"}}
        </th>
        <th>
          {{t "manage-intermissions.interruption-end-label"}}
        </th>
        <th>
          {{t "manage-intermissions.position"}}
        </th>
        <th>
          <strong>{{t "manage-intermissions.comment-label"}}</strong>
        </th>
        <th class="au-u-table-right">
          {{#unless @readOnly}}
            <span class="au-u-hidden-visually">{{t "manage-intermissions.actions-label"}}</span>
            <AuButton
              {{on "click" this.addIntermission}}
              @icon="add"
              @iconAlignment="left"
            >
              {{t "manage-intermissions.add-interruption-label"}}
            </AuButton>
          {{/unless}}
        </th>
      </tr>
    </thead>
    <tbody>
      {{#if this.fetchIntermissions.lastSuccessful}}
        {{#each this.intermissions as |intermission|}}
          <tr>
            <td>{{detailed-date intermission.startedAt}}</td>
            <td>{{detailed-date intermission.endedAt}}</td>
            <td>
              {{#if intermission.agendaPosition}}
                {{#if (eq intermission.agendaPosition.position.label "during")}}
                  {{t "manage-intermissions.during-ap"}}:
                {{/if}}
                {{#if (eq intermission.agendaPosition.position.label "before")}}
                  {{t "manage-intermissions.before-ap"}}:
                {{/if}}
                {{#if (eq intermission.agendaPosition.position.label "after")}}
                  {{t "manage-intermissions.after-ap"}}:
                {{/if}}
                <a href="#behandeling-{{intermission.agendaPosition.agendapoint.behandeling.id}}" class="au-c-link au-c-link--secondary">
                  {{intermission.agendaPosition.agendapoint.titel}}
                </a>
              {{/if}}
            </td>
            <td>{{intermission.comment}}</td>
            <td class="au-u-table-right">
              {{#unless @readOnly}}
                <AuButton @skin="tertiary" @icon="pencil" @iconAlignment="left" {{on "click" (fn this.editIntermission intermission)}}>
                  {{t "manage-intermissions.edit-label"}}
                </AuButton>
              {{/unless}}
            </td>
          </tr>
        {{else}}
          <tr>
            <td colspan="4">
              <AuHelpText @size="normal" @skin="tertiary">
                {{t "manage-intermissions.no-data-message"}}
              </AuHelpText>
            </td>
          </tr>
        {{/each}}
      {{/if}}
    </tbody>
  </table>
  <ManageIntermissions::Edit
    @zitting={{@zitting}}
    @intermissionToEdit={{this.intermissionToEdit}}
    @visible={{this.showModal}}
    @onClose={{this.closeEdit}}
  />
</div>
