
<div class="au-c-meeting-chrome-card au-u-margin-bottom-none">
  <AuHeading @level="3" @skin="6" class="au-c-meeting-chrome-card__title">{{t "manageIntermissions.title"}}</AuHeading>
  <table class="au-c-meeting-chrome-table">
    <thead>
      <tr>
        <th>
          {{t "manageIntermissions.interruptionStartLabel"}}
        </th>
        <th>
          {{t "manageIntermissions.interruptionEndLabel"}}
        </th>
        <th>
          {{t "manageIntermissions.position"}}
        </th>
        <th>
          <strong>{{t "manageIntermissions.commentLabel"}}</strong>
        </th>
        <th class="au-u-table-right">
          {{#unless @readOnly}}
            <span class="au-u-hidden-visually">{{t "manageIntermissions.actionsLabel"}}</span>
            <AuButton
              {{on "click" this.addIntermission}}
              @icon="add"
              @iconAlignment="left"
            >
              {{t "manageIntermissions.addInterruptionLabel"}}
            </AuButton>
          {{/unless}}
        </th>
      </tr>
    </thead>
    <tbody>
      {{#if this.fetchIntermissions.lastSuccessful}}
        {{#each this.intermissions as |intermission|}}
          <tr>
            <td>{{moment-format intermission.startedAt "DD/MM/YYYY hh:mm"}}</td>
            <td>{{moment-format intermission.endedAt "DD/MM/YYYY hh:mm"}}</td>
            <td>
              {{#if intermission.agendaPosition}}
                {{#if (eq intermission.agendaPosition.position.label "during")}}
                  {{t "manageIntermissions.duringAp"}}: 
                {{/if}}
                {{#if (eq intermission.agendaPosition.position.label "before")}}
                  {{t "manageIntermissions.beforeAp"}}: 
                {{/if}}
                {{#if (eq intermission.agendaPosition.position.label "after")}}
                  {{t "manageIntermissions.afterAp"}}: 
                {{/if}}
                <a href="#behandeling-{{intermission.agendaPosition.agendapoint.behandeling.id}}" class="au-c-link au-c-link--secondary">
                  {{intermission.agendaPosition.agendapoint.titel}}
                </a>
              {{/if}}
            </td>
            <td>{{intermission.comment}}</td>
            <td class="au-u-table-right">
              {{#unless @readOnly}}
                <AuButton @skin="tertiary" @icon="pencil" @iconAlignment="left" {{on "click" (fn this.editIntermission intermission)}}>
                  {{t "manageIntermissions.editLabel"}}
                </AuButton>
              {{/unless}}
            </td>
          </tr>
        {{else}}
          <tr>
            <td colspan="4">
              <AuHelpText @size="normal" @skin="tertiary">
                {{t "manageIntermissions.noDataMessage"}}
              </AuHelpText>
            </td>
          </tr>
        {{/each}}
      {{/if}}
    </tbody>
  </table>
  <ManageIntermissions::Edit
    @zitting={{@zitting}}
    @intermissionToEdit={{this.intermissionToEdit}}
    @visible={{this.showModal}}
    @onClose={{this.closeEdit}}
  />
</div>
