<Acmidm::Login as |acmidm|>
  <button {{on "click" acmidm.login}} disabled={{acmidm.isAuthenticating}} type="submit" class="{{@styles}}">
    {{yield}}
  </button>
    {{#if acmidm.isAuthenticating}}
      <AuLoader />
    {{/if}}
    {{#if acmidm.errorMessage}}
      <AuAlert @alertSize="small" @alertIcon="cross" @alertTitle={{this.errorMessage}} @alertSkin="error" />
    {{/if}}
</Acmidm::Login>
