<div class={{if @error "ember-power-select--error"}}>
  <PowerSelect
    @placeholder={{t "manage-zittings-data.select-placeholder"}}
    @selected={{@selected}}
    @options={{this.administrativeBodyOptions}}
    @onChange={{@onChange}}
    @triggerId={{@id}}
    as |administrativeBody|
  >
    {{administrativeBody.isTijdsspecialisatieVan.naam}}
    {{t "administrative-body-select.period"}} {{plain-date administrativeBody.bindingStart}} -
    {{#if administrativeBody.bindingEinde~}}
      {{plain-date administrativeBody.bindingEinde}}
    {{else}}
      {{t "administrative-body-select.not-applicable"}} 
    {{/if}})
  </PowerSelect>
</div>
