<nav>
  <div class="au-c-app-chrome">
  <AuToolbar @size="small" class="au-u-padding-bottom-none">
    <AuToolbarGroup>
      <AuLink @linkRoute="inbox.agendapoints" @skin="secondary">
        <AuIcon @icon="arrow-left" @alignment="left" />
        Terug naar overzicht agendapunten
      </AuLink>
      <span class="au-c-app-chrome__entity">{{this.currentSession.group.classificatie.label}} {{this.currentSession.group.naam}}</span>
    </AuToolbarGroup>
    <AuToolbarGroup>
      <ul class="au-c-list-horizontal au-u-padding-right-tiny">
        {{#unless @editorDocument.isNew}}
        {{#if @editorDocument.updatedOn}}
        <li class="au-c-list-horizontal__item">
          <span class="au-c-app-chrome__status">
            Bewaard op {{moment-calendar @editorDocument.updatedOn}}
          </span>
        </li>
        {{else}}
        <li class="au-c-list-horizontal__item">
          <span class="au-c-app-chrome__status">
            <AuIcon @icon="alert-triangle" @alignment="left" />
            Wijzigingen niet bewaard
          </span>
        </li>
        {{/if}}
        {{/unless}}
        {{#if this.features.languageSelect}}
        <li class="au-c-list-horizontal__item">
          <LanguageSelect />
        </li>
        {{/if}}
      </ul>
    </AuToolbarGroup>
  </AuToolbar>
  <AuToolbar @size="small" class="au-u-padding-top-none">
    <AuToolbarGroup>
      <div>
        {{#unless @editorDocument.isNew}}
          <EditorStatusPill @status={{await @documentContainer.status}} />
        {{/unless}}
        {{#if @editorDocument.isNew}}
        <AuPill @skin="warning">
          <AuIcon @icon="alert-triangle" @alignment="left" />
          Concept niet bewaard
        </AuPill>
        {{/if}}
      </div>
      <EditorDocumentTitle @title={{@editorDocument.title}} @editActive={{@editorDocument.isNew}} @onChange={{this.updateDocumentTitle}} @readOnly={{@readOnly}} />
    </AuToolbarGroup>
    <AuToolbarGroup class="au-c-toolbar__group--actions">
      {{#if @uploading}}
        <AuButtonGroup @inline={{true}} role="tablist" aria-label="editor-tabs">
          <AuButton class="au-u-margin-bottom-none" @skin="secondary" @icon="document" @iconAlignment="left" {{on "click" @toggleUpload}} aria-selected="false" aria-controls="panel-1" id="tab-1" tabindex="0">
            {{t "attachments.return"}}
          </AuButton>
          <AuButton class="au-u-margin-bottom-none is-active"  @skin="secondary" @icon="attachment" @iconAlignment="left" role="tab" aria-selected="true" aria-controls="panel-2" id="tab-2" tabindex="-1">
            {{t "attachments.attachments"}}
          </AuButton>
        </AuButtonGroup>
      {{else}}
        {{#if @toggleUpload}}
          <AuButtonGroup @inline={{true}} role="tablist" aria-label="editor-tabs">
            <AuButton class="is-active au-u-margin-bottom-none" @skin="secondary" @icon="document" @iconAlignment="left" role="tab" aria-selected="true" aria-controls="panel-1" id="tab-1" tabindex="-1">
              {{t "attachments.return"}}
            </AuButton>
            <AuButton class="au-u-margin-bottom-none" @skin="secondary" @icon="attachment" @iconAlignment="left" {{on "click" @toggleUpload}} role="tab" aria-selected="false" aria-controls="panel-2" id="tab-2" tabindex="0">
              {{t "attachments.attachments"}}
            </AuButton>
          </AuButtonGroup>
        {{/if}}
      {{/if}}
      {{#if @editorDocument.isNew}}
        <LinkTo @route="inbox.agendapoints" class="au-c-button au-c-button--tertiary au-c-button--alert" role="menuitem">
          <AuIcon @icon="bin" @alignment="left" />
          Verwijder concept
        </LinkTo>
      {{else}}
      <AuDropdown @dropdownTitle="Bestand acties" @dropdownButtonLabel="Bestand opties" @alignment="right">
        {{#if @copyAgendapunt}}
          <AuButton {{on "click" @copyAgendapunt}} @skin="tertiary" role="menuitem">
            <AuIcon @icon="copy" @alignment="left" />
            {{t "appChrome.copyAgendapoint"}}
          </AuButton>
        {{/if}}
        {{#if @exportHtmlFunction}}
          <AuButton {{on "click" @exportHtmlFunction}} @skin="tertiary" role="menuitem">
            <AuIcon @icon="export" @alignment="left" />
            Exporteer als HTML
          </AuButton>
        {{/if}}
        {{#if @sendToTrash}}
        <AuButton {{on "click" @sendToTrash}} @skin="tertiary" @alert="true" role="menuitem" @disabled={{this.isNotAllowedToTrash}}>
          <AuIcon @icon="bin" @alignment="left" />
          Naar prullenmand
        </AuButton>
        {{/if}}
      </AuDropdown>
      {{/if}}

      {{#if @save}}
        <AuButton {{on "click" @save.action}} @disabled={{@save.isRunning}}>Bewaar</AuButton>
      {{/if}}
    </AuToolbarGroup>
  </AuToolbar>
  </div>
</nav>
