<nav>
  <div class="au-c-app-chrome">
    <AuToolbar @size="small" class="au-u-padding-bottom-none">
      <AuToolbarGroup>
        <AuLink @route={{@returnRoute}} @skin="secondary">
          <AuIcon @icon="arrow-left" @alignment="left" />
          {{@returnRouteText}}
        </AuLink>
        <span class="au-c-app-chrome__entity">{{this.currentSession.group.classificatie.label}} {{this.currentSession.group.naam}}</span>
      </AuToolbarGroup>
      <AuToolbarGroup>
        <ul class="au-c-list-horizontal au-u-padding-right-tiny">
          {{#unless @editorDocument.isNew}}
          {{#if @editorDocument.updatedOn}}
          <li class="au-c-list-horizontal__item">
            <span class="au-c-app-chrome__status">
              Bewaard op {{human-friendly-date @editorDocument.updatedOn}}
            </span>
          </li>
          {{else}}
          <li class="au-c-list-horizontal__item">
            <span class="au-c-app-chrome__status">
              <AuIcon @icon="alert-triangle" @alignment="left" />
              Wijzigingen niet bewaard
            </span>
          </li>
          {{/if}}
          {{/unless}}
          {{#if this.features.languageSelect}}
          <li class="au-c-list-horizontal__item">
            <LanguageSelect />
          </li>
          {{/if}}
        </ul>
      </AuToolbarGroup>
    </AuToolbar>
    <AuToolbar @size="small" class="au-u-padding-top-none">
      <AuToolbarGroup>
        <div>
          {{#unless @editorDocument.isNew}}
            <EditorStatusPill @status={{@documentContainer.status}} />
          {{/unless}}
          {{#if @editorDocument.isNew}}
          <AuPill @skin="warning">
            <AuIcon @icon="alert-triangle" @alignment="left" />
            Concept niet bewaard
          </AuPill>
          {{/if}}
        </div>
        <h1 class="au-c-app-chrome__title">
          {{@editorDocument.title}}
        </h1>
      </AuToolbarGroup>
      <AuToolbarGroup>
        <AuButtonGroup @inline={{true}} role="tablist" aria-label="editor-tabs">
          <AuLink @route="agendapoints.edit" class="au-u-margin-bottom-none" @skin="button-secondary" @icon="document" @iconAlignment="left" @model={{@documentReturnModel}}>
            {{t "attachments.return"}}
          </AuLink>
          <AuLink @route="agendapoints.edit" class="au-u-margin-bottom-none has-tooltip" @skin="button-secondary" @icon="attachment" @iconAlignment="left" role="tab" aria-selected="false" aria-controls="panel-2" id="tab-2" tabindex="0" @model={{@documentReturnModel}}>
            {{t "attachments.attachments"}}
            (<strong>{{if @documentContainer.attachments.length @documentContainer.attachments.length 0}}</strong>)
            <span class="au-c-button__tooltip au-c-button__tooltip--bottom">{{t "attachments.saveAndGo"}}</span>
          </AuLink>
          <AuButton class="au-u-margin-bottom-none is-active"  @skin="secondary" @icon="draft" @iconAlignment="left">
            Versies (2)
          </AuButton>
        </AuButtonGroup>
        <AuButton @disabled={{true}} @skin="naked" @icon="nav-up-down" @iconAlignment="right" class="au-u-padding-tiny"><span class="au-u-h-functional au-u-regular">Bestand acties</span></AuButton>
        <AuButton @disabled={{true}}>Bewaar</AuButton>
      </AuToolbarGroup>
    </AuToolbar>
  </div>
</nav>
