<nav>
  <div class="au-c-app-chrome">
  <AuToolbar @size="small" class="au-u-padding-bottom-none" as |Group|>
    <Group>
     {{yield to='return-link'}}
     <span class="au-c-app-chrome__entity">{{this.currentSession.group.classificatie.label}} {{this.currentSession.group.naam}}</span>
    </Group>
    <Group>
      <ul class="au-c-list-horizontal au-u-padding-right-tiny">
        {{#unless @editorDocument.isNew}}
        {{#if @editorDocument.updatedOn}}
        <li class="au-c-list-horizontal__item">
          <span class="au-c-app-chrome__status">
            {{t "appChrome.savedOn"}} {{human-friendly-date @editorDocument.updatedOn}}
          </span>
        </li>
        {{else}}
        <li class="au-c-list-horizontal__item">
          <span class="au-c-app-chrome__status">
            <AuIcon @icon="alert-triangle" @alignment="left" />
            {{t "appChrome.changesNotSaved"}}
          </span>
        </li>
        {{/if}}
        {{/unless}}
      </ul>
    </Group>
  </AuToolbar>
  <AuToolbar @size="small" class="au-u-padding-top-none" as |Group|>
    <Group>
      <div>
        {{#unless @editorDocument.isNew}}
          <EditorStatusPill @status={{@documentContainer.status}} />
        {{/unless}}
        {{#if @editorDocument.isNew}}
          <AuPill @skin="warning">
            <AuIcon @icon="alert-triangle" @alignment="left" />
            {{t "appChrome.defaultDocumentStatus"}}
          </AuPill>
        {{/if}}
      </div>
      <EditorDocumentTitle
        @title={{@editorDocument.title}}
        @readOnly={{or @readOnly (not @allowTitleUpdate)}}
        @onSubmit={{@onTitleUpdate}}
      />
    </Group>
    <Group>
      {{yield to="actions"}}
    </Group>
  </AuToolbar>
  </div>
</nav>
