<div class="au-c-meeting-chrome-editable">
  <AuHeading id="behandeling-{{@behandeling.id}}" @level="3" @skin="4">
    {{@behandeling.onderwerp.titel}}
  </AuHeading>
  <div class="au-u-margin-top-small">
    {{t "behandelingVanAgendapunten.visibility"}} <AuLabel><Input @type="checkbox" @checked={{this.openbaar}} {{on "input" this.toggleOpenbaar}} /> &nbsp;{{t "behandelingVanAgendapunten.openbaarLabel"}}</AuLabel>
  </div>
  {{#if this.fetchParticipants.isRunning}}
    <p>{{t "participationList.loadingTitle"}}</p>
    <p class="loader"><span class="u-visually-hidden">{{t "participationList.loadingTitle"}}</span></p>
  {{else}}
    <ParticipationList
      @voorzitter={{this.behandeling.voorzitter}}
      @secretaris={{this.behandeling.secretaris}}
      @bestuursorgaan={{@bestuursorgaan}}
      @possibleParticipants={{@possibleParticipants}}
      @aanwezigenBijStart={{this.aanwezigen}}
      @onSave={{this.saveParticipants}}
      @bestuursorgaan={{this.bestuursorgaan}}
      @modalTitle={{t "behandelingVanAgendapunten.participationListButton"}}
      @meeting={{@meeting}}
   />
  {{/if}}
  <div class="au-u-padding-bottom-large">
    {{#if this.hasParticipants}}
      <Treatment::Voting @bestuursorgaan={{@bestuursorgaan}} @behandeling={{@behandeling}}/>
    {{else}}
      <span>{{t "behandelingVanAgendapunten.needsParticipants"}}</span>
    {{/if}}
  </div>
  {{#if this.tryToFetchDocument.lastSuccessful}}
    <div class="au-u-margin-top-small">
      <BesluitDocumentContainer @document={{this.document}} @handleRdfaEditorInit={{this.handleRdfaEditorInit}} @saving={{this.saveEditorDocument.isRunning}} @editor={{this.editor}}/>
    </div>
  {{/if}}
  <AuButtonGroup>
    <AuButton {{on "click" this.save}} @disabled={{if this.saveEditorDocument.isRunning true false}}>
      {{t "behandelingVanAgendapunten.saveButton"}}
    </AuButton>
  </AuButtonGroup>
</div>
