{{#if this.editable}}
  <div class="au-c-meeting-chrome-editable">
    <AuHeading id="behandeling-{{@behandeling.id}}" @level="3" @skin="4">
      {{@behandeling.onderwerp.titel}}
    </AuHeading>

    <div class="au-o-box au-o-box--small au-c-meeting-chrome-card au-u-margin-bottom-none">
      <AuHeading @level="4" @skin="6"
                 class="au-c-meeting-chrome-card__title au-c-meeting-chrome-card__title--inset au-u-margin-bottom-small">{{t
              "behandelingVanAgendapunten.visibility"}}</AuHeading>
      <AuLabel><Input @type="checkbox" @checked={{this.openbaar}} {{on "input" this.toggleOpenbaar}} /> &nbsp;{{t
              "behandelingVanAgendapunten.openbaarLabel"}}</AuLabel>
    </div>
  </div>
{{else}}
  <div class="au-c-meeting-chrome-editable">
    <AuToolbar>
      <AuHeading id="behandeling-{{@behandeling.id}}" @level="3" @skin="4">
        {{@behandeling.onderwerp.titel}}
      </AuHeading>
      {{#if this.published}}
        <AuPill @skin="success">
          {{t "manageAgendaZittingModal.apPublishedMsg"}}
        </AuPill>
      {{/if}}
    </AuToolbar>
    <div class="au-o-box au-o-box--small au-c-meeting-chrome-card au-u-margin-bottom-none">
      <AuHeading @level="4" @skin="6"
                 class="au-c-meeting-chrome-card__title au-c-meeting-chrome-card__title--inset au-u-margin-bottom-small">{{t
              "behandelingVanAgendapunten.visibility"}}</AuHeading>
      <AuPill @skin="border">
        {{#if this.openbaar}}
          {{t "behandelingVanAgendapunten.openbaarMsg"}}
        {{else}}
          {{t "behandelingVanAgendapunten.geenOpenbaarMsg"}}
        {{/if}}
      </AuPill>
    </div>
  </div>

{{/if}}

{{#if this.fetchParticipants.isRunning}}
  <AuLoader @padding="small"/>
  <AuHelpText>{{t "participationList.loadingTitle"}}</AuHelpText>
{{else}}
  <ParticipationList
          @chairman={{this.voorzitter}}
          @secretary={{this.secretaris}}
          @defaultSecretary={{@defaultSecretary}}
          @defaultChairman={{@defaultChairman}}
          @bestuursorgaan={{@bestuursorgaan}}
          @possibleParticipants={{@possibleParticipants}}
          @aanwezigenBijStart={{this.aanwezigen}}
          @afwezigenBijStart={{this.afwezigen}}
          @onSave={{this.saveParticipants}}
          @modalTitle={{t "behandelingVanAgendapunten.participationListButton"}}
          @meeting={{@meeting}}
          @readOnly={{not this.editable}}
  />
{{/if}}


{{#if (and this.hasParticipants this.editable)}}
  <div class="au-c-meeting-chrome-card au-u-margin-bottom-none">
    <AuHeading @level="4" @skin="6" class="au-c-meeting-chrome-card__title">{{t
            "behandelingVanAgendapunten.votingTitle"}}</AuHeading>
    <Treatment::Voting @bestuursorgaan={{@bestuursorgaan}} @behandeling={{@behandeling}}/>
  </div>
{{else}}
  <div class="au-u-margin-top au-u-margin-bottom">
    <AuPill @skin="warning" @icon="alert-triangle" @iconAlignment="left">{{t
            "behandelingVanAgendapunten.needsParticipants"}}</AuPill>
  </div>
{{/if}}


<ReadonlyTextBox @title={{t "behandelingVanAgendapunten.contentTitle"}}>
  {{@behandeling.documentContainer.currentVersion.htmlSafeContent}}
</ReadonlyTextBox>
{{#if this.editable}}
  <AuButtonGroup>
    <AuButton {{on "click" this.goToEdit}}>
      {{t "behandelingVanAgendapunten.editDocument"}}
    </AuButton>
  </AuButtonGroup>
{{/if}}
