    <div>
      {{@agendapunt.titel}}
      Openbaar: <Input type='checkbox' @value={{mut this.openbaar}} />
      <AuButton {{on "click" this.save}}>
        Save
      </AuButton>
    </div>
  <Behandeling::Participation
    @behandeling={{@behandeling}}
    @bestuursorgaan={{@bestuursorgaan}}
  />
    <div>
      <BesluitDocumentContainer @document={{@agendapunt.behandeling.documentContainer}} @handleRdfaEditorInit={{this.handleRdfaEditorInit}}/>
    </div>