{{#if this.editable}}
  <div class="au-c-meeting-chrome-editable">
    <AuHeading id="behandeling-{{@behandeling.id}}" @level="3" @skin="4">
      {{@behandeling.onderwerp.titel}}
    </AuHeading>

    <div class="au-o-box au-o-box--small au-c-meeting-chrome-card au-u-margin-bottom-none">
      <AuHeading @level="4" @skin="6"
                 class="au-c-meeting-chrome-card__title au-c-meeting-chrome-card__title--inset au-u-margin-bottom-small">{{t
              "behandelingVanAgendapunten.visibility"}}</AuHeading>
      <AuLabel><Input @type="checkbox" @checked={{this.openbaar}} {{on "input" (perform this.toggleOpenbaar)}} /> &nbsp;{{t
                                                                                                                          "behandelingVanAgendapunten.openbaarLabel"}}</AuLabel>
      {{#if this.toggleOpenbaar.isRunning}}
        <AuLoader @padding="small"/>
      {{/if}}
    </div>
  </div>
{{else}}
  <div class="au-c-meeting-chrome-editable"
  >
    <AuToolbar>
      <AuHeading id="behandeling-{{@behandeling.id}}" @level="3" @skin="4">
        {{@behandeling.onderwerp.titel}}
      </AuHeading>
      {{#if this.published}}
        <AuPill @skin="success">
          {{t "manageAgendaZittingModal.apPublishedMsg"}}
        </AuPill>
      {{/if}}
    </AuToolbar>
    <div class="au-o-box au-o-box--small au-c-meeting-chrome-card au-u-margin-bottom-none">
      <AuHeading @level="4" @skin="6"
                 class="au-c-meeting-chrome-card__title au-c-meeting-chrome-card__title--inset au-u-margin-bottom-small">{{t
              "behandelingVanAgendapunten.visibility"}}</AuHeading>
      <AuPill @skin="border">
        {{#if this.openbaar}}
          {{t "behandelingVanAgendapunten.openbaarMsg"}}
        {{else}}
          {{t "behandelingVanAgendapunten.geenOpenbaarMsg"}}
        {{/if}}
      </AuPill>
    </div>
  </div>

{{/if}}

{{#if this.isLoading}}
  <AuLoader @padding="small"/>
  <AuHelpText>{{t "participationList.loadingTitle"}}</AuHelpText>
{{else}}
  <ParticipationList
          @chairman={{this.chairman}}
          @defaultChairman={{this.defaultChairman}}
          @secretary={{this.secretary}}
          @defaultSecretary={{this.defaultSecretary}}
          @participants={{this.participants}}
          @defaultParticipants={{this.defaultParticipants}}
          @absentees={{this.absentees}}
          @defaultAbsentees={{this.defaultAbsentees}}
          @possibleParticipants={{@possibleParticipants}}

          @bestuursorgaan={{@bestuursorgaan}}
          @onSave={{this.saveParticipants}}
          @meeting={{@meeting}}
          @modalTitle={{t "behandelingVanAgendapunten.participationListButton"}}
          @readOnly={{not this.editable}}
  />
{{/if}}


{{#if this.hasParticipants}}
  <div class="au-c-meeting-chrome-card au-u-margin-bottom-none">
    <AuHeading @level="4" @skin="6" class="au-c-meeting-chrome-card__title">{{t
            "behandelingVanAgendapunten.votingTitle"}}</AuHeading>
    <Treatment::Voting @bestuursorgaan={{@bestuursorgaan}} @behandeling={{@behandeling}} @readOnly={{not this.editable}}/>
  </div>
{{else}}
  <div class="au-u-margin-top au-u-margin-bottom">
    <AuPill @skin="warning" @icon="alert-triangle" @iconAlignment="left">{{t
            "behandelingVanAgendapunten.needsParticipants"}}</AuPill>
  </div>
{{/if}}


<ReadonlyTextBox @title={{t "behandelingVanAgendapunten.contentTitle"}}
>
  {{@behandeling.documentContainer.currentVersion.htmlSafeContent}}
</ReadonlyTextBox>
{{#if this.editable}}
  <AuButton @width="block" @skin="secondary" @icon="pencil" @iconAlignment="left" {{on "click" this.goToEdit}}>
    {{t "behandelingVanAgendapunten.editDocument"}}
  </AuButton>
{{/if}}
