{{!-- <AuCard @expandable="true" @flex="true" @divided="true" as |c|>
  <c.header>
    <AuHeading>
      Header
    </AuHeading>
  </c.header>
  <c.content> --}}
    <div>
      {{@agendapunt.titel}}
      Openbaar: <Input type='checkbox' @value={{mut this.openbaar}} />
      <AuButton {{on "click" this.save}}>
        Save
      </AuButton>
    </div>
    <div>
      <BesluitDocumentContainer @document={{@agendapunt.behandeling.documentContainer}} @handleRdfaEditorInit={{this.handleRdfaEditorInit}}/>
    </div>
  {{!-- </c.content>
</AuCard> --}}