<div>
  <div>
    Title: <Input type='text' @value={{mut this.title}} />
    Openbaar: <Input type='checkbox' @value={{mut this.openbaar}} />
  </div>
  <Treatment::Participation
    @behandeling={{@behandeling}}
    @bestuursorgaan={{@bestuursorgaan}}
  />
  <Treatment::Voting @bestuursorgaan={{@bestuursorgaan}} @behandeling={{@behandeling}}/>
  <div>
    <BesluitDocumentContainer />
  </div>
</div>