<div>
  <AuHeading>{{@behandeling.onderwerp.titel}}</AuHeading>
  <div>
    Openbaar: <Input @type='checkbox' @checked={{this.openbaar}} {{on "input" this.toggleOpenbaar}} />
  </div>
  <Treatment::Participation
    @behandeling={{@behandeling}}
    @bestuursorgaan={{@bestuursorgaan}}
  />
  <Treatment::Voting @bestuursorgaan={{@bestuursorgaan}} @behandeling={{@behandeling}}/>
  <div>
    <BesluitDocumentContainer />
  </div>
  <AuButtonGroup>
    <AuButton {{on "click" this.save}} @disabled={{if this.saveEditorDocument.isRunning "true" "false"}}>
      {{t "behandelingVanAgendapunten.saveButton"}}
    </AuButton>
  </AuButtonGroup>
</div>
<Behandeling::Participation
  @behandeling={{@behandeling}}
  @bestuursorgaan={{@bestuursorgaan}}
/>
<div>
  {{#if this.tryToFetchDocument.lastSuccessful}}
    <BesluitDocumentContainer @document={{this.document}} @handleRdfaEditorInit={{this.handleRdfaEditorInit}} @saving={{this.saveEditorDocument.isRunning}} @editor={{this.editor}}/>
  {{/if}}
</div> 
