<div class="au-c-meeting-chrome-editable">
  <AuHeading id="behandeling-{{@behandeling.id}}" @level="3" @skin="4">
    {{@behandeling.onderwerp.titel}}
  </AuHeading>
  <div class="au-u-margin-top-small">
    {{t "behandelingVanAgendapunten.visibility"}} <AuLabel><Input @type="checkbox" @checked={{this.openbaar}} {{on "input" this.toggleOpenbaar}} /> &nbsp;{{t "behandelingVanAgendapunten.openbaarLabel"}}</AuLabel>
  </div>

  <AuHeading @level="4" @skin="6" class="au-u-margin-top">Aanwezigen:</AuHeading>
  <Treatment::Participation
    @behandeling={{@behandeling}}
    @possibleParticipants={{@possibleParticipants}}
    @bestuursorgaan={{@bestuursorgaan}}
  />

  <AuHeading @level="4" @skin="6">Stemmingen:</AuHeading>
  <div class="au-u-padding-bottom">
    {{#if this.hasParticipants}}
      <Treatment::Voting @bestuursorgaan={{@bestuursorgaan}} @behandeling={{@behandeling}}/>
    {{else}}
      <div class="au-c-meeting-chrome-card au-c-meeting-chrome-card--editable">
        <span>{{t "behandelingVanAgendapunten.needsParticipants"}}</span>
      </div>
    {{/if}}
  </div>

  {{#if this.tryToFetchDocument.lastSuccessful}}
    <div class="au-u-margin-top-small">
      <BesluitDocumentContainer @document={{this.document}} @handleRdfaEditorInit={{this.handleRdfaEditorInit}} @saving={{this.saveEditorDocument.isRunning}} @editor={{this.editor}}/>
    </div>
  {{/if}}
  <AuButtonGroup>
    <AuButton {{on "click" this.save}} @disabled={{if this.saveEditorDocument.isRunning true false}}>
      {{t "behandelingVanAgendapunten.saveButton"}}
    </AuButton>
  </AuButtonGroup>
</div>
