<div>
  <AuHeading id="behandeling-{{@behandeling.id}}" @level="3" @skin="4">
    {{@behandeling.onderwerp.titel}}
  </AuHeading>
  <div>
    {{t "behandelingVanAgendapunten.openbaarLabel"}} <Input @type='checkbox' @checked={{this.openbaar}} {{on "input" this.toggleOpenbaar}} />
  </div>
  <Treatment::Participation
    @behandeling={{@behandeling}}
    @bestuursorgaan={{@bestuursorgaan}}
  />
  <Treatment::Voting @bestuursorgaan={{@bestuursorgaan}} @behandeling={{@behandeling}}/>
  <AuButtonGroup>
    <AuButton {{on "click" this.save}} @disabled={{if this.saveEditorDocument.isRunning "true" "false"}}>
      {{t "behandelingVanAgendapunten.saveButton"}}
    </AuButton>
  </AuButtonGroup>
  {{#if this.tryToFetchDocument.lastSuccessful}}
    <BesluitDocumentContainer @document={{this.document}} @handleRdfaEditorInit={{this.handleRdfaEditorInit}} @saving={{this.saveEditorDocument.isRunning}} @editor={{this.editor}}/>
  {{/if}}
</div> 
