<AuFileUpload 
  @title={{t "attachments.attach" }} 
  @helpTextDragDrop={{t "attachments.drag" }}
  @modelName={{"file-resource"}} 
  @endPoint={{"/files"}} 
  @onFinishUpload={{perform this.uploadedAttachement}}
  @maxFileSizeMB="1024" 
  @multiple={{true}} />
{{#if @documentContainer.attachments}}
<table class="au-c-meeting-chrome-table">
  <thead>
    <tr>
      <th>{{t "attachments.filename"}}</th>
      <th>{{t "attachments.filesize"}}</th>
      <th>{{t "attachments.download"}}</th>
      <th>{{t "attachments.delete"}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.attachments as |attachment|}}
    <tr>
      <td>{{attachment.fileResource.name}}</td>
      <td>{{attachment.fileResource.humanReadableSize}}</td>
      <td>
        <a href={{attachment.fileResource.downloadLink}} target="_blank" rel="noopener noreferrer">
          <AuIcon @icon="download" @size="large" @ariaHidden={{true}} />
        </a>
      </td>
      <td>
        <AuIcon @icon="bin" @size="large" @ariaHidden={{true}} {{on "click" (perform this.deleteAttachment attachment)}} />
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{/if}}