{{#if this.isCompleted}}
  <span
    class='download-meeting-part-downloaded au-u-flex--inline au-u-flex--vertical-center'
  >
    <AuIcon @icon='circle-check' />
    {{t 'download-meeting-part.downloaded'}}
  </span>
{{else if this.isLoading}}
  <AuLoader @inline='true'>
    {{t 'download-meeting-part.downloading'}}
  </AuLoader>
{{else}}
  <AuButton
    @skin='link'
    @icon={{@icon}}
    role='menuitem'
    {{on 'click' this.downloadMeeting}}
  >
    {{this.buttonText}}
  </AuButton>
{{/if}}