{{#if @readOnly}}
  <h1 class="au-c-app-chrome__title">
    {{this.title}}
  </h1>
{{else}}
  {{#if this.active}}
    <div class="au-c-app-chrome__title-group {{if this.error "au-c-input--error"}}">
      <Input class="au-c-app-chrome__title-input" placeholder="Naamloos document" @type="text" @value={{this.title}} {{on "input" this.setTitle}} @autofocus="autofocus"  />
      <AuButton class="au-c-app-chrome__title-button" {{on "click" this.toggleActive}} @skin="secondary" @icon="cross" @hideText={{true}}>Titel aanpassen</AuButton>
    </div>
  {{else}}
    <h1 class="au-c-app-chrome__title au-c-app-chrome__title--edit">
      {{this.title}} <AuButton {{on "click" this.toggleActive}} @icon="pencil" @skin="tertiary" @hideText={{true}} >titel wijzigen</AuButton>
    </h1>
  {{/if}}

{{/if}}
