{{#if @readOnly}}
  <h1 class="au-c-app-chrome__title" title={{this.title}}>
    {{limit-content this.title 70}} 
  </h1>
{{else}}
  {{#if this.active}}
    <form {{on 'submit' this.submit}} {{on "focusout" this.cancel}}>
      <div class="au-c-app-chrome__title-group {{if this.error "au-c-input--error"}}">
        {{#let (unique-id) as |id|}}
          <AuLabel for={{id}} class="au-u-hidden-visually">
            {{t "editor-document-title-agendapoint-title"}}
          </AuLabel>
            <input
              class="au-c-app-chrome__title-input {{if this.error "au-c-input--error"}}"
              placeholder={{t "editor-document-title.placeholder"}}
              id={{id}}
              type="text"
              value={{this.title}}
              {{on "input" this.setTitle}}
              {{did-insert this.focus}}
            />
        {{/let}}
        <AuButton
          type="submit"
          class="au-c-app-chrome__title-button"
          @skin="secondary"
          @icon="check"
          @hideText={{true}}
          @disabled={{not this.titleModified}}
        >{{t "editor-document-title.change-title"}}</AuButton>
      </div>
    </form>
  {{else}}
    <h1 class="au-c-app-chrome__title au-c-app-chrome__title--edit" title={{this.title}}>
      {{limit-content this.title 70}} 
      <AuButton {{on "click" this.toggleActive}} @icon="pencil" @skin="tertiary" @hideText={{true}} >{{t "editor-document-title.change-title"}}</AuButton>
    </h1>
  {{/if}}

{{/if}}
