<div class="au-c-meeting-chrome-card">
  <table class="au-c-meeting-chrome-table">
    <thead>
      <th>
        Titel
      </th>
      <th>
        Beschrijving
      </th>
      <th>
        Gepland openbaar
      </th>
    </thead>
    <tbody>
      {{#each @zitting.agendapunten as |agendapunt|}}
        <tr>
          <td>
            <strong>{{agendapunt.titel}}</strong>
          </td>
          <td>
            {{agendapunt.beschrijving}}
          </td>
          <td>
            {{agendapunt.geplandOpenbaar}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <AuButton
    @width="block"
    @skin="secondary"
    @icon="pencil"
    @iconAlignment="left"
    {{on "click" (action (mut popup) true)}}
  >
    Beheer agenda
  </AuButton>
</div>

{{#if this.popup}}
  <Agenda::modal @zitting={{@zitting}} @agendapunten={{@zitting.agendapunten}} @cancel={{this.cancel}}/>
{{/if}}