Meeting form[@TN]
<div>
    <div>
      Planned Start[@TN]:
      <DateTimePicker @onChange={{action "changeDate" 'geplandeStart'}} @value={{this.geplandeStart}}/>
    </div>
    <div>
      Locatie[@TN]: <Input type='text' @value={{mut this.opLocatie}} />
    </div>
    <div>
      Started at[@TN]: 
        <DateTimePicker @onChange={{action "changeDate" 'gestartOpTijdstip'}} @value={{this.gestartOpTijdstip}}/>
    </div>
    <div>
      Finished at[@TN]: 
        <DateTimePicker @onChange={{action "changeDate" 'geeindigdOpTijdstip'}} @value={{this.geeindigdOpTijdstip}}/>
    </div>
    <div>
      <PowerSelect @selected={{this.bestuursorgaan}} @options={{this.bestuursorgaanOptions}} @onchange={{action "changeSelect"}} as |bestuursorgaan|>
        {{bestuursorgaan.isTijdsspecialisatieVan.naam}}
        (periode: {{moment-format bestuursorgaan.bindingStart "MM/DD/YYYY"}} - {{#if bestuursorgaan.bindingEinde}}{{moment-format bestuursorgaan.bindingEinde "MM/DD/YYYY"}}{{else}}nvt.{{/if}})
      </PowerSelect>
    </div>
    <ParticipationList 
      @bestuursorgaan={{this.bestuursorgaan}} 
      @aanwezigenBijStart={{this.aanwezigenBijStart}} 
      @voorzitter={{this.voorzitter}} 
      @secretaris={{this.secretaris}}
      @onSave={{action "saveParticipationList"}}/>
  <WuButton @onClick={{action "save"}}>Save[@TN]</WuButton>
</div>
