<div
  class='au-c-app-chrome'
  {{did-insert (perform this.fetchParticipants) this.zitting}}
  {{did-insert (perform this.fetchTreatments) this.zitting}}
>
  <AuToolbar @size='small' class='au-u-padding-bottom-none' as |Group|>
    <Group>
      <AuLink
        @route='inbox.meetings'
        @skin='secondary'
        @icon='arrow-left'
        @iconAlignment='left'
      >
        {{t 'meeting-form.back-button'}}
      </AuLink>
      <span
        class='au-c-app-chrome__entity'
      >{{this.currentSession.group.classificatie.label}}
        {{this.currentSession.group.naam}}</span>
    </Group>
    <Group>
      <ul class='au-c-list-horizontal au-u-padding-right-tiny'>
        <li class='au-c-list-horizontal__item'>
          {{!
          <span class="au-c-app-chrome__status">
            <AuIcon @icon="alert-triangle" @alignment="left" />
            Wijzigingen niet bewaard
          </span>
          }}
        </li>
      </ul>
    </Group>
  </AuToolbar>
  <AuToolbar @size='small' class='au-u-padding-top-none' as |Group|>
    <Group>
      <h1 class='au-c-app-chrome__title'>
        {{#if this.isInaugurationMeeting}}
          {{t 'meeting-form.scheduled-text.inauguration-meeting'}}
        {{else}}
          {{t 'meeting-form.scheduled-text.common-meeting'}}
        {{/if}}
        {{plain-date @zitting.geplandeStart}}</h1>
      {{#if this.status}}
        <AuPill @skin='success'>
          {{this.status}}
        </AuPill>
      {{/if}}
    </Group>
    <Group>
      {{#unless this.readOnly}}
        <DeleteMeeting @meeting={{@zitting}} />
      {{/unless}}
      {{#if this.isComplete}}
        <AuButton @skin='secondary' {{on 'click' this.goToPublish}}>
          {{t 'meeting-form.publish-button'}}
        </AuButton>
      {{else}}
        <span>
          <AuIcon @icon='info-circle' />
          {{t 'meeting-form.incomplete-warning'}}
        </span>
      {{/if}}
    </Group>
  </AuToolbar>
</div>

<div
  id='content'
  class='au-c-body-container au-c-body-container--scroll au-c-meeting'
>
  <div class='au-c-meeting-sidebar au-u-hide-on-print'>
    <ul class='au-c-list-divider'>
      <li class='au-c-list-divider__item'>
        <a href='#sectionOne' class='au-c-link au-c-link--secondary'>
          {{t 'meeting-form.first-section-title'}}
        </a>
      </li>
      {{#unless this.zitting.isNew}}
        <li class='au-c-list-divider__item'>
          <a href='#sectionTwo' class='au-c-link au-c-link--secondary'>
            {{t 'meeting-form.second-section-title'}}
          </a>
        </li>
        <li class='au-c-list-divider__item'>
          <a href='#sectionThree' class='au-c-link au-c-link--secondary'>
            {{t 'meeting-form.third-section-title'}}
          </a>
        </li>
        <li class='au-c-list-divider__item'>
          <a href='#sectionFour' class='au-c-link au-c-link--secondary'>
            {{t 'meeting-form.fourth-section-title'}}
          </a>
        </li>
        <li class='au-c-list-divider__item'>
          <a href='#sectionFive' class='au-c-link au-c-link--secondary'>
            {{t 'meeting-form.fifth-section-title'}}
          </a>
          {{#if this.fetchTreatments.isRunning}}
            <p class='loader'><span class='u-visually-hidden'>{{t
                  'participation-list.loading-loader'
                }}</span></p>
          {{/if}}
          {{#if this.fetchTreatments.lastSuccessful}}
            <ol class='au-c-list-numbered'>
              {{#each this.behandelingen as |behandeling|}}
                <li class='au-c-list-numbered__item'>
                  <a
                    href='#behandeling-{{behandeling.id}}'
                    class='au-c-link au-c-link--secondary'
                  >
                    {{behandeling.onderwerp.titel}}
                  </a>
                </li>
              {{/each}}
            </ol>
          {{/if}}
        </li>
        <li class='au-c-list-divider__item'>
          <a href='#sectionSix' class='au-c-link au-c-link--secondary'>
            {{t 'meeting-form.sixth-section-title'}}
          </a>
        </li>
      {{/unless}}
    </ul>
  </div>
  <div class='au-c-meeting-chrome'>
    <div class='au-c-meeting-chrome__paper'>
      {{! Meeting title }}
      <AuHeading>
        {{t 'meeting-form.meeting-heading-part-one'}}
        {{t this.headerArticleTranslationString}}
        {{#if this.isInaugurationMeeting}}
          {{t 'meeting-form.inauguration-meeting'}}
        {{/if}}
        <span
          class='au-c-meeting-chrome__highlight'
        >{{@zitting.bestuursorgaan.isTijdsspecialisatieVan.naam}},</span>
        {{t 'meeting-form.meeting-heading-part-two'}}
        <span class='au-c-meeting-chrome__highlight'>{{detailed-date
            this.meetingDateForTitle
          }}</span>
      </AuHeading>
      <AuHr @size='large' />

      {{! General Information }}
      <Common::MeetingSection
        @title={{t 'meeting-form.first-section-title'}}
        @helpText={{t 'meeting-form.first-section-not-filled-warning'}}
        id='sectionOne'
      >
        <Zitting::ManageZittingsdata
          @zitting={{@zitting}}
          @readOnly={{this.readOnly}}
        />
        <ManageIntermissions
          @zitting={{@zitting}}
          @readOnly={{this.readOnly}}
        />
      </Common::MeetingSection>

      {{#if this.bestuursorgaan}}
        {{#if this.fetchParticipants.isRunning}}
          <AuLoader @padding='small' />
          <AuHelpText>{{t 'participation-list.loading-title'}}</AuHelpText>
        {{else}}

          {{! Participation list }}
          <Common::MeetingSection
            @title={{t 'meeting-form.second-section-title'}}
            @helpText={{t 'meeting-form.second-section-not-filled-warning'}}
            id='sectionTwo'
          >
            <ParticipationList
              @chairman={{this.voorzitter}}
              @secretary={{this.secretaris}}
              @participants={{this.aanwezigenBijStart}}
              @defaultParticipants={{this.possibleParticipants}}
              @absentees={{this.afwezigenBijStart}}
              @possibleParticipants={{this.possibleParticipants}}
              @bestuursorgaan={{this.bestuursorgaan}}
              @onSave={{this.saveParticipationList}}
              @meeting={{this.zitting}}
              @modalTitle={{t 'generic.edit'}}
              @readOnly={{this.readOnly}}
            />
          </Common::MeetingSection>

          {{! Agenda }}
          <Common::MeetingSection
            @title={{t 'meeting-form.third-section-title'}}
            @helpText={{t 'meeting-form.third-section-not-filled-warning'}}
            id='sectionThree'
          >
            <AgendaManager
              @zittingId={{@zitting.id}}
              @onSave={{perform this.fetchTreatments}}
              @readOnly={{this.readOnly}}
            />
          </Common::MeetingSection>

          {{! Start of meeting }}
          <Common::MeetingSection
            @title={{t 'meeting-form.fourth-section-title'}}
            @helpText={{t 'manage-free-text.before'}}
            id='sectionFour'
          >
            <Common::MeetingSubSection
              @title={{t 'behandeling-van-agendapunten.content-title'}}
            >
              <:body>
                <ReadonlyTextBox>
                  {{html-safe @zitting.intro}}
                </ReadonlyTextBox>
              </:body>
              <:button>
                {{#unless this.readOnly}}
                  <AuLink
                    @route='meetings.edit.intro'
                    @model={{@zitting.id}}
                    @skin='button-secondary'
                    @icon='pencil'
                    @iconAlignment='left'
                  >
                    {{t 'generic.edit'}}
                  </AuLink>
                {{/unless}}
              </:button>
            </Common::MeetingSubSection>
          </Common::MeetingSection>

          {{! Treatment of agenda }}
          <Common::MeetingSection
            @title={{t 'meeting-form.fifth-section-title'}}
            @helpText={{t 'meeting-form.fifth-section-not-filled-warning'}}
            id='sectionFive'
          >
            {{#if this.fetchTreatments.isRunning}}
              <AuLoader @padding='small' />
              <AuHelpText>{{t 'participation-list.loading-loader'}}</AuHelpText>
            {{else}}
              <ol class='au-c-meeting-numbered-list'>
                {{#each this.behandelingen as |behandeling|}}
                  <li>
                    <BehandelingVanAgendapunt
                      @possibleParticipants={{this.possibleParticipants}}
                      @behandeling={{behandeling}}
                      @readOnly={{this.readOnly}}
                      @bestuursorgaan={{this.bestuursorgaan}}
                      @meeting={{this.zitting}}
                    />
                  </li>
                {{/each}}
              </ol>
            {{/if}}
          </Common::MeetingSection>
        {{/if}}

        {{! End of meeting }}
        <Common::MeetingSection
          @title={{t 'meeting-form.sixth-section-title'}}
          @helpText={{t 'manage-free-text.after'}}
          id='sectionSix'
        >
          <Common::MeetingSubSection
            @title={{t 'behandeling-van-agendapunten.content-title'}}
          >
            <:body>
              <ReadonlyTextBox>
                {{html-safe @zitting.outro}}
              </ReadonlyTextBox>
            </:body>
            <:button>
              {{#unless this.readOnly}}
                <AuLink
                  @route='meetings.edit.outro'
                  @model={{@zitting.id}}
                  @skin='button-secondary'
                  @icon='pencil'
                  @iconAlignment='left'
                >
                  {{t 'generic.edit'}}
                </AuLink>
              {{/unless}}
            </:button>
          </Common::MeetingSubSection>
        </Common::MeetingSection>
      {{else}}
        <AuHelpText @size='large' @skin='secondary'>
          {{t 'meeting-form.bestuursorgan-not-selected-warning'}}
        </AuHelpText>
      {{/if}}
    </div>
  </div>
</div>