<AuHeading @skin="1" class="">Zitting</AuHeading>

<AuHeading @skin="2" class="">Algemene informatie over de zitting</AuHeading>
<Zitting::ManageZittingsdata
  @zitting={{@zitting}}
  @onCreate={{@onCreateMeeting}}
/>

{{#if this.zitting.bestuursorgaan}}
  <AuHeading @skin="2" class="">Aanwezigen bij start van de zitting</AuHeading>
  <ParticipationList
    @bestuursorgaan={{this.zitting.bestuursorgaan}}
    @aanwezigenBijStart={{this.aanwezigenBijStart}}
    @voorzitter={{this.voorzitter}}
    @secretaris={{this.secretaris}}
    @onSave={{this.saveParticipationList}}
  />

  <AuHeading @skin="2" class="">Agenda van de zitting </AuHeading>
  <ManageAgendaZitting @zitting={{@zitting}}> </ManageAgendaZitting>
  {{#each @zitting.agendapunten as |agendapunt|}}
    <div>
      <BehandelingVanAgendapunt @agendapunt={{agendapunt}} />
    </div>
  {{/each}}
{{else}}
  Alvorens u verder kan gaan, dient de zitting eerst informatie te hebben over het bestuursorgaan.
{{/if}}
