<div class="au-c-app-chrome">
  <AuToolbar @size="small" class="au-u-padding-bottom-none">
    <AuToolbarGroup>
      <AuLink @linkRoute="inbox.meetings" @skin="secondary" @icon="arrow-left" @iconAlignment="left">
        {{t "meetingForm.backButton"}}
      </AuLink>
      <span class="au-c-app-chrome__entity">{{this.currentSession.group.classificatie.label}} {{this.currentSession.group.naam}}</span>
    </AuToolbarGroup>
    <AuToolbarGroup>
      <ul class="au-c-list-horizontal au-u-padding-right-tiny">
        <li class="au-c-list-horizontal__item">
          {{!--
          <span class="au-c-app-chrome__status">
            <AuIcon @icon="alert-triangle" @alignment="left" />
            Wijzigingen niet bewaard
          </span>
          --}}
        </li>
      </ul>
    </AuToolbarGroup>
  </AuToolbar>
  <AuToolbar @size="small" class="au-u-padding-top-none">
    <AuToolbarGroup>
      <h1 class="au-c-app-chrome__title">{{t "meetingForm.scheduledText"}} {{moment-format @zitting.geplandeStart "DD/MM/YYYY"}}</h1>
    </AuToolbarGroup>
    <AuToolbarGroup class="au-c-toolbar__group--actions">
      {{#if this.isComplete}}
        <AuButton @skin="secondary" {{on "click" this.goToPublish}}>
          {{t "meetingForm.publishButton"}}
        </AuButton>
      {{else}}
        <span>
          <AuIcon @icon="info-circle"/>
            {{t "meetingForm.incompleteWarning"}}
        </span>
      {{/if}}
    </AuToolbarGroup>
  </AuToolbar>
</div>

<div id="content" class="au-c-body-container au-c-body-container--scroll au-c-meeting">
  <div class="au-c-meeting-sidebar au-u-hide-on-print">
    <ul class="au-c-list-divider">
      <li class="au-c-list-divider__item">
        <a href="#sectionOne" class="au-c-link au-c-link--secondary">
          {{t "meetingForm.firstSectionTitle"}}
        </a>
      </li>
      {{#unless this.zitting.isNew}}
        <li class="au-c-list-divider__item">
          <a href="#sectionTwo" class="au-c-link au-c-link--secondary">
            {{t "meetingForm.secondSectionTitle"}}
          </a>
        </li>
        <li class="au-c-list-divider__item">
          <a href="#sectionThree" class="au-c-link au-c-link--secondary">
            {{t "meetingForm.thirdSectionTitle"}}
          </a>
        </li>
        <li class="au-c-list-divider__item">
          <a href="#sectionFour" class="au-c-link au-c-link--secondary">
            {{t "meetingForm.fourthSectionTitle"}}
          </a>
        </li>
        <li class="au-c-list-divider__item">
          <a href="#sectionFive" class="au-c-link au-c-link--secondary">
            {{t "meetingForm.fifthSectionTitle"}}
          </a>
          {{#if this.fetchTreatments.isRunning}}
            <p class="loader"><span class="u-visually-hidden">{{t "participationList.loadingLoader"}}</span></p>
          {{/if}}
          {{#if this.fetchTreatments.lastSuccessful}}
            <ol class="au-c-list-numbered">
              {{#each this.behandelingen as |behandeling|}}
                <li class="au-c-list-numbered__item">
                  <a href="#behandeling-{{behandeling.id}}" class="au-c-link au-c-link--secondary">
                    {{behandeling.onderwerp.titel}}
                  </a>
                </li>
              {{/each}}
            </ol>
          {{/if}}
        </li>
        <li class="au-c-list-divider__item">
          <a href="#sectionSix" class="au-c-link au-c-link--secondary">
            {{t "meetingForm.sixthSectionTitle"}}
          </a>
        </li>
      {{/unless}}
    </ul>
  </div>
  <div class="au-c-meeting-chrome">
    <div class="au-c-meeting-chrome__paper">
      {{!-- Meeting title --}}
      <AuHeading>{{t "meetingForm.meetingHeadingPartOne"}} <span class="au-c-meeting-chrome__highlight">{{@zitting.bestuursorgaan.isTijdsspecialisatieVan.naam}}</span>, {{t "meetingForm.meetingHeadingPartTwo"}} <span class="au-c-meeting-chrome__highlight">{{moment-format  @zitting.geplandeStart "DD/MM/YYYY HH:mm"}}</span></AuHeading>
      <AuHr @size="large"/>

      {{!-- General Information --}}
      <AuHeading id="sectionOne" @level="2" @skin="3" class="au-c-onboarding-wrapper">
        {{t "meetingForm.firstSectionTitle"}}
        <span class="au-c-onboarding">
          <AuIcon @icon="info-circle"/>
          {{t "meetingForm.firstSectionNotFilledWarning"}}
        </span>
      </AuHeading>
      <Zitting::ManageZittingsdata
        @zitting={{@zitting}}
        @onCreate={{@onCreateMeeting}}
        @onChange={{this.meetingInfoUpdate}}
      />

      {{#if this.bestuursorgaan}}
        {{#if this.loadData.isRunning}}
          <AuLoader @padding="small" />
          <AuHelpText>{{t "participationList.loadingTitle"}}</AuHelpText>
        {{else}}

          <ManageIntermissions
            @zitting={{@zitting}}
          />

          {{!-- Participation list --}}
          <AuHeading id="sectionTwo" @level="2" @skin="3" class="au-c-onboarding-wrapper au-u-margin-top-huge">
            {{t "meetingForm.secondSectionTitle"}}
            <span class="au-c-onboarding">
              <AuIcon @icon="info-circle"/>
              {{t "meetingForm.secondSectionNotFilledWarning"}}
            </span>
          </AuHeading>
          <ParticipationList
            @chairman={{this.voorzitter}}
            @secretary={{this.secretaris}}
            @bestuursorgaan={{this.bestuursorgaan}}
            @aanwezigenBijStart={{this.aanwezigenBijStart}}
            @afwezigenBijStart={{this.afwezigenBijStart}}
            @possibleParticipants={{this.possibleParticipants}}
            @onSave={{this.saveParticipationList}}
            @meeting={{this.zitting}}
            @modalTitle={{t "participationList.openModalButton"}}
          />

          {{!-- Agenda --}}
          <AuHeading id="sectionThree" @level="2" @skin="3" class="au-c-onboarding-wrapper au-u-margin-top-huge">
            {{t "meetingForm.thirdSectionTitle"}}
            <span class="au-c-onboarding">
              <AuIcon @icon="info-circle"/>
              {{t "meetingForm.thirdSectionNotFilledWarning"}}
            </span>
          </AuHeading>
          <AgendaManager @zittingId={{@zitting.id}} @onSave={{perform this.fetchTreatments}} />
          
          {{!-- Start of meeting --}}
          <AuHeading id="sectionFour" @level="2" @skin="3" class="au-c-onboarding-wrapper au-u-margin-top-huge">
            {{t "meetingForm.fourthSectionTitle"}}
            <span class="au-c-onboarding">
              <AuIcon @icon="info-circle"/>
                {{t 'manageFreeText.before'}}
            </span>
          </AuHeading>
          <ZittingTextDocumentContainer @zitting={{@zitting}} @readOnly={{false}} @type={{"ext:intro"}}/>
          
          {{!-- Treatment of agenda --}}
          <AuHeading id="sectionFive" @level="2" @skin="3" class="au-c-onboarding-wrapper au-u-margin-top-huge">
            {{t "meetingForm.fifthSectionTitle"}}
            <span class="au-c-onboarding">
              <AuIcon @icon="info-circle"/>
              {{t "meetingForm.fifthSectionNotFilledWarning"}}
            </span>
          </AuHeading>
          {{#if this.fetchTreatments.isRunning}}
            <AuLoader @padding="small" />
            <AuHelpText>{{t "participationList.loadingLoader"}}</AuHelpText>
          {{/if}}

          {{#if this.fetchTreatments.lastSuccessful}}
            <ol class="au-c-meeting-numbered-list">
            {{#each this.behandelingen as |behandeling|}}
              <li>
                <BehandelingVanAgendapunt
                  @possibleParticipants={{this.possibleParticipants}}
                  @defaultParticipants={{this.aanwezigenBijStart}}
                  @defaultChairman={{this.voorzitter}}
                  @defaultSecretary={{this.secretaris}}
                  @behandeling={{behandeling}}
                  @bestuursorgaan={{this.zitting.bestuursorgaan}}
                  @meeting={{this.zitting}}
                />
              </li>
            {{/each}}
            </ol>
          {{/if}}
          {{!-- End of meeting --}}
          <AuHeading id="sectionSix" @level="2" @skin="3" class="au-c-onboarding-wrapper au-u-margin-top-huge">
              {{t "meetingForm.sixthSectionTitle"}}
              <span class="au-c-onboarding">
              <AuIcon @icon="info-circle"/>
                {{t 'manageFreeText.after'}}
              </span>
          </AuHeading>
          <ZittingTextDocumentContainer @zitting={{@zitting}} @readOnly={{false}} @type={{"ext:outro"}}/>
        {{/if}}
      {{else}}
        <AuHelpText @size="large" @skin="secondary">
          {{t "meetingForm.bestuursorganNotSelectedWarning"}}
        </AuHelpText>
      {{/if}}
    </div>
  </div>
</div>
