Meeting form
<div>
    <div>
      Planned Start: <WuDatepicker @value={{mut this.plannedStart}} />
    </div>
    <div>
      Locatie: <PowerSelect @onchange={{action "select"}}></PowerSelect>
    </div>
    <div>
      Started at: <WuDatepicker @value={{mut this.startedAt}}/>
    </div>
    <div>
      Finished at: <WuDatepicker @value={{mut this.finishedAt}}/>
    </div>
  <WuButton @onClick={{action "save"}}>Save</WuButton>
</div>
