Meeting form[@TN]
<div>
    <div>
      Planned Start[@TN]: <WuDatepicker @value={{mut this.geplandeStart}} />
    </div>
    <div>
      Locatie[@TN]: <Input type='text' @value={{mut this.opLocatie}} />
    </div>
    <div>
      Started at[@TN]: <WuDatepicker @value={{mut this.gestartOpTijdstip}}/>
    </div>
    <div>
      Finished at[@TN]: <WuDatepicker @value={{mut this.geeindigdOpTijdstip}}/>
    </div>
  <WuButton @onClick={{action "save"}}>Save[@TN]</WuButton>
</div>
