{{#if this.args.bestuursorgaan}}
  {{#if this.args.voorzitter}}
    Voorzitter: <br>
    <ParticipationList::Person @person={{this.args.voorzitter}} /> <br>
    Secretaris <br>
    <ParticipationList::Person @person={{this.args.secretaris}} /> <br>
    Mandatees: <br>
    {{#each this.args.aanwezigenBijStart as |mandataris|}}
      <ParticipationList::Person @person={{mandataris}} />,
    {{/each}}
  {{/if}}
  <div class="modal-dialog__footer">
    {{#wu-button-group}}
      {{wu-button
        label="Beheer aanwezigen"
        isNarrow=true
        onClick=(action "togglePopup")
        disabled=loadData.isRunning
      }}
    {{/wu-button-group}}
  </div>
  <ParticipationList::Modal
    @bestuursorgaan={{this.args.bestuursorgaan}}
    @show={{this.popup}}
    @togglePopup={{action "togglePopup"}}
    @onSave={{action "onSave"}}
    @aanwezigenBijStart={{this.args.aanwezigenBijStart}}
  />
{{/if}}

{{yield}}
