{{#if this.bestuursorgaan}}
  {{#if this.loadData.isRunning}}
    <p>Bezig met laden van de aanwezigenlijst</p>
    <p class="loader"><span class="u-visually-hidden">Aan het laden</span></p>
  {{else}}
    {{#if this.hasParticipationInfo}}
      Voorzitter: <br>
      {{this.voorzitter.isBestuurlijkeAliasVan.fullName}} <br>
      Secretaris: <br>
      {{this.secretaris.isBestuurlijkeAliasVan.fullName}} <br>
      Aanwezige mandatarissen: <br>
      {{#each this.aanwezigenBijStart as |mandataris|}}
        {{mandataris.isBestuurlijkeAliasVan.fullName}},
      {{/each}} <br>
      Afwezige mandatarissen: <br>
      {{#each this.mandateesNotPresent as |mandataris|}}
        {{mandataris.isBestuurlijkeAliasVan.fullName}},
      {{/each}}
    {{/if}}
    <div class="modal-dialog__footer">
      <WuButtonGroup>
        <WuButton
          @label="Beheer aanwezigen bij start van de zitting"
          @isNarrow={{"true"}}
          @onClick={{this.togglePopup}}
          @disabled={{this.fetchMandatees.isRunning}}
        />
      </WuButtonGroup>
    </div>
    <ParticipationList::Modal
      @bestuursorgaan={{this.bestuursorgaan}}
      @voorzitter={{this.voorzitter}}
      @secretaris={{this.secretaris}}
      @show={{this.popup}}
      @togglePopup={{this.togglePopup}}
      @onSave={{this.onSave}}
      @aanwezigenBijStart={{this.aanwezigenBijStart}}
    />
  {{/if}}
{{/if}}
