{{#if this.args.bestuursorgaan}}
  {{#if this.info}}
    Voorzitter: <br>
    <ParticipationList::Person @person={{this.info.voorzitter}} /> <br>
    Secretaris <br>
    <ParticipationList::Person @person={{this.info.secretaris}} /> <br>
    Mandatees: <br>
    {{#each this.info.presentMandataris as |mandataris|}}
      <ParticipationList::Person @person={{mandataris}} />,
    {{/each}}
  {{/if}}
  <div class="modal-dialog__footer">
    {{#wu-button-group}}
      {{wu-button
        label="Beheer aanwezigen"
        isNarrow=true
        onClick=(action "togglePopup")
        disabled=loadData.isRunning
      }}
    {{/wu-button-group}}
  </div>
  <ParticipationList::Modal
    @bestuursorgaan={{this.args.bestuursorgaan}}
    @show={{this.popup}}
    @togglePopup={{action "togglePopup"}}
    @onSave={{action "onSave"}}
    @presentMandataris={{this.info.presentMandataris}}
    editMode={{info.editMode}}
    outputId={{outputId}}
    propertyToUse={{info.propertyToUse}}
    domTable={{info.domNodeToUpdate}}
    editTable={{info.editMode}}
  />
{{/if}}

{{yield}}
