<div class="au-c-meeting-chrome-card">
    {{#if hasParticipationInfo}}
      <ul class="au-c-list-divider">
        <li class="au-c-list-divider__item">
          {{t "participationList.voorzitterLabel"}} <strong>{{@voorzitter.isBestuurlijkeAliasVan.fullName}}</strong>
          </li>

          <li class="au-c-list-divider__item">
            {{t "participationList.secretarisLabel"}} <strong>{{@secretaris.isBestuurlijkeAliasVan.fullName}}</strong>
            {{!-- example error
            <AuPill @skin="error" @icon="alert-triangle" @iconAlignment="left">
              Er is nog geen secretaris aangeduid
            </AuPill>
            --}}
          </li>
          <li class="au-c-list-divider__item">
            {{t "participationList.presentLabel"}}
            {{#each this.mandateesPresent as |mandataris|}}
              <strong>{{mandataris.isBestuurlijkeAliasVan.fullName}}</strong>,
            {{/each}}
          </li>
          <li class="au-c-list-divider__item">
            {{t "participationList.notPresentLabel"}}
            {{#each this.mandateesNotPresent as |mandataris|}}
              <strong>{{mandataris.isBestuurlijkeAliasVan.fullName}}</strong>,
            {{/each}}
          </li>
      </ul>
      {{/if}}
      <AuButton
        @width="block"
        @skin="secondary"
        @icon="pencil"
        @iconAlignment="left"
        {{on 'click' this.togglePopup}}
        @disabled={{this.fetchMandatees.isRunning}}
      >
        {{@modalTitle}}
      </AuButton>

      <ParticipationList::Modal
        @voorzitter={{@voorzitter}}
        @secretaris={{@secretaris}}
        @show={{this.popup}}
        @togglePopup={{this.togglePopup}}
        @onSave={{@onSave}}
        @bestuursorgaan={{@bestuursorgaan}}
        @aanwezigenBijStart={{this.aanwezigenBijStart}}
        @possibleParticipants={{this.possibleParticipants}}
      />
</div>
