<div class="au-c-meeting-chrome-card">
  {{#if this.hasParticipationInfo}}
      <ul class="au-c-list-divider">
        <li class="au-c-list-divider__item">
          {{t "participationList.voorzitterLabel"}} <strong>{{@chairman.isBestuurlijkeAliasVan.fullName}}</strong>
          {{#unless @chairman}}
            <AuPill @skin="error" @icon="alert-triangle" @iconAlignment="left">
              {{t "participationList.voorzitterError"}}
            </AuPill>
          {{/unless}}

          </li>

          <li class="au-c-list-divider__item">
            {{t "participationList.secretarisLabel"}} <strong>{{@secretary.isBestuurlijkeAliasVan.fullName}}</strong>
            {{#unless @secretary}}
              <AuPill @skin="error" @icon="alert-triangle" @iconAlignment="left">
                {{t "participationList.secretarisError"}}
              </AuPill>
            {{/unless}}

          </li>
          <li class="au-c-list-divider__item">
            {{t "participationList.presentLabel"}}
            {{#each this.mandateesPresent as |mandataris|}}
              <strong>{{mandataris.isBestuurlijkeAliasVan.fullName}}</strong>,
            {{else}}
              <AuPill @skin="error" @icon="alert-triangle" @iconAlignment="left">
                {{t "participationList.presentError"}}
              </AuPill>
            {{/each}}
          </li>
          <li class="au-c-list-divider__item">
            {{t "participationList.notPresentLabel"}}
            {{#each this.mandateesNotPresent as |mandataris|}}
              <strong>{{mandataris.isBestuurlijkeAliasVan.fullName}}</strong>,
            {{/each}}
          </li>
      </ul>
      {{/if}}
      <AuButton
        @width="block"
        @skin="secondary"
        @icon="pencil"
        @iconAlignment="left"
        {{on 'click' this.togglePopup}}
        @disabled={{this.fetchMandatees.isRunning}}
      >
        {{@modalTitle}}
      </AuButton>

      <ParticipationList::Modal
        @voorzitter={{this.chairman}}
        @secretaris={{this.secretary}}
        @show={{this.popup}}
        @togglePopup={{this.togglePopup}}
        @onSave={{@onSave}}
        @bestuursorgaan={{@bestuursorgaan}}
        @aanwezigenBijStart={{this.aanwezigenBijStart}}
        @afwezigenBijStart={{this.afwezigenBijStart}}
        @possibleParticipants={{@possibleParticipants}}
        @meeting={{@meeting}}
      />
</div>
