
<div class="au-c-meeting-chrome-card au-u-margin-bottom-none">
  <AuHeading @level="4" @skin="6" class="au-c-meeting-chrome-card__title">{{t "participationList.blockTitle"}}</AuHeading>
  <ul class="au-c-list-divider">
    <li class="au-c-list-divider__item">
      {{t "participationList.voorzitterLabel"}} <strong>{{this.chairman.isBestuurlijkeAliasVan.fullName}}</strong>
      {{#unless this.chairman}}
        <AuPill @skin="warning" @icon="alert-triangle" @iconAlignment="left">
          {{t "participationList.voorzitterError"}}
        </AuPill>
      {{/unless}}
    </li>
    <li class="au-c-list-divider__item">
      {{t "participationList.secretarisLabel"}} <strong>{{this.secretary.isBestuurlijkeAliasVan.fullName}}</strong>
      {{#unless this.secretary}}
        <AuPill @skin="warning" @icon="alert-triangle" @iconAlignment="left">
          {{t "participationList.secretarisError"}}
        </AuPill>
      {{/unless}}
    </li>
    <li class="au-c-list-divider__item">
      {{t "participationList.presentLabel"}}
      {{#each this.participants as |mandataris|}}
        <strong>{{mandataris.isBestuurlijkeAliasVan.fullName}}</strong>,
      {{else}}
        <AuPill @skin="warning" @icon="alert-triangle" @iconAlignment="left">
          {{t "participationList.presentError"}}
        </AuPill>
      {{/each}}
    </li>
    <li class="au-c-list-divider__item">
      {{t "participationList.notPresentLabel"}}
      {{#each this.absentees as |mandataris|}}
        <strong>{{mandataris.isBestuurlijkeAliasVan.fullName}}</strong>,
      {{/each}}
    </li>
  </ul>
</div>

{{#unless @readOnly}}
  <AuButton
    @width="block"
    @skin="secondary"
    @icon="pencil"
    @iconAlignment="left"
    {{on 'click' this.togglePopup}}
    class="au-u-margin-top-small"
  >
    {{@modalTitle}}
  </AuButton>
{{/unless}}

<ParticipationList::Modal
  @chairman={{this.defaultedChairman}}
  @secretary={{this.defaultedSecretary}}
  @participants={{this.defaultedParticipants}}
  @absentees={{this.defaultedAbsentees}}
  @possibleParticipants={{@possibleParticipants}}

  @show={{this.popup}}
  @onCloseModal={{this.togglePopup}}
  @onSave={{@onSave}}
  @bestuursorgaan={{@bestuursorgaan}}
  @meeting={{@meeting}}
/>
