<AuToolbar @nowrap={{true}} @border="bottom" class="au-u-padding-bottom-tiny au-u-margin-bottom-small" as |Group|>
  <Group>
    <AuHeading @level="2" @skin="4">{{t "timelineStep.publishButtonLabel" name=@name}}</AuHeading>
  </Group>
  <Group>
    <AuPill @skin={{if @publishedResource "success"}} class="au-u-margin-left">
      {{if @publishedResource "Publiek" "Niet publiek"}}
    </AuPill>
  </Group>
</AuToolbar>
<div class="au-o-grid au-u-margin-top-none">
  {{#if @publishedResource}}
    <div class="au-o-grid__item au-u-1-2@medium au-u-padding-top-none">
      <Signatures::PublishedResource @publication={{@publishedResource}} />
    </div>
    <div class="au-o-grid__item au-u-1-2@medium au-u-padding-top-none">
      <AuHeading @level="3" @skin="6" class="au-u-margin-bottom-tiny">{{t "timelineStep.linkPublish"}}</AuHeading>
      <p>
        <a href="{{this.publicationBaseUrl}}{{this.bestuurseenheid.naam}}/{{this.bestuurseenheid.classificatie.label}}"
           target="_blank"
           rel="noopener noreferrer"
           class="au-c-link">
          {{this.publicationBaseUrl}}{{this.bestuurseenheid.naam}}/{{this.bestuurseenheid.classificatie.label}}
        </a>
      </p>
      <AuHelpText @skin="secondary" class="au-u-margin-bottom-small">{{t "timelineStep.timingWarning"}}</AuHelpText>
      <AuHeading @level="3" @skin="6" class="au-u-margin-bottom-tiny">{{t "timelineStep.publicationType"}}</AuHeading>
      <p>{{t "timelineStep.publicForAll"}}</p>
    </div>
  {{else}}
    <div class="au-o-grid__item au-u-padding-top-none">
      {{#if @willSubmitToLoket}}
        <AuButton
          {{on "click" @publish}}
          @icon="upload"
          @iconAlignment="left"
          @loading={{@loading}}
                 @disabled={{or (not this.currentSession.canPublish) @loading}}
        >
          {{t "timelineStep.publishNotifyButtonLabel" name=@name}}
        </AuButton>
      {{else}}
        <AuButton
          {{on "click" @publish}}
          @icon="upload"
          @iconAlignment="left"
          @loading={{@loading}}
                 @disabled={{or (not this.currentSession.canPublish) @loading}}
        >
          {{t "timelineStep.publishButtonLabel" name=@name}}
        </AuButton>
      {{/if}}

      <AuHelpText @skin="secondary" class="au-u-margin-top-small">
        {{t "timelineStep.publishRestrictionInfo"}}
        <a
          href="{{config "manual.baseUrl"}}{{config "manual.publisher"}}"
          target="_blank"
          rel="noopener noreferrer"
          class="au-c-link">
          {{t "timelineStep.publishRestrictionRole"}}
        </a>
        {{t "timelineStep.publishRestrictionEnd"}}
      </AuHelpText>

      <AuAlert @icon="info-circle" @title={{t "timelineStep.publicationConsequences"}} @skin="info" @alertsize="small" class="au-u-margin-top au-u-margin-bottom-none">
        <p>{{t "timelineStep.previewInfo"}}<a href="{{this.publicationBaseUrl}}" target="_blank" rel="noopener noreferrer" class="au-c-link">{{this.publicationBaseUrl}}</a>{{t "timelineStep.previewInfoEnd"}}</p>
      </AuAlert>

      {{#if @willSubmitToLoket}}
        <AuAlert @icon="info-circle" @title={{t "timelineStep.notifyConsequences"}} @skin="info" @alertsize="small" class="au-u-margin-top-tiny au-u-margin-bottom-none">
          <p>{{t "timelineStep.notifyInfo"}}<a href="https://loket.lokaalbestuur.vlaanderen.be/" target="_blank" rel="noopener noreferrer" class="au-c-link">{{t "timelineStep.localLoket"}}</a>.</p>
        </AuAlert>
      {{/if}}
    </div>
  {{/if}}
</div>
