<span class="au-u-flex">
  {{#if this.data.value.deleted}}
    <AuLink @route="meetings.publish.publication-actions.detail" @model={{@log.id}}>
      {{this.data.value.documentName}} 
    </AuLink>
    <span class="au-u-margin-left-small">
      <AuPill @skin="error" @icon="trash">
        {{t "meetings.publish.publication-actions.deleted"}}
      </AuPill>
    </span>
  {{else}}
    <AuLink @route={{this.data.value.route}}>
      {{this.data.value.documentName}}
    </AuLink>
  {{/if}}
</span>