<AuToolbar @nowrap={{true}} as |Group|>
  <Group>
    <AuHeading @level="2" @skin="4">{{@title}}</AuHeading>
  </Group>
  <Group>
    {{#if this.statusLabel}}
      <AuPill @skin={{this.statusSkin}} class="au-u-margin-left">
        {{this.statusLabel}}
      </AuPill>
    {{/if}}
  </Group>
</AuToolbar>
<div class="au-c-editor-preview au-u-margin-top-small au-u-margin-bottom-large">
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    {{html-safe @document}}
  {{/if}}
</div>
