{{#if @busy}}
  <div class="container-flex--contain">
    <div class="au-c-rdfa-editor">
      <div class="say-container say-container--sidebar-left">
        <div class="say-container__main">
          <div class="say-editor rdfa-annotations rdfa-annotations-highlight rdfa-annotations-hover">
            <div class="say-editor__paper">
              <div class="au-c-scanner">
                <div class="au-c-scanner__text">
                  <AuLoader @padding="small"/>
                  <AuHelpText @size="large">{{if @busyText @busyText
                                                 (t "rdfaEditorContainer.defaultBusyText") }}
                  </AuHelpText>
                </div>
                <span class="au-c-scanner__bar"></span>
              </div>
              <div class="say-editor__inner say-content">
                {{html-safe this.editor.htmlContent}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{else}}
  <div class="container-flex--contain" vocab="{{this.vocab}}" {{did-insert this.setPrefix}}
       typeof="{{@typeOfWrappingDiv}}" resource="#">
    <Rdfa::RdfaEditor
            class="au-c-rdfa-editor"
            @profile={{@profile}}
            @rdfaEditorInit={{this.rdfaEditorInit}}
            @editorOptions={{this.editorOptions}}
            @toolbarOptions={{this.toolbarOptions}} />
  </div>
{{/if}}
