{{#if @busy}}
  <AuBodyContainer>
    <div class="au-c-rdfa-editor">
      <div class="say-container say-container--sidebar-left">
        <div class="say-container__main">
          <div class="say-editor rdfa-annotations rdfa-annotations-highlight rdfa-annotations-hover">
            <div class="say-editor__paper">
              <div class="au-c-scanner">
                <div class="au-c-scanner__text">
                  <AuLoader @padding="small"/>
                  <AuHelpText @size="large">{{if @busyText @busyText
                                                 (t "rdfa-editor-container.default-busy-text") }}
                  </AuHelpText>
                </div>
                <span class="au-c-scanner__bar"></span>
              </div>
              <div class="say-editor__inner say-content">
                {{html-safe this.editor.htmlContent}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </AuBodyContainer>
{{else}}
  <AuBodyContainer vocab="{{this.vocab}}" {{did-insert this.setPrefix}}
       typeof="{{@typeOfWrappingDiv}}" property="{{@property}}" resource="#">
      {{#if this.ready}}
        <EditorContainer
          @editorOptions={{hash
            showRdfa='true'
            showRdfaHighlight='true'
            showRdfaHover='true'
            showPaper='true'
            showToolbarBottom=null
          }}
          @showRdfaBlocks={{this.controller.showRdfaBlocks}}
        >
          <:top>
            {{#if this.controller}}
              <Toolbar as |Tb|>
                <Tb.Group>
                  <Toolbar::History @controller={{this.controller}}/>
                </Tb.Group>
                <Tb.Group>
                  <Toolbar::Styling @controller={{this.controller}}/>
                </Tb.Group>
                <Tb.Group>
                  <Toolbar::List @controller={{this.controller}}/>
                  <Plugins::Indentation::IndentationMenu @controller={{this.controller}}/>
                </Tb.Group>
                <Tb.Group>
                  <Plugins::Link::LinkMenu @controller={{this.controller}}/>
                </Tb.Group>
                <Tb.Group>
                  <Plugins::Table::TableMenu @controller={{this.controller}}/>
                </Tb.Group>
                <Tb.Group>
                  <Plugins::Heading::HeadingMenu @controller={{this.controller}}/>
                </Tb.Group>
                <Tb.Spacer/>
                <Tb.Group>
                  {{yield to="toolbar"}}
                  <Plugins::Formatting::FormattingToggle @controller={{this.controller}}/>
                  <Plugins::RdfaBlockRender::RdfaBlocksToggle @controller={{this.controller}}/>
                </Tb.Group>
              </Toolbar>
            {{/if}}
          </:top>
          <:default>
            <Editor
              @plugins={{this.plugins}}
              @schema={{this.schema}}
              @nodeViews={{this.nodeViews}}
              @rdfaEditorInit={{this.rdfaEditorInit}}/>
          </:default>
          <:aside>
            {{#if this.controller}}
              <Sidebar as |Sidebar|>
                {{#if (has-block 'sidebar-collapsible')}}
                  <Sidebar.Collapsible @title='Insert'>
                    {{yield to='sidebar-collapsible'}}
                  </Sidebar.Collapsible>
                {{/if}}
                {{yield to='sidebar'}}
              </Sidebar>
            {{/if}}
          </:aside>
        </EditorContainer>
      {{/if}}
  </AuBodyContainer>
{{/if}}
