<div class="container-flex--contain" vocab="{{this.vocab}}" {{did-insert this.setPrefix}} typeof="{{@typeOfWrappingDiv}}" resource="#">
  <Rdfa::RdfaEditor
    class="au-c-rdfa-editor"
    @profile={{@profile}}
    @value={{@editorDocument.content}}
    @rdfaEditorInit={{@rdfaEditorContainerInit}}
    @editorOptions={{this.editorOptions}}
    @toolbarOptions={{hash showTextStyleButtons="true" showListButtons="true" showIndentButtons="true"}} />
</div>
