<div class="au-c-meeting-chrome-card au-u-margin-bottom-small au-u-margin-top-small">
  {{#if @attachments}}
    <AuHeading @level="4" @skin="6" class="au-c-meeting-chrome-card__title">{{@title}} 
      <span style="float: right">
        <AuIcon @icon="attachment" @ariaHidden={{true}} />({{@attachments.length}})
      </span>
    </AuHeading>
  {{else}}
    <AuHeading @level="4" @skin="6" class="au-c-meeting-chrome-card__title">{{@title}}</AuHeading>
  {{/if}}
  <div class="au-o-box au-o-box--small au-c-editor-preview say-content">
    {{yield}}
  </div>
</div>
