{{#if this.showCard}}
  <AuModal
    @modalTitle="Er is relevante informatie uit een externe bron beschikbaar."
    @modalOpen={{this.showCard}}
    @closeModal={{this.close}} as Modal>
    <Modal.Body>
      <p>Maak in de template van uw zitting een besluit aan. Daar zal u de informatie kunnen invoegen.</p>
    </Modal.Body>
    <Modal.Footer>
      <AuButton {{on "click" this.close}}>Begrepen</AuButton>
    </Modal.Footer>
  </AuModal>
{{else if this.hasErrors}}
  <AuModal
    @modalTitle="Er is een probleem opgetreden met het ophalen van de informatie."
    @modalOpen={{this.showCard}}
    @closeModal={{this.close}} as Modal>
    <Modal.Body>
      <p>Sla uw document op en vernieuw, of neem contact op via <a href="mailto:digitaalABB@vlaanderen.be">digitaalABB@vlaanderen.be</a>.</p>
    </Modal.Body>
    <Modal.Footer>
      <AuButton {{on "click" this.close}}>Begrepen</AuButton>
    </Modal.Footer>
  </AuModal>
{{/if}}
