<AuButton @skin='link-secondary' @icon="info-circle" @iconAlignment="left" onclick={{this.toggleModal}}>
  Package versions
</AuButton>
<AuModal
  @modalOpen={{this.showModal}}
  @closeModal={{this.toggleModal}}
  @title='Package versions'
  as |Modal|
>
  <Modal.Body>
    <AuTable>
      <:header>
        <tr>
          <th>Package name</th>
          <th>Version</th>
        </tr>
      </:header>
      <:body>
        {{#each-in this.packages as |key value|}}
          <tr>
            <td>
              {{#if value.url}}
              <AuLinkExternal href={{value.url}}>{{key}}</AuLinkExternal>
              {{else}}
              {{key}}
              {{/if}}
            </td>
            <td>{{value.version}}</td>

          </tr>
        {{/each-in}}
      </:body>
    </AuTable>
  </Modal.Body>
</AuModal>
