<this.Velcro @placement='top' @offsetOptions={{hash mainAxis=10}} as |velcro|>
  <div
    {{on 'mouseenter' this.showTooltip}}
    {{on 'mouseleave' this.hideTooltip}}
    {{on 'focus' this.showTooltip}}
    {{on 'blur' this.hideTooltip}}
    {{velcro.hook}}
  >
    {{yield}}
  </div>
  {{#if this.tooltipOpen}}
    <AuPill role='tooltip' {{velcro.loop}}>
      {{@tooltip}}
    </AuPill>
  {{/if}}
</this.Velcro>