
<AuPill @icon="info-circle" @iconAlignment="left" class="au-u-margin-top-small">
  {{#if (eq @type "ext.intro")}}
    {{t 'manageFreeText.before'}}
  {{else}}
    {{t 'manageFreeText.after'}}
  {{/if}}
</AuPill>
<div class="au-c-meeting-chrome-editable">
{{#if this.getText.lastSuccessful}}
  {{#if this.saveText.isRunning}}
    <div class="container-flex--contain">
      <div class="au-c-rdfa-editor">
        <div class="say-container say-container--sidebar-left">
          <div class="say-container__main">
            <div class="au-c-scanner">
              <div class="au-c-scanner__text">
                <AuLoader @padding="small" />
                <AuHelpText @size="large">Bezig met opslaan</AuHelpText>
              </div>
              <span class="au-c-scanner__bar"></span>
            </div>
            <div class="say-editor rdfa-annotations rdfa-annotations-highlight rdfa-annotations-hover">
              <div class="say-editor__paper">
                <div class="say-editor__inner say-content">
                  {{html-safe this.editor.htmlContent}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{else}}
      <div class="au-c-meeting-chrome-card au-c-meeting-chrome-card--editor au-u-margin-bottom-small au-u-margin-top-small">
        <AuHeading @level="4" @skin="6" class="au-c-meeting-chrome-card__title au-u-margin-bottom">
          {{t "behandelingVanAgendapunten.contentTitle"}}
        </AuHeading>
        <div class="container-flex--contain" resource="#" prefix="ext: http://mu.semte.ch/vocabularies/ext/" typeOf={{@type}}>
          <Rdfa::RdfaEditor class="au-c-rdfa-editor" 
            @profile={{this.profile}} 
            @rdfaEditorInit={{this.handleRdfaEditorInit}}
            @editorOptions={{this.editorOptions}} 
            @toolbarOptions={{hash 
              showTextStyleButtons="true" 
              showListButtons="true"
              showIndentButtons="true"
            }} 
          />
        </div>
      </div>
      <AuButtonGroup>
        <AuButton {{on "click" (perform this.saveText)}} @disable={{this.saveText.isRunning}}>
          {{t 'manageFreeText.save'}}
        </AuButton>
      </AuButtonGroup>
  {{/if}}
{{/if}}
</div>