{{page-title this.model.editorDocument.title}}
<AppChrome
  @editorDocument={{this.model.editorDocument}}
  @documentContainer={{this.model.documentContainer}}
>
  <:return-link>
  <AuLink @route="inbox.irg-archive">
    <AuIcon @icon="arrow-left" @alignment="left" />
    {{t 'inbox.irgArchive.return'}}
  </AuLink>
  </:return-link>
  <:actions>
  <AuDropdown @title={{t "utils.fileOptions"}} @buttonLabel={{t "utils.fileOptions"}} @alignment="right">
    <AuButton {{on "click" this.download}} @skin="tertiary" role="menuitem">
      <AuIcon @icon="export" @alignment="left" />
      {{t "utils.htmlExport"}}
    </AuButton>
  </AuDropdown>
  </:actions>
</AppChrome>

<div class="au-c-body-container">
  <div class="au-c-rdfa-editor">
    <div class="say-container say-container--sidebar-left say-container--paper say-container--sidebar-right">
      <div class="say-container__main">
          <div class="au-o-box au-o-box--small au-u-background-gray-100">
            <AuAlert @icon="info-circle" @title="Niet editeerbaar"  @skin="info" @size="small" class="au-u-margin-bottom-none">
              <p>Dit is een gearchiveerd document en kan niet worden gewijzigd.</p>
            </AuAlert>
          </div>
        <div class="say-editor rdfa-annotations rdfa-annotations-hover rdfa-annotations--disabled">
          <div class="say-editor__paper">
            <div class="say-editor__inner say-content say-content--disabled">
              {{ this.model.editorDocument.htmlSafeContent }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
