<div class="au-c-app-chrome">
  <AuToolbar @size="small">
    <AuToolbarGroup>
      <AuLink @linkRoute="meetings.edit" @model={{@model.id}} @skin="secondary" @icon="arrow-left" @iconAlignment="left">
        {{t "publish.backToMeeting"}}
      </AuLink>
      <span class="au-c-app-chrome__entity">{{t "publish.headingPartOne"}} {{moment-format this.model.geplandeStart "DD/MM/YYYY HH:mm"}}</span>
    </AuToolbarGroup>
    <AuDropdown @dropdownTitle="{{this.currentSession._user.voornaam}} {{this.currentSession._user.achternaam}} - {{this.currentSession._group.classificatie.label}} {{this.currentSession._group.naam}}" @dropdownButtonLabel="Account settings" @alignment="right">
    <AcmidmLogout @class="au-c-button au-c-button--tertiary" role="menuitem">
      <AuIcon @icon="logout" @alignment="left" />Afmelden
    </AcmidmLogout>
  </AuDropdown>
  </AuToolbar>
</div>
<div class="au-c-main-container">
  <div class="au-c-main-container__sidebar au-u-hide-on-print">
    <div class="au-c-sidebar">
      <div class="au-c-sidebar__content">
        <nav>
          <ul class="au-c-list-navigation">
            <li class="au-c-list-navigation__item">
              <AuNavigationLink @linkRoute="meetings.publish.agenda" @model={{@model.id}}>
                <AuIcon @icon="calendar" @alignment="left" />
                Agenda
              </AuNavigationLink>
            </li>
            <li class="au-c-list-navigation__item">
              <AuNavigationLink @linkRoute="meetings.publish.besluitenlijst" @model={{@model.id}}>
                <AuIcon @icon="unordered-list" @alignment="left" />
                Besluitenlijst
              </AuNavigationLink>
            </li>
            <li class="au-c-list-navigation__item">
              <AuNavigationLink @linkRoute="meetings.publish.uittreksels" @model={{@model.id}}>
                <AuIcon @icon="documents" @alignment="left" />
                Uittreksels
              </AuNavigationLink>
            </li>
            <li class="au-c-list-navigation__item">
              <AuNavigationLink @linkRoute="meetings.publish.notulen" @model={{@model.id}}>
                <AuIcon @icon="document" @alignment="left" />
                Notulen
              </AuNavigationLink>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="au-c-main-container__content">
    <div id="content" class="au-c-body-container au-c-body-container--scroll" tabindex="-1">
      {{!-- <p>Each of these subroutes will present the contents of the document with current title <strong><quote>{{model.currentVersion.title}}</quote></strong></p> --}}
      {{outlet}}
    </div>
  </div>
</div>
