<AuModal
  @modalTitle="Bewerk stemming"
  @modalOpen={{true}}
  @size="fullscreen"
  @closeModal={{this.cancel}} as |Modal| >
  <Modal.Body>
    <AuHeading @level="3" @skin="4">{{t "votingEdit.firstStepTitle"}}</AuHeading>
    <AuHr />
    <div class="au-c-form">
      <p>
        <AuLabel for="voting-subject">{{t "votingEdit.firstStepIntroduction"}}</AuLabel>
        <AuTextarea id="voting-subject" @width="block" @value={{this.editStemming.stemming.onderwerp}}></AuTextarea>
        <AuHelpText @skin="secondary">{{t "votingEdit.firstStepExplanation"}}</AuHelpText>
      </p>
      <p>
        {{!-- <AuControlCheckbox @label={{t "votingEdit.privateVotingCheckbox"}} @identifier="akkoord" @checked={{this.editStemming.stemming.geheim}} /> --}}

        <label class="au-c-label">
          <Input @type="checkbox" @checked={{this.editStemming.stemming.geheim}} />&nbsp;
          {{t "votingEdit.privateVotingCheckbox"}}
        </label>
      </p>
    </div>

    <AuHeading @level="3" @skin="4" class="au-u-margin-top-large">{{t "votingEdit.secondStep"}}</AuHeading>
    <AuHr />
    <div>
      <Treatment::Voting::ManageVoters />
    </div>

    <AuHeading @level="3" @skin="4" class="au-u-margin-top-large">{{t "votingEdit.thirdStep"}}</AuHeading>
    <AuHr />
    <div class="au-c-form au-u-padding-bottom">
      <p>
        <AuLabel for="voting-consequence">{{t "votingEdit.thirdStepIntroduction"}}</AuLabel>
        <AuTextarea id="voting-consequence" @width="block" @value={{this.editStemming.stemming.gevolg}}></AuTextarea>
        <AuHelpText @skin="secondary">{{t "votingEdit.thirdStepExplanation"}}</AuHelpText>
      </p>
    </div>
  </Modal.Body>
  <Modal.Footer>
    <AuButtonGroup>
      <AuButton @loading={{@saving}} {{on "click" this.save}}>
        {{t "votingEdit.saveButton"}}
      </AuButton>
      <AuButton @skin="secondary" {{on "click" this.cancel}}>
        {{t "votingEdit.cancelButton"}}
      </AuButton>
    </AuButtonGroup>
    <AuHelpText>
      {{t "votingEdit.fourthStepExplanationPartOne"}}
      <strong>
        {{t "votingEdit.saveButton"}}
      </strong>
      {{t "votingEdit.fourthStepExplanationPartTwo"}}
    </AuHelpText>
  </Modal.Footer>
</AuModal>