{{#if @show}}
  <WuModal
    @title="Bewerk stemming"
    @dialog-class="modal-dialog--wide"
    @onClose={{this.onCloseModal}}
  >
    <div class="u-padding--round--small">
      <h3
        class="u-background--gray-lighter u-padding--round--tiny u-spacer--tb--tiny"
      >
        1. Geef onderwerp in
      </h3>
      <div class="form__row u-spacer">
        <label class="form__label">
          De raad stemt,
        </label>
        <Input
          class="textarea textarea--block"
          @type="textarea"
          @cols="40"
          @rows="4"
          @placeholder="Typ hier..."
          @value={{this.onderwerp}}
        />
        <p class="smaller text-fade">
          Het onderwerp van een stemming kan bijvoorbeeld zijn: het voorstel van besluit, een amendement, de al dan niet behandeling van een agendapunt, de open of besloten behandeling van een agendapunt, een verdaging, een tussenkomst.
        </p>

        <label class="checkbox checkbox--block u-spacer--tb--tiny">
          <Input
            class="checkbox__toggle"
            type="checkbox"
            @checked={{this.geheim}}
          />
          <span>
            Maak stemming geheim
          </span>
        </label>
      </div>

      <h3
        class="u-background--gray-lighter u-padding--round--tiny u-spacer--tb--tiny"
      >
        2. Beheer aanwezigen en stemmen
      </h3>
      <div class="form__row u-spacer">
        <Treatment::Voting::ManageVoters />
      </div>

      <h3
        class="u-background--gray-lighter u-padding--round--tiny u-spacer--tb--tiny"
      >
        3. Geef gevolg in
      </h3>
      <div class="form__row u-spacer">
        <label class="form__label">
          Met als gevolg,
        </label>
        <Input
          @type="textarea"
          class="textarea textarea--block"
          @cols="40"
          @rows="4"
          @placeholder="Typ hier..."
          @value={{this.gevolg}}
        />
        <p class="smaller text-fade">
          Het gevolg van een stemming kan bijvoorbeeld goedgekeurd, afgekeurd of verdaagd zijn.
        </p>
      </div>

      <h3
        class="u-background--gray-lighter u-padding--round--tiny u-spacer--tb--tiny"
      >
        4. Bewaar stemming
      </h3>
      <p class="smaller u-spacer">
        Uw wijzigingen worden niet ingevoegd tot u op
        <strong>
          Bewaar stemming
        </strong>
        klikt.
      </p>
      <WuButtonGroup class="u-spacer">
        <WuButton @isNarrow={{true}} @onClick={{this.save}}>
          <i class="vi vi-check vi-u-s"></i>
          Bewaar stemming
        </WuButton>
        <WuButton @isNarrow={{true}} @isAlt={{true}} @onClick={{this.cancel}}>
          Annuleer
        </WuButton>
      </WuButtonGroup>
    </div>
  </WuModal>
{{/if}}
{{yield}}