<div class="u-spacer--tb--small">
  <Treatment::Voting::VoterTable @manageVotes={{this.manageVotes}} />
</div>

{{#if this.editStemming.stemming.geheim}}
<div class="u-spacer--tb">
  <h4 class="h6 u-spacer--bottom--tiny">
    {{t "votingManageVoting.subtitle"}}
  </h4>
  <div class="grid">
    <div class="col--4-12">
      <label class="form__label">
        {{t "votingModal.aantalVoorstandersLabel"}}
      </label>
      <Input class="input-field input-field--block" @placeholder="0" @type="number"
        @value={{this.editStemming.stemming.aantalVoorstanders}} @min={{0}}
        @disabled={{not this.editStemming.stemming.geheim}} />
    </div>
    <div class="col--4-12">
      <label class="form__label">
        {{t "votingModal.aantalTegenstandersLabel"}}
      </label>
      <Input class="input-field input-field--block" @placeholder="0" @type="number"
        @value={{this.editStemming.stemming.aantalTegenstanders}} @min={{0}}
        @disabled={{not this.editStemming.stemming.geheim}} />
    </div>
    <div class="col--4-12">
      <label class="form__label">
        {{t "votingModal.aantalOnthoudersLabel"}}
      </label>
      <Input class="input-field input-field--block" @placeholder="0" @type="number"
        @value={{this.editStemming.stemming.aantalOnthouders}} @min={{0}}
        @disabled={{not this.editStemming.stemming.geheim}} />
    </div>
  </div>
</div>
{{else}}

<AuButtonGroup class="u-spacer--tb">
  <AuButton @isNarrow={{true}} @isSmall={{true}} @isAltBlue={{true}} @isAlt={{true}}
    {{on "click" this.editStemming.setUnaniemVoorstander}}>{{t "votingManageVoting.setUnaniemVoorstanderButton"}} <i
      class="vi vi-check vi-u-s"></i>
  </AuButton>

  <AuButton @isNarrow={{true}} @isSmall={{true}} @isAltBlue={{true}} @isAlt={{true}}
    {{on "click" this.editStemming.setUnaniemTegenstander}}>{{t "votingManageVoting.setUnaniemTegenstanderButton"}} <i
      class="vi vi-check vi-u-s"></i>
  </AuButton>

  <AuButton @isNarrow={{true}} @isSmall={{true}} @isAltBlue={{true}} @isAlt={{true}}
    {{on "click" this.editStemming.setUnaniemOnthouder}}>{{t "votingManageVoting.setUnaniemOnthouderButton"}} <i class="vi vi-check vi-u-s"></i>
  </AuButton>
</AuButtonGroup>

{{/if}}