{{!template-lint-disable no-inline-styles}}

{{#if this.editMode}}
  <Treatment::Voting::Edit
    @onCancel={{this.onCancelEdit}}
    @onSave={{perform this.saveStemming}}
    @saving={{this.saveStemming.isRunning}}
    @bestuursorgaan={{@bestuursorgaan}}
    @disableButtons={{this.disableButtons}}
  />
{{/if}}
<table class="au-c-meeting-chrome-table">
  <thead>
    <tr>
      <th style="max-width: 30rem;">
        {{t "voting-modal.onderwerp-label"}}
      </th>
      <th>
        {{t "voting-modal.type-label"}}
      </th>
      <th>
        {{t "voting-modal.stemmen-label"}}
      </th>
      <th style="max-width: 30rem;">
        {{t "voting-modal.gevolg-label"}}
      </th>
      {{#unless @readOnly}}
        <th class="au-u-table-right">
          <span class="au-u-hidden-visually">{{t "voting-modal.actions-label"}}</span>
            <AuButton
              {{on "click" (perform this.addStemming)}}
              @icon="add"
              @iconAlignment="left"
              @loading={{this.addStemming.isRunning}}
            >
              {{t "voting-modal.create-voting-button"}}
            </AuButton>
        </th>
      {{/unless}}
    </tr>
  </thead>
  <tbody>
    {{#if this.stemmingen.length}}
      {{#each this.stemmingen as |stemming|}}
        <tr>
          <td style="max-width: 30rem;">
            {{#if stemming.onderwerp}}
              {{stemming.onderwerp}}
            {{else}}
              <AuHelpText @size="normal" @skin="tertiary">
                {{t "voting-modal.subject-not-found"}}
              </AuHelpText>
            {{/if}}
          </td>
          <td>
            {{#if stemming.geheim}}
              <AuHelpText @size="normal">
                {{t "voting-modal.geheim-true-label"}}
              </AuHelpText>
            {{else}}
              <AuHelpText @size="normal">
                {{t "voting-modal.geheim-false-label"}}
              </AuHelpText>
            {{/if}}
          </td>
          <td>
            <p class="au-c-help-text au-c-help-text--normal">
              {{t "voting-modal.aantal-voorstanders-label"}} <strong>{{stemming.aantalVoorstanders}}</strong>
            </p>
            <p class="au-c-help-text au-c-help-text--normal">
              {{t "voting-modal.aantal-tegenstanders-label"}} <strong>{{stemming.aantalTegenstanders}}</strong>
            </p>
            <p class="au-c-help-text au-c-help-text--normal">
              {{t "voting-modal.aantal-onthouders-label"}} <strong>{{stemming.aantalOnthouders}}</strong>
            </p>
          </td>
          <td style="max-width: 30rem;">
            {{#if stemming.gevolg}}
              {{stemming.gevolg}}
            {{else}}
              <AuHelpText @size="normal" @skin="tertiary">{{t "voting-modal.gevolg-not-found"}}</AuHelpText>
            {{/if}}
          </td>
          {{#unless @readOnly}}
            <td class="au-u-table-right">
              <AuButtonGroup>
                <AuButton
                  {{on "click" (fn this.toggleEditStemming stemming)}}
                  @skin="secondary"
                  @icon="pencil"
                  @iconAlignment="left"
                >
                  {{t "voting-modal.toggle-edit-button"}}
                </AuButton>
                <AuButton
                  {{on "click" (fn (perform this.removeStemming) stemming)}}
                  @skin="secondary"
                  @alert={{true}}
                  @icon="bin"
                  @iconAlignment="left"
                  @loading={{ this.removeStemming.isRunning }}
                >
                  {{t "voting-modal.delete-button"}}
                </AuButton>
              </AuButtonGroup>
            </td>
          {{/unless}}
        </tr>
      {{else}}
        <tr>
          <td colspan="5">
            <AuHelpText @size="normal" @skin="tertiary">
              {{t "voting-modal.no-data-message"}}
            </AuHelpText>
          </td>
        </tr>
      {{/each}}
    {{/if}}
  </tbody>
</table>
