{{#if this.editMode}}
  <Treatment::Voting::Edit
    @onCancel={{this.onCancelEdit}}
    @onSave={{perform this.saveStemming}}
    @saving={{this.saveStemming.isRunning}}
    @bestuursorgaan={{@bestuursorgaan}}
    @disableButtons={{this.disableButtons}}
  />
{{/if}}
<table class="au-c-meeting-chrome-table">
  <thead>
    <tr>
      <th style="max-width: 30rem;">
        {{t "votingModal.onderwerpLabel"}}
      </th>
      <th>
        {{t "votingModal.typeLabel"}}
      </th>
      <th>
        {{t "votingModal.stemmenLabel"}}
      </th>
      <th style="max-width: 30rem;">
        {{t "votingModal.gevolgLabel"}}
      </th>
      <th class="au-u-table-right">
        <span class="au-u-hidden-visually">{{t "votingModal.actionsLabel"}}</span>
        <AuButton
          {{on "click" (perform this.addStemming)}}
          @icon="add"
          @iconAlignment="left"
          @loading={{this.addStemming.isRunning}}
        >
          {{t "votingModal.createVotingButton"}}
        </AuButton>
      </th>
    </tr>
  </thead>
  <tbody>
    {{#if this.fetchStemmingen.lastSuccessful}}
      {{#each this.stemmingen as |stemming|}}
        <tr>
          <td style="max-width: 30rem;">
            {{#if stemming.onderwerp}}
              {{stemming.onderwerp}}
            {{else}}
              <AuHelpText @size="normal" @skin="tertiary">
                {{t "votingModal.subjectNotFound"}}
              </AuHelpText>
            {{/if}}
          </td>
          <td>
            {{#if stemming.geheim}}
              <AuHelpText @size="normal">
                {{t "votingModal.geheimTrueLabel"}}
              </AuHelpText>
            {{else}}
              <AuHelpText @size="normal">
                {{t "votingModal.geheimFalseLabel"}}
              </AuHelpText>
            {{/if}}
          </td>
          <td>
            <p class="au-c-help-text au-c-help-text--normal">
              {{t "votingModal.aantalVoorstandersLabel"}} <strong>{{stemming.aantalVoorstanders}}</strong>
            </p>
            <p class="au-c-help-text au-c-help-text--normal">
              {{t "votingModal.aantalTegenstandersLabel"}} <strong>{{stemming.aantalTegenstanders}}</strong>
            </p>
            <p class="au-c-help-text au-c-help-text--normal">
              {{t "votingModal.aantalOnthoudersLabel"}} <strong>{{stemming.aantalOnthouders}}</strong>
            </p>
          </td>
          <td style="max-width: 30rem;">
            {{#if stemming.gevolg}}
              {{stemming.gevolg}}
            {{else}}
              <AuHelpText @size="normal" @skin="tertiary">{{t "votingModal.gevolgNotFound"}}</AuHelpText>
            {{/if}}
          </td>
          <td class="au-u-table-right">
            <AuButtonGroup>
              <AuButton
                {{on "click" (fn this.toggleEditStemming stemming)}}
                @icon="pencil"
                @iconAlignment="left"
              >
                {{t "votingModal.toggleEditButton"}}
              </AuButton>
              <AuButton
                {{on "click" (fn (perform this.removeStemming) stemming)}}
                @skin="secondary"
                @icon="bin"
                @iconAlignment="left"
                @loading={{ this.removeStemming.isRunning }}
              >
                {{t "votingModal.deleteButton"}}
              </AuButton>
            </AuButtonGroup>
          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan="5">
            <AuHelpText @size="normal" @skin="tertiary">
              {{t "votingModal.noDataMessage"}}
            </AuHelpText>
          </td>
        </tr>
      {{/each}}
    {{/if}}
  </tbody>
</table>
