    {{#if this.editMode}}
      <Treatment::Voting::Edit
        @onCancel={{this.onCancelEdit}}
        @onSave={{perform this.saveStemming}}
        @saving={{this.saveStemming.isRunning}}
        @bestuursorgaan={{@bestuursorgaan}}
        @disableButtons={{this.disableButtons}}
      />
    {{/if}}
    <table class="data-table data-table--lined data-table--zebra">
      <thead>
        <tr>
          <th style="max-width: 30rem;">
            {{t "votingModal.onderwerpLabel"}}
          </th>
          <th>
            {{t "votingModal.typeLabel"}}
          </th>
          <th>
            {{t "votingModal.stemmenLabel"}}
          </th>
          <th style="max-width: 30rem;">
            {{t "votingModal.gevolgLabel"}}
          </th>
          <th>
            <div class="grid">
              <div class="col--4-12">
                {{t "votingModal.actionsLabel"}}
              </div>
              <div class="col--8-12 u-align--right">
                <AuButton
                  {{on "click" (perform this.addStemming)}}
                  @icon="add"
                  @iconAlignment="left"
                  @loading={{this.addStemming.isRunning}}
                >
                  {{t "votingModal.createVotingButton"}}
                </AuButton>
              </div>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        {{#if this.fetchStemmingen.lastSuccessful}}
          {{#each this.stemmingen as |stemming|}}
            <tr>
              <td style="max-width: 30rem;">
                {{#if stemming.onderwerp}}
                  {{stemming.onderwerp}}
                {{else}}
                  <i class="text-fade">
                    {{t "votingModal.subjectNotFound"}}
                  </i>
                {{/if}}
              </td>
              <td>
                {{#if stemming.geheim}}
                  {{t "votingModal.geheimTrueLabel"}}
                {{else}}
                  {{t "votingModal.geheimFalseLabel"}}
                {{/if}}
              </td>
              <td>
                <p>
                  {{t "votingModal.aantalVoorstandersLabel"}} {{stemming.aantalVoorstanders}}
                </p>
                <p>
                  {{t "votingModal.aantalTegenstandersLabel"}} {{stemming.aantalTegenstanders}}
                </p>
                <p>
                  {{t "votingModal.aantalOnthoudersLabel"}} {{stemming.aantalOnthouders}}
                </p>
              </td>
              <td style="max-width: 30rem;">
                {{#if stemming.gevolg}}
                  {{stemming.gevolg}}
                {{else}}
                  <i class="text-fade">
                    {{t "votingModal.gevolgNotFound"}}
                  </i>
                {{/if}}
              </td>
              <td>
                <AuButtonGroup>
                  <AuButton
                    {{on "click" (fn this.toggleEditStemming stemming)}}
                    @icon="pencil"
                    @iconAlignment="left"
                  >
                    {{t "votingModal.toggleEditButton"}}
                  </AuButton>
                  <AuButton
                    {{on "click" (fn this.removeStemming stemming)}}
                    @skin="secondary"
                    @icon="bin"
                    @iconAlignment="left"
                  >
                    {{t "votingModal.deleteButton"}}
                  </AuButton>
                </AuButtonGroup>
              </td>
            </tr>
          {{else}}
            <tr>
              <td colspan="5" style="background-color: white; height: 10rem;">
                <p class="text-fade">
                  {{t "votingModal.noDataMessage"}}
                </p>
              </td>
            </tr>
          {{/each}}
        {{/if}}
      </tbody>
    </table>