<tr>
  {{#if this.fetchPersoon.lastSuccessful}}
  <td>
    {{this.persoon.gebruikteVoornaam}} {{this.persoon.achternaam}}
  </td>
  <td>
    {{@row.[0].bekleedt.bestuursfunctie.label}}
  </td>
  <td>
    {{#if @manageVotes}}
    <select {{on "change" this.onSelectVote}} >
      {{#each this.voteOptions as |voteOption|}}
        <option value={{voteOption}} selected={{eq this.selectedVote voteOption}}>{{voteOption}}</option>
        {{/each}}
    </select>
    {{else}}
    <WuButtonGroup>
      {{#if this.isVoting}}
      <WuLinkButton @isWarning={{ true }} @isSmall={{ true }} @isNarrow={{ true }} @onClick={{this.removeStemmer}}>
        <i class="vi vi-cross vi-u-s"></i> Verwijder stemrecht
      </WuLinkButton>
      {{else}}
      <WuLinkButton @isSmall={{ true }} @isNarrow={{ true }} @onClick={{this.addStemmer}}>
        <i class="vi vi-plus vi-u-s"></i> Geef stemrecht
      </WuLinkButton>
      {{/if}}
    </WuButtonGroup>
    {{/if}}
  </td>
  {{/if}}
</tr>