<table class="data-table data-table--lined data-table--zebra au-c-table-border">
  <thead>
    <tr>
      <th>
        {{t "votingEdit.naamLabel"}}
      </th>
      <th>
        {{t "votingEdit.hoedanigheidLabel"}}
      </th>
      {{#if (and this.isVoting (not @secret))}}
      <th colspan="2">
        {{t "votingEdit.actionsLabel"}}
      </th>
      {{else}}
      <th>
        {{t "votingEdit.actionsLabel"}}
      </th>
      {{/if}}
    </tr>
  </thead>
  <tbody>
    {{#if this.editStemming.fetchVoters.isRunning}}
    <div class="au-o-box">
      <AuLoader @padding="small" />
      <AuHelpText>{{t "votingEdit.loadingText"}}</AuHelpText>
    </div>
    {{else}}
    {{#each this.voters as |row|}}
    <Treatment::Voting::VoterRow
    @row={{row}}
    @onVoteChange={{this.editStemming.setVote}}
    @secret={{this.editStemming.stemming.geheim}}
    />

    {{else}}
    <tr>
      <td colspan="3">
        <AuHelpText>{{t "votingEdit.noDataMessage"}}</AuHelpText>
      </td>
    </tr>
    {{/each}}
    {{/if}}
  </tbody>
</table>