<tr>
  <td>
    {{this.persoon.gebruikteVoornaam}} {{this.persoon.achternaam}}
  </td>
  <td>
    {{this.mandataris.bekleedt.bestuursfunctie.label}}
  </td>
  {{#if this.showVoteSelect}}
    <td>
      {{#let (unique-id) as |id|}}
        <AuLabel for={{id}}  class="au-u-hidden-visually">{{t "votingEdit.actionsLabel"}}</AuLabel>
        <select {{on "change" this.onSelectVote}} id={{id}}>
          <option value="">{{t "votingEdit.selectPlaceholder"}}</option>
          {{#each this.voteOptions as |voteOption|}}
            <option value={{voteOption}} selected={{eq this.selectedVote voteOption}}>{{voteOption}}</option>
          {{/each}}
        </select>
      {{/let}}
    </td>
  {{/if}}
  <td colspan="{{if this.showVoteSelect 1 2}}">
    {{#if this.isVoting}}
      <AuButton @alert={{ true }} @skin="secondary" @icon="cross" @iconAlignment="left" {{on "click" this.removeStemmer}}>
        {{t "votingEdit.removeItemButton"}}
      </AuButton>
    {{else}}
      <AuButton @alert={{ false }} @skin="secondary" @icon="add" @iconAlignment="left" {{on "click" this.addStemmer}}>
        {{t "votingEdit.addItemButton"}}
      </AuButton>
    {{/if}}
  </td>
</tr>
