<AuButton
  @icon={{this.buttonIcon}}
  class={{this.buttonClass}}
  {{on 'click' this.openModal}}
>
  {{#if this.isUpToDate}}
    {{t 'inauguration-meeting.synchronization.button.up-to-date'}}
  {{else}}
    {{t 'inauguration-meeting.synchronization.button.out-of-date'}}
  {{/if}}

</AuButton>
<Common::SimpleModal
  @modalOpen={{this.modalOpen}}
  @closeModal={{this.cancel}}
>
  <AuToolbar class='au-u-padding meeting__sync-modal__header' as |Group|>
    <Group>
      <AuHeading @level='1' @skin='2'>
        {{t 'inauguration-meeting.synchronization.modal.title'}}
      </AuHeading>
    </Group>
    <Group>
      <AuButton
        {{on 'click' this.cancel}}
        @skin='naked'
        @disabled={{this.synchronize.isRunning}}
      >
        {{t 'inauguration-meeting.synchronization.modal.actions.cancel'}}
      </AuButton>
      <AuButton
        {{on 'click' (perform this.synchronize)}}
        @icon='synchronize'
        @skin='primary'
        @loading={{this.synchronize.isRunning}}
      >
        {{t 'inauguration-meeting.synchronization.modal.actions.synchronize'}}
      </AuButton>
    </Group>
  </AuToolbar>

  <div class='au-u-padding au-o-flow--small'>
    <p>{{html-safe
        (t
          'inauguration-meeting.synchronization.modal.info.paragraph-1'
          link=this.lmbEndpoint
        )
      }}</p>
    <p>{{t 'inauguration-meeting.synchronization.modal.info.paragraph-2'}}</p>
    <AuHeading @level='5' @skin='5'>
      {{t 'inauguration-meeting.synchronization.modal.attendee-list.title'}}
    </AuHeading>
    <p class='au-u-italic'>
      {{t
        'inauguration-meeting.synchronization.modal.attendee-list.no-changes'
      }}
    </p>
    <AuHeading @level='5' @skin='5'>
      {{t 'inauguration-meeting.synchronization.modal.decisions.title'}}
    </AuHeading>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
      accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
      illo inventore veritatis et quasi architecto beatae vitae dicta sunt
      explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
      odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
      voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum
      quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam
      eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
      voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam
      corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
      Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
      nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas
      nulla pariatur?</p>
  </div>
</Common::SimpleModal>