<thead>
  <tr>
    <th>{{t "manageAgendaZittingModal.orderLabel"}}</th>
    {{!template-lint-disable no-inline-styles}}
    <th style="width: 400px;">{{t "manageAgendaZittingModal.titleLabel"}}</th>
    <th>{{t "manageAgendaZittingModal.geplandOpenbaar"}}</th>
    <th class="au-u-table-right">
      <span class="au-u-hidden-visually">{{t "manageAgendaZittingModal.actionsLabel"}}</span>
      <AuButton {{on "click" @onCreate}} @icon="add" @iconAlignment="left">
        {{t "manageAgendaZittingModal.createItemButton"}}
      </AuButton>
    </th>
  </tr>
</thead>
