{{#if (or this.published @readOnly)}}
  <tr>
    <td>
      {{add @item.position 1}}
    </td>
    <td>
      <p>{{limit-content @item.titel 40}}</p>
    </td>
    <td>
      {{if @item.geplandOpenbaar (t "manage-agenda-zitting-modal.gepland-openbaar-true-label")
          (t "manage-agenda-zitting-modal.gepland-openbaar-false-label")}}
    </td>
    <td class="au-u-table-right">
      {{#if this.published}}
        <AuPill @skin="success">
          {{t "manage-agenda-zitting-modal.ap-published-msg"}}
        </AuPill>
      {{/if}}
    </td>
  </tr>
{{else}}
  <DraggableObject @tagName="tr" @content={{@item}} @isSortable={{true}}>
    <td>
      <AuButton @icon="drag" @skin="tertiary" @hideText={{true}} class="au-c-button--drag">
        Sleep
      </AuButton>
    </td>
    <td>
      <p>{{limit-content @item.titel 40}}</p>
    </td>
    <td>
      {{if @item.geplandOpenbaar (t "manage-agenda-zitting-modal.gepland-openbaar-true-label")
          (t "manage-agenda-zitting-modal.gepland-openbaar-false-label")}}
    </td>
    <td class="au-u-table-right">
      <AuButton @skin="tertiary" @icon="pencil" @iconAlignment="left" {{on "click" @edit}}>
        {{t "manage-agenda-zitting-modal.edit-item-button"}}
      </AuButton>
    </td>
  </DraggableObject>
{{/if}}