<DraggableObject @tagName="tr" @content={{@item}} @isSortable={{true}}>
  {{!--  <td class="u-align-right">1</td> --}}
  <tr>
    <td>
      <AuButton
              @isTiny={{true}}
              @isLink={{true}}
              @isNarrow={{true}}>
                <span style="cursor:pointer">
                  <i class="fa fa-bars"></i>
                </span>
      </AuButton>
    </td>
    <td>
      <p>{{@item.titel}}</p>
    </td>
    <td>
      {{if @item.geplandOpenbaar (t "manageAgendaZittingModal.geplandOpenbaarTrueLabel")
           (t "manageAgendaZittingModal.geplandOpenbaarFalseLabel")}}
    </td>
    <td>
      <AuButtonGroup>
        <AuButton {{on "click" @edit}}>
          <i class="vi vi-edit"></i> {{t "manageAgendaZittingModal.editItemButton"}}
        </AuButton>
      </AuButtonGroup>
    </td>
  </tr>
</DraggableObject>
