<h1> Make sure you know what you're doing ...</h1>
<br>
<br>
{{#if isWorking}}
  <span class="loader"><span class="u-visually-hidden">Aan het verwerken</span></span>
{{else}}
  Title: <Input class="input-field input-field--block js-js-input-pattern-bound" @value={{mut document.title}} />
  Status: <EditorDocumentStatusSelector @document={{document}} />
  Context: <Input class="input-field input-field--block js-js-input-pattern-bound" @value={{mut document.context}} />
  {{#if document.previousVersion.id}}
    <WuLinkButton @class="button--small button--link u-spacer--left--tiny" @isNarrow={{true}} @onClick={{action "previous"}}>
      Previous version
    </WuLinkButton>
  {{/if}}
  {{#if document.nextVersion.id}}
    <WuLinkButton @class="button--small button--link u-spacer--left--tiny" @isNarrow={{true}} @onClick={{action "next"}}>
      Next version
    </WuLinkButton>
  {{/if}}

  <WuButton @class="button--small button--link u-spacer--left--tiny" @isNarrow={{true}} @onClick={{action "toggleDisplayRaw"}}>
    display raw document (slow)
  </WuButton>

  {{#unless displayRaw}}
    <WuButton @class="button--small button--link u-spacer--left--tiny" @isNarrow={{true}} @onClick={{action "save"}}>
      save
    </WuButton>
  {{/unless}}

  {{#if displayRaw}}
    <WuButton @class="button--small button--link u-spacer--left--tiny" @isNarrow={{true}} @onClick={{action "update"}}>
      update changes
    </WuButton>

    <div contenteditable="true" id={{outputId}}>
      {{document.content}}
    </div>
  {{/if}}

  <WuButton @class="button--small button--link u-spacer--left--tiny" @isNarrow={{true}} @onClick={{action "generateFileDownload"}}>
    download raw
  </WuButton>

  <WuButton @class="button--small button--link u-spacer--left--tiny" @isNarrow={{true}} @onClick={{action "toggleFileUpload"}}>
    upload file and replace current raw content
  </WuButton>

  {{#if uploadFileMode}}
    <input onchange={{action "uploadFileAndReplace"}} type="file">
  {{/if}}

  <WuButton @class="button--small button--link u-spacer--left--tiny" @isNarrow={{true}} @onClick={{action "toggleReplaceUris"}}>
    replace URIS
  </WuButton>

  {{#if replaceUrisMode}}
    <EditorDocumentRaw::ReplaceUris @document={{document}} />
  {{/if}}

{{/if}}
