<Signatures::TimelineStep
  @name={{@name}}
  @document={{@notulen}}
  @errors={{@errors}}
  @signing={{@signing}}
  @publish={{@publish}}
  @mockDocument={{this.mockNotulen}}
  @isOpen={{this.isOpen}}
>
  <div class="au-c-document-publish">
    {{html-safe @zittingWrapper}}
  </div>
  {{#if @zittingWrapper}}
    <EmberWormhole @to={{@behandelingContainerId}}>
      <Signatures::Notulen::BehandelingenList @notulen={{@notulen}} @prepublishedBehandelingen={{@behandelings}} @publicBehandelingUris={{@publicBehandelingUris}} @toggle={{@togglePublicationStatus}} />
    </EmberWormhole>
  {{/if}}
</Signatures::TimelineStep>
