<div class="au-c-meeting-chrome-card au-u-margin-bottom-large">
  <ul class="au-c-list-divider">
    <li class="au-c-list-divider__item">
      {{t "manage-zittings-data.bestuursorgan-label"}} <strong>{{this.bestuursorgaan.isTijdsspecialisatieVan.naam}}</strong>
    </li>
    <li class="au-c-list-divider__item">
      {{t "manage-zittings-data.geplande-start-label"}} <strong>{{detailed-date this.geplandeStart}}</strong>
    </li>
    <li class="au-c-list-divider__item">
      {{t "manage-zittings-data.op-locatie-label"}} <strong>{{this.opLocatie}}</strong>
    </li>
    <li class="au-c-list-divider__item">
      {{t "manage-zittings-data.gestart-op-tijdstip-label"}} <strong>{{detailed-date this.gestartOpTijdstip}}</strong>
      {{#if this.startDiffersFromPlannedStart}}
        <AuPill @skin="info" @draft={{true}} @icon="info-circle" @iconAlignment="left">
          {{t "manage-zittings-data.start-differs-from-planned-start"}}
        </AuPill>
      {{/if}}
      {{#if this.startDateIsEmpty}}
        <AuPill @skin="warning" @icon="alert-triangle" @iconAlignment="left">{{t "manage-zittings-data.start-not-set"}}</AuPill>
      {{/if}}
    </li>
    <li class="au-c-list-divider__item">
      {{t "manage-zittings-data.geeindigd-op-tijdstip-label"}} <strong>{{detailed-date this.geeindigdOpTijdstip}}</strong>
      {{#if this.endDateIsEmpty}}
        <AuPill @skin="warning" @icon="alert-triangle" @iconAlignment="left">{{t "manage-zittings-data.end-not-set"}}</AuPill>
      {{/if}}
      {{#if this.endIsBeforeStart}}
        <AuPill @skin="warning" @icon="alert-triangle" @iconAlignment="left">{{t "manage-zittings-data.end-before-start"}}</AuPill>
      {{/if}}
    </li>
  </ul>
  {{#unless @readOnly}}
    <AuButton {{on "click" this.toggleModal}} @skin="secondary" @width="block" @icon="pencil" @iconAlignment="left">{{t "manage-zittings-data.open-modal-button"}}</AuButton>
  {{/unless}}
</div>

{{#if this.showModal}}
  <AuModal
    @title={{t "manage-zittings-data.modal-title"}}
    @modalOpen={{this.showModal}}
    @closeModal={{this.cancel}} as |Modal| >
    <Modal.Body>
      <div class="au-o-flow">
        <div>
          <AuLabel>{{t "manage-zittings-data.bestuursorgan-label"}}</AuLabel>
          {{this.bestuursorgaan.isTijdsspecialisatieVan.naam}}
          (periode: {{plain-date this.bestuursorgaan.bindingStart}} -
          {{#if this.bestuursorgaan.bindingEinde}}{{plain-date this.bestuursorgaan.bindingEinde}}{{else}}nvt.{{/if}})
        </div>
        <div>
          {{#let (unique-id) as |id|}}
            <AuLabel for={{id}}>{{t "manage-zittings-data.op-locatie-label"}}</AuLabel>
            <AuInput type='text' @value={{mut this.opLocatie}} @width="block" id={{id}} />
          {{/let}}
        </div>
        <div>
          <AuLabel>{{t "manage-zittings-data.geplande-start-label"}}</AuLabel>
          <DateTimePicker @alignment="top" @onChange={{fn this.changeDate 'geplandeStart'}} @value={{this.geplandeStart}}/>
        </div>
        <div>
          <AuLabel>{{t "manage-zittings-data.gestart-op-tijdstip-label"}}</AuLabel>
          <DateTimePicker @alignment="top" @onChange={{fn this.changeDate 'gestartOpTijdstip'}} @value={{this.gestartOpTijdstip}}/>
        </div>
        <div>
          <AuLabel>{{t "manage-zittings-data.geeindigd-op-tijdstip-label"}}</AuLabel>
          <DateTimePicker @alignment="top" @onChange={{fn this.changeDate 'geeindigdOpTijdstip'}} @value={{this.geeindigdOpTijdstip}} />
          {{#if this.endIsBeforeStart}}
            <AuPill @skin="warning" @draft={{true}} @icon="info-circle">{{t "meeting-form.date-warning"}}</AuPill>
          {{/if}}
        </div>
      </div>
    </Modal.Body>
    <Modal.Footer>
      <AuToolbar as |Group|>
        <Group>
          <AuButton @skin="naked" {{on "click" this.cancel}}>
            {{t "manage-zittings-data.cancel-button"}}
          </AuButton>
        </Group>
        <Group>
          <AuButton {{on "click" this.saveZittingsData}}>
            {{t "manage-zittings-data.save-button"}}
          </AuButton>
        </Group>
      </AuToolbar>
    </Modal.Footer>
  </AuModal>
{{/if}}
