<Common::MeetingSubSection @title={{t 'inbox.meetings.type'}}>
  <:body>
    <Common::DetailsList @items={{this.infoListItems}} />
  </:body>
  <:button>
    {{#unless @readOnly}}
      <AuButton
        {{on 'click' this.toggleModal}}
        @skin='secondary'
        @icon='pencil'
        @iconAlignment='left'
        class='au-u-hide-on-print'
      >
        {{t 'generic.edit'}}
      </AuButton>
    {{/unless}}
  </:button>
</Common::MeetingSubSection>

{{#if this.showModal}}
  <AuModal
    @title={{t 'manage-zittings-data.modal-title'}}
    @modalOpen={{this.showModal}}
    @closeModal={{this.cancel}}
    as |Modal|
  >
    <Modal.Body>
      <div class='au-o-flow'>
        <div>
          <AuLabel>{{t 'manage-zittings-data.bestuursorgan-label'}}</AuLabel>
          {{this.bestuursorgaan.isTijdsspecialisatieVan.naam}}
          ({{t 'manage-zittings-data.period-start'}}:
          {{plain-date this.bestuursorgaan.bindingStart}}
          -
          {{#if this.bestuursorgaan.bindingEinde}}{{plain-date
              this.bestuursorgaan.bindingEinde
            }}{{else}}{{t 'manage-zittings-data.not-applicable'}}{{/if}})
        </div>
        <div>
          {{#let (unique-id) as |id|}}
            <AuLabel for={{id}}>{{t
                'manage-zittings-data.op-locatie-label'
              }}</AuLabel>
            <AuInput
              type='text'
              value={{this.opLocatie}}
              {{on 'input' this.handleOpLocatieChange}}
              @width='block'
              id={{id}}
            />
          {{/let}}
        </div>
        <div>
          <AuLabel>{{t 'manage-zittings-data.geplande-start-label'}}</AuLabel>
          <DateTimePicker
            @alignment='top'
            @onChange={{fn this.changeDate 'geplandeStart'}}
            @value={{this.geplandeStart}}
          />
        </div>
        <div>
          <AuLabel>{{t
              'manage-zittings-data.gestart-op-tijdstip-label'
            }}</AuLabel>
          <DateTimePicker
            @alignment='top'
            @onChange={{fn this.changeDate 'gestartOpTijdstip'}}
            @value={{this.gestartOpTijdstip}}
          />
        </div>
        <div>
          <AuLabel>{{t
              'manage-zittings-data.geeindigd-op-tijdstip-label'
            }}</AuLabel>
          <DateTimePicker
            @alignment='top'
            @onChange={{fn this.changeDate 'geeindigdOpTijdstip'}}
            @value={{this.geeindigdOpTijdstip}}
          />
          {{#if this.endIsBeforeStart}}
            <AuPill @skin='warning' @draft={{true}} @icon='info-circle'>{{t
                'meeting-form.date-warning'
              }}</AuPill>
          {{/if}}
        </div>
      </div>
    </Modal.Body>
    <Modal.Footer>
      <AuToolbar as |Group|>
        <Group>
          <AuButton @skin='naked' {{on 'click' this.cancel}}>
            {{t 'manage-zittings-data.cancel-button'}}
          </AuButton>
        </Group>
        <Group>
          <AuButton {{on 'click' this.saveZittingsData}}>
            {{t 'manage-zittings-data.save-button'}}
          </AuButton>
        </Group>
      </AuToolbar>
    </Modal.Footer>
  </AuModal>
{{/if}}