<div {{did-insert this.fetchBestuursorgaan}}>
  {{#if this.showModal}}
    {{#wu-modal
        title="Beheer algemene informatie over de zitting"
        dialog-class="modal-dialog--wide modal-dialog--sectioned"
        onClose=this.toggleModal
        as |m|
    }}
      {{#m.content isSectioned=true}}
      <div class="au-o-box au-o-flow">
        <div>
          <AuLabel>Gehouden door:</AuLabel>
          <PowerSelect
            @placeholder="Selecteer bestuursorgaan"
            @selected={{this.bestuursorgaan}}
            @options={{this.bestuursorgaanOptions}}
            @onchange={{this.changeSelect}} as |bestuursorgaan|>
              {{bestuursorgaan.isTijdsspecialisatieVan.naam}}
              (periode: {{moment-format bestuursorgaan.bindingStart "MM/DD/YYYY"}} -
              {{#if bestuursorgaan.bindingEinde}}{{moment-format bestuursorgaan.bindingEinde "MM/DD/YYYY"}}{{else}}nvt.{{/if}})
          </PowerSelect>
        </div>
        <div>
          <AuLabel>Geplande start:</AuLabel>
          <DateTimePicker @onChange={{fn this.changeDate 'geplandeStart'}} @value={{this.geplandeStart}}/>
        </div>
        <div>
          <AuLabel>Op locatie:</AuLabel>
          <AuInput type='text' @value={{mut this.opLocatie}} />
        </div>
        <div>
          <AuLabel>Gestart op:</AuLabel>
          <DateTimePicker @onChange={{fn this.changeDate 'gestartOpTijdstip'}} @value={{this.gestartOpTijdstip}}/>
        </div>
        <div>
          <AuLabel>>Beëindigd op:</AuLabel>
          <DateTimePicker @onChange={{fn this.changeDate 'geeindigdOpTijdstip'}} @value={{this.geeindigdOpTijdstip}}/>
        </div>
      </div>

      {{/m.content}}
      <AuToolbar @border="top" @size="large">
        <AuToolbarGroup>
          <AuButtonGroup>
            <AuButton {{on "click" this.saveZittingsData}}>
              Voeg zittingsdata in
            </AuButton>
            <AuButton {{on "click" this.toggleModal}} @skin="secondary">
              Annuleer
            </AuButton>
          </AuButtonGroup>
        </AuToolbarGroup>
      </AuToolbar>
    {{/wu-modal}}
  {{else}}
    <div class="au-c-meeting-chrome-card">
      <ul class="au-c-list-divider au-u-not-allowed">
        <li class="au-c-list-divider__item">
          Gehouden door: <strong>{{this.bestuursorgaan.isTijdsspecialisatieVan.naam}}</strong>
        </li>
        <li class="au-c-list-divider__item">
          Geplande start: <strong>{{moment-format  this.geplandeStart "DD/MM/YYYY HH:mm"}}</strong>
        </li>
        <li class="au-c-list-divider__item">
          Op locatie: <strong>{{this.opLocatie}}</strong>
        </li>
        <li class="au-c-list-divider__item">
          Gestart op: <strong>{{moment-format this.gestartOpTijdstip "DD/MM/YYYY HH:mm"}}</strong>
        </li>
        <li class="au-c-list-divider__item">
          Beëindigd op: <strong>{{moment-format this.geeindigdOpTijdstip "DD/MM/YYYY HH:mm"}}</strong>
        </li>
      </ul>
      <AuButton {{on "click" this.toggleModal}} @skin="secondary" @width="block" @icon="pencil" @iconAlignment="left">Beheer algemene zittingsdata</AuButton>
    </div>
  {{/if}}
</div>
