<div class="container-flex--scroll u-padding--round--large">
  <h1 class="h1">Agendapunten van {{get (await model.bestuursorgaan.isTijdsspecialisatieVan) 'naam'}}, zitting van {{moment-format model.geplandeStart 'D MMMM YYYY'}}</h1>

  <div class="annotation-structure">
    <ul class="clickable-box-list">
      {{#each model.agenda.agendapunten as |item index|}}
        <li class="{{unless model.isPublished "not-active"}}">
          {{#link-to 'published.zitting.notulen' disabledWhen=(not model.isPublished) class='annotation annotation--agendapunt annotation--agendapunt--{{if item.geplandOpenbaar "open" "besloten"}}'}}
            <span class="list-number">{{inc index}}</span>
            <span class="list-content">{{clean-spaces item.titel}}</span>
          {{/link-to}}
        </li>
      {{else}}
        <li>Geen agendapunten</li>
      {{/each}}
    </ul>
  </div>

</div>
