<label class="checkbox checkbox--block">
  {{input class="checkbox__toggle" type="checkbox" checked=taskSolution.status click=(action "toggleStatus") }}
  <span></span>
  <strong>{{taskSolution.task.title}}</strong>
</label>
<p class="smaller u-spacer--left">
  {{#if taskSolution.task.clickTarget}}
  <a href="#" onClick={{action 'scrollTo' taskSolution.task.clickTarget}}>
    ga naar verwijzing in het document
  </a>
  {{/if}}
</p>
<p class="smaller u-spacer--left"> {{{taskSolution.task.description}}} </p>

<ul class="tasklist-navigation__group">
  {{#if setChilds.isRunning}}
    <p class="loader"><span class="u-visually-hidden">Aan het laden</span></p>
  {{else}}
    {{#each sortedTaskSolutionChilds as |childSolution|}}
      {{task-solution/edit taskSolution=childSolution class="tasklist-navigation__item"}}
    {{/each}}
  {{/if}}
  {{yield}}
</ul>
