<label class="checkbox checkbox--block">
  <Input class="checkbox__toggle" @type="checkbox" @checked={{taskStatus}} @click={{action "toggleStatus"}} />
  <span></span>
  <strong>{{task.title}}</strong>
</label>
<p class="smaller u-spacer--left">
  {{#if task.clickTarget}}
  <a href="#" onClick={{action 'scrollTo' task.clickTarget}}>
    <i class="vi vi-long-arrow vi-u-xs"></i> Ga naar verwijzing in het document
  </a>
  {{/if}}
</p>
<p class="smaller u-spacer--left"> {{{task.description}}} </p>

<ul class="tasklist-navigation__group">
  {{#if setChilds.isRunning}}
    <p class="loader"><span class="u-visually-hidden">Aan het laden</span></p>
  {{else}}
    {{#each sortedChilds as |childTask|}}
      <TaskSolution::Edit @tasklistSolution={{tasklistSolution}} @task={{childTask}} @class="tasklist-navigation__item" />
    {{/each}}
  {{/if}}
  {{yield}}
</ul>
