<label class="checkbox checkbox--block">
  {{input class="checkbox__toggle" type="checkbox" checked=taskSolution.status click=(action "toggleStatus") }}
  <span></span>
  <span style="font-weight: bold">{{taskSolution.task.title}}</span>
</label>
<div style="font-size: 0.8em">
  {{#if taskSolution.task.clickTarget}}
  <a href="#" onClick={{action 'scrollTo' taskSolution.task.clickTarget}}>
    ga naar verwijzing in het document
  </a>
  {{/if}}
</div>
<div style="font-size: 0.8em"> {{{taskSolution.task.description}}} </div>

<ul class="tasklist-navigation__group">
  {{#each sortedTaskSolutionChilds as |childSolution|}}
    {{task-solution/edit taskSolution=childSolution class="tasklist-navigation__item"}}
  {{/each}}

  {{yield}}
</ul>
