<AppChrome
  @editorDocument={{this.editorDocument}}
  @documentContainer={{this.documentContainer}}
>
  <:return-link>
    <AgendapointBackLink @meetingId={{this.model.returnToMeeting}} />
  </:return-link>
  <:actions>
    <AgendapointMenu @documentContainer={{this.documentContainer}} />
    <AuButton @disabled={{true}} @skin="naked" @icon="nav-up-down" @iconAlignment="right" class="au-u-padding-tiny"><span class="au-u-h-functional au-u-regular">{{t "agendapoint.options"}}</span></AuButton>
    <AuButton @disabled={{true}}>{{t "utils.save"}}</AuButton>
  </:actions>
</AppChrome>
<DocumentAttachments @documentContainer={{this.documentContainer}} @decisions={{this.decisions}}/>
