<DecisionCopy
  @document={{@model.document}}
  @container={{@model.container}}
>
  <:links>
    <AuLink @route='agendapoints.edit' @skin='secondary'>
        <AuIcon @icon='arrow-left' @alignment='left' />
        {{t 'agendapoint.back-to-agendapoint'}}
      </AuLink>
      <span class='au-c-app-chrome__entity'>{{t 'copy-options.heading'}}
        {{@model.document.title}}</span>
  </:links>
</DecisionCopy>