<AppChrome
  @editorDocument={{this.editorDocument}}
  @documentContainer={{this.documentContainer}}
  @save={{hash action=(perform this.saveTask) isRunning=this.saveTask.isRunning}}
  @sendToTrash={{this.toggleDeleteModal}}
  @exportHtmlFunction={{this.download}}
  @copyAgendapunt={{perform this.copyAgendapunt}}
/>

{{#if this.hasDocumentValidationErrors}}
  <AuModal
    @modalTitle="Geef uw document een naam"
    @modalOpen={{true}}
    @closeModal={{fn this.closeValidationModal}} as |Modal| >
    <Modal.Body>
      <p>Klik op de titel om uw document een naam te geven.</p>
    </Modal.Body>
    <Modal.Footer>
      <AuButton {{on "click" this.closeValidationModal}}>OK</AuButton>
    </Modal.Footer>
  </AuModal>
{{/if}}

{{#if this.displayDeleteModal}}
  <AuModal
    @modalTitle="Wilt u dit document naar de prullenmand verplaatsen"
    @modalOpen={{this.displayDeleteModal}}
    @closeModal={{fn (mut this.displayDeleteModal) false}} as |Modal| >
    <Modal.Body>
      <p>U kan deze steeds herstellen vanuit de prullenmand.</p>
    </Modal.Body>
    <Modal.Footer>
      <AuButton {{on "click" this.deleteDocument}}>Ja, verplaats naar prullenmand</AuButton>
      <AuButton @skin="secondary" {{on "click" (fn (mut this.displayDeleteModal) false)}}>Annuleren</AuButton>
    </Modal.Footer>
  </AuModal>
{{/if}}

{{#if (or this.saveTask.isRunning this.copyAgendapunt.isRunning)}}
<div class="container-flex--contain">
  <div class="au-c-rdfa-editor">
    <div class="say-container say-container--sidebar-left">
      <div class="say-container__main">
        <div class="say-editor rdfa-annotations rdfa-annotations-highlight rdfa-annotations-hover">
          <div class="say-editor__paper">
            <div class="au-c-scanner">
              <div class="au-c-scanner__text">
                <AuLoader @padding="small" />
                <AuHelpText @size="large">
                  {{#if this.saveTask.isRunning}}
                    Bezig met opslaan
                  {{else}}
                    Kopie aan het maken
                  {{/if}}
                </AuHelpText>
              </div>
              <span class="au-c-scanner__bar"></span>
            </div>
            <div class="say-editor__inner say-content">
              {{this.editorDocument.htmlSafeContent}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{else}}
  <RdfaEditorContainer
    @profile={{this.profile}}
    @rdfaEditorContainerInit={{this.handleRdfaEditorInit}}
    @typeOfWrappingDiv="besluit:BehandelingVanAgendapunt"
    @showToggleRdfaAnnotations={{true}}
    @editorDocument={{this.editorDocument}}
  />
{{/if}}

{{outlet}}
