<AppChrome
  @editorDocument={{this.editorDocument}}
  @documentContainer={{this.documentContainer}}
  @onTitleUpdate={{perform this.onTitleUpdate}}
  @allowTitleUpdate={{true}}
  >
  <:return-link>
    <AgendapointBackLink @meetingId={{this.model.returnToMeeting}} />
  </:return-link>
  <:actions>
    <AgendapointMenu @documentContainer={{this.documentContainer}} />
      <AuDropdown @title={{t "utils.fileOptions"}} @buttonLabel={{t "utils.fileOptions"}} @alignment="right">
      <AuButton {{on "click" (perform this.copyAgendapunt)}} @skin="tertiary" role="menuitem">
        <AuIcon @icon="copy" @alignment="left" />
        {{t "appChrome.copyAgendapoint"}}
      </AuButton>
      <AuButton {{on "click" this.download}} @skin="tertiary" role="menuitem">
        <AuIcon @icon="export" @alignment="left" />
        {{t "utils.htmlExport"}}
      </AuButton>
      <AuButton {{on "click" this.toggleDeleteModal}} @skin="tertiary" @alert="true" role="menuitem" @disabled={{this.isNotAllowedToTrash}}>
        <AuIcon @icon="bin" @alignment="left" />
        {{t "utils.delete"}}
      </AuButton>
    </AuDropdown>
    <AuButton {{on "click" (perform this.saveTask)}} @disabled={{this.save.isRunning}}>{{t "utils.save"}}</AuButton>
  </:actions>
</AppChrome>

{{#if this.hasDocumentValidationErrors}}
  <AuModal
    @title={{t "validationModal.title"}}
    @modalOpen={{true}}
            @closeModal={{this.closeValidationModal}} as |Modal| >
    <Modal.Body>
      <p>{{t "validationModal.message"}}</p>
    </Modal.Body>
    <Modal.Footer>
      <AuButton {{on "click" this.closeValidationModal}}>{{t "validationModal.confirm"}}</AuButton>
    </Modal.Footer>
  </AuModal>
{{/if}}

{{#if this.displayDeleteModal}}
  <AuModal
    @title={{t "deleteModal.title"}}
    @modalOpen={{this.displayDeleteModal}}
            @closeModal={{fn (mut this.displayDeleteModal) false}} as |Modal| >
    <Modal.Body>
      <p>{{t "deleteModal.restoreMessage"}}</p>
    </Modal.Body>
    <Modal.Footer>
      <AuButton {{on "click" this.deleteDocument}}>{{t "deleteModal.confirm"}}</AuButton>
      <AuButton @skin="secondary" {{on "click" (fn (mut this.displayDeleteModal) false)}}>{{t "deleteModal.cancel"}}</AuButton>
    </Modal.Footer>
  </AuModal>
{{/if}}

<div class="au-c-body-container au-c-body-container--scroll" id="panel-1" role="tabpanel" tabindex="0" aria-labelledby="tab-1">
  <RdfaEditorContainer
    @rdfaEditorInit={{this.handleRdfaEditorInit}}
    @typeOfWrappingDiv="besluit:BehandelingVanAgendapunt"
    @showToggleRdfaAnnotations={{true}}
    @editorDocument={{this.editorDocument}}
    @busy={{or this.saveTask.isRunning this.copyAgendapunt.isRunning}}
    @busyText={{if this.copyAgendapunt.isRunning (t "rdfaEditorContainer.makingCopy")
                         (t "rdfaEditorContainer.saving")}}
    @schema={{this.schema}}
    @widgets={{this.widgets}}
    @nodeViews={{this.nodeViews}}
    @plugins={{this.plugins}}
  />
</div>
<ConfirmRouteLeave @enabled={{this.dirty}} @message={{t "behandelingVanAgendapunten.confirmLeaveWithoutSaving"}}/>
