<AppChrome
  @editorDocument={{this.editorDocument}}
  @documentContainer={{this.documentContainer}}
  @save={{hash action=(perform this.saveTask) isRunning=this.saveTask.isRunning}}
  @sendToTrash={{this.toggleDeleteModal}}
  @exportHtmlFunction={{this.download}}
/>

{{#if this.validationErrors}}
  <WuModal @title="Geef uw document een naam" @dialog-class="modal-dialog--wide modal-dialog--sectioned" @onClose={{action "closeValidationModal"}} as |m|>
    <m.content>
      Klik op de titel om uw document een naam te geven.
    </m.content>
    <m.buttons as |b|>
      <b.button @label="OK" @onClick={{action "closeValidationModal"}} />
    </m.buttons>
  </WuModal>
{{/if}}

{{#if this.displayDeleteModal}}
  <WuModal @title="Wilt u dit document naar de prullenmand verplaatsen?" @onClose={{this.toggleDeleteModal}} as |m|>
    <div class="modal-dialog__buttons">
      <m.buttons as |b|>
        <b.button @label="Ja, verplaats naar prullenmand" @onClick={{this.deleteDocument}} />
        <b.button @label="Annuleren" @onClick={{this.toggleDeleteModal}} @isLink={{true}} @icon="vi-cross" />
      </m.buttons>
    </div>
  </WuModal>
{{/if}}

{{#if this.saveTask.isRunning}}
<div class="editor-container container-flex--scroll">
  <div class="editor">
    <div class="grid grid--align-center">
      <div class="col--7-12">
        <div class="au-c-rdfa-scanner say-content rdfa-annotations scanner">
          <div class="scanner__text">
            <div class="badge badge--l badge--initials">
              <span class="loader"><span class="u-visually-hidden">Aan het verwerken</span></span>
            </div>
            <h3 class="h3">Bezig met opslaan</h3>
          </div>
          <span class="scanner__bar"></span>
          {{this.editorDocument.htmlSafeContent}}
        </div>
      </div>
    </div>
  </div>
</div>
{{else}}
  <RdfaEditorContainer
    @profile={{this.profile}}
    @rdfaEditorContainerInit={{this.handleRdfaEditorInit}}
    @typeOfWrappingDiv="besluit:BehandelingVanAgendapunt"
    @showToggleRdfaAnnotations={{true}}
    @editorDocument={{this.editorDocument}}
  />
{{/if}}

{{outlet}}
