<AppChrome
  @editorDocument={{this.editorDocument}}
  @documentContainer={{this.documentContainer}}
  @save={{hash action=(perform this.saveTask) isRunning=this.saveTask.isRunning}}
  @sendToTrash={{this.toggleDeleteModal}}
  @exportHtmlFunction={{this.download}}
/>

{{#if this.hasDocumentValidationErrors}}
  <WuModal @title="Geef uw document een naam" @dialog-class="modal-dialog--wide modal-dialog--sectioned" @onClose={{this.closeValidationModal}} as |m|>
    <m.content>
      Klik op de titel om uw document een naam te geven.
    </m.content>
    <m.buttons as |b|>
      <b.button @label="OK" @onClick={{this.closeValidationModal}} />
    </m.buttons>
  </WuModal>
{{/if}}

{{#if this.displayDeleteModal}}
  <WuModal @title="Wilt u dit document naar de prullenmand verplaatsen?" @onClose={{this.toggleDeleteModal}} as |m|>
    <div class="modal-dialog__buttons">
      <m.buttons as |b|>
        <b.button @label="Ja, verplaats naar prullenmand" @onClick={{this.deleteDocument}} />
        <b.button @label="Annuleren" @onClick={{this.toggleDeleteModal}} @isLink={{true}} @icon="vi-cross" />
      </m.buttons>
    </div>
  </WuModal>
{{/if}}

{{#if this.saveTask.isRunning}}
<div class="container-flex--contain">
  <div class="au-c-rdfa-editor">
    <div class="say-container say-container--sidebar-left">
      <div class="say-container__main">
        <div class="say-editor rdfa-annotations rdfa-annotations-highlight rdfa-annotations-hover">
          <div class="say-editor__paper">
            <div class="au-c-scanner">
              <div class="au-c-scanner__text">
                <AuLoader @size="small" />
                <AuHelpText @size="large">Bezig met opslaan</AuHelpText>
              </div>
              <span class="au-c-scanner__bar"></span>
            </div>
            <div class="say-editor__inner say-content">
              {{this.editorDocument.htmlSafeContent}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{else}}
  <RdfaEditorContainer
    @profile={{this.profile}}
    @rdfaEditorContainerInit={{this.handleRdfaEditorInit}}
    @typeOfWrappingDiv="besluit:BehandelingVanAgendapunt"
    @showToggleRdfaAnnotations={{true}}
    @editorDocument={{this.editorDocument}}
  />
{{/if}}

{{outlet}}
