{{! @glint-nocheck }}
<AppChrome
  @editorDocument={{this.editorDocument}}
  @documentContainer={{this.documentContainer}}
  @onTitleUpdate={{perform this.onTitleUpdate}}
  @allowTitleUpdate={{true}}
  @dirty={{this.dirty}}
>
  <:returnLink>
    <AgendapointBackLink @meetingId={{this.model.returnToMeeting}} />
  </:returnLink>
  <:actions>
    <AgendapointMenu
      @documentContainer={{this.documentContainer}}
      @editorDocument={{this.editorDocument}}
    />
    <AuDropdown
      @title={{t 'utils.file-options'}}
      @buttonLabel={{t 'utils.file-options'}}
      @alignment='right'
    >
      {{! template-lint-disable require-context-role }}
      <AuButton
        {{on 'click' (perform this.copyAgendapunt)}}
        @skin='link'
        role='menuitem'
      >
        <AuIcon @icon='copy' @alignment='left' />
        {{t 'app-chrome.copy-agendapoint'}}
      </AuButton>
      <DownloadDocument
        @content={{this.controller.htmlContent}}
        @document={{this.editorDocument}}
      />
      <DownloadDocument
        @content={{this.controller.htmlContent}}
        @document={{this.editorDocument}}
        @forPublish={{true}}
      />
      <AuLink @route='agendapoints.copy' role='menuitem'>
        <AuIcon @icon='copy' @alignment='left' />
        {{t 'agendapoint.copy-parts-link'}}
      </AuLink>
      <AuButton
        {{on 'click' this.toggleDeleteModal}}
        @skin='link'
        @alert='true'
        role='menuitem'
        @disabled={{this.isNotAllowedToTrash}}
      >
        <AuIcon @icon='bin' @alignment='left' />
        {{t 'utils.delete'}}
      </AuButton>
    </AuDropdown>
    <AuButton
      {{on 'click' (perform this.saveTask)}}
      @disabled={{this.save.isRunning}}
    >{{t 'utils.save'}}</AuButton>
  </:actions>
</AppChrome>

{{#if this.displayDeleteModal}}
  <AuModal
    @title={{t 'delete-modal.title'}}
    @modalOpen={{this.displayDeleteModal}}
    @closeModal={{fn (mut this.displayDeleteModal) false}}
    as |Modal|
  >
    <Modal.Body>
      <p>{{t 'delete-modal.restore-message'}}</p>
    </Modal.Body>
    <Modal.Footer>
      <AuButton {{on 'click' this.deleteDocument}}>{{t
          'delete-modal.confirm'
        }}</AuButton>
      <AuButton
        @skin='secondary'
        {{on 'click' (fn (mut this.displayDeleteModal) false)}}
      >{{t 'delete-modal.cancel'}}</AuButton>
    </Modal.Footer>
  </AuModal>
{{/if}}

<div
  class='au-c-body-container au-c-body-container--scroll'
  id='panel-1'
  role='tabpanel'
  tabindex='0'
  aria-labelledby='tab-1'
  {{this.setSchemaAndPlugins}}
>
  <RdfaEditorContainer
    @rdfaEditorInit={{this.handleRdfaEditorInit}}
    @typeOfWrappingDiv='besluit:BehandelingVanAgendapunt'
    @editorDocument={{this.editorDocument}}
    @busy={{this.isBusy}}
    @busyText={{this.busyText}}
    @schema={{this.schema}}
    @widgets={{this.widgets}}
    @nodeViews={{this.nodeViews}}
    @plugins={{this.plugins}}
    @shouldEditRdfa={{false}}
  >
    <:toolbar>
      <div class="au-u-margin-right-small">
      <BesluitTypePlugin::ToolbarDropdown
        @controller={{this.controller}}
        @classificatieUri={{this.config.classificatieUri}}
        @options={{this.config.besluitType}}
      />
      </div>
      <div class="au-u-margin-right-small">
      <BesluitTopicPlugin::BesluitTopicToolbarDropdown
        @controller={{this.controller}}
        @options={{this.config.besluitTopic}}
      />
      </div>
    </:toolbar>
    <:sidebarCollapsible>
      {{#if (feature-flag 'citerra-poc')}}
        <this.LinkRdfaNodeButton
          @controller={{this.controller}}
          @node={{this.activeNode}}
          @predicateOptionGenerator={{this.backlinkEditorConfig.predicateOptionGenerator}}
          @subjectOptionGenerator={{this.backlinkEditorConfig.subjectOptionGenerator
            this.controller
          }}
        />
      {{/if}}
      <this.InsertArticle
        @controller={{this.controller}}
        @options={{this.config.insertArticle}}
      />
      <CitationPlugin::CitationInsert
        @controller={{this.controller}}
        @config={{this.config.citation}}
      />
      <VariablePlugin::Date::Insert
        @controller={{this.controller}}
        @options={{this.config.date}}
      />
      <RoadsignRegulationPlugin::RoadsignRegulationCard
        @controller={{this.controller}}
        @options={{this.config.roadsignRegulation}}
      />
      <StandardTemplatePlugin::Card
        @controller={{this.controller}}
        @templates={{this.model.templates}}
      />
      {{#if (feature-flag 'regulatoryStatements')}}
        <EditorPlugins::RegulatoryStatements::SidebarInsert
          @controller={{this.controller}}
        />
      {{/if}}
      <TemplateCommentsPlugin::Insert @controller={{this.controller}} />
      <LocationPlugin::Insert
        @controller={{this.controller}}
        @defaultMunicipality={{this.agendapointEditor.defaultMunicipality.naam}}
        @config={{this.config.location}}
      />
      <WorshipPlugin::Insert
        @controller={{this.controller}}
        @config={{this.config.worship}}
      />
      <LpdcPlugin::LpdcInsert
        @controller={{this.controller}}
        @config={{this.config.lpdc}}
      />
      {{#if (feature-flag 'mandateeTableEditor')}}
        <MandateeTablePlugin::Insert
          @controller={{this.controller}}
          @defaultTag={{this.config.mandateeTable.defaultTag}}
        />
      {{/if}}
      <LmbPlugin::Insert
        @controller={{this.controller}}
        @config={{this.config.lmb}}
      />
      {{#if this.activeNode}}
        <this.SnippetInsert
          @controller={{this.controller}}
          @config={{this.config.snippet}}
          @node={{this.activeNode}}
        />
      {{/if}}
    </:sidebarCollapsible>
    <:sidebar>
      {{#if (feature-flag 'citerra-poc')}}
        <this.VisualiserCard
          @controller={{this.controller}}
          @node={{this.activeNode}}
          @config={{this.visualizerConfig}}
        />
      {{/if}}
      <this.StructureControlCard @controller={{this.controller}} />
      <DecisionPlugin::DecisionPluginCard
        @controller={{this.controller}}
        @options={{this.config.decisionPlugin}}
      />
      <CitationPlugin::CitationCard
        @controller={{this.controller}}
        @config={{this.config.citation}}
      />
      <ImportSnippetPlugin::Card @controller={{this.controller}} />
      <VariablePlugin::Date::Edit
        @controller={{this.controller}}
        @options={{this.config.date}}
      />
      <VariablePlugin::Codelist::Edit
        @controller={{this.controller}}
        @options={{this.agendapointEditor.codelistEditOptions}}
      />
      <VariablePlugin::Location::Edit
        @controller={{this.controller}}
        @options={{this.agendapointEditor.locationEditOptions}}
      />
      <VariablePlugin::Person::Edit
        @controller={{this.controller}}
        @config={{this.config.lmb}}
      />
      <TemplateCommentsPlugin::EditCard @controller={{this.controller}} />
      {{#if (feature-flag 'mandateeTableEditor')}}
        <MandateeTablePlugin::Configure
          @controller={{this.controller}}
          @supportedTags={{this.config.mandateeTable.tags}}
        />
      {{/if}}
    </:sidebar>
  </RdfaEditorContainer>
</div>
<ConfirmRouteLeave
  @enabled={{this.dirty}}
  @message={{t 'behandeling-van-agendapunten.confirm-leave-without-saving'}}
/>