<AppChrome
  @editorDocument={{this.editorDocument}}
  @documentContainer={{this.documentContainer}}
  @save={{hash action=this.save isRunning=this.saveTask.isRunning}}
/>

{{#if this.hasDocumentValidationErrors}}
  <AuModal
    @modalTitle="Er zijn fouten bij de validatie."
    @modalOpen={{true}}
    @closeModal={{fn this.closeValidationModal}} as |Modal| >
    <Modal.Body>
      <p>Gelieve een titel op te geven</p>
    </Modal.Body>
    <Modal.Footer>
      <AuButton {{on "click" this.closeValidationModal}}>OK</AuButton>
    </Modal.Footer>
  </AuModal>
{{/if}}

<RdfaEditorContainer
  @profile={{this.profile}}
  @editorDocument={{this.editorDocument}}
  @rdfaEditorInit={{this.handleRdfaEditorInit}}
  @typeOfWrappingDiv="besluit:BehandelingVanAgendapunt ext:draftDecision"
  @showToggleRdfaAnnotations={{true}}
  @busy={{this.saveTask.isRunning}}
  @busyText={{t "rdfaEditorContainer.saving"}}
/>
{{outlet}}
