<AppChrome
  @editorDocument={{this.editorDocument}}
  @documentContainer={{this.documentContainer}}
  @save={{hash action=this.save isRunning=this.saveTask.isRunning}}
/>

{{#if this.hasDocumentValidationErrors}}
  <WuModal @title="Er zijn fouten bij de validatie" @onClose={{this.closeValidationModal}} as |m|>
    <m.content>
      Gelieve een titel op te geven.
    </m.content>
    <m.buttons as |b|>
      <b.button @label="OK" @onClick={{this.closeValidationModal}} />
    </m.buttons>
  </WuModal>
{{/if}}

{{#if this.saveTask.isRunning}}
  <div class="editor-container container-flex--scroll">
    <div class="editor">
      <div class="grid grid--align-center">
        <div class="col--7-12">
          <div class="au-c-rdfa-scanner say-content rdfa-annotations scanner">
            <div class="scanner__text">
              <div class="badge badge--l badge--initials">
                <span class="loader"><span class="u-visually-hidden">Aan het verwerken</span></span>
              </div>
              <h3 class="h3">Bezig met opslaan</h3>
            </div>

            <span class="scanner__bar"></span>
            {{this.editorDocument.htmlSafeContent}}
          </div>
        </div>
      </div>
    </div>
  </div>
{{else}}
    <RdfaEditorContainer
      @profile={{this.profile}}
      @editorDocument={{this.editorDocument}}
      @rdfaEditorContainerInit={{this.handleRdfaEditorInit}}
      @typeOfWrappingDiv="besluit:BehandelingVanAgendapunt ext:draftDecision"
      @showToggleRdfaAnnotations={{true}}
    />
{{/if}}
{{outlet}}
