<AppChrome
  @editorDocument={{this.revisionDetail}}
  @documentContainer={{this.documentContainer}}
>
  <:return-link>
    <AgendapointBackLink @meetingId={{this.model.returnToMeeting}} />
  </:return-link>

  <:actions>
    <AgendapointMenu @documentContainer={{this.documentContainer}} />
    <AuDropdown @title={{t "utils.fileOptions"}} @buttonLabel={{t "utils.fileOptions"}} @alignment="right">
      <AuButton {{on "click" this.download}} @skin="tertiary" role="menuitem">
        <AuIcon @icon="export" @alignment="left" />
        {{t "utils.htmlExport"}}
      </AuButton>
    </AuDropdown>
    <AuButton @icon="redo" @skin="primary" @disabled={{eq this.revisionDetail.id this.model.editorDocument.id}}  @iconAlignment="left" {{on "click" (fn this.confirmRevisionsToRemove this.revisionDetail)}}>
      {{t "agendapoint.restore"}}
    </AuButton>
  </:actions>
</AppChrome>
<AuMainContainer class="au-c-app-chrome-container" as |m|>
  <m.sidebar>
    <div class="au-c-sidebar">
      <div class="au-c-sidebar__header">
        <h6 class="au-c-heading au-c-heading--6">
          Opgeslagen documentversies:
        </h6>
      </div>
      <div class="au-c-sidebar__content">
        <ul class="au-c-list-navigation">
          {{#each this.orderedRevisions as |revision|}}
            <li class="au-c-list-navigation__item">
              <AuButton @skin="link" @icon="document" @iconAlignment="left" class="au-c-button--pill au-c-list-navigation__link {{if (eq revision.updatedOn this.revisionDetail.updatedOn) 'active'}}" {{on "click" (fn this.details revision)}}>
                <span class="au-c-button__text">
                  {{human-friendly-date revision.updatedOn locale=this.intl.primaryLocale}}
                </span>
                {{#if (eq revision.id this.model.editorDocument.id)}}
                  <AuPill @size="small" class="au-u-margin-left-tiny">Huidige versie</AuPill>
                {{/if}}
              </AuButton>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </m.sidebar>
  <m.content>
    <AuBodyContainer @scroll={{false}}>
      <div class="au-c-rdfa-editor">
        <div class="say-container say-container--sidebar-left say-container--paper">
          <div class="say-container__main">
            <div class="say-editor">
              <div class="say-editor__paper">
                <div class="say-editor__inner say-content">
                  {{html-safe this.revisionDetail.htmlSafeContent}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </AuBodyContainer>
  </m.content>
</AuMainContainer>

<AuModal
  @title="Bent u zeker dat u deze versie wil herstellen?"
  @modalOpen={{this.showConfirmationModal}}
  @closeModal={{this.cancelConfirmRevisionsToRemove}} as |Modal| >
  <Modal.Body>
    <AuContent>
      {{#if this.revisionsToRemove}}
        <p class="u-spacer--small">Bij het aanpassen van het document naar een oudere versie, verdwijnen volgende nieuwere versies onherroepelijk:</p>
        <ul class="numbered-list">
          {{#each this.revisionsToRemove as |revision|}}
            <li class="u-hr u-padding--bottom--small">
              <AuHeading @level="4" @skin="5">Versie van {{human-friendly-date revision.updatedOn locale=this.intl.primaryLocale}}</AuHeading>
              <p class="au-u-muted">{{revision.title}}</p>
            </li>
          {{/each}}
        </ul>
    {{else}}
        <p class="au-u-muted">Geen nieuwere versies om weer te geven.</p>
      {{/if}}
    </AuContent>
  </Modal.Body>
  <Modal.Footer>
    <AuButtonGroup>
      <AuButton {{on "click" this.restore}}>Herstel versie en verwerp nieuwere versies</AuButton>
      <AuButton @skin="secondary" {{on "click" this.cancelConfirmRevisionsToRemove}}>{{t "participationListModal.cancelButton"}}</AuButton>
    </AuButtonGroup>
  </Modal.Footer>
</AuModal>
