<AppChrome
  @editorDocument={{this.model.editorDocument}}
  @documentContainer={{this.model.documentContainer}}
  @exportHtmlFunction={{this.download}}
  @readOnly={{true}}
  @copyAgendapunt={{if this.readOnly undefined (perform this.copyAgendapunt)}}
/>

<div class="au-c-body-container">
  <div class="au-c-rdfa-editor">
    <div class="say-container say-container--sidebar-left">
      <div class="say-container__main">
        {{#unless this.readOnly}}
          <div class="au-o-box au-o-box--small au-c-theme-gray-100">
            <AuAlert @alertIcon="info-circle" @alertTitle="Niet editeerbaar"  @alertskin="info" @alertsize="small" class="au-u-margin-bottom-none">
              <p>Dit artikel is reeds gepubliceerd. Gepubliceerde agendapunten zijn niet editeerbaar.</p>
            </AuAlert>
          </div>
        {{/unless}}
        <div class="say-editor rdfa-annotations rdfa-annotations-hover rdfa-annotations--disabled">
          <div class="say-editor__paper">
            {{#if this.copyAgendapunt.isRunning}}
            <div class="au-c-scanner">
              <div class="au-c-scanner__text">
                <AuLoader @padding="small" />
                <AuHelpText @size="large">
                  {{#if this.saveTask.isRunning}}
                    Bezig met opslaan
                  {{else}}
                    Kopie aan het maken
                  {{/if}}
                </AuHelpText>
              </div>
              <span class="au-c-scanner__bar"></span>
            </div>
            {{/if}}
            <div class="say-editor__inner say-content say-content--disabled">
              {{ this.model.editorDocument.htmlSafeContent }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{{outlet}}
