<div class="u-padding--round--small u-background--gray-lightest u-spacer--tb--large">
  <h3 class="h5 u-spacer--tiny">{{t "manageAgendaZittingModalDelete.modalSubtitle"}}</h3>
  <p class="small u-spacer--small">
    <strong>{{t "manageAgendaZittingModalDelete.warningPartOne"}}</strong> {{t
          "manageAgendaZittingModalDelete.warningPartTwo"}}
  </p>

  {{#if this.isShowingWarning}}
    <div class="u-hr u-spacer"></div>
    <div class="u-spacer--top--tiny" id="isShowingWarning-verwijder-agendapunt">
      <div class="u-spacer">
        <p class="small"><strong>{{t "manageAgendaZittingModalDelete.agreeQuestion"}}</strong></p>
        <label class="checkbox checkbox--block">
          <Input class="checkbox__toggle" @type="checkbox" @checked={{this.hasAgreed}} />
          <span></span>
          <span>{{t "manageAgendaZittingModalDelete.checkboxLabel"}}</span>
        </label>
      </div>

      <AuButton class="button button--alt button--narrow" {{on "click" this.reset}} >
        {{t "manageAgendaZittingModalDelete.toggleEditButton"}}
      </AuButton>
      <span></span>
      <AuButton
                @disabled={{not this.hasAgreed}}
                class="button button--alt button--alt--warning button--narrow"
                @loading={{@loading}}
                {{on "click" @onDelete}} >
          {{t "manageAgendaZittingModalDelete.deleteButton"}}
      </AuButton>
    </div>
  {{else}}
    <div>
    <AuButton
              class="button button--alt button--alt--warning button--narrow"
              {{on "click" this.toggleWarning}} >
        {{t "manageAgendaZittingModalDelete.toggleWarningButton"}}
    </AuButton>

    </div>
  {{/if}}
</div>
