<AgendaManager::AgendaItemForm
        @model={{@itemToEdit}}
        @onSubmit={{perform this.submitTask}}
        as |Form|>
  <AuModal @title={{t "manageAgendaZittingModal.modalTitle"}}
          @modalOpen={{@visible}}
          @size="default"
          @closeModal={{unless this.isSubmitting this.cancel}}
          as |Modal|
  >
    <Modal.Body>
      {{#if this.isSubmitting}}
        <AuLoader />
        <AuHelpText>{{t "participationList.loadingLoader"}}</AuHelpText>
      {{else}}
        {{!-- <AuHeading @level="3" @skin="4">{{t "manageAgendaZittingModalEdit.modalSubtitle"}}</AuHeading>
        <AuHr /> --}}
        <div class="au-c-form">
          {{#if this.isNew}}
            <Form.SelectDraft @placeholder={{t "manageAgendaZittingModalDraftImport.default"}}>
              {{t "manageAgendaZittingModalDraftImport.title"}}
            </Form.SelectDraft>
          {{/if}}

          <Form.Textarea @for="titel">
            {{t "manageAgendaZittingModal.titleLabel"}}
          </Form.Textarea>

          <Form.Textarea @for="beschrijving">
            {{t "manageAgendaZittingModal.beschrijvingLabel"}}
          </Form.Textarea>
          {{#if @itemToEdit.behandeling.documentContainer.currentVersion.content}}
            <AuButton {{on "click" (perform this.copyDescription)}}>{{t "manageAgendaZittingModal.copyDescriptionLabel"}}</AuButton>
          {{/if}}

          <div>
            <AuLabel>
              {{t "manageAgendaZittingModal.geplandOpenbaar"}}
            </AuLabel>
            <div class="au-c-radio-group">
              <Form.Radio @for="geplandOpenbaar" @name="plannedPublic"  as |Radio|>
                <Radio.Option @value={{true}}
                >
                  <span>{{t "manageAgendaZittingModalEdit.geplandOpenbaarTrueLabel"}}</span>
                </Radio.Option>
                <Radio.Option @value={{false}}
                >
                  <span>{{t "manageAgendaZittingModalEdit.geplandOpenbaarFalseLabel"}}</span>
                </Radio.Option>
              </Form.Radio>
            </div>
          </div>

          {{#if (gt @agendaItems.length 0)}}
            <Form.SelectLocation @for="position" @agendaItems={{@agendaItems}} @currentItem={{@itemToEdit}}>
              {{t "manageAgendaZittingModalMove.title"}}
            </Form.SelectLocation>
          {{/if}}
        </div>
      {{/if}}
    </Modal.Body>
    <Modal.Footer>
      <AuToolbar as |Group|>
        <AuButton @skin="naked" {{on "click" this.cancel}} @disabled={{this.isSubmitting}}>
            {{t "manageAgendaZittingModal.cancelButton"}}
          </AuButton>
        <AuButtonGroup>
          {{#unless this.isNew}}
          <AuButton
            @alert={{true}}
            @skin="secondary"
            @loading={{this.deleteTask.isRunning}}
            @icon="bin"
            @iconAlignment="left"
            {{on "click" (perform this.deleteTask @itemToEdit)}}
            @disabled={{this.isSubmitting}} >
              {{t "manageAgendaZittingModalDelete.deleteButton"}}
          </AuButton>
          {{/unless}}
          <Form.Submit>{{t "manageAgendaZittingModal.saveButton"}}</Form.Submit>
        </AuButtonGroup>
      </AuToolbar>
    </Modal.Footer>
  </AuModal>
</AgendaManager::AgendaItemForm>
