<AgendaManager::AgendaItemForm
        @model={{@item}}
        @onSubmit={{perform this.submit}}
        as |Form|>
  <AuModal @modalTitle={{t "manageAgendaZittingModal.modalTitle"}}
           @modalOpen={{@visible}}
           @size="fullscreen"
           @closeModal={{this.cancel}} as |Modal|
  >
    <Modal.Body>

      <div class="u-padding--round--small u-background--gray-lightest">
        <h2 class="h5">{{t "manageAgendaZittingModalEdit.modalSubtitle"}}</h2>
      </div>
      <div class="u-padding--round--small">
        {{#if this.isNew}}
          <div class="au-u-padding-top">
            <Form.SelectDraft
                    @placeholder={{t "manageAgendaZittingModalDraftImport.default"}}
            >
              {{t "manageAgendaZittingModalDraftImport.title"}}
            </Form.SelectDraft>
          </div>
        {{/if}}

        <Form.Textarea @for="titel">
          {{t "manageAgendaZittingModal.titleLabel"}}
        </Form.Textarea>

        <Form.Textarea @for="beschrijving">
          {{t "manageAgendaZittingModal.beschrijvingLabel"}}
        </Form.Textarea>


        <label class="form__label form__label--block u-spacer--tiny">
          {{t "manageAgendaZittingModal.geplandOpenbaar"}}
        </label>

        <Form.Radio @for="geplandOpenbaar" @name="plannedPublic" as |Radio|>
          <Radio.Option @value={{true}}
          >
            <span>{{t "manageAgendaZittingModalEdit.geplandOpenbaarTrueLabel"}}</span>
          </Radio.Option>
          <Radio.Option @value={{false}}
          >
            <span>{{t "manageAgendaZittingModalEdit.geplandOpenbaarFalseLabel"}}</span>
          </Radio.Option>
        </Form.Radio>

        {{#if (gt @agendapunten.length 1)}}
          <AgendaManager::Move
                  @afterAgendapuntOptions={{@afterAgendapuntOptions}}
                  @agendapunt={{@agendapunt}}
                  @agendapunten={{@agendapunten}}
                  @selectedLocation={{@selectedLocation}}
                  @showAfterAgendapuntOptions={{@showAfterAgendapuntOptions}}
                  @selectedAfterAgendapunt={{@selectedAfterAgendapunt}}
                  @selectAfterAgendapunt={{@selectAfterAgendapunt}}
                  @selectLocation={{@selectLocation}}
          />
        {{/if}}
        {{#unless this.isNew}}
        {{!-- TODO: don't allow delete on published agendapoints  --}}
          <AgendaManager::Delete @delete={{@delete}} @cancelEditing={{@cancelEditing}} @agendapunt={{@agendapunt}}
                                 @afterSave={{@afterSave}} @zitting={{@zitting}}/>
        {{/unless}}
      </div>
    </Modal.Body>
    <Modal.Footer>
      <AuButtonGroup>
        <Form.Submit>{{t "manageAgendaZittingModal.saveButton"}}</Form.Submit>
        <AuButton @skin="secondary" {{on "click" this.cancel}}>
          {{t "manageAgendaZittingModal.cancelButton"}}
        </AuButton>
      </AuButtonGroup>
    </Modal.Footer>
  </AuModal>
</AgendaManager::AgendaItemForm>
