<div class="au-c-meeting-chrome-card">
  {{#if this.agendaData.load.isRunning}}
    <p class="loader"><span class="u-visually-hidden">{{t "participationList.loadingLoader"}}</span></p>
  {{else}}
    <AgendaManager::List @agendaData={{this.agendaData}}
                         @createNewItem={{this.createNewItem}}
                         @editItem={{this.editItem}}
                         as |List|
    >
      {{#each this.agendaItems as |item|}}
        <List.Item @item={{@item}}/>
      {{/each}}
    </AgendaManager::List>
  {{/if}}
  <AgendaManager::Edit @visible={{this.editModalVisible}} @item={{this.itemToEdit}} @onSave={{this.saveItem}}/>
</div>