<AgendaManager::AgendaContext @zittingId={{@zittingId}} @onSave={{@onSave}} as |agenda|>
  <div class="au-c-meeting-chrome-card">
    {{#if agenda.loadItemsTask.isRunning}}
      <p class="loader"><span class="u-visually-hidden">{{t "participationList.loadingLoader"}}</span></p>
    {{else}}
      <AgendaManager::AgendaTable
              @onSort={{agenda.onSort}}
              @onCreate={{fn this.createItem agenda.createItem}}
              @items={{agenda.items}}
              as |Table|>
        <Table.Header/>

        <Table.Body as |Body|>
          {{#each agenda.items as |item|}}
            <Body.Row @item={{item}} @edit={{fn this.editItem item}} />
          {{else}}
            <Body.Empty/>
          {{/each}}

        </Table.Body>

      </AgendaManager::AgendaTable>

    {{/if}}

  </div>
  <AgendaManager::Edit @visible={{this.editModalVisible}}
                       @item={{this.itemToEdit}}
                       @saveTask={{agenda.saveItemTask}}
                       @onClose={{this.closeModal}}
                       @onCancel={{this.closeModal}}
  />

</AgendaManager::AgendaContext>