{{#if this.getStatus.isRunning}}
  <div>loading</div>
{{else}}
  <AuModal
    @modalTitle={{t "manageAgendaZittingModal.modalTitle"}}
    @modalOpen={{@modalActive}}
    @size="fullscreen"
    @closeModal={{if this.isEditing this.cancelEditing this.cancel}} as |Modal| >
    <Modal.Body>
      {{#if this.isEditing}}
        <AgendaManager::Edit
          @delete={{this.delete}}

          @agendapunt={{this.currentlyEditing}}
          @cancelEditing={{this.cancelEditing}}
          @isNew={{this.isNew}}
          @agendapunten={{this.zitting.agendapunten}}

          @afterAgendapuntOptions={{this.afterAgendapuntOptions}}
          @selectedLocation={{this.selectedLocation}}
          @showAfterAgendapuntOptions={{this.showAfterAgendapuntOptions}}
          @selectedAfterAgendapunt={{this.selectedAfterAgendapunt}}
          @selectAfterAgendapunt={{this.selectAfterAgendapunt}}
          @selectLocation={{this.selectLocation}}

          @importedDrafts={{this.importedDrafts}}
          @selectedDraft={{this.selectedDraft}}
          @selectDraft={{this.selectDraft}}
        />
      {{else}}
        <AgendaManager::List
          @agendapunten={{this.zitting.agendapunten}}
          @createAgendapunt={{this.createAgendapunt}}
          @edit={{this.edit}}
          @sort={{this.sort}}/>
        {{#if this.error}}
          <AuAlert @alertIcon="cross" @alertskin="error">
            {{t "manageAgendaZittingModal.saveAllError"}}
          </AuAlert>
        {{/if}}
      {{/if}}
    </Modal.Body>
    <Modal.Footer>
        <AuButtonGroup>
          <AuButton {{on "click" this.save}}>{{t "manageAgendaZittingModal.saveButton"}}</AuButton>
          <AuButton @skin="secondary" {{on "click" this.cancelEditing}}>{{t "manageAgendaZittingModal.cancelButton"}}</AuButton>
        </AuButtonGroup>
    </Modal.Footer>
  </AuModal>
{{/if}}
