<h1 class="h1">{{model.titel}}</h1>
<h2 class="h2"> gepubliceerd op</h2>
<p>{{moment-format model.publicatiedatum}}</p>

<h2 class="h2"> Korte inhoud </h2>

<p>{{model.beschrijving}}</p>

<h2 class="h2"> Motivering </h2>

<p>{{model.motivering}}</p>

<h2 class="h2"> Citeeropschrift </h2>

<p>{{model.citeeropschrift}}</p>

<h2 class="h2"> Volledige inhoud </h2>

<p>{{model.inhoud}}</p>

{{#link-to "editor-documents.show" model.afgeleidUitNotule.id}}ga naar het volledige verslag{{/link-to}}
{{outlet}}
