  {{#data-table content=model isLoading=isLoadingModel onClickRow=(action 'openBesluit')
     filter=filter sort=sort page=page size=size as |t|}}
    {{#t.content as |c|}}
      {{#c.header}}
        {{th-sortable field='titel' currentSorting=sort label='Titel'}}
        {{th-sortable field='beschrijving' currentSorting=sort label='Korte inhoud'}}
        {{th-sortable field='publicatiedatum' currentSorting=sort label='Datum publicatie'}}
      {{/c.header}}
      {{#c.body as |row|}}
          <td>{{row.titel}}</td>
          <td>{{row.beschrijving}}</td>
          <td>{{moment-format row.publicatiedatum}}</td>
      {{/c.body}}
    {{/t.content}}
  {{/data-table}}


{{outlet}}
