<div>
  <WuButton @label={{t "behandelingVanAgendapunten.participationListButton"}} @onClick={{this.toggleModal}} />
  <ParticipationList::Modal
    @show={{this.showParticipationModal}}
    @aanwezigenBijStart={{this.behandeling.aanwezigen}}
    @bestuursorgaan={{@bestuursorgaan}}
    @onSave={{this.saveParticipants}}
    @togglePopup={{this.toggleModal}}
    @voorzitter={{this.behandeling.voorzitter}}
    @secretaris={{this.behandeling.secretaris}}
  />
  {{#each this.behandeling.aanwezigen as |mandataris|}}
    <div>
      {{mandataris.isBestuurlijkeAliasVan.achternaam}}
    </div>
  {{/each}}
</div>