<div class="au-c-meeting-chrome-card">
  <ParticipationList::Modal
    @show={{this.showParticipationModal}}
    @aanwezigenBijStart={{this.behandeling.aanwezigen}}
    @bestuursorgaan={{@bestuursorgaan}}
    @onSave={{this.saveParticipants}}
    @togglePopup={{this.toggleModal}}
    @voorzitter={{this.behandeling.voorzitter}}
    @secretaris={{this.behandeling.secretaris}}
  />
  <ul class="au-c-list-divider">
    <li class="au-c-list-divider__item">
      Aanwezige mandatarissen:
      {{#each this.behandeling.aanwezigen as |mandataris|}}

        <strong>{{mandataris.isBestuurlijkeAliasVan.achternaam}}</strong>
      {{/each}}
    </li>
  </ul>
  <AuButton {{on "click" this.toggleModal}} @skin="secondary" @width="block" @icon="pencil" @iconAlignment="left">
    {{t "behandelingVanAgendapunten.participationListButton"}}
  </AuButton>
</div>
