<AuDataTable @content={{model}} @isLoading={{isLoadingModel}} @noDataMessage="Geen documenten" @sort={{sort}} @page={{page}} @size={{size}} @class="container-flex--contain" as |t|>
  <t.menu as |menu|>
    <menu.general>
      <AuToolbar class="au-o-box">
        <AuToolbarGroup>
          <AuHeading @skin="2">
            Archief
          </AuHeading>
        </AuToolbarGroup>
        <AuToolbarGroup class="au-c-toolbar__group--search">
          <TextSearch @filter={{title}} @placeholder="Zoek naar gearchiveerd document" class="au-u-1-2@small" />
        </AuToolbarGroup>
      </AuToolbar>
    </menu.general>
  </t.menu>
  <t.content as |c|>
    <c.header>
      <AuDataTableThSortable @field="currentVersion.title" @currentSorting={{sort}} @label="Zitting" />
      <AuDataTableThSortable @field="currentVersion.createdOn" @currentSorting={{sort}} @label="Aangemaakt" />
      <AuDataTableThSortable @field="status" @currentSorting={{sort}} @label="Status" />
    </c.header>
    <c.body as |container|>
      {{#with container.currentVersion as |row|}}
        {{#if (eq container.folder.name "meeting minutes")}}
          <td><LinkTo @route="editor-documents.show" @model={{container.id}} class="au-c-link">{{container.currentVersion.title}}</LinkTo></td>
        {{else}}
          <td><LinkTo @route="draft-decisions.edit" @model={{container.id}}>{{container.currentVersion.title}}</LinkTo></td>
        {{/if}}
        <td>{{moment-calendar container.currentVersion.createdOn}}</td>
        <td><EditorStatusPill @status={{container.status}} /></td>
      {{/with}}
    </c.body>
  </t.content>
</AuDataTable>
