<AuDataTable @content={{this.model}} @isLoading={{this.isLoadingModel}} @noDataMessage={{t 'inbox.draftDecisions.noDataMessage'}} @sort={{this.sort}} @page={{this.page}} @size={{this.size}} @class="container-flex--contain" as |table|>
  <table.menu as |menu|>
    <menu.general>
      <AuToolbar @size="large">
        <AuToolbarGroup>
          <AuHeading @skin="2">
            {{t 'inbox.draftDecisions.pageTitle'}}
          </AuHeading>
        </AuToolbarGroup>
        <AuToolbarGroup class="au-c-toolbar__group--search">
          <TextSearch @filter={{this.title}} @placeholder={{t 'inbox.draftDecisions.searchPlaceholder'}} class="au-u-1-2@small" />
          {{!-- <LinkTo @route="ontwerpbesluiten-documents.demo-1-b" class="button button--link button--link--dark">Ontwerp invoegen kort</LinkTo>
          <LinkTo @route="ontwerpbesluiten-documents.demo-1-a" class="button button--link button--link--dark">Ontwerp invoegen tussenstap</LinkTo>
          <LinkTo @route="imported-documents.new" class="button button--alt">Importeer HTML bestand</LinkTo> --}}
          <LinkTo @route="draft-decisions.new" class="au-c-button-link">Nieuw ontwerpbesluit</LinkTo>
        </AuToolbarGroup>
      </AuToolbar>
    </menu.general>
  </table.menu>
  <table.content as |c|>
    <c.header>
      <AuDataTableThSortable @field="currentVersion.title" @currentSorting={{this.sort}} @label={{t 'inbox.draftDecisions.titleLabel'}} />
      <AuDataTableThSortable @field="currentVersion.createdOn" @currentSorting={{this.sort}} @label={{t 'inbox.draftDecisions.createdOnLabel'}} />
      <AuDataTableThSortable @field="currentVersion.updatedOn" @currentSorting={{this.sort}} @label={{t 'inbox.draftDecisions.updatedOnLabel'}} />
      <AuDataTableThSortable @field="status" @currentSorting={{this.sort}} @label={{t 'inbox.draftDecisions.statusLabel'}} />
    </c.header>
    <c.body as |container|>
      {{#with container.currentVersion as |row|}}
      <td><LinkTo @route="draft-decisions.edit" @model={{container.id}} class="au-c-link">{{row.title}}</LinkTo></td>
      <td>
      	{{moment-calendar row.createdOn}}
      	<br>
      	<p class="smaller text-fade">{{moment-from-now this.document.currentVersion.updatedOn}}</p>
      </td>
      <td>
      	{{moment-calendar row.updatedOn}}
      	<br>
      	<p class="smaller text-fade">{{moment-from-now this.document.currentVersion.updatedOn}}</p>
      </td>
      <td><EditorStatusPill @status={{await container.status}} /> <br> <DocumentLinkToPublished @document={{row}} />
      </td>
      {{/with}}
    </c.body>
  </table.content>
</AuDataTable>
