{{!-- template-lint-disable  --}}
<AuDataTable @content={{model}} @isLoading={{isLoadingModel}} @noDataMessage="Geen documenten" @sort={{sort}} @page={{page}} @size={{size}} @class="container-flex--contain" as |t|>
  <t.menu as |menu|>
    <menu.general>
      <AuToolbar @size="large">
        <AuToolbarGroup>
          <AuHeading @skin="2">
            Geïmporteerde HTML bestanden
          </AuHeading>
        </AuToolbarGroup>
        <AuToolbarGroup class="au-c-toolbar__group--search">
          <TextSearch @filter={{title}} @placeholder="Zoek titel bestand" />
          <LinkTo @route="imported-documents.new" class="button button--alt">Importeer HTML bestand</LinkTo>
          <LinkTo @route="imported-documents.new" class="button">Nieuw ontwerpbesluit</LinkTo>
        </AuToolbarGroup>
      </AuToolbar>
    </menu.general>
  </t.menu>
  <t.content as |c|>
    <c.header>
      <AuDataTableThSortable @field="currentVersion.title" @currentSorting={{sort}} @label="Document" />
      <AuDataTableThSortable @field="currentVersion.createdOn" @currentSorting={{sort}} @label="Aangemaakt" />
      <AuDataTableThSortable @field="status" @currentSorting={{sort}} @label="Status" />
    </c.header>
    <c.body as |container|>
      <td><LinkTo @route="editor-documents.show" @model={{row.id}} class="au-c-link">{{container.currentVersion.title}}</LinkTo></td>
      <td>{{moment-calendar container.currentVersion.createdOn}}</td>
      <td><EditorStatusPill @status={{container.status}} /></td>
    </c.body>
  </t.content>
</AuDataTable>
