{{#data-table content=model isLoading=isLoadingModel noDataMessage="Geen documenten"
     sort=sort page=page size=size class="container-flex--contain" as |t|}}
  {{#t.menu as |menu|}}
    {{#menu.general}}
      <div class="u-padding--round--tiny">
        <div class="grid">
          <div class="col--7-12 u-wide-on-print">
            <h1 class="h1 u-spacer--none">Notulen {{get (await currentSession.group) 'classificatie.label'}} {{get (await currentSession.group) 'naam'}}</h1>
{{!--             <ul class="bullet-list">
              {{#each (await currentSession.roles) as |role|}}<li>{{role}}, </li>{{/each}}
            </ul> --}}
          </div>
          <div class="col--5-12">
            <div class="search-box u-spacer--top--tiny">
              {{text-search filter=title placeholder="Zoek naar zitting"}}
            </div>
          </div>
        </div>
      </div>
    {{/menu.general}}
  {{/t.menu}}
  {{#t.content as |c|}}
    {{#c.header}}
      <!-- <th class="data-table__header-title"><!-- Starred </th> -->
      {{th-sortable field='currentVersion.title' currentSorting=sort label='Zitting' class="data-table__header-title"}}
      {{th-sortable field='currentVersion.createdOn' currentSorting=sort label='Aangemaakt' class="data-table__header-title"}}
      {{th-sortable field='currentVersion.updatedOn' currentSorting=sort label='Aangepast' class="data-table__header-title"}}
      {{th-sortable field='status' currentSorting=sort label='Status' class="data-table__header-title u-align-right"}}
    {{/c.header}}
    {{#c.body as |container|}}
      {{#with container.currentVersion as |row|}}
      <td>{{#link-to 'editor-documents.edit' container.id}}{{row.title}}{{/link-to}}</td>
      <td>
      	{{moment-calendar row.createdOn}}
      	<br>
      	<p class="smaller text-fade">{{moment-from-now document.currentVersion.updatedOn}}</p>
      </td>
      <td>
      	{{moment-calendar row.updatedOn}}
      	<br>
      	<p class="smaller text-fade">{{moment-from-now document.currentVersion.updatedOn}}</p>
      </td>
      <td class="u-align-right">{{editor-status-pill status=(await container.status)}} <br> {{document-link-to-published document=row}}
      </td>
      {{/with}}
    {{/c.body}}
  {{/t.content}}
{{/data-table}}

{{outlet}}
