<DataTable @content={{model}} @isLoading={{isLoadingModel}} @noDataMessage="Geen documenten" @sort={{sort}} @page={{page}} @size={{size}} @class="container-flex--contain" as |t|>
  <t.menu as |menu|>
    <menu.general>
      <div class="u-padding--round--tiny">
        <div class="grid">
          <div class="col--7-12 u-wide-on-print">
            <h1 class="h4 u-spacer--tiny">Notulen zitting</h1>
            <TextSearch @filter={{title}} @placeholder="Zoek titel notulen" />
{{!--             <ul class="bullet-list">
              {{#each (await currentSession.roles) as |role|}}<li>{{role}}, </li>{{/each}}
            </ul> --}}
          </div>
          <div class="col--5-12">
            <div class="u-align-right">
              <WuButtonGroup>
                {{!-- <LinkTo @route="inbox.archive" class="button button--alt">Bekijk archief notulen</LinkTo> --}}
                {{!-- <LinkTo @route="imported-documents.new" class="button button--alt">Importeer html bestand</LinkTo> --}}
                <AuButton {{action 'openNewDocument'}}>
                  Nieuwe zitting
                </AuButton>
              </WuButtonGroup>
            </div>
          </div>
        </div>
      </div>
    </menu.general>
  </t.menu>
  <t.content as |c|>
    <c.header>
      <!-- <th class="data-table__header-title"><!-- Starred </th> -->
      <ThSortable @field="currentVersion.title" @currentSorting={{sort}} @label="Titel notulen" @class="data-table__header-title" />
      <ThSortable @field="currentVersion.createdOn" @currentSorting={{sort}} @label="Aangemaakt" @class="data-table__header-title" />
      <ThSortable @field="currentVersion.updatedOn" @currentSorting={{sort}} @label="Aangepast" @class="data-table__header-title" />
      <ThSortable @field="status" @currentSorting={{sort}} @label="Status" @class="data-table__header-title u-align-right" />
    </c.header>
    <c.body as |container|>
      {{#with container.currentVersion as |row|}}
      <td><LinkTo @route="editor-documents.edit" @model={{container.id}}>{{row.title}}</LinkTo></td>
      <td>
      	{{moment-calendar row.createdOn}}
      	<br>
      	<p class="smaller text-fade">{{moment-from-now document.currentVersion.updatedOn}}</p>
      </td>
      <td>
      	{{moment-calendar row.updatedOn}}
      	<br>
      	<p class="smaller text-fade">{{moment-from-now document.currentVersion.updatedOn}}</p>
      </td>
      <td class="u-align-right"><EditorStatusPill @status={{await container.status}} /> <br> <DocumentLinkToPublished @document={{row}} />
      </td>
      {{/with}}
    </c.body>
  </t.content>
</DataTable>

{{outlet}}
