{{page-title (t "inbox.irgArchive.pageTitle")}}

<AuDataTable @content={{this.model}} @isLoading={{this.isLoadingModel}} @noDataMessage='' @sort={{this.sort}} @page={{this.page}} @size={{this.size}} as |table|>
  <table.menu as |menu|>
    <menu.general>
      <AuToolbar class="au-o-box" @size="large" as |Group|>
        <Group class="au-c-toolbar__group--vertical">
          <AuHeading @skin="2">
            {{t 'inbox.irgArchive.pageTitle'}}
          </AuHeading>
          <h2>{{t 'inbox.irgArchive.pageSubTitle'}}</h2>
        </Group>
        <Group class="au-c-toolbar__group--center">
          <AuInput @icon="search" @iconAlignment="right" @width="block" @value={{this.searchValue}} placeholder={{t 'inbox.irgArchive.searchPlaceholder'}} {{on "input" (perform this.updateFilter)}}/>
        </Group>
      </AuToolbar>
    </menu.general>
  </table.menu>
  <table.content as |c|>
    <c.header>
      <AuDataTableThSortable @field="currentVersion.title" @currentSorting={{this.sort}} @label={{t 'inbox.irgArchive.titleLabel'}} />
      <AuDataTableThSortable @field="currentVersion.type.label" @currentSorting={{this.sort}} @label={{t 'inbox.irgArchive.typeLabel'}} />
      <AuDataTableThSortable @field ="currentVersion.identifier" @currentSorting={{this.sort}} @label={{t 'inbox.irgArchive.identifierLabel'}} />
    </c.header>
    <c.body as |container|>
      <td>
        <AuLink @route="irg-archive.show" @model={{container.id}}>{{container.currentVersion.title}}</AuLink>
      </td>
      <td>
        {{container.currentVersion.type.label}}
      </td>
      <td>
        {{container.currentVersion.identifier}}
      </td>
    </c.body>
  </table.content>
</AuDataTable>
