<AuDataTable @content={{this.model}} @isLoading={{this.isLoadingModel}} @noDataMessage="Geen zittingen" @sort={{this.sort}} @page={{this.page}} @size={{this.size}} @class="container-flex--contain" as |table|>
  <table.menu as |menu|>
    <menu.general>
      <AuToolbar @size="large">
        <AuToolbarGroup>
          <AuHeading @skin="2">
            Zittingen
          </AuHeading>
        </AuToolbarGroup>
        <AuToolbarGroup class="au-c-toolbar__group--search">
          {{#unless this.readOnly}}
            <LinkTo @route="inbox.meetings.new" class="au-c-button">
              {{t "inbox.meetings.newMeeting"}}
            </LinkTo>
          {{/unless}}
        </AuToolbarGroup>
      </AuToolbar>
    </menu.general>
  </table.menu>
  <table.content as |c|>
    <c.header>
      <th><span class="au-c-data-table__header-title au-c-data-table__header-title--sortable">Zitting</span></th>
      <AuDataTableThSortable @field="bestuursorgaan.isTijdsspecialisatieVan.naam" @currentSorting={{this.sort}} @label="Bestuursorgaan" />
      <AuDataTableThSortable @field="geplandeStart" @currentSorting={{this.sort}} @label="Tijdstip" />
      <AuDataTableThSortable @field="opLocatie" @currentSorting={{this.sort}} @label="Locatie" />
    </c.header>
    <c.body as |meeting|>
      <td>
        <LinkTo @route="meetings.edit" @model={{meeting.id}} class="au-c-link">Zitting van {{meeting.bestuursorgaan.isTijdsspecialisatieVan.naam}} op {{moment-format meeting.geplandeStart "DD/MM/YYYY HH:mm"}}</LinkTo>
      </td>
      <td>{{meeting.bestuursorgaan.isTijdsspecialisatieVan.naam}}</td>
      <td>{{moment-format meeting.geplandeStart "DD/MM/YYYY HH:mm"}}</td>
      <td>
        {{meeting.opLocatie}}
      </td>
    </c.body>
  </table.content>
</AuDataTable>

{{outlet}}
