{{page-title (t 'inbox.meetings.page-title')}}
<AuDataTable
  @content={{this.model}}
  @isLoading={{this.isLoadingModel}}
  @noDataMessage={{t 'inbox.meetings.no-data-message'}}
  @sort={{this.sort}}
  @page={{this.page}}
  @size={{this.pageSize}}
  as |table|
>
  <table.menu as |menu|>
    <menu.general>
      <AuToolbar class='au-o-box' @size='large' as |Group|>
        <Group>
          <AuHeading @skin='2'>
            {{t 'inbox.meetings.page-title'}}
          </AuHeading>
        </Group>
        <Group class='au-c-toolbar__group--center au-u-hide-on-print'>
          {{#unless (or this.readOnly this.mayCreateInaugurationMeeting.isLoading)}}
            <AuDropdown
              @skin='primary'
              @title={{t 'inbox.meetings.new.title'}}
              @alignment='left'
              @icon='chevron-down'
              role='menu'
            >
              <AuLink @route='inbox.meetings.new' role='menuitem'>
                {{t 'inbox.meetings.new.common-meeting.title'}}
              </AuLink>
              {{#if this.mayCreateInaugurationMeeting.value}}
                <AuLink @route='inbox.meetings.new-inauguration' role='menuitem'>
                  {{t 'inbox.meetings.new.inauguration-meeting.title'}}
                </AuLink>
              {{/if}}
            </AuDropdown>
          {{/unless}}
        </Group>
      </AuToolbar>
    </menu.general>
  </table.menu>
  <table.content as |c|>
    <c.header>
      <th><span
          class='au-c-data-table__header-title au-c-data-table__header-title--sortable'
        >{{t 'inbox.meetings.type'}}</span></th>
      <AuDataTableThSortable
        @field=':no-case:bestuursorgaan.isTijdsspecialisatieVan.naam'
        @currentSorting={{this.sort}}
        @label={{t 'inbox.meetings.administrative-body'}}
      />
      <AuDataTableThSortable
        @field='geplandeStart'
        @currentSorting={{this.sort}}
        @label={{t 'inbox.meetings.time'}}
      />
      <AuDataTableThSortable
        @field=':no-case:opLocatie'
        @currentSorting={{this.sort}}
        @label={{t 'inbox.meetings.location'}}
      />
    </c.header>
    <c.body as |meeting|>
      <td>
        <LinkTo @route='meetings.edit' @model={{meeting.id}} class='au-c-link'>
          {{#if (this.isInaugurationMeeting meeting)}}
            {{t 'inbox.meetings.inauguration-meeting'}}
          {{else}}
            {{t 'inbox.meetings.meeting-of'}}
          {{/if}}
          {{meeting.bestuursorgaan.isTijdsspecialisatieVan.naam}}
          {{t 'inbox.meetings.at'}}
          {{detailed-date meeting.geplandeStart}}</LinkTo>
      </td>
      <td>{{meeting.bestuursorgaan.isTijdsspecialisatieVan.naam}}</td>
      <td>{{detailed-date meeting.geplandeStart}}</td>
      <td>
        {{meeting.opLocatie}}
      </td>
    </c.body>
  </table.content>
</AuDataTable>

{{outlet}}