<AuDataTable @content={{model}} @isLoading={{isLoadingModel}} @noDataMessage="Geen documenten" @sort={{sort}} @page={{page}} @size={{size}} @class="container-flex--contain" as |t|>
  <t.menu as |menu|>
    <menu.general>
      <AuToolbar @size="large">
        <AuToolbarGroup>
          <AuHeading @skin="2">
            Notulen zitting
          </AuHeading>
        </AuToolbarGroup>
        <AuToolbarGroup class="au-c-toolbar__group--search">
          <TextSearch @filter={{title}} @placeholder="Zoek titel notulen" class="au-u-1-2@small" />
          <AuButton {{action 'openNewDocument'}}>
            Nieuwe zitting
          </AuButton>
        </AuToolbarGroup>
      </AuToolbar>
      {{!-- <ul class="bullet-list">
        {{#each (await currentSession.roles) as |role|}}<li>{{role}}, </li>{{/each}}
      </ul> --}}
      {{!-- <WuButtonGroup> --}}
        {{!-- <LinkTo @route="inbox.archive" class="button button--alt">Bekijk archief notulen</LinkTo> --}}
        {{!-- <LinkTo @route="imported-documents.new" class="button button--alt">Importeer html bestand</LinkTo> --}}
        {{!-- <WuButton @isNarrow={{true}} @onClick={{action "openNewDocument"}}>Nieuwe zitting</WuButton> --}}
      {{!-- </WuButtonGroup> --}}
    </menu.general>
  </t.menu>
  <t.content as |c|>
    <c.header>
      <!-- <th class="data-table__header-title"><!-- Starred </th> -->
      <AuDataTableThSortable @field="geplandeStart" @currentSorting={{sort}} @label="Start" />
      <AuDataTableThSortable @field="gestartOpTijdstip" @currentSorting={{sort}} @label="gestartOpTijdstip" />
      <AuDataTableThSortable @field="geeindigdOpTijdstip" @currentSorting={{sort}} @label="geeindigdOpTijdstip" />
      <AuDataTableThSortable @field="opLocatie" @currentSorting={{sort}} @label="opLocatie" />
    </c.header>
    <c.body as |container|>
      <td><LinkTo @route="meetings.edit" @model={{container.id}} class="au-c-link">{{container.geplandeStart}}</LinkTo></td>
      <td>
        {{container-gestartOpTijdstip}}
      </td>
      <td>
        {{container.geeindigdOpTijdstip}}
      </td>
      <td>
        {{container.opLocatie}}
      </td>
    </c.body>
  </t.content>
</AuDataTable>

{{outlet}}
