{{page-title (t "inbox.regulatoryStatements.pageTitle")}}
<SnippetsNotifier/>

<AuDataTable @content={{this.model}}
             @isLoading={{this.isLoadingModel}}
             @noDataMessage={{t 'inbox.regulatoryStatements.noDataMessage'}}
             @sort={{this.sort}}
             @page={{this.page}}
             @size={{this.pageSize}}
             as |table|>
  <table.menu as |menu|>
    <menu.general>
      <AuToolbar class="au-o-box" @size="large" as |Group|>
        <Group>
          <AuHeading @skin="2">
            {{t 'inbox.regulatoryStatements.pageTitle'}}
          </AuHeading>
        </Group>
        <Group class="au-c-toolbar__group--center">
          <AuInput
            {{on "input" (perform this.updateFilter)}}
            @icon="search"
            @iconAlignment="right"
            @value={{this.searchValue}}
            placeholder={{t 'inbox.regulatoryStatements.searchPlaceholder'}}
          />
          {{#unless this.readOnly}}
            <AuLink
              @route="inbox.regulatory-statements.new"
              @skin="button" @icon="add" @iconAlignment="left">
              {{t "inbox.regulatoryStatements.new.title"}}
            </AuLink>
          {{/unless}}
        </Group>
      </AuToolbar>
    </menu.general>
  </table.menu>
  <table.content as |c|>
    <c.header>
      <AuDataTableThSortable @field=":no-case:currentVersion.title" @currentSorting={{this.sort}} @label={{t
        'inbox.regulatoryStatements.titleLabel'}} />
      <AuDataTableThSortable @field="currentVersion.updatedOn" @currentSorting={{this.sort}} @label={{t
        'inbox.regulatoryStatements.updatedOnLabel'}} />
      <AuDataTableThSortable @field=":no-case:currentVersion.status.label" @currentSorting={{this.sort}} @label={{t
        'inbox.regulatoryStatements.statusLabel'}} />
      <th/>
    </c.header>
    <c.body as |container|>
      {{#let container.currentVersion as |row|}}
        <td>
          <RegulatoryStatementLink @documentContainer={{container}} @readOnly={{this.readOnly}}/>
        </td>
        <td>
          {{human-friendly-date row.updatedOn}}
          <br>
        </td>
        <td>
          <RegulatoryStatementStatusPill @container={{container}} />
        </td>
        <td>
          <LinkedAgendapointsButton @document={{container}}/>
        </td>
      {{/let}}
    </c.body>
  </table.content>
</AuDataTable>
{{outlet}}