<AuDataTable @content={{this.model}} @isLoading={{this.isLoadingModel}} @noDataMessage="Geen documenten" @sort={{this.sort}} @page={{this.page}} @size={{this.size}} as |t|>
   <t.menu as |menu|>
    <menu.general>
      <AuToolbar @size="large">
        <AuToolbarGroup>
          <AuHeading @skin="2">
            Prullenbak
          </AuHeading>
        </AuToolbarGroup>
        <AuToolbarGroup class="au-c-toolbar__group--search">
          <TextSearch @filter={{this.title}} @placeholder="Zoek naar zitting" class="au-u-1-2@small" />
        </AuToolbarGroup>
      </AuToolbar>
    </menu.general>
    <menu.selected as |selection datatable|>
      <AuToolbar @size="large" class="au-u-padding-bottom-none">
        <AuToolbarGroup>
          <AuHeading @skin="2">
            Prullenbak
          </AuHeading>
        </AuToolbarGroup>
        <AuToolbarGroup class="au-c-toolbar__group--search">
          <TextSearch @filter={{this.title}} @placeholder="Zoek naar zitting" class="au-u-1-2@small" />
        </AuToolbarGroup>
      </AuToolbar>
      <AuToolbar @size="large">
        <AuToolbarGroup data-table-action>
          <AuButton @skin="secondary" {{on "click" (fn this.moveToConcepts selection datatable)}}>
            <AuIcon @icon="redo" @alignment="left" />
            Herstel geselecteerde documenten
          </AuButton>
        </AuToolbarGroup>
      </AuToolbar>
    </menu.selected>
   </t.menu>
   <t.content as |c|>
    <c.header>
      <AuDataTableThSortable @field="currentVersion.title" @currentSorting={{this.sort}} @label="Titel" />
      <AuDataTableThSortable @field="currentVersion.createdOn" @currentSorting={{this.sort}} @label="Aangemaakt" />
      <AuDataTableThSortable @field="currentVersion.updatedOn" @currentSorting={{this.sort}} @label="Aangepast" />
    </c.header>
    <c.body as |container|>
      {{#with container.currentVersion as |row|}}
        <td>{{row.title}}</td>
        <td>{{moment-calendar row.updatedOn}}</td>
        <td>{{moment-calendar row.createdOn}}</td>
      {{/with}}
    </c.body>
  </t.content>
</AuDataTable>

