<DataTable @content={{model}} @isLoading={{isLoadingModel}} @noDataMessage="Geen documenten" @sort={{sort}} @page={{page}} @size={{size}} @class="container-flex--contain" as |t|>
  <t.menu as |menu|>
    <menu.general>
	    <div class="u-padding--round--tiny">
	      <div class="grid">
	        <div class="col--7-12 u-wide-on-print">
	          <h1 class="h4 u-spacer--tiny">Prullenmand</h1>
            <TextSearch @filter={{title}} @placeholder="Zoek naar zitting" />
{{!-- 	          <ul class="bullet-list">
	            {{#each (await currentSession.roles) as |role|}}<li>{{role}}, </li>{{/each}}
	          </ul> --}}
	        </div>
	      </div>
	    </div>
    </menu.general>
    <menu.selected as |selection datatable|>
	    <div class="u-padding--round--tiny">
	      <div class="grid">
	        <div class="col--7-12">
	          <h1 class="h1 u-spacer--none">Prullenmand {{get (await currentSession.group) 'classificatie.label'}} {{get (await currentSession.group) 'naam'}}</h1>
	          <ul class="data-table__actions__list u-spacer--top--tiny">
	            <li class="data-table__action" data-table-action>
	              <button class="data-table__action__toggle data-table__action__toggle--contract-xs" {{action "moveToConcepts" selection datatable}}>
	                <i class="fa fa-rotate-left" aria-hidden="true"></i>
	                <span>Verplaats selectie terug naar ontwerpen</span>
	              </button>
	            </li>
	          </ul>
{{!-- 	          <ul class="bullet-list">
	            {{#each (await currentSession.roles) as |role|}}<li>{{role}}, </li>{{/each}}
	          </ul> --}}
	        </div>
	        <div class="col--5-12">
	          <div class="search-box u-spacer--tb--tiny">
	            <TextSearch @filter={{title}} @placeholder="Zoek naar zitting" />
	          </div>
	        </div>
	      </div>
	    </div>
    </menu.selected>
  </t.menu>
  <t.content as |c|>
    <c.header>
      <!-- <th class="data-table__header-title"><!-- Starred </th> -->
      <ThSortable @field="currentVersion.title" @currentSorting={{sort}} @label="Zitting" @class="data-table__header-title" />
      <ThSortable @field="currentVersion.createdOn" @currentSorting={{sort}} @label="Aangemaakt" @class="data-table__header-title" />
      <ThSortable @field="currentVersion.updatedOn" @currentSorting={{sort}} @label="Aangepast" @class="data-table__header-title" />
      <ThSortable @field="status" @currentSorting={{sort}} @label="Status" @class="data-table__header-title u-align-right" />
    </c.header>
    <c.body as |container|>
      {{#with container.currentVersion as |row|}}
        <td>{{row.title}}</td>
        <td>{{moment-calendar row.updatedOn}}</td>
        <td>{{moment-calendar row.createdOn}}</td>
      {{/with}}
      <td class="u-align-right"><EditorStatusPill @status={{await container.status}} /></td>
    </c.body>
  </t.content>
</DataTable>
