<AuDataTable @content={{model}} @isLoading={{isLoadingModel}} @noDataMessage="Geen documenten" @sort={{sort}} @page={{page}} @size={{size}} as |t|>
  <t.menu as |menu|>
    <menu.general>
      <AuToolbar class="au-o-box">
        <AuHeading @skin="2">
          Prullenmand
        </AuHeading>
        <TextSearch @filter={{title}} @placeholder="Zoek naar zitting" class="au-u-1-2@small" />
      </AuToolbar>
      {{!-- <ul class="bullet-list">
        {{#each (await currentSession.roles) as |role|}}<li>{{role}}, </li>{{/each}}
      </ul> --}}
    </menu.general>
    <menu.selected as |selection datatable|>
      <AuToolbar class="au-o-box au-u-padding-bottom-none">
        <AuHeading @skin="2">
          Prullenmand
        </AuHeading>
        <TextSearch @filter={{title}} @placeholder="Zoek naar zitting" class="au-u-1-2@small" />
      </AuToolbar>
      <div class="au-o-box">
        <ul class="data-table__actions__list">
          <li class="data-table__action au-u-margin-bottom-none" data-table-action>
            <AuButton @skin="secondary" {{action "moveToConcepts" selection datatable}}>
              <AuIcon @icon="redo" @alignment="left" />
              Herstel geselecteerde documenten
            </AuButton>
          </li>
        </ul>
      </div>
      {{!-- <ul class="bullet-list">
        {{#each (await currentSession.roles) as |role|}}<li>{{role}}, </li>{{/each}}
      </ul> --}}
    </menu.selected>
  </t.menu>
  <t.content as |c|>
    <c.header>
      <!-- <th class="data-table__header-title"><!-- Starred </th> -->
      <AuDataTableThSortable @field="currentVersion.title" @currentSorting={{sort}} @label="Zitting" />
      <AuDataTableThSortable @field="currentVersion.createdOn" @currentSorting={{sort}} @label="Aangemaakt" />
      <AuDataTableThSortable @field="currentVersion.updatedOn" @currentSorting={{sort}} @label="Aangepast" />
      <AuDataTableThSortable @field="status" @currentSorting={{sort}} @label="Status" />
    </c.header>
    <c.body as |container|>
      {{#with container.currentVersion as |row|}}
        <td>{{row.title}}</td>
        <td>{{moment-calendar row.updatedOn}}</td>
        <td>{{moment-calendar row.createdOn}}</td>
      {{/with}}
      <td><EditorStatusPill @status={{await container.status}} /></td>
    </c.body>
  </t.content>
</AuDataTable>
