{{#data-table content=model isLoading=isLoadingModel noDataMessage="Geen documenten"
     sort=sort page=page size=size class="container-flex--contain" as |t|}}
  {{#t.menu as |menu|}}
    {{#menu.general}}
	    <div class="u-padding--round--tiny">
	      <div class="grid">
	        <div class="col--7-12">
	          <h1 class="h1 u-spacer--none">Prullenbak notulen {{get (await currentSession.group) 'classificatie.label'}} {{get (await currentSession.group) 'naam'}}</h1>
{{!-- 	          <ul class="bullet-list">
	            {{#each (await currentSession.roles) as |role|}}<li>{{role}}, </li>{{/each}}
	          </ul> --}}
	        </div>
	        <div class="col--5-12">
	          <div class="search-box u-spacer--top--tiny">
	            {{text-search filter=title placeholder="Zoek naar zitting"}}
	          </div>
	        </div>
	      </div>
	    </div>
    {{/menu.general}}
    {{#menu.selected as |selection datatable|}}
	    <div class="u-padding--round--tiny">
	      <div class="grid">
	        <div class="col--7-12">
	          <h1 class="h1 u-spacer--none">Prullenbak notulen {{get (await currentSession.group) 'classificatie.label'}} {{get (await currentSession.group) 'naam'}}</h1>
	          <ul class="data-table__actions__list u-spacer--top--tiny">
	            <li class="data-table__action" data-table-action="">
	              <button class="data-table__action__toggle data-table__action__toggle--contract-xs" {{action "moveToConcepts" selection datatable}}>
	                <i class="fa fa-rotate-left" aria-hidden="true"></i>
	                <span>Verplaats selectie terug naar ontwerpen</span>
	              </button>
	            </li>
	          </ul>
{{!-- 	          <ul class="bullet-list">
	            {{#each (await currentSession.roles) as |role|}}<li>{{role}}, </li>{{/each}}
	          </ul> --}}
	        </div>
	        <div class="col--5-12">
	          <div class="search-box u-spacer--tb--tiny">
	            {{text-search filter=title placeholder="Zoek naar zitting"}}
	          </div>
	        </div>
	      </div>
	    </div>
    {{/menu.selected}}
  {{/t.menu}}
  {{#t.content as |c|}}
    {{#c.header}}
      <!-- <th class="data-table__header-title"><!-- Starred </th> -->
      {{th-sortable field='title' currentSorting=sort label='Zitting' class="data-table__header-title"}}
      {{th-sortable field='status' currentSorting=sort label='Status' class="data-table__header-title u-align-right"}}
    {{/c.header}}
    {{#c.body as |row|}}
<!--       <td>
        <label class="checkbox checkbox--empty checkbox--star" {{action "toggleStar" row}}>
          <input type="checkbox" class="checkbox__toggle" name="star" data-table-checkbox="" checked={{row.starred}}>
          <span><i class="fa fa-star"></i></span>
          <span class="u-visually-hidden">Voeg toe als favoriet</span>
        </label>
      </td> -->
      <td>{{row.title}}</td>
      <td>{{moment-calendar row.updatedOn}}</td>
      <td>{{moment-calendar row.createdOn}}</td>
      <td class="u-align-right">{{editor-status-pill status=(await row.status)}}</td>
    {{/c.body}}
  {{/t.content}}
{{/data-table}}
