{{page-title (t "inbox.trash.pageTitle")}}
<AuDataTable @content={{this.model}} @isLoading={{this.isLoadingModel}} @noDataMessage={{t 'inbox.trash.noDataMessage'}} @sort={{this.sort}} @page={{this.page}} @size={{this.size}} as |table|>
   <table.menu as |menu|>
    <menu.general>
      <AuToolbar class="au-o-box" @size="large">
        <AuToolbarGroup>
          <AuHeading @skin="2">
            {{t 'inbox.trash.pageTitle'}}
          </AuHeading>
        </AuToolbarGroup>
        <AuToolbarGroup class="au-c-toolbar__group--center">
          <AuDataTableTextSearch @wait={{2000}} @filter={{this.title}} @placeholder={{t 'inbox.trash.searchPlaceholder'}} />
        </AuToolbarGroup>
      </AuToolbar>
    </menu.general>
    <menu.selected as |selection datatable|>
      <AuToolbar @size="large" class="au-u-padding-bottom-none">
        <AuToolbarGroup class="au-c-toolbar__group--center">
          <AuHeading @skin="2">
           {{t 'inbox.trash.pageTitle'}}
          </AuHeading>
        </AuToolbarGroup>
        <AuToolbarGroup class="au-c-toolbar__group--center">
          <AuDataTableTextSearch @wait={{2000}} @filter={{this.title}} @placeholder={{t 'inbox.trash.searchPlaceholder'}} />
        </AuToolbarGroup>
      </AuToolbar>
      <AuToolbar @size="large">
        <AuToolbarGroup data-table-action>
          <AuButton @skin="secondary" {{on "click" (fn this.moveToConcepts selection datatable)}}>
            <AuIcon @icon="redo" @alignment="left" />
            {{t 'inbox.trash.restoreMessage'}}
          </AuButton>
        </AuToolbarGroup>
      </AuToolbar>
    </menu.selected>
   </table.menu>
   <table.content as |c|>
    <c.header>
      <AuDataTableThSortable @field="currentVersion.title" @currentSorting={{this.sort}} @label="Titel" />
      <AuDataTableThSortable @field="currentVersion.createdOn" @currentSorting={{this.sort}} @label="Aangemaakt" />
      <AuDataTableThSortable @field="currentVersion.updatedOn" @currentSorting={{this.sort}} @label="Aangepast" />
    </c.header>
    <c.body as |container|>
      {{#let container.currentVersion as |row|}}
        <td>{{row.title}}</td>
        <td>{{human-friendly-date row.updatedOn}}</td>
        <td>{{human-friendly-date row.createdOn}}</td>
      {{/let}}
    </c.body>
  </table.content>
</AuDataTable>

