<div class="modal-dialog__header">
  <div class="grid">
    <div class="col--10-12">
      <strong>{{info.label}}</strong>
    </div>
    <div class="col--2-12 u-align-right">
      <a class="link--icon--close" href="#"> {{!-- TODO: action close {{action "remove" result.origModel}} --}}
        <span class="u-visually-hidden">Venster sluiten</span>
      </a>
    </div>
  </div>
</div>
<div class="modal-dialog__content modal-dialog__content--sectioned">
  {{#if getBestuursorganen.isRunning}}
    <p class="loader"><span class="u-visually-hidden">Aan het laden</span></p>
  {{else}}
    <ul class="link-list link-list--bordered">
      {{#each bestuursorganenProperties as |bp| }}
        <li class="link-list__item">
          <a class="" onclick={{action 'refer' bp}}>
            {{!-- Voeg --}}
            {{bp.b.isTijdsspecialisatieVan.naam}}
            (periode: {{moment-format bp.b.bindingStart 'DD/MM/YYYY'}} - {{#if bp.b.bindingEinde}}{{moment-format bp.b.bindingEinde 'DD/MM/YYYY'}}{{else}}nvt.{{/if}})
            {{#if displayProperties}}
              als {{bp.p.label}}
            {{/if}}
          </a>
          {{!--             {{#wu-button-group}}
          {{wu-button label="Voeg toe" size="small" isNarrow=true  commandLocation="below" onClick=(action "refer" bp)}}
          {{wu-button label="Voeg uitgebreid toe" size="small" isNarrow=true  commandLocation="below" onClick=(action "extend" bp)}}
          {{/wu-button-group}} --}}
        </li>
      {{/each}}
    </ul>
  {{/if}}
</div>


<div class="modal-dialog__footer">
  {{#wu-button-group}}
    {{wu-button
      label="Annuleer (todo)"
      class="button--alt"
      isNarrow=true
      onClick=null}} {{!-- TODO: action close {{action "remove" result.origModel}} --}}
    <button class="button button--link button--link--dark button--small">Verwijder suggestie (todo)</button>
  {{/wu-button-group}} {{!-- TODO: action close {{action "remove" result.origModel}} --}}
</div>
{{yield}}
