<div class="modal-dialog__header">
  <div class="grid">
    <div class="col--10-12">
      <strong>{{info.label}}</strong>
    </div>
{{!--     <div class="col--2-12 u-align-right">
      <a class="link--icon--close" href="#"> TODO: action close {{action "remove" result.origModel}}
        <span class="u-visually-hidden">Venster sluiten</span>
      </a>
    </div> --}}
  </div>
</div>

<div class="modal-dialog__content modal-dialog__content--sectioned">
  {{#if getBestuursorganen.isRunning}}
    <div class="u-padding--round">
      <p class="loader"><span class="u-visually-hidden">Aan het laden</span></p>
    </div>
  {{else if bestuursorganenProperties.length}}
    <ul class="link-list link-list--bordered">
      {{#each bestuursorganenProperties as |bp| }}

        <li class="link-list__item link-list__item--sidenotes">
          <a class="" onclick={{action 'refer' bp}}>
            {{bp.b.isTijdsspecialisatieVan.naam}}

            <span class="link-list__item__sidenote uppercase">
              {{#if bp.b.bindingEinde}}
                Bestuursperiode: van {{moment-format bp.b.bindingStart 'DD/MM/YYYY'}} - {{moment-format bp.b.bindingEinde 'DD/MM/YYYY'}}
              {{else}}
                Bestuursperiode: vanaf {{moment-format bp.b.bindingStart 'DD/MM/YYYY'}}
              {{/if}}
            </span>
          </a>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <div class="u-padding--round--small">
      <p>Geen besturen gevonden. Vernieuw deze pagina, of kijk of uw internetconnectie in orde is.</p>
      <br>
      <p>Moest dit probleem aanhouden, neem contact op met <a href="mailto:Gelinkt-Notuleren@vlaanderen.be">Gelinkt-Notuleren@vlaanderen.be</a>.</p>
    </div>
  {{/if}}
</div>

{{!-- <div class="modal-dialog__footer">
  {{#wu-button-group}}
    {{wu-button
      label="Annuleer (todo)"
      class="button--alt"
      isNarrow=true
      onClick=null}}
    <button class="button button--link button--link--dark button--small">Verwijder suggestie (todo)</button>
  {{/wu-button-group}}
</div> --}}
{{yield}}
