{{#if edit}}
  <div class="u-spacer--round--tiny">
    <div class="grid">
      <div class="col--8-12">
        <h2 class="h5">Beheer de oude mandaten van  {{currentVerkozene.persoon.gebruikteVoornaam}}  {{currentVerkozene.persoon.achternaam}}</h2>
      </div>
      <div class="col--4-12 u-align--right">
        {{#wu-button class="button--alt button--small button--narrow" onClick=(action 'addOldMandaat' mandaat)}}<i class="vi vi-plus"></i> Voeg afgelopen mandaat toe{{/wu-button}}
      </div>
    </div>
  </div>
  <table class="data-table data-table--lined data-table--zebra">
    <thead>
      <tr>
        <th>Start</th>
        <th>Einde</th>
        <th>Acties</th>
      </tr>
    </thead>
    {{#each currentVerkozene.oudeMandaten as |mandaat|}}
      <tr>
        <td>
          {{wu-datepicker value=mandaat.start}}
        </td>
        <td>
          {{wu-datepicker value=mandaat.einde}}
        </td>
        <td>
          {{#wu-button class="button--alt button--small" onClick=(action 'removeOldMandaat' mandaat)}}<i class="vi vi-cross"></i> Verwijder mandaat{{/wu-button}}
        </td>
      </tr>
    {{else}}
    <tr>
      <td colspan="3" class="u-align-center">
        <p>Er werden nog geen afgelopen mandaten toegevoegd.</p>
      </td>
    </tr>
    {{/each}}
    <tr>
      <td colspan="3" class="u-align-center">
        {{#wu-button class="button--alt button--small button--narrow" onClick=(action 'addOldMandaat' mandaat)}}<i class="vi vi-plus"></i> Voeg afgelopen mandaat toe{{/wu-button}}
      </td>
    </tr>
  </table>
  <br>
  {{#wu-button onClick=(action 'closeEdit')}}Bewaar wijzigingen {{/wu-button}} (moet in footer)

{{else}}
    <table class="data-table data-table--lined data-table--zebra data-table--tight">
      <thead>
        <tr>
          <th>Rangorde</th>
          <th>Voornaam &amp; Familienaam</th>
          <th class="data-table--nested">
            <table class="data-table data-table--lined data-table--zebra data-table--tight">
              <thead>
                <tr>
                  <th colspan="2">Afgelopen mandaten</th>
                </tr>
                <tr>
                  <th style="max-width: 5rem;">Begin</th>
                  <th style="max-width: 5rem;">Einde</th>
                </tr>
              </thead>
            </table>
          </th>
          <th>Stemmen</th>
          <th>Lijst</th>
          <th>Acties</th>
        </tr>
      </thead>
      <tbody>
        {{#each verkozenen as |verkozene|}}
          {{#editor-plugins/verkozene-row verkozene=verkozene bestuursorgaan=bestuursorgaan as |row|}}
            <tr>
              <td>
                <strong>{{verkozene.rangorde}}</strong>
                {{#wu-link-button class="button--link button--tiny" isNarrow=true onClick=(action 'up' verkozene)}}
                  <i class="vi vi-burger-alt button__icon vi-u-180deg vi-u-xs"></i>
                {{/wu-link-button}}
                {{#wu-link-button class="button--link button--tiny" isNarrow=true onClick=(action 'down' verkozene)}}
                  <i class="vi vi-burger-alt button__icon vi-u-xs"></i>
                {{/wu-link-button}}
              </td>
              <td><strong>{{verkozene.persoon.gebruikteVoornaam}} {{verkozene.persoon.achternaam}}</strong></td>
              <td class="data-table--nested">
                <table>
                  <tbody>
                    {{#each verkozene.oudeMandaten as |mandaat|}}
                      <tr>
                        <td>
                          {{mandaat.start}}
                        </td>
                        <td>
                          {{mandaat.einde}}
                        </td>
                      </tr>
                    {{/each}}
                  </tbody>
                </table>
              </td>
              <td>{{row.resultaat.aantalNaamstemmen}}</td>
              <td>{{row.lijst.lijstnaam}}</td>
              <td>
                {{#wu-button-group class="u-spacer--tiny"}}
                  {{#wu-button size="small" isNarrow=true label="Bewerk" onClick=(action 'edit' verkozene)}}
                    <i class="vi vi-edit"></i> Bewerk afgelopen mandaten
                  {{/wu-button}}
                  {{#wu-button size="small" class="button--alt" isNarrow=true onClick=(action 'remove' verkozene)}}
                    <i class="vi vi-cross"></i> Verwijder raadslid
                  {{/wu-button}}
                {{/wu-button-group}}

                {{!-- {{#wu-button-group}} --}}
                  {{!-- {{#wu-link-button class="button--link button--link--dark button--small" isNarrow=true onClick=(action 'up' verkozene)}}
                    <i class="vi vi-burger-alt vi-u-180deg vi-u-xs"></i> Hoger in rang
                  {{/wu-link-button}}
                  {{#wu-link-button class="button--link button--link--dark button--small" isNarrow=true onClick=(action 'down' verkozene)}}
                    <i class="vi vi-burger-alt vi-u-xs"></i> Lager in rang
                  {{/wu-link-button}} --}}
                  {{!-- <a class="button--link" isNarrow=true  {{action "down" verkozene}}>
                    <i class="vi vi-burger-alt vi-u-xs"></i> Lager in rang
                  </a>
                  <a class="button--link" isNarrow=true  {{action "up" verkozene}}>
                    <i class="vi vi-burger-alt vi-u-180deg vi-u-xs"></i> Hoger in rang
                  </a> --}}
                {{!-- {{/wu-button-group}} --}}
              </td>
            </tr>
          {{/editor-plugins/verkozene-row}}
        {{else}}
          <td colspan="4">Er werden geen effectief verkozenen gevonden</td>
        {{/each}}
      </tbody>
    </table>
    {{#wu-button onClick=(action 'save')}}opslaan{{/wu-button}}
{{/if}}
<div class="output" style="display:none">
  <table class="data-table data-table--lined data-table--zebra data-table--tight">
    <thead>
      <tr>
        <th>Rang</th>
        <th>Voornaam &amp; Familienaam</th>
        <th>Begin mandaat</th>
        <th>Einde mandaat</th>
        <th>Stemmen</th>
        <th>Lijst</th>
        <th>Acties</th>
      </tr>
    </thead>
    <tbody>
      {{#each verkozenen as |verkozene|}}
        {{#editor-plugins/verkozene-row verkozene=verkozene bestuursorgaan=bestuursorgaan as |row|}}
          <tr>
            <td>
              {{verkozene.rangorde}}
            </td>
            <td>{{verkozene.persoon.gebruikteVoornaam}} {{verkozene.persoon.achternaam}}</td>
            <td>
              {{#each verkozene.oudeMandaten as |mandaat|}}
                {{mandaat.start}}
              {{/each}}
            </td>
            <td>
              {{#each verkozene.oudeMandaten as |mandaat|}}
                {{mandaat.einde}}
              {{/each}}
            </td>
            <td>{{row.resultaat.aantalNaamstemmen}}</td>
            <td>{{row.lijst.lijstnaam}}</td>
            <td>
            </td>
          </tr>
        {{/editor-plugins/verkozene-row}}
      {{/each}}
    </tbody>
  </table>
</div>
