<ul class='au-c-list-divider au-c-details-list'>
  {{#each @items as |item|}}
    <li class='au-c-list-divider__item au-c-details-list__item'>
      <span class='au-c-details-list__label'>{{item.label}}</span>
      <div class='au-c-details-list__value'>
        {{#if item.value}}
          <strong class='au-c-details-list__value-text'>{{item.value}}</strong>
        {{/if}}
        {{#if item.pill}}
          <AuPill
            @skin={{item.pill.skin}}
            @draft={{item.pill.draft}}
            @icon={{item.pill.icon}}
            @iconAlignment='left'
          >
            {{item.pill.text}}
          </AuPill>
        {{/if}}
      </div>
    </li>
  {{/each}}
</ul>