<div class="grid">
  <div class="col--10-12">
    <h3 class="h5 toggle toggle--arrow-down js-accordion__toggle" onClick={{action 'toggleOpen'}}>{{tasklistSolution.tasklist.name}}</h3>
  </div>
  <div class="col--2-12 u-align--right">
    <WuLinkButton @class="button--link button--tiny" @isNarrow={{true}} @onClick={{action "moveUp"}}>
      <i class="vi vi-burger-alt button__icon vi-u-180deg vi-u-xs"></i>
    </WuLinkButton>
    <WuLinkButton @class="button--link button--tiny" @isNarrow={{true}} @onClick={{action "moveDown"}}>
      <i class="vi vi-burger-alt button__icon vi-u-xs"></i>
    </WuLinkButton>
  </div>
</div>
<ul class="tasklist-navigation__group accordion__content">
  {{#if setTaskSolutions.isRunning}}
    <p class="loader"><span class="u-visually-hidden">Aan het laden</span></p>
  {{else}}
    {{#each tasks as |task|}}
      <TaskSolution::Edit @tasklistSolution={{tasklistSolution}} @task={{task}} @class="tasklist-navigation__item" />
    {{/each}}
  {{/if}}
  {{yield}}
</ul>
