<p class="smaller uppercase text-fade">{{t "publishedResource.publishedByLabel"}}</p>
<p class="u-spacer--bottom--small">{{signature.gebruiker.voornaam}} {{signature.gebruiker.achternaam}} <br> {{moment-format signature.createdOn 'L LT'}}</p>

{{#if submissionSucceeded}}
	<p class="smaller uppercase text-fade">{{t "publishedResource.reportLabel"}}</p>
	<p class="">{{t "publishedResource.reportText"}} <br> {{signature.gebruiker.voornaam}} {{signature.gebruiker.achternaam}} <br> {{moment-format signature.createdOn 'L LT'}}</p>
	<p class="u-spacer--bottom--small text-fade smaller">{{t "publishedResource.notificationText"}} <a href="https://loket.lokaalbestuur.vlaanderen.be/" target="_blank">Loket voor Lokale Besturen</a>.</p>
{{else if submissionFailed}}
	<p class="smaller uppercase text-fade">{{t "publishedResource.reportLabel"}}</p>
	<div class="alert alert--error alert--tiny">
		<div class="alert__title">{{t "publishedResource.reportFailedText"}}</div>
		<div class="alert__message">
			<p>{{t "publishedResource.downloadText"}}<a href="https://loket.lokaalbestuur.vlaanderen.be/" target="_blank">Loket voor Lokale Besturen</a>.</p>
		</div>
	</div>
{{/if}}
<Signatures::BlockchainStatus @model={{signature}} />
