{{#wu-modal
     title=(concat "Bevestig ondertekenen van " name)
     dialog-class="modal-dialog--wide modal-dialog--full modal-dialog--sectioned"
     onClose=(action cancel)
     as |m|
}}
  {{#m.content isSectioned=true}}
  <div class="grid u-padding--top--small">
    <div class="col--7-12">
    	<div class="u-padding--rl--small">
	    	<h2 class="h6">Te ondertekenen document: {{name}}</h2>
    	</div>
    	<div class="editor__paper behandeling-preview">
        {{{mockDocument.body}}}
      </div>
    </div>
    <div class="col--5-12">
    	<div class="u-padding--rl--small">
	    	<h2 class="h6 u-spacer--bottom--small">Ondertekenen</h2>
				<div class="alert alert--tiny alert--warning">
					<div class="alert__icon" aria-hidden="true"></div>
					<div class="alert__content">
						<div class="alert__title">Ondertekenen is bindend en onomkeerbaar</div>
						<div class="alert__message">
							<p>Kijk de inhoud van het document goed na. Enkel bevoegde personen mogen het document ondertekenen.</p>
						</div>
					</div>
				</div>
	    	<h2 class="h6 u-spacer--bottom--small">Metagegevens bij ondertekenen</h2>
				<ul>
					<li>
						<label class="form__label">Ondertekenaar</label>
						<p class="u-spacer--bottom--tiny">{{get (await currentSession.user) "fullName"}}</p>
					</li>
					<li>
						<label class="form__label">Tijd</label>
						<p class="u-spacer--bottom--tiny smaller">Het moment waarop je op het ondertekenen bevestigd, wordt ook opgeslagen.</p>
					</li>
      		<li>
      			<label class="form__label">Hash</label>
      			<p class="u-spacer--bottom--tiny smaller">Bij het ondertekenen van een document, wordt ook de inhoud van het document omgezet in een unieke code of <em>hash</em>. Deze hash wordt bij elke versie van het document op het internet gevoegd, èn veilig bijgehouden op onze <a href="https://overheid.vlaanderen.be/informatie-vlaanderen/ontdek-onze-producten-en-diensten/blockchain-disruptieve-technologie" target="_blank"><i class="fa fa-link"></i> blockchain</a>. Zo kunnen we te allen tijde de echtheid van het document bevestigen.</p>
      		</li>
    		</ul>
      </div>
    </div>
  </div>
  {{/m.content}}
  <div class="modal-dialog__footer">
    {{#m.buttons as |b|}}
      {{b.button
          label=(concat "Bevestig ondertekenen van " name)
          onClick=(action confirm)
      }}
      {{b.button
          label="Annuleren"
          onClick=(action cancel)
          isLink=true
          icon="vi-cross"
      }}
    {{/m.buttons}}
  </div>
{{/wu-modal}}
