{{#wu-modal
     title=(concat "Uw " name " wordt ondertekend")
     dialog-class="modal-dialog--wide modal-dialog--sectioned"
     onClose=(action cancel)
     as |m|
}}
  {{#m.content isSectioned=true}}
    <div class="grid">
      <div class="col--6-12">
        {{{mockDocument.body}}}
      </div>
      <div class="col--6-12">
        <p>Waar wordt de {{name}} ondertekend</p>
        <p>
          De openbare {{name}} worden ondertekend gemaakt.
        </p>
        <p>U kan de onderteken niet omkeren.</p>
      </div>
    </div>
  {{/m.content}}
  <div class="modal-dialog__footer">
    {{#m.buttons as |b|}}
      {{b.button
          label=(concat "Onderteken " name)
          onClick=(action confirm)
      }}
      {{b.button
          label="Annuleren"
          onClick=(action cancel)
          isLink=true
          icon="vi-cross"
      }}
    {{/m.buttons}}
  </div>
{{/wu-modal}}
