{{#if this.initTask.lastSuccessful}}
  {{#component @step isOpen=@isOpen title=this.headerWithDefault pill=this.algemeneStatus icon=this.iconName as |step|}}
    <step.block @title={{this.title}} @pillColor={{this.voorVertoningStatus.color}}
                @pillName={{this.voorVertoningStatus.label}}>
      <div class="grid">
        <div class="col--10-12">
          {{#if hasBlock}}
            {{yield}}
          {{else}}
            {{{@mockDocument.body}}}
          {{/if}}
        </div>
      </div>
    </step.block>
    <step.block @title={{concat (t "timelineStep.signStepTitle") @name}} @pillColor={{this.handtekeningStatus.color}}
                @pillName={{this.handtekeningStatus.label}}>
      <p class="u-spacer--small text-light">{{t "timelineStep.signingRestrictionInfo"}}<a
              href="https://gelinkt-notuleren.vlaanderen.be/handleiding/#gebruikersbeheer"
              target="_blank">{{t "timelineStep.signingRestrictionRole"}}</a>{{t "timelineStep.signingRestrictionEnd"}}</p>
      <div class="u-background--gray-lightest u-padding--round--small u-spacer--tb--small">
        <div class="grid">
          {{#if (eq this.signaturesCount 2)}}
            {{#each @document.signedResources as |signature index|}}
              {{#if (eq index 0)}}
                <div class="col--5-12">
                  <p class="uppercase text-fade smaller">{{t "timelineStep.firstSignature"}}</p>
                  <Signatures::SignedResource @signature={{signature}} />
                </div>
              {{else}}
                <div class="col--5-12 push--1-12">
                  <p class="uppercase text-fade smaller">{{t "timelineStep.secondSignature"}}</p>
                  <Signatures::SignedResource @signature={{signature}} />
                </div>
              {{/if}}
            {{/each}}
          {{else if (eq this.signaturesCount 1)}}
            <div class="col--5-12">
              <p class="uppercase text-fade smaller">{{t "timelineStep.firstSignature"}}</p>
              <Signatures::SignedResource @signature={{@document.signedResources.firstObject}} />
            </div>
            <div class="col--5-12 push--1-12">
              <p class="uppercase text-fade smaller">{{t "timelineStep.secondSignature"}}</p>
              <WuButton @label={{t "timelineStep.signButtonLabel" name=@name}} @isNarrow={{true}} @class="u-spacer--top--tiny"
                        @onClick={{fn (mut this.showSigningModal) true}} @isLoading={{this.signDocument.isRunning}}
                        @disabled={{or (or (not this.currentSession.canSign) this.signDocument.isRunning)
                                       this.isSignedByCurrentUser}} />
            </div>
          {{else}} {{!-- No signatures placed --}}
            <div class="col--5-12">
              <p class="uppercase text-fade smaller">{{t "timelineStep.firstSignature"}}</p>
              <WuButton @label={{t "timelineStep.signButtonLabel" name=@name}} @class="u-spacer--top--tiny" @isNarrow={{true}}
                        @onClick={{fn (mut this.showSigningModal) true}} @isLoading={{this.signDocument.isRunning}}
                        @disabled={{or (not this.currentSession.canSign) this.signDocument.isRunning}} />
            </div>
            <div class="col--5-12 push--1-12">
              <p class="uppercase text-fade smaller">{{t "timelineStep.secondSignature"}}</p>
              <WuButton @label={{t "timelineStep.signButtonLabel" name=@name}} @class="u-spacer--top--tiny" @isNarrow={{true}}
                        @onClick={{fn (mut this.showSigningModal) true}} @isLoading={{this.signDocument.isRunning}}
                        @disabled={{true}} />
            </div>
          {{/if}}
          {{#if this.showSigningModal}}
            <Signatures::SignatureConfirmation @name={{@name}} @mockDocument={{@mockDocument}}
                                               @confirm={{perform this.signDocument @mockDocument.signedId}}
                                               @cancel={{fn (mut this.showSigningModal) false}} />
          {{/if}}
        </div>
      </div>
    </step.block>
    {{#if @print}}
      <step.block @title={{t "timelineStep.printButtonLabel" name=@name}} @pillName={{null}}>
        <p class="u-spacer--bottom--tiny text-light"></p>
        <div class="u-background--gray-lightest u-padding--round--small u-spacer--tb--small">
          <div class="grid">
            <div class="col--12-12">
              <WuButton @label={{t "timelineStep.printButtonLabel" name=@name}} @class="u-spacer--tb--tiny" @onClick={{fn this.print
                                                                                                   @document.id}}
                        @disabled={{not this.signaturesCount}} />
              <p class="smaller">{{t "timelineStep.secondPrintInfo"}}</p>
            </div>
          </div>
        </div>
      </step.block>
    {{/if}}
    <step.block @title={{t "timelineStep.publishButtonLabel" name=@name}} @pillColor={{if @document.publishedResource "primary-blue"}}
                @pillName={{if @document.publishedResource "Publiek" "Niet publiek"}}>
      <p class="u-spacer--bottom--tiny text-light">{{t "timelineStep.publishRestrictionInfo"}}<a
              href="https://gelinkt-notuleren.vlaanderen.be/handleiding/#gebruikersbeheer"
              target="_blank">{{t "timelineStep.publishRestrictionRole"}}</a>{{t "timelineStep.publishRestrictionEnd"}}</p>
      <div class="u-background--gray-lightest u-padding--round--small u-spacer--tb--small">
        <div class="grid">
          {{#if this.isPublished}}
            <div class="col--6-12">
              <Signatures::PublishedResource @signature={{@document.publishedResource}} />
            </div>
            <div class="col--6-12">
              <p class="smaller uppercase text-fade">{{t "timelineStep.linkPublish"}}</p>
              <p>
                <a href="https://publicatie.gelinkt-notuleren.vlaanderen.be/{{this.bestuurseenheid.naam}}/{{this.bestuurseenheid.classificatie.label}}"
                   target="_blank"
                   class="word-break--break-word">publicatie.gelinkt-notuleren.vlaanderen.be/{{this.bestuurseenheid.naam}}
                  /{{this.bestuurseenheid.classificatie.label}}</a></p>
              <p class="smaller u-spacer--bottom--small">{{t "timelineStep.timingWarning"}}</p>
              <p class="smaller uppercase text-fade">{{t "timelineStep.publicationType"}}</p>
              <p class="u-spacer--tb--tinier">{{t "timelineStep.publicForAll"}}</p>
            </div>
          {{else}}
            <div class="col--9-12">
              {{#if this.isAgenda}}
                <WuButton @label={{t "timelineStep.publishButtonLabel" name=@name}} @class="u-spacer--bottom--small" @onClick={{fn
                        (mut this.showPublishingModal) true}} @isNarrow={{true}}
                          @isLoading={{this.publishDocument.isRunning}}
                          @disabled={{or (not this.currentSession.canPublish) this.publishDocument.isRunning}} />
              {{else}}
                <WuButton @label={{t "timelineStep.publishNotifyButtonLabel" name=@name}} @class="u-spacer--bottom--small" @onClick={{fn
                        (mut this.showPublishingModal) true}} @isNarrow={{true}}
                          @isLoading={{this.publishDocument.isRunning}}
                          @disabled={{or (not this.currentSession.canPublish) this.publishDocument.isRunning}} />
              {{/if}}

              <p class="smaller uppercase text-fade">{{t "timelineStep.publicationConsequences"}}</p>
              <p class="small u-spacer--bottom--small">{{t "timelineStep.previewInfo"}}<a href="https://publicatie.gelinkt-notuleren.vlaanderen.be" target="_blank">publicatie.gelinkt-notuleren.vlaanderen.be</a>{{t "timelineStep.previewInfoEnd"}}</p>

              {{#unless this.isAgenda}}
                <p class="smaller uppercase text-fade">{{t "timelineStep.notifyConsequences"}}</p>
                <p class="small u-spacer--bottom--small">{{t "timelineStep.notifyInfo"}}<a href="https://loket.lokaalbestuur.vlaanderen.be/"
                                                            target="_blank">{{t "timelineStep.localLoket"}}</a>.</p>
              {{/unless}}
            </div>
          {{/if}}
          {{#if this.showPublishingModal}}
            <Signatures::PublicationConfirmation @name={{@name}} @mockDocument={{@mockDocument}} @confirm={{perform
                    this.publishDocument @mockDocument.signedId}} @cancel={{fn (mut this.showPublishingModal)
                                                                               false}} />
          {{/if}}
        </div>
      </div>
    </step.block>
  {{/component}}
{{/if}}