<div class="container-flex--contain">
	<div class="editor-chrome">
		<div class="u-spacer--tiny">
			{{link-to '← Terug naar notulen' 'editor-documents.edit' model.id class="smaller link-dark"}}
		</div>
		<h1 class="h5 u-spacer--tiny">{{model.currentVersion.title}}</h1>
	</div>
	<div class="grid">
		<div class="col--3-12">
			<div class="container-flex--contain">
				<div class="sidebar">
					<div class="sidebar__content">
						<nav class="side-navigation"> {{!-- //  side-navigation--blocks --}}
							<ul class="side-navigation__group">
								<li class="side-navigation__item u-hr">
							  	{{link-to 'Agenda' 'documents.show.publish.agenda' model class="u-padding--top--tiny"}}
							  	{{#link-to 'documents.show.publish.agenda' model class="u-padding--bottom--small"}}
										<div class="link-group link-group--bordered link-group--tiny link-group--dark">
										</div>
							  	{{/link-to}}
								</li>
								<li class="side-navigation__item u-hr">
                  {{link-to 'Besluitenlijst' 'documents.show.publish.besluitenlijst' model class="u-padding--top--tiny"}}
							  	{{#link-to 'documents.show.publish.besluitenlijst' model class="u-padding--bottom--small"}}
										<div class="link-group link-group--bordered link-group--tiny link-group--dark">
										</div>
							  	{{/link-to}}
								</li>
                <li class="side-navigation__item u-hr">
                  {{link-to 'Uitreksels' 'documents.show.publish.uitreksels' model class="u-padding--top--tiny"}}
							  	{{#link-to 'documents.show.publish.uitreksels' model class="u-padding--bottom--small"}}
										<div class="link-group link-group--bordered link-group--tiny link-group--dark">
										</div>
							  	{{/link-to}}
								</li>
                <li class="side-navigation__item u-hr">
                  {{link-to 'Notulen' 'documents.show.publish.notulen' model class="u-padding--top--tiny"}}
							  	{{#link-to 'documents.show.publish.notulen' model class="u-padding--bottom--small"}}
										<div class="link-group link-group--bordered link-group--tiny link-group--dark">
										</div>
							  	{{/link-to}}
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<div class="col--9-12">
			<div class="container-flex--scroll">
				<div class="u-padding--round--tiny">
					{{!-- <p>Each of these subroutes will present the contents of the document with current title <strong><quote>{{model.currentVersion.title}}</quote></strong></p> --}}
					{{outlet}}
				</div>
			</div>
		</div>
	</div>
</div>
