<div class="container-flex--contain">
	<div class="au-o-box au-o-box--small au-c-app-chrome">
		<div class="u-spacer--tiny">
			<LinkTo @route="editor-documents.edit" @model={{model.id}} class="smaller link-dark">â† Terug naar notulen</LinkTo>
		</div>
		<h1 class="h5 u-spacer--tiny">{{model.currentVersion.title}}</h1>
	</div>
	<div class="grid">
		<div class="col--3-12">
			<div class="container-flex--contain">
				<div class="sidebar">
					<div class="sidebar__content">
						<nav class="side-navigation">
							<ul class="side-navigation__group">
								<li class="side-navigation__item u-hr">
							  	<LinkTo @route="documents.show.publish.agenda" @model={{model}} class="u-padding--tb--small">
										<i class="vi vi-calendar"></i> Agenda
										{{!-- pills met statussen --}}
							  	</LinkTo>
								</li>
								<li class="side-navigation__item u-hr">
                  <LinkTo @route="documents.show.publish.besluitenlijst" @model={{model}} class="u-padding--tb--small">
										<i class="vi vi-list"></i> Besluitenlijst
										{{!-- pills met statussen --}}
							  	</LinkTo>
								</li>
                <li class="side-navigation__item u-hr">
                  <LinkTo @route="documents.show.publish.uittreksels" @model={{model}} class="u-padding--tb--small">
										<i class="vi vi-paper"></i> Uittreksels
										{{!-- pills met statussen --}}
							  	</LinkTo>
								</li>
                <li class="side-navigation__item u-hr">
                  <LinkTo @route="documents.show.publish.notulen" @model={{model}} class="u-padding--tb--small">
										<i class="vi vi-news"></i> Notulen
										{{!-- pills met statussen --}}
							  	</LinkTo>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<div class="col--9-12">
			<div class="container-flex--scroll">
				<div class="u-padding--round--tiny">
					{{!-- <p>Each of these subroutes will present the contents of the document with current title <strong><quote>{{model.currentVersion.title}}</quote></strong></p> --}}
					{{outlet}}
				</div>
			</div>
		</div>
	</div>
</div>
