<div>
  <AuLabel>
    {{yield}}
  </AuLabel>
  <PowerSelect
    @class="select select--block u-spacer--tiny"
    @renderInPlace={{true}}
    @placeholder={{@placeholder}}
    @options={{this.options}}
    @verticalPosition="below"
    @searchEnabled={{true}}
    @selected={{this.selected}}
    @allowClear={{true}}
    @search={{perform this.getDrafts}}
    @onChange={{this.select}}
    as |option|>
    {{option.currentVersion.title}}
  </PowerSelect>
</div>
