<label class="form__label">{{yield}}
  <div class="grid">
    <div class="col--6-12">
      <PowerSelect
              @class="select select--block u-spacer--tiny"
              @renderInPlace={{true}}
              @placeholder={{t "manageAgendaZittingModalMove.positionSelectPlaceholder"}}
              @options={{this.locationOptions}}
              @verticalPosition="above"
              @searchEnabled={{false}}
              @selected={{this.selectedLocation}}
              @allowClear={{true}}
              @onchange={{this.selectLocation}}
              as |location|>
        {{location.name}}
      </PowerSelect>
    </div>
    {{#if this.showAfterItemOptions}}
      <div class="col--6-12">
        <PowerSelect
                @class="js-select u-spacer--small"
                @renderInPlace={{true}}
                @placeholder={{t "manageAgendaZittingModalMove.agendapuntSelectPlaceholder"}}
                @searchPlaceholder={{t "manageAgendaZittingModalMove.searchPlaceholder"}}
                @verticalPosition="above"
                @options={{this.afterItemOptions}}
                @searchField="titel"
                @selected={{this.selectedAfterItem}}
                @onchange={{this.selectAfterItem}}
                as |a|>
          {{a.titel}}
        </PowerSelect>
      </div>
    {{/if}}
  </div>
</label>
