<PrintView as |Print|>
  <Print.Header as |Header|>
    <Header.BackLink @linkRoute="meetings.publish.uittreksels" @model={{@versionedTreatment.id}}>
      Terug naar ondertekenen & publiceren
    </Header.BackLink>
  </Print.Header>
  <Print.Body>

    {{#let @versionedTreatment.signedResources
           @versionedTreatment.zitting as |signatures meeting|}}
      <AuHeading>
        Uittreksel uit de notulen
        <br>
        {{meeting.bestuursorgaan.isTijdsspecialisatieVan.naam}}
        <br>
        zitting van {{moment-format meeting.geplandeStart 'L LT'}}
      </AuHeading>
      <p class="au-u-margin-top-small au-u-margin-bottom">Het document slaat op de situatie zoals gekend bij het
        afleveren.</p>

      <div class="au-o-grid">
        {{#each signatures as |signature|}}
          <PrintView::Signature @fullName={{signature.gebruiker.fullName}} @createdOn={{signature.createdOn}}/>
        {{/each}}
      </div>

      <AuHr @size="large"/>

      {{html-safe @versionedTreatment.content}}

      <AuHr @size="large"/>

      <div class="au-o-grid">
        {{#each signatures as |signature|}}
          <PrintView::Signature @fullName={{signature.gebruiker.fullName}} @createdOn={{signature.createdOn}}/>
        {{/each}}
      </div>
    {{/let}}
  </Print.Body>
</PrintView>
