<PrintView as |Print|>
  <Print.Header as |Header|>
    {{#if @backLinkRoute}}
      <Header.BackLink @route={{@backLinkRoute}} @model={{@linkModel}} @models={{@linkModels}}>
        {{t "print-view.back-link"}}
      </Header.BackLink>
    {{/if}}
  </Print.Header>
  <Print.Body>

    {{#let @versionedTreatment.signedResources
           @versionedTreatment.zitting as |signatures meeting|}}
      <AuHeading>
        {{t "print-view.heading-1"}}
        <br>
        {{meeting.bestuursorgaan.isTijdsspecialisatieVan.naam}}
        <br>
        {{t "print-view.heading-2"}} {{detailed-date meeting.geplandeStart}}
      </AuHeading>
      <p class="au-u-margin-top-small au-u-margin-bottom">{{t "print-view.description"}}</p>

      {{#if signatures.length}}
        <div class="au-o-grid">
          {{#each signatures as |signature|}}
            <PrintView::Signature @fullName={{signature.gebruiker.fullName}} @createdOn={{signature.createdOn}} @hashValue={{signature.hashValue}}/>
          {{/each}}
        </div>
      {{/if}}

      <AuHr @size="large"/>

      {{html-safe @versionedTreatment.content}}


      {{#if signatures.length}}
        <AuHr @size="large"/>
        <div class="au-o-grid">
          {{#each signatures as |signature|}}
            <PrintView::Signature @fullName={{signature.gebruiker.fullName}} @createdOn={{signature.createdOn}}/>
          {{/each}}
        </div>
      {{/if}}
    {{/let}}
  </Print.Body>
</PrintView>
