<div class="step__icon"><i class="vi {{icon}}"></i></div>
<div class="step__wrapper">
	<div class="step__header js-accordion__toggle" {{action "toggleAccordion"}}>
		<div class="grid grid--collapse">
			<div class="col--8-12">
		    {{#if title}}
			    <div class="step__header__titles">
			      <h3 class="step__title">{{title}}</h3>
			    </div>
		    {{/if}}
		  </div>
			<div class="col--4-12 u-align--right">
		    <div class="step__header__info">
		    	{{#if pill}}
			      <span class="pill pill--{{pill.color}}">{{pill.label}}</span>
		  		{{/if}}
		      <i class="step__accordion-toggle"></i>
		    </div>
		  </div>
	  </div>
	</div>
	<div class="step__content-wrapper">
	  <div class="step__content">
			<div class="u-spacer--round--small">
        {{yield (hash block="wu-timeline-accordion/step/block")}}
		  </div>
	  </div>
	</div>
</div>
