{{#if loadData.isRunning}}
  <p class="loader"><span class="u-visually-hidden">{{t "participationList.loadingTitle"}}</span></p>
{{else}}
<PowerSelect
  @options={{this.options}}
  @selected={{@functionaris}}
  @onchange={{this.select}}
  as |functionaris| >
  {{functionaris.isBestuurlijkeAliasVan.gebruikteVoornaam}} {{functionaris.isBestuurlijkeAliasVan.achternaam}},
  {{functionaris.bekleedt.rol.label}}
</PowerSelect>
{{/if}}
