{{#if this.loadData.isRunning}}
  <p class="loader"><span class="u-visually-hidden">{{t "participationList.loadingTitle"}}</span></p>
{{else}}
<PowerSelect
  @options={{this.options}}
  @selected={{@functionaris}}
  @onchange={{@onSelect}}
  as |functionaris| >
  {{functionaris.isBestuurlijkeAliasVan.gebruikteVoornaam}} {{functionaris.isBestuurlijkeAliasVan.achternaam}},
  {{functionaris.bekleedt.rol.label}} (periode {{moment-format functionaris.start "MM/DD/YYYY"}}  - {{moment-format functionaris.einde "MM/DD/YYYY"}})
</PowerSelect>
{{/if}}
