<table class="data-table data-table--lined data-table--zebra">
  <thead>
    <tr>
      <th>Naam</th>
      <th>Functie</th>
      <th>Geboortedatum</th>
      <th>
        <div class="grid">
          <div class="col--4-12">
            Actie
          </div>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    {{#if loadData.isRunning}}
      <p class="loader"><span class="u-visually-hidden">Aan het laden</span></p>
    {{else}}
      {{#each this.args.mandataris as |aanwezige|}}
        <ParticipationList::MandatarisRow
          @aanwezige={{aanwezige}}
          @onToggleAanwezig={{action "toggleAanwezigheid" aanwezige}}
        />
      {{else}}
        <td colspan="4">Geen mandatarissen gevonden.</td>
      {{/each}}
    {{/if}}
  </tbody>
</table>

{{yield}}
