<td>{{persoon.gebruikteVoornaam}} {{persoon.achternaam}}</td>
<td>{{functie}}</td>
<td>{{moment-format persoon.geboorte.datum 'DD/MM/YYYY'}}</td>
<td>
  <label class="checkbox checkbox--block">
    {{input class="checkbox__toggle" type="checkbox" checked=aanwezig click=(action "toggle") }}
    <span></span>
    <strong>Aanwezig</strong>
  </label>
</td>
