<tr>
  <td>{{this.args.aanwezige.isBestuurlijkeAliasVan.gebruikteVoornaam}} {{this.args.aanwezige.isBestuurlijkeAliasVan.achternaam}}</td>
  <td>{{this.args.aanwezige.bekleedt.bestuursfunctie.label}}</td>
  <td>{{moment-format this.args.aanwezige.isBestuurlijkeAliasVan.geboorte.datum 'DD/MM/YYYY'}}</td>
  <td>
    <label class="checkbox checkbox--block">
      <Input class="checkbox__toggle" type="checkbox" @checked={{this.selected}} @click={{action "toggle"}} />
      <span></span>
      <strong>Aanwezig</strong>
    </label>
  </td>
</tr>
