<AuModal
        @modalTitle="Beheer aanwezigen"
        @modalOpen={{@show}}
        @closeModal={{@onCloseModal}} as |Modal|>
  <Modal.Body>
    <div class="au-o-flow">
      <div>
        <AuLabel>
          {{t "participationListModal.voorzitterLabel"}}
        </AuLabel>
        <ParticipationList::MandatarisSelector
                @onSelect={{this.selectChairman}}
                @mandataris={{this.chairman}}
                @meeting={{@meeting}}
                @bestuursorgaan={{@bestuursorgaan}}
        />
      </div>
      <div>
        <AuLabel>Secretaris van de zitting</AuLabel>
        <ParticipationList::FunctionarisSelector
                @onSelect={{this.selectSecretary}}
                @functionaris={{this.secretary}}
                @meeting={{@meeting}}
        />
      </div>
      <div>
        <AuLabel>{{t "participationListModal.presentLabel"}}</AuLabel>
        <ParticipationList::MandatarissenTable
                @possibleParticipants={{@possibleParticipants}}
                @selectedMandatees={{this.selectedMandatees}}
                @toggleParticipation={{this.toggleParticipation}}
        />
      </div>
    </div>
    {{yield}}
  </Modal.Body>
  <Modal.Footer>
    <AuButtonGroup>
      <AuButton {{on "click" this.insert}}>{{t "participationListModal.saveButton"}}</AuButton>
      <AuButton @skin="secondary" {{on "click" @onCloseModal}}>{{t
              "participationListModal.cancelButton"}}</AuButton>
    </AuButtonGroup>
  </Modal.Footer>
</AuModal>