<AuModal
        @title="Beheer aanwezigen"
        @modalOpen={{@show}}
        @closeModal={{this.onCancel}}
        as |Modal|>
  <Modal.Body>
    <div class="au-o-flow">
      <div>
        <AuLabel>
          {{t "participation-list-modal.voorzitter-label"}}
        </AuLabel>
        <ParticipationList::MandatarisSelector
                @onSelect={{this.selectChairman}}
                @mandataris={{this.chairman}}
                @meeting={{@meeting}}
                @bestuursorgaan={{@bestuursorgaan}}
        />
      </div>
      <div>
        <AuLabel>{{t "participation-list-modal.secretaris-label"}}</AuLabel>
        <ParticipationList::FunctionarisSelector
                @onSelect={{this.selectSecretary}}
                @functionaris={{this.secretary}}
                @meeting={{@meeting}}
        />
      </div>
      <div>
        <AuLabel>{{t "participation-list-modal.present-label"}}</AuLabel>
        <ParticipationList::MandatarissenTable @toggleParticipant={{this.toggleParticipant}}
                                               as |Table|>
          {{#each this.participants as |participant| }}
            <Table.Row @mandataris={{participant.person}} @selected={{participant.participating}} @disabled={{eq participant.person this.chairman}}/>
          {{else}}
            <td colspan="4">{{t "participation-list-modal-table.no-data-message"}}</td>
          {{/each}}
        </ParticipationList::MandatarissenTable>
      </div>
    </div>
    {{#if this.error}}
      <AuAlert 
        @title={{this.error}}
        @skin="error"
        @icon="cross"
        @size="small"
      />
    {{/if}}
    {{yield}}
  </Modal.Body>
  <Modal.Footer>
    <AuToolbar as |Group|>
      <Group>
        <AuButton @skin="naked" {{on "click" this.onCancel}}>
          {{t "participation-list-modal.cancel-button"}}
        </AuButton>
      </Group>
      <Group>
        <AuButton {{on "click" this.insert}}>{{t "participation-list-modal.save-button"}}</AuButton>
      </Group>
    </AuToolbar>
  </Modal.Footer>
</AuModal>
