<AuModal
        @title="Beheer aanwezigen"
        @modalOpen={{@show}}
        @closeModal={{this.onCancel}}
        as |Modal|>
  <Modal.Body>
    <div class="au-o-flow">
      {{#if this.error}}
        <AuAlert 
          @title={{this.error}}
          @skin="error"
          @icon="cross"
          @size="small"
        />
      {{/if}}
      <div>
        <AuLabel>
          {{t "participationListModal.voorzitterLabel"}}
        </AuLabel>
        <ParticipationList::MandatarisSelector
                @onSelect={{this.selectChairman}}
                @mandataris={{this.chairman}}
                @meeting={{@meeting}}
                @bestuursorgaan={{@bestuursorgaan}}
        />
      </div>
      <div>
        <AuLabel>Secretaris van de zitting</AuLabel>
        <ParticipationList::FunctionarisSelector
                @onSelect={{this.selectSecretary}}
                @functionaris={{this.secretary}}
                @meeting={{@meeting}}
        />
      </div>
      <div>
        <AuLabel>{{t "participationListModal.presentLabel"}}</AuLabel>
        <ParticipationList::MandatarissenTable @toggleParticipant={{this.toggleParticipant}}
                                               as |Table|>
          {{#each this.participants as |participant| }}
            <Table.Row @mandataris={{participant.person}} @selected={{participant.participating}}/>
          {{else}}
            <td colspan="4">{{t "participationListModalTable.noDataMessage"}}</td>
          {{/each}}
        </ParticipationList::MandatarissenTable>
      </div>
    </div>
    {{yield}}
  </Modal.Body>
  <Modal.Footer>
    <AuToolbar as |Group|>
      <Group>
        <AuButton @skin="naked" {{on "click" this.onCancel}}>
          {{t "participationListModal.cancelButton"}}
        </AuButton>
      </Group>
      <Group>
        <AuButton {{on "click" this.insert}}>{{t "participationListModal.saveButton"}}</AuButton>
      </Group>
    </AuToolbar>
  </Modal.Footer>
</AuModal>
