<AuModal
  @title={{concat (t "publicationConfirmation.modalTitle") @name}}
  @modalOpen={{true}}
  @size="fullscreen"
  @closeModal={{@cancel}}
  class="au-c-modal--publish" as |Modal| >
  <Modal.Body>
    <div class="au-o-grid au-o-grid--flush au-o-grid--fixed">
      <div class="au-o-grid__item au-u-1-3 au-u-hide-on-print">
        <div class="au-c-rdfa-publication-aside">
          <div class="au-o-box">
            <AuAlert @icon="info-circle" @title={{t "publicationConfirmation.alertFirstPart"}}  @skin="info" @alertSize="small">
              <p>{{t "publicationConfirmation.alertSecondPart"}}<strong> {{t "publicationConfirmation.alertThirdPart"}}</strong> {{t "publicationConfirmation.alertFourthPart"}}</p>
            </AuAlert>

            <AuHeading @level="2" @skin="6" class="au-u-margin-bottom-small">{{t "publicationConfirmation.publicationTitle"}}</AuHeading>
            <p class="au-c-help-text au-c-help-text--large au-u-margin-bottom">{{t "publicationConfirmation.publicationSubtitle"}} <a href="{{this.publicationBaseUrl}}">{{this.publicationBaseUrl}}</a>.</p>

            <AuHeading @level="2" @skin="6" class="au-u-margin-bottom-small">{{t "publicationConfirmation.reportingTitle"}}</AuHeading>
            <p class="au-c-help-text au-c-help-text--large au-u-margin-bottom">{{t "publicationConfirmation.reportingSubtitle"}} <a href="https://loket.lokaalbestuur.vlaanderen.be/" target="_blank" rel="noopener noreferrer" class="au-c-link">{{t "publicationConfirmation.reportingLink"}}</a>.</p>

            <AuHeading @level="2" @skin="6" class="au-u-margin-bottom-small">{{t "publicationConfirmation.metadataTitle"}}</AuHeading>

            <ul>
              <li>
                <p class="au-c-help-text au-c-help-text--secondary au-c-help-text--normal">{{t "publicationConfirmation.publisherLabel"}}</p>
                <p class="au-c-help-text au-c-help-text--large">{{this.currentSession.user.fullName}}</p>
              </li>
              <li class="au-u-margin-top-small">
                <p class="au-c-help-text au-c-help-text--secondary au-c-help-text--normal">{{t "publicationConfirmation.dateAndTimeLabel"}}</p>
                <p class="au-c-help-text au-c-help-text--large">{{t "publicationConfirmation.dateAndTimeMessage"}}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="au-o-grid__item au-u-2-3 au-u-wide-on-print">
        <div class="au-c-rdfa-publication-holder">
          <div class="au-c-rdfa-publication say-content rdfa-annotations behandeling-preview">
          {{#if (has-block)}}
            {{yield}}
          {{else}}
            {{html-safe @mockDocument.body}}
          {{/if}}
          </div>
        </div>
      </div>
    </div>
  </Modal.Body>
  <Modal.Footer>
    <AuToolbar class="au-u-hide-on-print" as |Group|>
      <Group>
        <AuButton @skin="naked" {{on "click" @cancel}}>{{t "publicationConfirmation.cancelButton"}}</AuButton>
      </Group>
      <Group>
        <AuButton {{on "click" @confirm}}>{{concat (t "publicationConfirmation.confirmButton") @name}}</AuButton>
      </Group>
    </AuToolbar>
  </Modal.Footer>
</AuModal>
