<AuModal
  @modalTitle={{concat (t "signatureConfirmation.modalTitle") @name}}
  @modalOpen={{true}}
  @size="fullscreen"
  @closeModal={{@cancel}}
  class="au-c-modal--publish" as |Modal| >
  <Modal.Body>
    <div class="au-o-grid au-o-grid--flush au-o-grid--fixed">
      <div class="au-o-grid__item au-u-1-3">
        <div class="au-c-rdfa-publication-aside">
          <div class="au-o-box">
            <AuHeading @level="2" @skin="6" class="au-u-margin-bottom-small">{{t "signatureConfirmation.signLabel"}}</AuHeading>
            <AuAlert @alertIcon="info-circle" @alertTitle={{t "signatureConfirmation.signWarningTitle"}}  @alertskin="info" @alertsize="small">
              <p>{{t "signatureConfirmation.signWarningText"}}</p>
            </AuAlert>
            <AuHeading @level="2" @skin="6" class="au-u-margin-bottom-small">{{t "signatureConfirmation.metadataLabel"}}</AuHeading>
            <ul>
              <li>
                <p class="au-c-help-text au-c-help-text--secondary au-c-help-text--normal">{{t "signatureConfirmation.signerLabel"}}</p>
                <p class="au-c-help-text au-c-help-text--large">{{get (await currentSession.user) "fullName"}}</p>
              </li>
              <li class="au-u-margin-top-small">
                <p class="au-c-help-text au-c-help-text--secondary au-c-help-text--normal">{{t "signatureConfirmation.timeLabel"}}</p>
                <p class="au-c-help-text au-c-help-text--large">{{t "signatureConfirmation.timeMessage"}}</p>
              </li>
              {{!-- <li class="au-u-margin-top-small">
                <p class="au-c-help-text au-c-help-text--secondary au-c-help-text--normal">Hash</p>
                <p class="au-c-help-text au-c-help-text--large">Bij het ondertekenen van een document, wordt ook de inhoud van het document omgezet in een unieke code of <em>hash</em>. Deze hash wordt bij elke versie van het document op het internet gevoegd, èn veilig bijgehouden op onze <a href="https://overheid.vlaanderen.be/informatie-vlaanderen/ontdek-onze-producten-en-diensten/blockchain-disruptieve-technologie" target="_blank" rel="noopener noreferrer" class="au-c-link"><i class="fa fa-link"></i> blockchain</a>. Zo kunnen we te allen tijde de echtheid van het document bevestigen.</p>
              </li> --}}
            </ul>
          </div>
        </div>
      </div>
      <div class="au-o-grid__item au-u-2-3">
        <div class="au-c-rdfa-publication-holder">
          <div class="au-c-rdfa-publication say-content rdfa-annotations behandeling-preview">
            {{{@mockDocument.body}}}
          </div>
        </div>
      </div>
    </div>
  </Modal.Body>
  <Modal.Footer>
    <AuButtonGroup>
      <AuButton {{on "click" @confirm}}>{{concat (t "signatureConfirmation.confirmButton") @name}}</AuButton>
      <AuButton @skin="secondary" {{on "click" @cancel}}>{{t "signatureConfirmation.cancelButton"}}</AuButton>
    </AuButtonGroup>
  </Modal.Footer>
</AuModal>