<p>
  {{@signature.gebruiker.voornaam}} {{@signature.gebruiker.achternaam}} <br>
  {{#if @signature.deleted}}
    <AuPill
      @skin="error"
    >
      Deleted
    </AuPill>
  {{else}}
    <AuHelpText @size="large" @skin="secondary" class="au-u-margin-top-none">
      <AuIcon @icon="calendar" />
      {{detailed-date @signature.createdOn}}
    </AuHelpText>
  {{/if}}
</p>
{{#if (and (not @signature.deleted) @canDelete)}}
  <AuButton
    {{on "click" this.toggleDeleteSignatureCard}}
    @skin="link-secondary"
    @alert="true"
    @disabled={{this.deleteSignature.isRunning}}
  >
    {{t "publish.delete-signature"}}
  </AuButton>
  {{#if this.showDeleteSignatureCard}}
    <div class="signature-warning">
      <div class="signature-warning-icon">
        <AuIcon
          @icon="info-circle"
          @size="large"
        />
      </div>
      <div class="signature-warning-close-button">
        <AuButton
          {{on "click" this.toggleDeleteSignatureCard}}
          @skin="link"
          @icon="cross"
        />
      </div>
      {{t "publish.delete-signature-warning"}}
      <AuButton
        {{on "click" this.deleteSignature}}
        @skin="secondary"
        @alert="true"
        @disabled={{this.deleteSignature.isRunning}}
        style="background-color: white"
      >
        {{t "publish.delete-signature"}}
      </AuButton>
    </div>
  {{/if}}
{{/if}}
