<div class='au-u-flex au-u-flex--vertical-start au-u-flex--spaced-tiny'>
  <span>{{@signature.gebruiker.voornaam}}
    {{@signature.gebruiker.achternaam}}</span>
  {{#if @signature.deleted}}
    <div>
      <AuPill @skin='error'>
        {{t 'publish.deleted'}}
      </AuPill>
    </div>
  {{else}}
    <AuHelpText
      @size='large'
      @skin='secondary'
      class='au-u-margin-top-none au-u-margin-left-small signature-timestamp'
    >
      <div class='au-u-flex au-u-flex--vertical-center au-u-flex--spaced-tiny'>
        <AuIcon @icon='calendar' />
        <span>{{detailed-date @signature.createdOn}}</span>
      </div>
    </AuHelpText>
  {{/if}}
</div>
{{#if (and this.signedByCurrentUser.value (and (not @signature.deleted) @canDelete))}}
  <AuButton
    {{on "click" this.toggleDeleteSignatureCard}}
    @skin="link-secondary"
    @alert="true"
    @disabled={{this.deleteSignature.isRunning}}
    class="au-u-padding-none signature-delete-button"
  >
    {{t "publish.delete-signature"}}
  </AuButton>
  {{#if this.showDeleteSignatureCard}}
    <AuAlert
      @skin="error"
      @icon="alert-triangle"
      @size="small"
      @closable={{true}}
      @onClose={{this.toggleDeleteSignatureCard}}
    >
      <div>{{t "publish.delete-signature-warning"}}</div>
      <AuButton
        {{on "click" this.deleteSignature}}
        @skin="secondary"
        @alert="true"
        @disabled={{this.deleteSignature.isRunning}}
        style="background-color: white"
      >
        {{t "publish.delete-signature"}}
      </AuButton>
    </AuAlert>
  {{/if}}
{{/if}}
