<AuDataTable
  @content={{this.data.value}}
  @isLoading={{or this.updateFilter.isRunning this.data.isLoading}}
  @noDataMessage='Geen aanvragen gevonden'
  as |table|
>
  <table.menu as |menu|>
    <menu.general>
      <AuToolbar class='au-o-box' @size='large' as |Group|>
        <Group class='au-c-toolbar__group--center au-u-hide-on-print'>
          <AuInput
            @icon='search'
            @iconAlignment='right'
            value={{this.filter}}
            placeholder='Zoek op titel aanvraag'
            {{on 'input' (perform this.updateFilter)}}
          />
        </Group>
      </AuToolbar>
    </menu.general>
  </table.menu>
  <table.content as |c|>
    <c.header>
      <AuDataTableThSortable
        @field='title'
        @currentSorting={{this.sort}}
        @label='Titel'
      />
      <AuDataTableThSortable
        @field='organizer'
        @currentSorting={{this.sort}}
        @label='Organisator'
      />
      <AuDataTableThSortable
        @field='createdOn'
        @currentSorting={{this.sort}}
        @label='Aangemaakt op'
      />
    </c.header>
    <c.body as |aanvraag|>
      <td>
        <AuLink @skin='primary'>
          {{aanvraag.title}}
        </AuLink>
      </td>
      <td>
        {{aanvraag.organizer}}
      </td>
      <td>
        {{detailed-date aanvraag.createdOn}}
      </td>
    </c.body>
  </table.content>
</AuDataTable>