<AuPanel
  @active="true"
  {{did-insert this.didInsert}}
  property="dct:hasPart"
  resource={{this.uri}}
  typeof="besluitpublicatie:Documentonderdeel"
   as |section|>
  <section>
    <AuToolbar as |Group|>
      <Group>
        <AuHeading @level="4" @skin="4">Reglement</AuHeading>
        <p>(Laatst aangepast: {{human-friendly-date this.updatedOn}})</p>
      </Group>
      <Group>
        <AuButtonGroup>
          <AuLinkExternal
            @icon="pencil"
            @skin="naked"
            href={{this.url}}>
            Edit
          </AuLinkExternal>
          <AuButton @skin="naked" @icon="link-broken" @alert="true" {{on "click" this.detach}}>
            Detach
          </AuButton>
        </AuButtonGroup>
      </Group>
    </AuToolbar>
  </section>
  <section>
    <AuContent>
      {{this.content}}
    </AuContent>
  </section>
</AuPanel>
