<AuPanel
  @active="true"
  {{did-insert this.didInsert}}
  property="dct:hasPart"
  resource={{this.uri}}
  typeof="besluitpublicatie:Documentonderdeel"
   as |section|>
  {{!-- template-lint-disable no-shadowed-elements --}}
  <section>
    <AuToolbar as |Group|>
      <Group>
        <AuHeading @level="4" @skin="4">{{t "regulatoryStatementsPlugin.regulatoryStatement"}}</AuHeading>
        <p>({{t "regulatoryStatementsPlugin.lastModification"}}: {{human-friendly-date this.updatedOn}})</p>
      </Group>
      <Group>
        <AuButtonGroup>
          <AuLinkExternal
            @icon="pencil"
            @skin="naked"
            href={{this.url}}>
            {{t "regulatoryStatementsPlugin.editStatement"}}
          </AuLinkExternal>
          <AuButton @skin="naked" @icon="link-broken" @alert="true" {{on "click" this.detach}}>
            {{t "regulatoryStatementsPlugin.detachStatement"}}
          </AuButton>
        </AuButtonGroup>
      </Group>
    </AuToolbar>
  </section>
  <section>
    <AuContent>
      {{this.content}}
    </AuContent>
  </section>
</AuPanel>
