<AuPanel
  @active="true"
  {{did-insert this.didInsert}}
  property="dct:hasPart"
  resource={{this.resource}}
  typeof="besluitpublicatie:Documentonderdeel"
   as |section|>
  {{!-- template-lint-disable no-shadowed-elements --}}
  <section>
    <AuToolbar as |Group|>
      <Group>
        <AuHeading @level="4" @skin="4">{{t "regulatoryStatementsPlugin.regulatoryStatement"}}</AuHeading>
        <p>({{t "regulatoryStatementsPlugin.lastModification"}}: {{human-friendly-date this.updatedOn}})</p>
      </Group>
      <Group>
        <AuButtonGroup>
          {{#if this.documentContainer}}
          <RegulatoryStatementLink @icon="pencil" @documentContainer={{this.documentContainer}} @label={{t "regulatoryStatementsPlugin.editStatement"}}/>
          {{/if}}
          <AuButton @skin="naked" @icon="link-broken" @alert="true" {{on "click" this.detach}}>
            {{t "regulatoryStatementsPlugin.detachStatement"}}
          </AuButton>
        </AuButtonGroup>
      </Group>
    </AuToolbar>
  </section>
  <section>
    <AuContent>
      {{this.content}}
    </AuContent>
  </section>
</AuPanel>
