<AuPanel 
  @active="true"
  {{did-insert this.didInsert}} 
  property="lblodgn:reglementaireBijlage"
  typeof="lblodgn:ReglementaireBijlage" as |section|>
  <section>
    <AuToolbar as |Group|>
      <Group>
        <AuHeading @level="4" @skin="4">Reglement</AuHeading>
        <p>(Laatst aangepast: {{human-friendly-date this.updatedOn}})</p>
      </Group>
      <Group>
        <AuButtonGroup>
          <AuLinkExternal
            @icon="pencil" 
            @skin="naked"
            href={{this.reglementContainerURL}}>
            Edit
          </AuLinkExternal>
          <AuButton @skin="naked" @icon="link-broken" @alert="true" {{on "click" this.detach}}>
            Detach
          </AuButton>
        </AuButtonGroup>
      </Group>
    </AuToolbar>
  </section>
  <section>
    <AuContent>
      {{this.content}}
    </AuContent>
  </section>
</AuPanel>
