{{#app-chrome editorDocument=editorDocument
   documentContainer=documentContainer
   save=(action "save")
   startSyncModal=(action "startSyncModal")
   publish=(action "publish")
   sendToTrash=(action "sendToTrash")
}}
{{/app-chrome}}1
{{!-- Hide toolbar until implemented {{#editor-toolbar}}{{/editor-toolbar}} --}}
{{#if validationErrors}}
  {{#wu-modal
     title="Geef uw document een naam"
     dialog-class="modal-dialog--wide modal-dialog--sectioned"
     onClose=(action 'closeValidationModal') as |m|}}
    {{#m.content}}
      Klik op de titel om uw document een naam te geven.
    {{/m.content}}
    {{#m.buttons as |b|}}
      {{b.button label="OK" onClick=(action 'closeValidationModal')}}
    {{/m.buttons}}
  {{/wu-modal}}
{{/if}}

{{#if syncModalDisplay}}
  {{#wu-modal
     title="Synchroniseer gegevens met OCMW"
     dialog-class="modal-dialog--sectioned"
     onClose=(action 'cancelSyncModal') as |m|}}
    {{#m.content}}
      <ul class="numbered-list">
        <li>Klik onderaan op de knop 'Synchroniseer gegevens'</li>
        <li>Ga terug naar het overzicht, en meld u af</li>
        <li><strong>Meld u weer aan als OCMW</strong> om gebruik te kunnen maken van de gegevens in de eerste vergadering van de OCMW-raad.</li>
      </ul>
      <br>
      <p class="small">De gegevens staan nu klaar voor hergebruik in de eerste vergadering van de OCMW-raad. Na elke wijziging in deze notulen kan u gebruik maken van deze functionaliteit om de informatie te synchroniseren.</p>
    {{/m.content}}
    <div class="modal-dialog__footer">
      {{#m.buttons as |b|}}
        {{b.button label="Synchroniseer gegevens" onClick=(action 'syncDocument')}}
        {{b.button label="Annuleren" onClick=(action 'cancelSyncModal') isLink=true icon="vi-cross"}}
      {{/m.buttons}}
    </div>
  {{/wu-modal}}
{{/if}}

{{#if displayDeleteModal}}
  {{#wu-modal
     title="Weet u zeker dat u uw document naar de prullenmand wil verplaatsen?"
     dialog-class="modal-dialog--wide modal-dialog--sectioned"
     onClose=(action 'onCloseDeleteModal') as |m|}}
    <div class="modal-dialog__footer">
      {{#m.buttons as |b|}}
        {{b.button label="Ja, verplaats naar prullenmand" onClick=(action 'deleteDocument')}}
        {{b.button label="Annuleren" onClick=(action 'onCloseDeleteModal') isLink=true icon="vi-cross"}}
      {{/m.buttons}}
    </div>
  {{/wu-modal}}
{{/if}}

{{#if save.isRunning}}
<div class="editor-container container-flex--scroll">
  <div class="editor">
    <div class="grid grid--align-center">
      <div class="col--7-12">
        <div class="editor__paper scanner">
          <div class="scanner__text">
            <div class="badge badge--l badge--initials">
              <span class="loader"><span class="u-visually-hidden">Aan het verwerken</span></span>
            </div>
            <h3 class="h3">Bezig met opslaan</h3>
          </div>
          <span class="scanner__bar"></span>
          {{{editorDomNode.innerHTML}}}
        </div>
      </div>
    </div>
  </div>
</div>
{{else}}
  {{rdfa-editor-container profile=profile editorDocument=editorDocument rdfaEditorContainerInit=(action "handleRdfaEditorInit") onUpdateTasklists=(action "updateTasklists")}}
{{/if}}

{{outlet}}
