{{#app-chrome editorDocument=editorDocument}}
  {{editor-document-persistence-manager
      editorDocument=editorDocument
      statusIdMap=statusIdMap
      save=(action "saveNewEditorDocument")
      publishAgenda=(action "publishAgenda")
      publishBesluitenlijst=(action "publishBesluitenlijst")
      publishSignedNotulen=(action "publishSignedNotulen")
      sendToTrash=(action "sendToTrash")
    }}
  {{/app-chrome}}


  {{#if validationErrors}}
    {{#wu-modal title="Er zijn fouten bij de validatie" onClose=(action 'closeValidationModal')}}
      <div class="modal-dialog__content">
        Gelieve een titel op te geven.
      </div>
      <div class="modal-dialog__buttons">
        {{wu-link-button label="OK" class="modal-dialog__button" onClick=(action 'closeValidationModal')}}
      </div>
    {{/wu-modal}}
  {{/if}}

  {{#if modalTransitionToTrash}}
    {{#wu-modal title="Uw concept wordt naar de prullenmand verplaatst." onClose=(action 'onClosePublishStatusModal')}}
      <div class="modal-dialog__buttons">
        {{wu-link-button label="OK" class="modal-dialog__button" onClick=(action 'terminatePublishFlow')}}
        <a href="#" role="button" class="modal-dialog__button" {{action (action 'onClosePublishStatusModal')}}>
          {{wu-icon "vi-cross" class="vi-u-link"}} Annuleren
        </a>
      </div>
    {{/wu-modal}}
  {{/if}}
  {{#if modalTransitionToAgendaPublished}}
    {{#wu-modal title="Uw agendapunten worden gepubliceerd" onClose=(action 'onClosePublishStatusModal')}}
      <div class="modal-dialog__content">
        Opgelet, dit is onomkeerbaar!
      </div>
      <div class="modal-dialog__buttons">
        {{wu-link-button label="OK" class="modal-dialog__button" onClick=(action 'terminatePublishFlow')}}
        <a href="#" role="button" class="modal-dialog__button" {{action (action 'onClosePublishStatusModal')}}>
          {{wu-icon "vi-cross" class="vi-u-link"}} Annuleren
        </a>
      </div>
    {{/wu-modal}}
  {{/if}}
  {{#if modalTransitionToBesluitenlijstPublished}}
    {{#wu-modal title="De besluitenlijst wordt gepubliceerd" onClose=(action 'onClosePublishStatusModal')}}
      <div class="modal-dialog__content">
        Opgelet, dit is onomkeerbaar!
      </div>
      <div class="modal-dialog__buttons">
        {{wu-link-button label="OK" class="modal-dialog__button" onClick=(action 'terminatePublishFlow')}}
        <a href="#" role="button" class="modal-dialog__button" {{action (action 'onClosePublishStatusModal')}}>
          {{wu-icon "vi-cross" class="vi-u-link"}} Annuleren
        </a>
      </div>
    {{/wu-modal}}
  {{/if}}
  {{#if modalTransitionToSignedPublished}}
    {{#wu-modal title="Uw notulen worden gepubliceerd" onClose=(action 'onClosePublishStatusModal')}}
      <div class="modal-dialog__content">
        Opgelet, dit is onomkeerbaar!
      </div>
      <div class="modal-dialog__buttons">
        {{wu-link-button label="OK" class="modal-dialog__button" onClick=(action 'terminatePublishFlow')}}
        <a href="#" role="button" class="modal-dialog__button" {{action (action 'onClosePublishStatusModal')}}>
          {{wu-icon "vi-cross" class="vi-u-link"}} Annuleren
        </a>
      </div>
    {{/wu-modal}}
  {{/if}}

  {{rdfa-editor-container profile=profile editorDocument=editorDocument rdfaEditorContainerInit=(action "handleRdfaEditorInit")}}

{{#if showIntro}}
  {{#wu-modal title="Annoteer je notulen hier" onClose=(action 'closeDialog')}}
    <div class="modal-dialog__content">
      <p class="u-spacer--tiny">Voer "notulen" in om te vertrekken van een template.</p>
    </div>
  {{/wu-modal}}
{{/if}}
{{outlet}}
