{{#app-chrome editorDocument=editorDocument}}
  {{editor-document-persistence-manager
    editorDocument=editorDocument
    statusIdMap=statusIdMap
    save=(action "save")
    publish=(action "publish")
    sendToTrash=(action "sendToTrash")
  }}
{{/app-chrome}}
{{!-- Hide toolbar until implemented {{#editor-toolbar}}{{/editor-toolbar}} --}}
{{#if validationErrors}}
  {{#wu-modal title="Er zijn fouten bij de validatie" onClose=(action 'closeValidationModal') as |m|}}
    {{#m.content}}
      Gelieve een titel op te geven.
    {{/m.content}}
    {{#m.buttons as |b|}}
      {{b.button label="OK" onClick=(action 'closeValidationModal')}}
    {{/m.buttons}}
  {{/wu-modal}}
{{/if}}

{{#if modalTransitionToAgendaPublished}}
  {{#wu-modal title="Uw agendapunten worden gepubliceerd" onClose=(action 'onClosePublishStatusModal') as |m|}}
    {{#m.content}}
      Opgelet, dit is onomkeerbaar!
    {{/m.content}}
    {{#m.buttons as |b|}}
      {{b.button label="OK" onClick=(action 'terminatePublishFlow')}}
      {{b.button label="Annuleren" onClick=(action 'onClosePublishStatusModal') isLink=true icon="vi-cross"}}
    {{/m.buttons}}
  {{/wu-modal}}
{{/if}}

{{#if isProcessing}}
  <div class="grid">
    <div class="col--12-12 u-align-center">
      <div class="loader"><span class="u-visually-hidden">Aan het verwerken</span></div>
    </div>
  </div>
{{else}}
    {{rdfa-editor-container profile=profile editorDocument=editorDocument rdfaEditorContainerInit=(action "handleRdfaEditorInit") onUpdateTasklists=(action "updateTasklists")}}
{{/if}}
{{outlet}}
