<nav class="editor-chrome">
  <div class="grid u-spacer--tiny">
    <div class="col--6-12">
      <LinkTo @route="inbox.ontwerpbesluiten" class="smaller link-dark">&leftarrow; Terug naar overzicht ontwerpbesluiten</LinkTo>
      <label class="pill u-spacer--left--tiny">
        <span>Gemeente Aalst</span> 
        {{!-- Replace with generated pill --}}
      </label>
    </div>
    <div class="col--6-12">
      <div class="grid grid--collapse grid--align-right">
        <div class="col--10-12 u-align-right">
          <WuButtonGroup>
            {{#if startSyncModal}}
              <WuLinkButton @isSmall={{true}} @isNarrow={{true}} @isLink={{true}} @onClick={{startSyncModal}}>
                <i class="fa fa-rotate-right"></i>Synchroniseer gegevens met OCMW
              </WuLinkButton>
            {{/if}}
            {{!-- // Still needed? --}}
            <WuLinkButton @isSmall={{true}} @isNarrow={{true}} @isLink={{true}} @onClick=Null>
              <i class="fa fa-retweet"></i>Exporteer als HTML
            </WuLinkButton>
          </WuButtonGroup>
        </div>
        {{#if features.languageSelect}}
          <div class="col--2-12 u-align-left u-padding--left--small">
            <LanguageSelect />
          </div>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="col--6-12">
      <div class="u-spacer--top--tinier">
        <h1>
          Titel ontwerpbesluit
        {{!-- Replace with generated titel --}}
        </h1>
      </div>
      <span class="pill--primary-blue pill">Concept</span>
        {{!-- Replace with generated pill --}}
    </div>

    <div class="col--6-12 u-align-right">
      <WuButtonGroup @class="u-align-right">
        {{!--Only for new ones: <LinkTo @route="inbox.ontwerpbesluiten" class="button button--small button--narrow button--link button--link--dark">Verwijder concept</LinkTo> --}}
        <WuButton @label="Naar prullenmand" @isSmall={{true}} @isNarrow={{true}} @isLink={{true}} @isDarkLink={{true}} @onClick="Null" />
        <WuButton @label="Bewaar ontwerpbesluit" @isNarrow={{true}} @isSmall={{true}} @onClick="Null" />
      </WuButtonGroup>

      <div class="u-spacer--top--tiny">
        <p class="smaller">
          <span class="smaller u-padding--right--tiny">
            <span class="badge badge--accent badge--xs badge--initials"><i class="vi vi-warning"></i></span>
            <span>Wijzigingen niet bewaard</span>
          </span>
        </p>
      </div>
    </div>
  </div>
</nav>

<div class="rdfa-editor container-flex--contain">
  <div class="toolbar">
    <div class="grid">
      <div class="col--8-12 toolbar__styling-tools">
        <div class="button-group u-display-inline-block">
          <button class="button button--narrow button--link button--dark button--link--dark">
            <i class="fa fa-rotate-left"></i>
          </button>
        </div>
        <div class="button-group u-display-inline-block">
          <button class="button button--narrow button--link button--dark button--link--dark">
            <i class="fa fa-bold"></i>
          </button>
                  <button class="button button--narrow button--link button--dark button--link--dark">
            <i class="fa fa-italic"></i>
          </button>
                  <button class="button button--narrow button--link button--dark button--link--dark">
            <i class="fa fa-underline"></i>
          </button>
                  <button class="button button--narrow button--link button--dark button--link--dark">
            <i class="fa fa-strikethrough"></i>
          </button>
                  <button class="button button--narrow button--link button--dark button--link--dark">
            <i class="fa fa-list-ul"></i>
          </button>
                  <button class="button button--narrow button--link button--dark button--link--dark">
            <i class="fa fa-list-ol"></i>
          </button>
                  <button class="button button--narrow button--link button--dark button--link--dark">
            <i class="fa fa-dedent"></i>
          </button>
                  <button class="button button--narrow button--link button--dark button--link--dark">
            <i class="fa fa-indent"></i>
          </button>
        </div>
      </div>
      <div class="col--4-12 u-align-right">
        <div class="button-group">
          <div class="checkbox--switch__wrapper checkbox--switch--small">
            <input class="checkbox--switch" name="toggle" value="" checked="checked" type="checkbox">
            <label class="checkbox--switch__label" for="toggle-1"></label>
            <span>Toon annotaties</span>
          </div>
          <button class="button--alt button--alt--blue button button--small button--narrow">
            Voeg annotatie in +
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container-flex--contain editor-container">
    <div class="container-flex--scroll">
      <div class="grid grid--collapse grid--align-center">
        <div class="col--6-12">
          <div class="editor">
            <div contenteditable="true" class="editor__paper ember-view">
              <div class="ext_metadata" contenteditable="false" property="ext:metadata"><div class="ext_variable" typeof="ext:Variable" resource="http://variables/c8cfecc4-8019-42e9-a7ab-c64fd165481a">
              <div property="ext:idInSnippet" content="a2ae8239-923d-41bc-ab97-7595e39d2f84">0</div>
              <div property="ext:intentionUri" content="http://zitting/geplande-start">a</div>
              <div property="ext:variableState" content="syncing">syncing</div>
              </div>​<div class="ext_variable" typeof="ext:Variable" resource="http://variables/052fc970-768c-49ae-9f3f-c156e4d45d3d">
              <div property="ext:idInSnippet" content="54689ebe-a12a-4469-862b-e8bae28ac34b">0</div>
              <div property="ext:intentionUri" content="http://zitting/geplande-start">a</div>
              <div property="ext:variableState" content="syncing">syncing</div>
              </div>​<div class="ext_variable" typeof="ext:Variable" resource="http://variables/ef568a1b-e679-4ef6-ba08-b76d32c4ba8a">
              <div property="ext:idInSnippet" content="8433139f-2d19-4928-8b2d-4096aa40126d">0</div>
              <div property="ext:intentionUri" content="http://zitting/bestuursorgaan-label-for-further-use">a</div>
              <div property="ext:variableState" content="syncing">syncing</div>
              </div>​<div class="ext_variable" typeof="ext:Variable" resource="http://variables/1fedfeba-cf7b-4da0-a155-0adb1a6406ba">
              <div property="ext:idInSnippet" content="bdeb5318-609d-42e4-a1c4-15763fd5dcb0">0</div>
              <div property="ext:intentionUri" content="http://zitting/bestuursorgaan-label-for-further-use">a</div>
              <div property="ext:variableState" content="syncing">syncing</div>
              </div>
              &nbsp;
              </div><!-- components --><div typeof="besluit:Zitting" resource="http://data.lblod.info/id/zittingen/da583e37-5645-41fd-afe3-b929fd39d2c4" data-editor-position-level="0" data-editor-rdfa-position-level="0">
              <!-- meta zitting -->
              <h1 property="dc:title">
              Notulen van de/het <span id="bdeb5318-609d-42e4-a1c4-15763fd5dcb0"><span property="http://data.vlaanderen.be/ns/besluit#isGehoudenDoor" typeof="http://data.vlaanderen.be/ns/besluit#Bestuursorgaan" resource="http://data.lblod.info/id/bestuursorganen/5f05da0d28da533e97b64043caa9c30e325123a6be45a832de86e8f05ff7e1db"><span data-editor-highlight="true">Gemeenteraad</span> Aalst</span></span>, van
              <span id="54689ebe-a12a-4469-862b-e8bae28ac34b"><span property="besluit:geplandeStart" datatype="xsd:dateTime" content="2020-03-06T11:55:46.524Z">6 maart 2020, 12:55</span>​</span>
              </h1>
              <br>
              <br>

              <p>
              Geplande start:
              <span id="a2ae8239-923d-41bc-ab97-7595e39d2f84"><span property="besluit:geplandeStart" datatype="xsd:dateTime" content="2020-03-06T11:55:46.524Z">6 maart 2020, 12:55</span>​</span>
              </p>

              <p>
              Locatie: <span property="prov:atLocation"> <span class="mark-highlight-manual">Voer naam locatie in</span> </span>, <span class="mark-highlight-manual">Voer naam zaal in</span>.
              </p>

              <br>
              <br>

              <!-- aanwezigen -->
              <h2>Aanwezigen bij de zitting</h2>
              <br>
              <div property="ext:insertAanwezigenText" data-editor-highlight="true">Beheer aanwezigen bij de zitting.</div>
              <br>
              <br>

              <!-- opening -->
              <p>De voorzitter opent de zitting op <span property="prov:startedAtTime" datatype="xsd:dateTime" content="2020-03-06T11:59:46.524Z">6 maart 2020, 12:59</span>.</p>
              <br>
              <br>
              <!-- opening -->
              <h2>Agenda overzicht</h2>
              <br>
              <div property="ext:agendapuntenTable">
              <span class="u-hidden">7c82f42e-e7d8-4d61-a440-959c6b331f94</span>
              <span property="besluit:behandelt" resource="http://data.lblod.info/id/agendapunten/9f9f7e29-831d-4eec-b609-5e1f0d5de063" typeof="besluit:Agendapunt">
              <!---->    <span property="dc:subject">Agendapunt -</span>&nbsp;
              <span property="besluit:geplandOpenbaar" datatype="xsd:boolean" content="false">
              <i class="fa fa-eye-slash"></i> <span>Gepland besloten</span>
              </span>
              <p property="dc:title" datatype="xsd:string">
              Agendapunt
              </p>
              <p property="dc:description" datatype="xsd:string">
              Agendapunt
              </p>
              </span>
              <br>

              <span class="u-hidden">8188bb2b-3cfb-4666-b36b-b7e21928588c</span>
              </div>
              <br>
              <br>
              <!-- Agenda behandeling -->
              <h2>Behandeling van de Agendapunten</h2>
              <br>
              <br>
              <div property="ext:behandelingVanAgendapuntenContainer">
              <span class="u-hidden">3ba2c5b9-f8b1-4dd8-9612-e844c05ae119</span>
              <div property="ext:behandelt" resource="http://data.lblod.info/id/behandelingen-van-agendapunten/19cdc590-d7d7-4004-a956-fb95bd31ef20" typeof="besluit:BehandelingVanAgendapunt">
              <span property="besluit:openbaar" datatype="xsd:boolean" content="false">
              <i class="fa fa-eye-slash"></i>
              <span>Besloten behandeling van agendapunt</span>
              </span>
              <h3 property="dc:subject" resource="http://data.lblod.info/id/agendapunten/9f9f7e29-831d-4eec-b609-5e1f0d5de063" class="h4"> Agendapunt </h3>
              <br>
              <br>
              <h4 class="h6">Aanwezigen bij agendapunt</h4>
              <br>
              <div property="ext:insertAanwezigenText" data-editor-highlight="true">Beheer aanwezigen bij agendapunt</div>
              <br>
              <br>
              <h4 class="h6">Stemmingen bij agendapunt</h4>
              <br>
              <div property="ext:insertStemmingText" data-editor-highlight="true">Beheer de stemmingen bij dit agendapunt</div>
              <br>
              <br>
              <div data-editor-highlight="true">Voeg sjabloon in voor besluit of vrij tekstveld (bijvoorbeeld voor een vraag, antwoord of tussenkomst)</div>
              <br>
              </div>
              <span class="u-hidden">d0aca09b-1cc0-48e4-9531-908297d8f8fa</span>
              </div>
              <br>
              <br>
              <!-- Sluiting zitting-->
              <h2>Sluiting van de zitting</h2>
              <br>
              <p>De voorzitter sluit de zitting op <span property="prov:endedAtTime" datatype="xsd:dateTime" content="2020-03-06T11:59:46.524Z">6 maart 2020, 12:59</span>.
              </p>
              <br>
              <br>

              <div property="ext:signatories">
              <p>Namens <span id="8433139f-2d19-4928-8b2d-4096aa40126d"><span property="http://data.vlaanderen.be/ns/besluit#isGehoudenDoor" typeof="http://data.vlaanderen.be/ns/besluit#Bestuursorgaan" resource="http://data.lblod.info/id/bestuursorganen/5f05da0d28da533e97b64043caa9c30e325123a6be45a832de86e8f05ff7e1db"><span data-editor-highlight="true">Gemeenteraad</span> Aalst</span></span>,</p>
              <br>
              <p><strong><span class="mark-highlight-manual">Voer rol ondertekenaar in</span></strong></p>
              <p><span class="mark-highlight-manual">Voer naam ondertekenaar in</span></p>
              <br>
              <p><strong><span class="mark-highlight-manual">Voer rol ondertekenaar in</span></strong></p>
              <p><span class="mark-highlight-manual">Voer naam ondertekenaar in</span></p>
              </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col--2-12">
          <div class="editor-commands">
            <div class="button-group">
              <button class="annotation-suggestion--trigger button--alt button">+</button>
            </div>
          </div>
          <div class="editor-loading-events">
            <div class="ember-view">
              <div class="grid grid--collapse">
                <div class="col--2-12 u-align-center">
                  <i class="vi vi-check vi-u-s"></i>
                </div>
                <div class="col--10-12">
                  <p class="small">
                  Klaar met verwerken
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="editor-hints">
            <div class="annotation-suggestion__suggestion">
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

<div class="modal-overlay">
  <div class="modal-dialog modal-dialog--sectioned modal-dialog--wide modal-dialog--static modal-dialog--hint">
    <div class="modal-dialog__header">
      <div class="grid">
        <div class="col--6-12">
          <h1 class="h3">Voeg een eigen ontwerpbesluit in</h1>
          <div class="u-spacer--tb--tiny">
            <div class="input-field-icon-container--block input-field-icon-container--left">
              <input placeholder="Zoek titel ontwerpbesluit" class="input-field input-field--block ember-text-field" type="text">
              <i class="input-field__icon vi-magnifier vi ember-view"></i>
            </div>
          </div>
        </div>
        <div class="col--6-12 u-align-right" data-ember-action="" data-ember-action-838="838">
          <div class="anti-jitter">
            <LinkTo @route="ontwerpbesluiten-documents.demo-1-b" class="link--icon--close">
              <span class="u-visually-hidden">Venster sluiten</span>
            </LinkTo>
          </div>
        </div>
      </div>
    </div>
    <table class="data-table" style="margin-bottom: 0;">
      <thead class="ember-view">
        <tr class="data-table__header">
          <th class="data-table__header-title"><a>Titel ontwerpbesluit</a></th>
          <th class="data-table__header-title"><a>Aangemaakt</a></th>
          <th class="data-table__header-title"><a>Aangepast</a></th>
          <th class="data-table__header-title u-align-right"><a>Status</a></th>
        </tr>
      </thead>
    </table>
    <div class="modal-dialog__content modal-dialog__content--sectioned" style="height:50vh;">
      <div class="container-flex--scroll data-table-content ember-view">
        <table class="data-table">
          <tbody>
            <tr>
              <td>Titel ontwerpbesluit</td>
              <td>Vandaag om 16:41</td>
              <td>09-03-2020</td>
              <td class="u-align-right"><a class="button button--alt button--narrow" href="#">Voeg in</a></td>
            </tr>
            <tr>
              <td>Titel ontwerpbesluit</td>
              <td>Vandaag om 16:41</td>
              <td>09-03-2020</td>
              <td class="u-align-right"><a class="button button--alt button--narrow" href="#">Voeg in</a></td>
            </tr>
            <tr>
              <td>Titel ontwerpbesluit</td>
              <td>Vandaag om 16:41</td>
              <td>09-03-2020</td>
              <td class="u-align-right"><a class="button button--alt button--narrow" href="#">Voeg in</a></td>
            </tr>
            <tr>
              <td>Titel ontwerpbesluit</td>
              <td>Vandaag om 16:41</td>
              <td>09-03-2020</td>
              <td class="u-align-right"><a class="button button--alt button--narrow" href="#">Voeg in</a></td>
            </tr>
            <tr>
              <td>Titel ontwerpbesluit</td>
              <td>Vandaag om 16:41</td>
              <td>09-03-2020</td>
              <td class="u-align-right"><a class="button button--alt button--narrow" href="#">Voeg in</a></td>
            </tr>
            <tr>
              <td>Titel ontwerpbesluit</td>
              <td>Vandaag om 16:41</td>
              <td>09-03-2020</td>
              <td class="u-align-right"><a class="button button--alt button--narrow" href="#">Voeg in</a></td>
            </tr>
            <tr>
              <td>Titel ontwerpbesluit</td>
              <td>Vandaag om 16:41</td>
              <td>09-03-2020</td>
              <td class="u-align-right"><a class="button button--alt button--narrow" href="#">Voeg in</a></td>
            </tr>
            <tr>
              <td>Titel ontwerpbesluit</td>
              <td>Vandaag om 16:41</td>
              <td>09-03-2020</td>
              <td class="u-align-right"><a class="button button--alt button--narrow" href="#">Voeg in</a></td>
            </tr>
            <tr>
              <td>Titel ontwerpbesluit</td>
              <td>Vandaag om 16:41</td>
              <td>09-03-2020</td>
              <td class="u-align-right"><a class="button button--alt button--narrow" href="#">Voeg in</a></td>
            </tr>
            <tr>
              <td>Titel ontwerpbesluit</td>
              <td>Vandaag om 16:41</td>
              <td>09-03-2020</td>
              <td class="u-align-right"><a class="button button--alt button--narrow" href="#">Voeg in</a></td>
            </tr>
            <tr>
              <td>Titel ontwerpbesluit</td>
              <td>Vandaag om 16:41</td>
              <td>09-03-2020</td>
              <td class="u-align-right"><a class="button button--alt button--narrow" href="#">Voeg in</a></td>
            </tr>
            <tr>
              <td>Titel ontwerpbesluit</td>
              <td>Vandaag om 16:41</td>
              <td>09-03-2020</td>
              <td class="u-align-right"><a class="button button--alt button--narrow" href="#">Voeg in</a></td>
            </tr>
            <tr>
              <td>Titel ontwerpbesluit</td>
              <td>Vandaag om 16:41</td>
              <td>09-03-2020</td>
              <td class="u-align-right"><a class="button button--alt button--narrow" href="#">Voeg in</a></td>
            </tr>
            <tr>
              <td>Titel ontwerpbesluit</td>
              <td>Vandaag om 16:41</td>
              <td>09-03-2020</td>
              <td class="u-align-right"><a class="button button--alt button--narrow" href="#">Voeg in</a></td>
            </tr>
            <tr>
              <td>Titel ontwerpbesluit</td>
              <td>Vandaag om 16:41</td>
              <td>09-03-2020</td>
              <td class="u-align-right"><a class="button button--alt button--narrow" href="#">Voeg in</a></td>
            </tr>
            <tr>
              <td>Titel ontwerpbesluit</td>
              <td>Vandaag om 16:41</td>
              <td>09-03-2020</td>
              <td class="u-align-right"><a class="button button--alt button--narrow" href="#">Voeg in</a></td>
            </tr>
            <tr>
              <td>Titel ontwerpbesluit</td>
              <td>Vandaag om 16:41</td>
              <td>09-03-2020</td>
              <td class="u-align-right"><a class="button button--alt button--narrow" href="#">Voeg in</a></td>
            </tr>
            <tr>
              <td>Titel ontwerpbesluit</td>
              <td>Vandaag om 16:41</td>
              <td>09-03-2020</td>
              <td class="u-align-right"><a class="button button--alt button--narrow" href="#">Voeg in</a></td>
            </tr>
            <tr>
              <td>Titel ontwerpbesluit</td>
              <td>Vandaag om 16:41</td>
              <td>09-03-2020</td>
              <td class="u-align-right"><a class="button button--alt button--narrow" href="#">Voeg in</a></td>
            </tr>
            <tr>
              <td>Titel ontwerpbesluit</td>
              <td>Vandaag om 16:41</td>
              <td>09-03-2020</td>
              <td class="u-align-right"><a class="button button--alt button--narrow" href="#">Voeg in</a></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div class="modal-dialog__footer u-background--gray-lighter">
      <div id="ember961" class="data-table-pagination ember-view">
        <div class="pager">
          <ul class="pager__list">
            <li class="pager__element u-hidden-mobile">
              <span class="u-visually-hidden">Rij </span><strong>1 - 10</strong> van 28
            </li>
            <li class="pager__element">
              <a role="button" data-ember-action="" data-ember-action-962="962">
                volgende
                <span class="u-visually-hidden">  rijen</span>
                <i id="ember963" class="vi-u-s vi-arrow vi ember-view"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>

{{outlet}}
