<nav class="editor-chrome">
  <div class="grid u-spacer--tiny">
    <div class="col--6-12">
      <LinkTo @route="inbox.ontwerpbesluiten" class="smaller link-dark">&leftarrow; Terug naar overzicht ontwerpbesluiten</LinkTo>
      <label class="pill u-spacer--left--tiny">
        <span>Gemeente Aalst</span> 
        {{!-- Replace with generated pill --}}
      </label>
    </div>
    <div class="col--6-12">
      <div class="grid grid--collapse grid--align-right">
        <div class="col--10-12 u-align-right">
          <WuButtonGroup>
            {{#if startSyncModal}}
              <WuLinkButton @isSmall={{true}} @isNarrow={{true}} @isLink={{true}} @onClick={{startSyncModal}}>
                <i class="fa fa-rotate-right"></i>Synchroniseer gegevens met OCMW
              </WuLinkButton>
            {{/if}}
            {{!-- // Still needed? --}}
            <WuLinkButton @isSmall={{true}} @isNarrow={{true}} @isLink={{true}} @onClick=Null>
              <i class="fa fa-retweet"></i>Exporteer als HTML
            </WuLinkButton>
          </WuButtonGroup>
        </div>
        {{#if features.languageSelect}}
          <div class="col--2-12 u-align-left u-padding--left--small">
            <LanguageSelect />
          </div>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="col--6-12">
      <div class="u-spacer--top--tinier">
        <h1>
          Titel ontwerpbesluit
        {{!-- Replace with generated titel --}}
        </h1>
      </div>
      <span class="pill--primary-blue pill">Concept</span>
        {{!-- Replace with generated pill --}}
    </div>

    <div class="col--6-12 u-align-right">
      <WuButtonGroup @class="u-align-right">
        {{!--Only for new ones: <LinkTo @route="inbox.ontwerpbesluiten" class="button button--small button--narrow button--link button--link--dark">Verwijder concept</LinkTo> --}}
        <WuButton @label="Naar prullenmand" @isSmall={{true}} @isNarrow={{true}} @isLink={{true}} @isDarkLink={{true}} @onClick="Null" />
        <WuButton @label="Bewaar concept" @isNarrow={{true}} @isSmall={{true}} @onClick="Null" />
      </WuButtonGroup>

      <div class="u-spacer--top--tiny">
        <p class="smaller">
          <span class="smaller u-padding--right--tiny">
            <span class="badge badge--accent badge--xs badge--initials"><i class="vi vi-warning"></i></span>
            <span>Wijzigingen niet bewaard</span>
          </span>
        </p>
      </div>
    </div>
  </div>
</nav>

<div class="rdfa-editor container-flex--contain">
  <div class="toolbar">
    <div class="grid">
      <div class="col--8-12 toolbar__styling-tools">
        <div class="button-group u-display-inline-block">
          <button class="button button--narrow button--link button--dark button--link--dark">
            <i class="fa fa-rotate-left"></i>
          </button>
        </div>
        <div class="button-group u-display-inline-block">
          <button class="button button--narrow button--link button--dark button--link--dark">
            <i class="fa fa-bold"></i>
          </button>
                  <button class="button button--narrow button--link button--dark button--link--dark">
            <i class="fa fa-italic"></i>
          </button>
                  <button class="button button--narrow button--link button--dark button--link--dark">
            <i class="fa fa-underline"></i>
          </button>
                  <button class="button button--narrow button--link button--dark button--link--dark">
            <i class="fa fa-strikethrough"></i>
          </button>
                  <button class="button button--narrow button--link button--dark button--link--dark">
            <i class="fa fa-list-ul"></i>
          </button>
                  <button class="button button--narrow button--link button--dark button--link--dark">
            <i class="fa fa-list-ol"></i>
          </button>
                  <button class="button button--narrow button--link button--dark button--link--dark">
            <i class="fa fa-dedent"></i>
          </button>
                  <button class="button button--narrow button--link button--dark button--link--dark">
            <i class="fa fa-indent"></i>
          </button>
        </div>
      </div>
      <div class="col--4-12 u-align-right">
        <div class="button-group">
          <div class="checkbox--switch__wrapper checkbox--switch--small">
            <input class="checkbox--switch" name="toggle" value="" checked="checked" type="checkbox">
            <label class="checkbox--switch__label" for="toggle-1"></label>
            <span>Toon annotaties</span>
          </div>
          <button class="button--alt button--alt--blue button button--small button--narrow">
            Voeg annotatie in +
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container-flex--contain editor-container">
    <div class="container-flex--scroll">
      <div class="grid grid--collapse grid--align-center">
        <div class="col--6-12">
          <div class="editor">
            <div contenteditable="true" class="editor__paper ember-view">

              <div data-editor-highlight="true">Voeg sjabloon in voor besluit</div>

              <br>
              <br>
              <hr>
              OF
              <hr>
              <br>
              <br>

              <div property="ext:behandelingVanAgendapuntenContainer">
              <span class="u-hidden">3ba2c5b9-f8b1-4dd8-9612-e844c05ae119</span>
              <div property="ext:behandelt" resource="http://data.lblod.info/id/behandelingen-van-agendapunten/19cdc590-d7d7-4004-a956-fb95bd31ef20" typeof="besluit:BehandelingVanAgendapunt">
              <span property="besluit:openbaar" datatype="xsd:boolean" content="false">
              <i class="fa fa-eye-slash"></i>
              <span>Besloten behandeling van agendapunt</span>
              </span>
              <h3 property="dc:subject" resource="http://data.lblod.info/id/agendapunten/9f9f7e29-831d-4eec-b609-5e1f0d5de063" class="h4"> Agendapunt </h3>
              <br>
              <br>
              <div data-editor-highlight="true">Voeg sjabloon in voor besluit of vrij tekstveld (bijvoorbeeld voor een vraag, antwoord of tussenkomst)</div>
              <br>
              </div>
              <span class="u-hidden">d0aca09b-1cc0-48e4-9531-908297d8f8fa</span>
              </div>
              <br>
              <br>

            </div>
          </div>
        </div>
        <div class="col--2-12">
          <div class="editor-commands">
            <div class="button-group">
              <button class="annotation-suggestion--trigger button--alt button">+</button>
            </div>
          </div>
          <div class="editor-loading-events">
            <div class="ember-view">
              <div class="grid grid--collapse">
                <div class="col--2-12 u-align-center">
                  <i class="vi vi-check vi-u-s"></i>
                </div>
                <div class="col--10-12">
                  <p class="small">
                  Klaar met verwerken
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="editor-hints">
            <div class="annotation-suggestion__suggestion">
              <div class="modal-dialog modal-dialog--sectioned modal-dialog--small modal-dialog--static modal-dialog--hint">

                <ul>
                  <li>
                    <div class="ember-view">
                      <div class="modal-dialog modal-dialog--temporary-fix modal-dialog--sectioned modal-dialog--static modal-dialog--small">
                        <div class="modal-dialog__header">
                          <div class="grid">
                            <div class="col--10-12">
                              <p>
                                Voeg een besluit of <br>vrij tekstveld in:
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="ember-view">
                      <ul class="modal-dialog modal-dialog--temporary-fix modal-dialog--sectioned modal-dialog--static modal-dialog--small">
                        <li class="modal-dialog__link-list">
                          <div class="grid">
                            <div class="col--6-12 u-padding--top--tinier">Besluitsjabloon</div>
                            <div class="col--6-12 u-align-right">
                              <LinkTo @route="ontwerpbesluiten-documents.demo-besluitsjabloon" class="button button--narrow button--link"><i class="vi vi-arrow"></i></LinkTo>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <div class="ember-view">
                      <ul class="modal-dialog modal-dialog--temporary-fix modal-dialog--sectioned modal-dialog--static modal-dialog--small">
                        <li class="modal-dialog__link-list u-background--gray-lightest">
                          <div class="grid">
                            <div class="col--6-12 u-padding--top--tinier">Start van eigen ontwerpbesluit</div>
                            <div class="col--6-12 u-align-right">
                              <LinkTo @route="ontwerpbesluiten-documents.demo-3" class="button button--narrow button--link button--disabled"><i class="vi vi-arrow"></i></LinkTo>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <div class="ember-view">
                      <ul class="modal-dialog modal-dialog--temporary-fix modal-dialog--sectioned modal-dialog--static modal-dialog--small">
                        <li class="modal-dialog__link-list u-background--gray-lightest">
                          <div class="grid">
                            <div class="col--6-12 u-padding--top--tinier">Besluit uit extern notulenpakket</div>
                            <div class="col--6-12 u-align-right">
                              <LinkTo @route="ontwerpbesluiten-documents.demo-3" class="button button--narrow button--link button--disabled"><i class="vi vi-arrow"></i></LinkTo>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <div class="ember-view">
                      <div class="modal-dialog modal-dialog--temporary-fix modal-dialog--sectioned modal-dialog--static modal-dialog--small">
                        <li class="modal-dialog__link-list u-background--gray-lightest">
                          <div class="grid">
                            <div class="col--8-12">
                              Vrij tekstveld (bijvoorbeeld voor een vraag, antwoord of tussenkomst)
                            </div>
                            <div class="col--4-12 u-align-right">
                              <button class="button button--narrow button--disabled">Voeg in</button>
                            </div>
                          </div>
                        </li>
                      </div>
                    </div>
                  </li>

                </ul>

              </div>
            </div>


          </div>

        </div>
      </div>

    </div>
  </div>
</div>

{{outlet}}
