<div class="u-spacer--top">

	<h2 class="h2 u-spacer--bottom--large">Agenda Onderteken &amp; Publiceren</h2>
	{{!-- <h4 class="h6 u-spacer--tb">{{documentContainer.currentVersion.title}}</h4> --}}

	<ul class="steps steps--timeline">
	  <li class="step step--accordion js-accordion js-accordion--open">
	    <div class="step__icon"><i class="vi vi-news"></i></div>
	    <div class="step__wrapper">
	      <div class="step__header js-accordion__toggle">
	        <div class="step__header__titles">
	          <h3 class="step__title">Ontwerpagenda</h3>
	        </div>
	        <div class="step__header__info">
	          <span class="pill pill--primary-blue">Publiek</span>
	          <i class="step__accordion-toggle"></i>
	        </div>
	      </div>
	      <div class="step__content-wrapper">
	        <div class="step__content">
						<div class="u-spacer--round--small">

							<div class="u-hr u-hr--lighter u-padding--bottom u-spacer">
								<div class="grid">
									<div class="col--7-12">
										<h4 class="h5">Voorvertoning ontwerpagenda</h4>
									</div>
									<div class="col--5-12 u-align-right">
										<div class="popover js-popover u-spacer--right--tiny">
										  <a class="link--dark small js-popover__toggle" type="button">Opties</a>
										  <ul class="popover__content u-spacer--top--tiny u-align-left">
										    <li>
										      <p class="small u-padding--round--tiny">U ziet de versie die laatst gepubliceerd werd.
										      	<br>
										      	<br>
										      	Indien er een fout staat in de ontwerpagenda, kan u de publicatie en het ondertekenen nietig verklaren en opnieuw starten van de meest recente versie.
										      </p>
										    </li>
										  </ul>
										</div>
										<span class="pill pill--primary-blue pill--small">Publieke versie</span>
									</div>
								</div>
								<div class="u-spacer--top--small">
				        	{{{agendaContents}}}
				        </div>
				      </div>

							<div class="u-hr u-hr--lighter u-padding--bottom u-spacer">
								<div class="grid">
									<div class="col--7-12">
										<h4 class="h5">Onderteken</h4>
									</div>
									<div class="col--5-12 u-align-right">
										<div class="popover js-popover u-spacer--right--tiny">
										  <a class="link--dark small js-popover__toggle" type="button">Opties</a>
										  <ul class="popover__content u-spacer--top--tiny">
										    <li>
										      <a class="popover__link" href="#">Verklaar ondertekeningen nietig</a>
													<!-- Need modal for this one, hide if too much for now -->
													<!-- <p class="smaller u-spacer">U kan dit document niet meer nietig verklaren, omdat de aanvullende agenda al gepubliceerd werd.</p> wss niet nodig -->
										    </li>
										  </ul>
										</div>
					          <span class="pill pill--small pill--primary-blue">Ondertekend</span>
									</div>
								</div>
								<div class="u-spacer--top--small">
									<div class="grid">
										<div class="col--4-12">
											<p class="smaller uppercase text-fade">Ondertekend door</p>
											<p class="u-spacer--small">Patricia Florissoone <br> 10/12/2018 15:03</p>
										</div>
										<div class="col--4-12">
											<p class="smaller uppercase text-fade">Ondertekend door</p>
											<p class="u-spacer--small">Gerard Vaes <br> 10/12/2018 18:05</p>
										</div>
									</div>
				        </div>
				      </div>

							<div class="u-padding--bottom u-spacer">
								<div class="grid">
									<div class="col--7-12">
										<h4 class="h5">Publiceer</h4>
									</div>
									<div class="col--5-12 u-align-right">
										<div class="popover js-popover u-spacer--right--tiny">
										  <a class="link--dark small js-popover__toggle" type="button">Opties</a>
										  <ul class="popover__content u-spacer--top--tiny">
										    <li>
										      <a class="popover__link" href="#">Verklaar laatste publicatie nietig</a>
													<!-- Need modal for this one, hide if too much for now -->
													<!-- <p class="smaller u-spacer">U kan dit document niet meer nietig verklaren, omdat de aanvullende agenda al gepubliceerd werd.</p> wss niet nodig -->
										    </li>
										  </ul>
										</div>
					          <span class="pill pill--small pill--primary-blue">Publiek</span>
									</div>
								</div>
								<div class="u-spacer--top--small">

									<div class="u-background--gray-lightest u-padding--round--small u-spacer--tb--small">
										<div class="grid">
											<div class="col--3-12">
												<p class="smaller uppercase text-fade">Publicatie door</p>
												<p class="u-spacer--small">Patricia Florissoone <br> 10/12/2018 15:03</p>
											</div>
											<div class="col--6-12">
												<p class="smallest uppercase text-fade">Link</p>
												<a href="https://publicatie.gelinkt-notuleren.vlaanderen.be/Aalst/Gemeente/addc9320-02de-11e9-9174-89295b788e5c/ontwerp-agenda" class="small" target="_blank">publicatie.gelinkt-notuleren.vlaanderen.be/Aalst/Gemeente/addc9320-02de-11e9-9174-89295b788e5c/ontwerp-agenda</a>
											</div>
											<div class="col--3-12">
												<p class="smaller uppercase text-fade">Type publicatie</p>
												<p>Publiek voor iedereen</p>
											</div>
											<div class="col--12-12">
												<p class="smaller uppercase u-spacer--top--small">Publicatie <span class="pill pill--small pill--red">nietig verklaard</span> door Patricia Florissoone op 11/12/2018 15:03</p>
											</div>
										</div>
									</div>

									<div class="grid">
										<div class="col--3-12">
											<p class="smaller uppercase text-fade">Herpublicatie door</p>
											<p class="u-spacer--small">Patricia Florissoone <br> 10/12/2018 15:03</p>
										</div>
										<div class="col--6-12">
											<p class="smallest uppercase text-fade">Link</p>
											<a href="https://publicatie.gelinkt-notuleren.vlaanderen.be/Aalst/Gemeente/addc9320-02de-11e9-9174-89295b788e5c/ontwerp-agenda" class="small" target="_blank">publicatie.gelinkt-notuleren.vlaanderen.be/Aalst/Gemeente/addc9320-02de-11e9-9174-89295b788e5c/ontwerp-agenda</a>
										</div>
										<div class="col--3-12">
											<p class="smaller uppercase text-fade">Type publicatie</p>
											<p>Publiek voor iedereen</p>
										</div>
									</div>

				        </div>
				      </div>

		        </div>
	        </div>
	      </div>
	    </div>
	  </li>

	  <li class="step step--accordion js-accordion js-accordion--open">
	    <div class="step__icon"><i class="vi vi-clock"></i></div>
	    <div class="step__wrapper">
	      <div class="step__header js-accordion__toggle">
	        <div class="step__header__titles">
	          <h3 class="step__title">Aanvullende agenda</h3>
	        </div>
	        <div class="step__header__info">
	          <span class="pill pill--primary-yellow">Tweede handtekening vereist</span>
	          <i class="step__accordion-toggle"></i>
	        </div>
	      </div>
	      <div class="step__content-wrapper">
	        <div class="step__content">
						<div class="u-spacer--round--small">

							<div class="u-hr u-hr--lighter u-padding--bottom u-spacer">
								<div class="grid">
									<div class="col--7-12">
										<h4 class="h5">Voorvertoning aanvullende agenda</h4>
									</div>
									<div class="col--5-12 u-align-right">
										<div class="popover js-popover u-spacer--right--tiny">
										  <a class="link--dark small js-popover__toggle" type="button">Opties</a>
										  <ul class="popover__content u-spacer--top--tiny u-align-left">
										    <li>
										      <p class="small u-padding--round--tiny">U ziet de versie die laatst ondertekend werd.
										      	<br>
										      	<br>
										      	Indien er een fout staat in de ontwerpagenda, kan u de ondertekeningen nietig verklaren en opnieuw starten van de meest recente versie.
										      </p>
										    </li>
										  </ul>
										</div>
										<span class="pill pill--primary-yellow pill--small">Ondertekende versie</span>
									</div>
								</div>
								<div class="u-spacer--top--small">
				        	{{{agendaContents}}}
				        </div>
				      </div>

							<div class="u-hr u-hr--lighter u-padding--bottom u-spacer">
								<div class="grid">
									<div class="col--7-12">
										<h4 class="h5">Onderteken</h4>
									</div>
									<div class="col--5-12 u-align-right">
										<div class="popover js-popover u-spacer--right--tiny">
										  <a class="link--dark small js-popover__toggle" type="button">Opties</a>
										  <ul class="popover__content u-spacer--top--tiny">
										    <li>
										      <a class="popover__link" href="#">Verklaar ondertekeningen nietig</a>
													<!-- Need modal for this one, hide if too much for now -->
													<!-- <p class="smaller u-spacer">U kan dit document niet meer nietig verklaren, omdat de aanvullende agenda al gepubliceerd werd.</p> wss niet nodig -->
										    </li>
										  </ul>
										</div>
										<span class="pill pill--small pill--primary-yellow">Tweede handtekening vereist</span>
									</div>
								</div>
								<div class="u-spacer--top--small">

									<div class="u-background--gray-lightest u-padding--round--small u-spacer--tb--small">
										<div class="grid">
											<div class="col--4-12">
												<p class="smaller uppercase text-fade">Ondertekend door</p>
												<p class="u-spacer--small">Patricia Florissoone <br> 10/12/2018 15:03</p>
											</div>
											<div class="col--4-12">
												<p class="smaller uppercase text-fade">Ondertekend door</p>
												<p class="u-spacer--small">Gerard Vaes <br> 10/12/2018 15:03</p>
											</div>
											<div class="col--12-12">
												<p class="smaller uppercase u-spacer--top--small">Ondertekening <span class="pill pill--small pill--red">nietig verklaard</span> door Patricia Florissoone op 11/12/2018 15:03</p>
											</div>
										</div>
									</div>

									<div class="grid">
										<div class="col--4-12">
											<p class="smaller uppercase text-fade">Ondertekend door</p>
											<p class="u-spacer--small">Patricia Florissoone <br> 10/12/2018 15:03</p>
										</div>
										<div class="col--4-12">
											<p class="smaller uppercase text-fade">Tweede handtekening vereist</p>
											<button class="button button--narrow button--small u-spacer--top--tiny" {{action "applySignature"}}>Onderteken aanvullende agenda</button> <!-- "chairman" -->
										</div>
									</div>
				        </div>
				      </div>

							<div class="u-padding--bottom u-spacer">
								<div class="grid">
									<div class="col--7-12">
										<h4 class="h5">Publiceer</h4>
									</div>
									<div class="col--5-12 u-align-right">
										<span class="pill pill--small pill--red">Publicatie nietig verklaard</span>
									</div>
								</div>
								<div class="u-spacer--top--small">

									<div class="u-background--gray-lightest u-padding--round--small u-spacer--tb--small">
										<div class="grid">
											<div class="col--3-12">
												<p class="smaller uppercase text-fade">Publicatie door</p>
												<p class="u-spacer--small">Patricia Florissoone <br> 10/12/2018 15:03</p>
											</div>
											<div class="col--6-12">
												<p class="smallest uppercase text-fade">Link</p>
												<a href="https://publicatie.gelinkt-notuleren.vlaanderen.be/Aalst/Gemeente/addc9320-02de-11e9-9174-89295b788e5c/aanvullende-agenda" class="small" target="_blank">publicatie.gelinkt-notuleren.vlaanderen.be/Aalst/Gemeente/addc9320-02de-11e9-9174-89295b788e5c/aanvullende-agenda</a>
											</div>
											<div class="col--3-12">
												<p class="smaller uppercase text-fade">Type publicatie</p>
												<p>Publiek voor iedereen</p>
											</div>
											<div class="col--12-12">
												<p class="smaller uppercase u-spacer--top--small">Publicatie <span class="pill pill--small pill--red">nietig verklaard</span> door Patricia Florissoone op 11/12/2018 15:03</p>
											</div>
										</div>
									</div>

									<div class="grid">
										<div class="col--8-12">
											<button class="button u-spacer--tb--tiny" {{action "publish"}}>Herpubliceer aanvullende agenda</button>
											<p class="text-fade">De agenda wordt gepubliceerd zoals bovenaan in de voorvertoning naar <a href="https://publicatie.gelinkt-notuleren.vlaanderen.be" target="_blank">publicatie.gelinkt-notuleren.vlaanderen.be</a>, en zal zichtbaar zijn voor iedereen zonder authenticatie.</p>
										</div>
									</div>

				        </div>
				      </div>

		        </div>
	        </div>
	      </div>
	    </div>
	  </li>

	  <li class="step step--accordion js-accordion js-accordion--open">
	    <div class="step__icon"><i class="vi vi-edit"></i></div>
	    <div class="step__wrapper js-accordion__toggle">
	      <div class="step__header">
	        <div class="step__header__titles">
	          <h3 class="step__title">Spoedeisende agenda</h3>
	        </div>
	        <div class="step__header__info">
	          <span class="pill">Niet ondertekend</span>
	          <i class="step__accordion-toggle"></i>
	        </div>
	      </div>
	      <div class="step__content-wrapper">
					{{!-- <p class="smaller">Door voorzitter en algemeen directeur met rol <a href="https://gelinkt-notuleren.vlaanderen.be/handleiding/#gebruikersbeheer" target="_blank">ondertekenaar</a>.</p> --}}
	        <div class="step__content">

						<div class="u-spacer--round--small">

							<div class="u-hr u-hr--lighter u-padding--bottom u-spacer">
								<div class="grid">
									<div class="col--7-12">
										<h4 class="h5">Voorvertoning ontwerpagenda</h4>
									</div>
									<div class="col--5-12 u-align-right">
										<span class="pill pill--small">Meest recente versie</span>
									</div>
								</div>
								<div class="u-spacer--top--small">
				        	{{{agendaContents}}}
				        </div>
				      </div>

							<div class="u-hr u-hr--lighter u-padding--bottom u-spacer">
								<div class="grid">
									<div class="col--7-12">
										<h4 class="h5">Onderteken</h4>
									</div>
									<div class="col--5-12 u-align-right">
										<span class="pill pill--small">Niet ondertekend</span>
									</div>
								</div>

								<div class="u-spacer--top--small">
									<div class="grid">
										<div class="col--6-12">
											<p class="smaller uppercase text-fade">Handtekeningen vereist door voorzitter en algemeen directeur met rol <a href="https://gelinkt-notuleren.vlaanderen.be/handleiding/#gebruikersbeheer" target="_blank">ondertekenaar</a></p>
											<!-- dit verschilt voor verschillende organen -->
											<button class="button u-spacer--top--tiny" {{action "applySignature"}}>Onderteken spoedeisende agenda</button>
										</div>
									</div>
								</div>
							</div>

							<div class="u-padding--bottom u-spacer">
								<div class="grid">
									<div class="col--7-12">
										<h4 class="h5">Publiceer</h4>
									</div>
									<div class="col--5-12 u-align-right">
										<span class="pill pill--small">Niet publiek</span>
									</div>
								</div>
								<div class="u-spacer--top--small">
									<div class="grid">
										<div class="col--8-12">
											<p class="smaller uppercase text-fade">Publicatie door <a href="https://gelinkt-notuleren.vlaanderen.be/handleiding/#gebruikersbeheer" target="_blank">publiceerder</a></p>
											<button class="button u-spacer--tb--tiny" {{action "publish"}}>Publiceer spoedeisende agenda</button>
											<p class="text-fade small">De agenda wordt gepubliceerd zoals bovenaan in de voorvertoning naar <a href="https://publicatie.gelinkt-notuleren.vlaanderen.be" target="_blank">publicatie.gelinkt-notuleren.vlaanderen.be</a>, en zal zichtbaar zijn voor iedereen zonder authenticatie.</p>
										</div>
									</div>
								</div>
							</div>
						</div>

	        </div>
	      </div>
	    </div>
	  </li>

	  <li class="step step--accordion js-accordion js-accordion--open scanner">
      <div class="scanner__text">
        <div class="badge badge--accent badge--l badge--initials">
          <span class="loader"><span class="u-visually-hidden">Aan het verwerken</span></span>
        </div>
        <h3 class="h3">Bezig met ondertekenen</h3>
        of
        <h3 class="h3">Bezig met publiceren</h3>
      </div>
      <span class="scanner__bar"></span>
	    <div class="step__icon"><span class="loader"><span class="u-visually-hidden">Aan het verwerken</span></span></div>
	    <div class="step__wrapper js-accordion__toggle">
	      <div class="step__header">
	        <div class="step__header__titles">
	          <h3 class="step__title">Spoedeisende agenda</h3>
	        </div>
	        <div class="step__header__info">
	          <span class="pill">Niet ondertekend</span>
	          <i class="step__accordion-toggle"></i>
	        </div>
	      </div>
	      <div class="step__content-wrapper">
					{{!-- <p class="smaller">Door voorzitter en algemeen directeur met rol <a href="https://gelinkt-notuleren.vlaanderen.be/handleiding/#gebruikersbeheer" target="_blank">ondertekenaar</a>.</p> --}}
	        <div class="step__content">

						<div class="u-spacer--round--small">

							<div class="u-hr u-hr--lighter u-padding--bottom u-spacer">
								<div class="grid">
									<div class="col--7-12">
										<h4 class="h5">Voorvertoning ontwerpagenda</h4>
									</div>
									<div class="col--5-12 u-align-right">
										<span class="pill pill--small">Meest recente versie</span>
									</div>
								</div>
								<div class="u-spacer--top--small">
				        	{{{agendaContents}}}
				        </div>
				      </div>

							<div class="u-hr u-hr--lighter u-padding--bottom u-spacer">
								<div class="grid">
									<div class="col--7-12">
										<h4 class="h5">Onderteken</h4>
									</div>
									<div class="col--5-12 u-align-right">
										<span class="pill pill--small">Niet ondertekend</span>
									</div>
								</div>

								<div class="u-spacer--top--small">
									<div class="grid">
										<div class="col--6-12">
											<p class="smaller uppercase text-fade">Handtekeningen vereist door voorzitter en algemeen directeur met rol <a href="https://gelinkt-notuleren.vlaanderen.be/handleiding/#gebruikersbeheer" target="_blank">ondertekenaar</a></p>
											<!-- dit verschilt voor verschillende organen -->
											<button class="button u-spacer--top--tiny" {{action "applySignature"}}>Onderteken spoedeisende agenda</button>
										</div>
									</div>
								</div>
							</div>

							<div class="u-hr u-hr--lighter u-padding--bottom u-spacer">
								<div class="grid">
									<div class="col--7-12">
										<h4 class="h5">Publiceer</h4>
									</div>
									<div class="col--5-12 u-align-right">
										<span class="pill pill--small">Niet publiek</span>
									</div>
								</div>
								<div class="u-spacer--top--small">
									<div class="grid">
										<div class="col--8-12">
											<p class="smaller uppercase text-fade">Publicatie door <a href="https://gelinkt-notuleren.vlaanderen.be/handleiding/#gebruikersbeheer" target="_blank">publiceerder</a></p>
											<button class="button u-spacer--tb--tiny" {{action "publish"}}>Publiceer spoedeisende agenda</button>
											<p class="text-fade small">De agenda wordt gepubliceerd zoals bovenaan in de voorvertoning naar <a href="https://publicatie.gelinkt-notuleren.vlaanderen.be" target="_blank">publicatie.gelinkt-notuleren.vlaanderen.be</a>, en zal zichtbaar zijn voor iedereen zonder authenticatie.</p>
										</div>
									</div>
								</div>
							</div>
						</div>

	        </div>
	      </div>
	    </div>
	  </li>
	</ul>


	{{outlet}}
</div>
