<div class="u-spacer--top">
  {{#wu-timeline-accordion as |timeline|}}
    {{#each agendaInfo as |agenda|}}
      {{agenda-timeline-step agenda=agenda step=timeline.step}}
    {{/each}}

    {{signatures/agenda/timeline-step
      name="Ontwerpagenda"
      step=timeline.step
      agenda=ontwerpAgenda
      currentEditorDocument=model.editorDocument
      sign=(action "applySignature" "ontwerpagenda")
      publish=(action "publish" "ontwerpagenda")
    }}
    
    {{signatures/agenda/timeline-step
      name="Aanvullende agenda"
      step=timeline.step
      agenda=aanvullendeAgenda
      currentEditorDocument=model.editorDocument
      sign=(action "applySignature" "aanvullendeagenda")
      publish=(action "publish" "aanvullendeagenda")
    }}
    
    {{signatures/agenda/timeline-step
      name="Spoedeisende agenda"
      step=timeline.step
      agenda=aanvullendeAgenda
      currentEditorDocument=model.editorDocument
      sign=(action "applySignature" "aanvullendeagenda")
      publish=(action "publish" "aanvullendeagenda")
    }}

    {{#timeline.step title="Ontwerpagenda" pillColor="primary-blue" pillName="gepubliceerd" icon="vi-news" as |step|}}
      {{#step.block title="Voorvertoning ontwerpagenda" pillColor="primary-blue" pillName="Publieke versie"}}
        {{{agendaContents}}}
      {{/step.block}}
      {{#step.block title="Onderteken" pillColor="primary-blue" pillName="Ondertekend"}}
				<div class="grid">
          {{#if (eq ontwerpagenda.ondertekenaars.length 2)}}
					  <div class="col--4-12">
						  <p class="smaller uppercase text-fade">Ondertekend door</p>
						  <p class="u-spacer--small">Patricia Florissoone <br> 10/12/2018 15:03</p>
					  </div>
					  <div class="col--4-12">
						  <p class="smaller uppercase text-fade">Ondertekend door</p>
						  <p class="u-spacer--small">Gerard Vaes <br> 10/12/2018 18:05</p>
					  </div>
          {{else}}
            {{#if (eq ontwerpagenda.ondertekenaars.length 1)}}
              <div class="col--4-12">
              	<p class="smaller uppercase text-fade">Ondertekend door</p>
              	<p class="u-spacer--small">Patricia Florissoone <br> 10/12/2018 15:03</p>
              </div>
              <div class="col--4-12">
              	<p class="smaller uppercase text-fade">Tweede handtekening vereist</p>
              	<button class="button button--narrow button--small u-spacer--top--tiny" {{action "applySignature" "ontwerpagenda"}}>Onderteken ontwerpagenda</button>
              </div>
            {{else}}
              <div class="col--6-12">
                <p class="smaller uppercase text-fade">Handtekeningen vereist door voorzitter en algemeen directeur met rol <a href="https://gelinkt-notuleren.vlaanderen.be/handleiding/#gebruikersbeheer" target="_blank">ondertekenaar</a></p>
                <!-- dit verschilt voor verschillende organen -->
                <button class="button u-spacer--top--tiny" {{action "applySignature" "ontwerpagenda"}}>Onderteken ontwerpagenda</button>
              </div>
            {{/if}}
          {{/if}}
				</div>
      {{/step.block}}
      {{#step.block title="Publiceer" pillColor="primary-blue" pillName=(if ontwerpagenda.published "Publiek" "Niet publiek")}}
				<div class="u-background--gray-lightest u-padding--round--small u-spacer--tb--small">
					<div class="grid">
            {{#if ontwerpagenda.published}}
						  <div class="col--3-12">
							  <p class="smaller uppercase text-fade">Publicatie door</p>
							  <p class="u-spacer--small">Patricia Florissoone <br> 10/12/2018 15:03</p>
						  </div>
						  <div class="col--6-12">
							  <p class="smallest uppercase text-fade">Link</p>
							  <a href="https://publicatie.gelinkt-notuleren.vlaanderen.be/Aalst/Gemeente/addc9320-02de-11e9-9174-89295b788e5c/ontwerp-agenda" class="small" target="_blank">publicatie.gelinkt-notuleren.vlaanderen.be/Aalst/Gemeente/addc9320-02de-11e9-9174-89295b788e5c/ontwerp-agenda</a>
						  </div>
						  <div class="col--3-12">
							  <p class="smaller uppercase text-fade">Type publicatie</p>
							  <p>Publiek voor iedereen</p>
						  </div>
            {{else}}
              <div class="col--8-12">
                <p class="smaller uppercase text-fade">Publicatie door <a href="https://gelinkt-notuleren.vlaanderen.be/handleiding/#gebruikersbeheer" target="_blank">publiceerder</a></p>
                <button class="button u-spacer--tb--tiny" {{action "publish"}}>Publiceer spoedeisende agenda</button>
                <p class="text-fade small">De agenda wordt gepubliceerd zoals bovenaan in de voorvertoning naar <a href="https://publicatie.gelinkt-notuleren.vlaanderen.be" target="_blank">publicatie.gelinkt-notuleren.vlaanderen.be</a>, en zal zichtbaar zijn voor iedereen zonder authenticatie.</p>
              </div>
            {{/if}}
					</div>
				</div>
      {{/step.block}}
    {{/timeline.step}}
    {{#timeline.step title="Aanvullende agenda" pillColor="primary-yellow" pillName="ondertekend" icon="vi-clock"}}
    {{/timeline.step}}
    {{#timeline.step title="Spoedeisende agenda" pillColor="gray" pillName="concept" icon="vi-edit"}}
    {{/timeline.step}}
  {{/wu-timeline-accordion}}

	{{outlet}}
</div>
