<div class="u-spacer--top">
  <WuTimelineAccordion as |timeline|>
    <Signatures::Notulen::TimelineStep
      @name="notulen"
      @step={{timeline.step}}
      @notulen={{notulen}}
      @currentEditorDocument={{model.editorDocument}}
      @signing={{action "sign" "notulen"}}
      @publish={{action "publish" "notulen"}}
      @isOpen={{true}}
    />
  </WuTimelineAccordion>
</div>
