<AuMainHeader @homeRoute="index" @appTitle="Gelinkt Notuleren" @contactRoute="contact">
  <AuDropdown @title="{{this.currentSession.user.voornaam}} {{this.currentSession.user.achternaam}} - {{this.currentSession.group.classificatie.label}} {{this.currentSession.group.naam}}" @buttonLabel="Account settings" @alignment="right">
    {{#if this.acmSwitchEnabled}}
      <Acmidm::Switch as |acmidm|>
        <AuButton @loading={{acmidm.isSwitching}} class="au-c-button au-c-button--tertiary" role="menuitem" {{on "click" acmidm.switch}}>
          <AuIcon @icon="switch" @alignment="left" />Wissel van bestuurseenheid
        </AuButton>
      </Acmidm::Switch>
    {{/if}}
    <button type="button" class="au-c-button au-c-button--tertiary" role="menuitem" {{on "click" this.logout}}>
      <AuIcon @icon="logout" @alignment="left" />Afmelden
    </button>
  </AuDropdown>
</AuMainHeader>

<AuMainContainer as |maincontainer|>
  <maincontainer.sidebar>
    <div class="au-c-sidebar">
      <div class="au-c-sidebar__content">
        <nav>
          <ul class="au-c-list-navigation">
            <li class="au-c-list-navigation__item">
              <AuNavigationLink @route="inbox.meetings">
                <AuIcon @icon="documents" @alignment="left" />
                {{t "inbox.menu.meetings"}}
              </AuNavigationLink>
            </li>
            <li class="au-c-list-navigation__item">
              <AuNavigationLink @route="inbox.agendapoints">
                <AuIcon @icon="draft" @alignment="left" />
                {{t "inbox.menu.agendapoints"}}
              </AuNavigationLink>
            </li>
            {{#if this.model.length}}
            <li class="au-c-list-navigation__item">
              <AuNavigationLink @route="inbox.irg-archive">
                <AuIcon @icon="draft" @alignment="left" />
                {{t "inbox.irgArchive.pageTitle"}}
              </AuNavigationLink>
            </li>
            {{/if}}
            <li class="au-c-list-navigation__item">
              <AuNavigationLink @route="inbox.trash">
                <AuIcon @icon="bin" @alignment="left" />
                {{t "inbox.menu.trash"}}
              </AuNavigationLink>
            </li>
          </ul>
        </nav>
      </div>
      <div class="au-c-sidebar__footer">
        <AuLinkExternal href="{{config "manual.baseUrl"}}" target="_blank" rel="noopener noreferrer" @icon="manual" @iconAlignment="left" @skin="secondary">
          {{t "inbox.menu.manual"}}
        </AuLinkExternal>
      </div>
    </div>
  </maincontainer.sidebar>
  <maincontainer.content @scroll={{true}}>
    {{outlet}}
  </maincontainer.content>
</AuMainContainer>
