<AuHeader @appTitle="Gelinkt Notuleren" @contactLink="https://gelinkt-notuleren.lblod.info/contact" @loggedIn="true">
  <AuPopover @popover-title="{{currentSession._user.voornaam}} {{currentSession._user.achternaam}} - {{currentSession._group.classificatie.label}} {{currentSession._group.naam}}" @popover-button-label="Account settings">
    <AcmidmLogout @class="au-c-popover__item" role="menuitem">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" class="au-c-icon au-c-icon--left" aria-hidden="true">
        <path d="M24.1666667,2.5 L19.8333333,2.5 L19.8333333,24.1666667 L24.1666667,24.1666667 L24.1666667,2.5 Z M34.6316667,7.20166667 L31.555,10.2783333 C34.9783333,13.03 37.1666667,17.255 37.1666667,22 C37.1666667,30.385 30.385,37.1666667 22,37.1666667 C13.615,37.1666667 6.83333333,30.385 6.83333333,22 C6.83333333,17.255 9.02166667,13.03 12.4233333,10.2566667 L9.36833333,7.20166667 C5.165,10.7766667 2.5,16.0633333 2.5,22 C2.5,32.7683333 11.2316667,41.5 22,41.5 C32.7683333,41.5 41.5,32.7683333 41.5,22 C41.5,16.0633333 38.835,10.7766667 34.6316667,7.20166667 Z"/>
      </svg>Afmelden
    </AcmidmLogout>
  </AuPopover>
</AuHeader>

<main id="main" class="container-flex--contain">
  <div class="grid grid--collapse">
    <div class="col--2-12 u-hide-on-print">
      <div class="container-flex--contain">
        <div class="sidebar">
          <div class="sidebar__header">
            <WuButton @isBlock={{true}} @onClick={{action "openNewDocument"}}>Nieuwe zitting</WuButton>
          </div>
          <div class="sidebar__content">
            <div class="side-navigation">
              <ul class="side-navigation__group">
                <li class="side-navigation__item">
                  <LinkTo @route="inbox.index">
                    <i class="vi vi-paper"></i>
                    Actieve documenten
                  </LinkTo>
                </li>
{{!--                 <li class="side-navigation__item">
                  {{#link-to 'inbox.archive'}}Gearchiveerde documenten{{/link-to}}
                </li> --}}
                <li class="side-navigation__item">
                  <LinkTo @route="inbox.trash">
                    <i class="vi vi-trash"></i>
                    Prullenmand
                  </LinkTo>
                </li>
              </ul>
            </div>
          </div>
          <div class="sidebar__footer u-align-center">
          	<a href="https://gelinkt-notuleren.vlaanderen.be/handleiding/#notuleren" target="_blank" class="button button--alt button--small button--block u-spacer--tb--tiny"><i class="vi vi-book vi-u-s"></i> Bekijk handleiding</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col--10-12 u-wide-on-print">
      {{outlet}}
    </div>
  </div>
</main>
