<WuWidget @src={{header}} @class="vo-header-widget" />
<div class="container-flex--contain">
  <div class="grid grid--collapse">
    <div class="col--2-12 u-hide-on-print">
      <div class="container-flex--contain">
        <div class="sidebar">
          <div class="sidebar__header">
            <div class="user-toggle__name--label">{{currentSession._user.voornaam}} {{currentSession._user.achternaam}}</div>
            <div class="user-toggle__name">
              {{currentSession._group.classificatie.label}} {{currentSession._group.naam}}
            </div>
          </div>
          <div class="sidebar__content">
            <nav class="side-navigation" aria-labelledby="mainmenulabel">
              <h2 id="mainmenulabel" class="u-visually-hidden">Hoofdmenu</h2>
              <ul class="side-navigation__group">
                <li class="side-navigation__item">
                  <LinkTo @route="inbox.index">
                    <div class="grid grid--collapse">
                      <div class="col--2-12">
                        <i class="vi vi-paper"></i>
                      </div>
                      <div class="col--10-12">
                        Notulen zitting
                      </div>
                    </div>
                  </LinkTo>
                </li>
                <li class="side-navigation__item">
                  <LinkTo @route="inbox.imported">
                    <div class="grid grid--collapse">
                      <div class="col--2-12">
                        <i class="vi vi-arrow-bottom vi-u-180deg"></i>
                      </div>
                      <div class="col--10-12">
                        Geïmporteerde HTML bestanden
                      </div>
                    </div>
                  </LinkTo>
                </li>
{{!--                 <li class="side-navigation__item">
                  {{#link-to 'inbox.archive'}}Gearchiveerde documenten{{/link-to}}
                </li> --}}
                <li class="side-navigation__item">
                  <LinkTo @route="inbox.trash">
                    <div class="grid grid--collapse">
                      <div class="col--2-12">
                        <i class="vi vi-trash"></i>
                      </div>
                      <div class="col--10-12">
                        Prullenmand
                      </div>
                    </div>
                  </LinkTo>
                </li>
              </ul>
            </nav>
          </div>
          <div class="sidebar__footer u-align-center">
          	<a href="https://gelinkt-notuleren.vlaanderen.be/handleiding/#notuleren" target="_blank" class="button button--alt button--small button--block u-spacer--tb--tiny"><i class="vi vi-book vi-u-s"></i> Bekijk handleiding</a>
            <AcmidmLogout @class="button button--link button--small button--block" />
          </div>
        </div>
      </div>
    </div>
    <div class="col--10-12 u-wide-on-print">
      {{outlet}}
    </div>
  </div>
</div>
