<AuMainHeader @homeRoute="index" @appTitle="Gelinkt Notuleren" @contactRoute="contact">
  <AuDropdown @dropdownTitle="{{currentSession._user.voornaam}} {{currentSession._user.achternaam}} - {{currentSession._group.classificatie.label}} {{currentSession._group.naam}}" @dropdownButtonLabel="Account settings" @alignment="right">
    <AcmidmLogout @class="au-c-button au-c-button--tertiary" role="menuitem">
      <AuIcon @icon="logout" @alignment="left" />Afmelden
    </AcmidmLogout>
  </AuDropdown>
</AuMainHeader>

<main id="main" class="au-c-main-container" tabindex="-1">
  <div class="au-c-main-container__sidebar au-u-hide-on-print">
    <div class="au-c-sidebar">
      <div class="au-c-sidebar__content">
        <nav>
          <ul class="au-c-list-navigation">
            <li class="au-c-list-navigation__item">
              <AuNavigationLink @linkRoute="inbox.index">
                <AuIcon @icon="documents" @alignment="left" />
                Notulen
              </AuNavigationLink>
            </li>
            <li class="au-c-list-navigation__item">
              <AuNavigationLink @linkRoute="inbox.draft-decisions">
                <AuIcon @icon="draft" @alignment="left" />
                Ontwerpbesluiten
              </AuNavigationLink>
            </li>
              <li class="au-c-list-navigation__item">
              <AuNavigationLink @linkRoute="inbox.archive">
                <AuIcon @icon="archive" @alignment="left" />
                Archief
              </AuNavigationLink>
            </li>
            <li class="au-c-list-navigation__item">
              <AuNavigationLink @linkRoute="inbox.trash">
                <AuIcon @icon="bin" @alignment="left" />
                Prullenmand
              </AuNavigationLink>
            </li>
            <li class="au-c-list-navigation__item">
              <AuNavigationLink @linkRoute="inbox.meetings">
                <AuIcon @icon="bin" @alignment="left" />
                Zittings[@TN]
              </AuNavigationLink>
            </li>
          </ul>
        </nav>
      </div>
      <div class="au-c-sidebar__footer">
        <a href="https://gelinkt-notuleren.vlaanderen.be/handleiding/" target="_blank" rel="noopener noreferrer" class="au-c-link au-c-link--secondary au-c-link--icon">
          <AuIcon @icon="manual" @alignment="left" />
          Bekijk handleiding
        </a>
      </div>
    </div>
  </div>
  <div id="content" class="au-c-main-container__content au-u-wide-on-print" tabindex="-1">
    {{outlet}}
  </div>
</main>