<div class="au-c-main-container" itemprop="mainContentOfPage">
  <div class="au-c-main-container__content au-c-main-container__content--scroll">
    <main id="content">
      <AuContentHeader @titlePartOne="Vlaanderen" @titlePartTwo="is gelinkt notuleren">
        <img
          sizes="50vw"
          src="/assets/images/loket-header-1600.jpg"
          srcset="/assets/images/loket-header-320.jpg 320w, /assets/images/loket-header-1024.jpg 1024w, /assets/images/loket-header-1600.jpg 1600w"
          alt=""
          role="presentation"
        >
      </AuContentHeader>

      <div class="au-o-region-large">
        <div class="au-o-layout">
          <AuHeading @skin="4">Kies een bestuurseenheid om mee in te loggen.</AuHeading>
          <p class="au-u-margin-top-small au-u-margin-bottom">
            <input class="au-c-input au-c-input--block js-js-input-pattern-bound" placeholder="Aalst, Berchem,..." value={{this.gemeente}} autofocus {{on "input" (perform this.updateSearch value='target.value')}}>
          </p>

          <MockLogin as |login|>
            {{#if this.queryStore.isRunning}}
              <AuLoader @padding="small" />
            {{else}}
              {{#if this.login.errorMessage}}
                <AuAlert @alertIcon="alert-triangle" @alertTitle={{this.login.errorMessage}} @alertskin="warning" />
              {{/if}}
              <login.each-account @accounts={{this.model}} as |account|>
                <div class="au-o-box au-o-box--small au-c-card au-u-margin-bottom-small">
                  <p>{{account.gebruiker.voornaam}} {{account.gebruiker.achternaam}}</p>
                </div>
              </login.each-account>
              <NumberPagination @page={{this.page}} @size={{this.size}} @nbOfItems={{this.model.length}} @total={{this.model.meta.count}} @links={{this.model.meta.pagination}} />
            {{/if}}
          </MockLogin>
        </div>
      </div>
    </main>
  </div>
</div>
