<div class="page">
  <div id="main" itemprop="mainContentOfPage" role="main" tabindex="-1" class="main-content">
    <header class="content-header content-header--small content-header--half-image u-spacer--large">
      <div class="content-header__wrapper">
        <picture class="content-header__bg"><img sizes="50vw" src="/assets/images/loket-header-1600.jpg" srcset="/assets/images/loket-header-320.jpg 320w, /assets/images/loket-header-1024.jpg 1024w, /assets/images/loket-header-1600.jpg 1600w" alt="" title=""></picture>
        <div class="layout layout--wide">
          <div class="content-header__content">
            <div class="content-header__logo-wrapper"><a href="#" class="content-header__entity-logo content-header__entity-logo--lowercase"><span class="content-header__entity-logo__prefix">Vlaanderen</span><span class="content-header__entity-logo__title">is lokaal bestuur</span></a></div>
          </div>
        </div>
      </div>
    </header>
    <div class="col--9-12--s col--5-12--m col--6-12">
      <div class="grid grid--align-right">
        <div class="col--1-1 col--10-12--m col--6-12--l">
          <h2 class="h4 u-spacer">Kies een bestuurseenheid om mee in te loggen.</h2>
          <input class="input-field input-field--block u-spacer--tiny js-js-input-pattern-bound" placeholder="Aalst, Berchem,..." value={{gemeente}} autofocus oninput={{perform updateSearch value='target.value'}}>
          {{#mock-login as |login|}}
            {{#if queryStore.isRunning}}
              <div class="loader-wrapper">
                <div class="loader">
                  <span class="u-visually-hidden">Aan het laden</span>
                </div>
              </div>
            {{else}}
              {{#if login.errorMessage}}
                {{wu-alert title=login.errorMessage isWarning=true}}
              {{/if}}
              {{#login.each-account accounts=model as |account|}}
                {{#wu-info-tile class="u-spacer--tiny" as |i|}}
                  {{#i.content}}
                    {{account.gebruiker.voornaam}} {{account.gebruiker.achternaam}}
                  {{/i.content}}
                {{/wu-info-tile}}
              {{/login.each-account}}
              {{number-pagination
                page=page size=size nbOfItems=model.length
                total=model.meta.count links=model.meta.pagination}}
            {{/if}}
          {{/mock-login}}
        </div>
      </div>
    </div>
  </div>
</div>
