<div class="temporary-header">
  <div class="grid">
    <div class="col--6-12">
      <div class="temporary-header__logo"></div>
      <div class="temporary-header__vlaanderen">Vlaanderen</div>
      <div class="temporary-header__name">demo-publieke-notulen.lblod.info</div>
    </div>
    <div class="col--6-12 u-align-right">
      <div class="temporary-header__info">
        <p>Demo omgeving</p>
      </div>
    </div>
  </div>
</div>

<div class="app-view">
  <div class="grid grid--collapse">
    <div class="col--4-12 flex navigate-content">
      <div class="documents-overview">
        <div data-table="" class="js-data-table-bound">
          <div class="u-table-overflow">
            <table class="data-table data-table--blocks scroll">
              <tbody>
                {{#each model as |zitting|}}
                  <tr onclick={{action "openZitting" zitting}} class="{{if (eq selectedZitting zitting) "data-table__element--active"}}">
                    <td>
                      <div class="grid grid-collapse">
                        <div class="col--9-12 u-align-left">
                          <strong>{{get (await zitting.bestuursorgaan) 'naam'}}, zitting van {{moment-format zitting.geplandeStart 'D MMMM YYYY'}}</strong>
                        </div>
                        <div class="col--3-12">
                          <p>{{moment-format zitting.geplandeStart 'DD/MM/YYYY'}}</p>
                        </div>
                      </div>
                      <div class="link-group link-group--bordered u-spacer--top--tiny u-align-left">
                        {{#if zitting.agenda}}
                          {{#link-to 'published.zitting.agenda' zitting.id class="link--icon"}}
                            Agenda {{wu-icon "vi-document-small"}}
                          {{/link-to}}
                        {{else}}
                          <a href="#" class="link--icon link--disabled">Agenda {{wu-icon "vi-clock"}}</a>
                        {{/if}}

                        {{#if zitting.behandeldeAgendapunten}}
                          {{#link-to 'published.zitting.besluitenlijst.index' zitting.id class="link--icon"}}
                            Besluitenlijst {{wu-icon "vi-document-small"}}
                          {{/link-to}}
                        {{else}}
                          <a href="#" class="link--icon link--disabled">Besluitenlijst {{wu-icon "vi-clock"}}</a>
                        {{/if}}

                        {{#if zitting.notulen}}
                          {{#link-to 'published.zitting.notulen' zitting.id class="link--icon"}}
                            Notulen {{wu-icon "vi-document-small"}}
                          {{/link-to}}
                        {{else}}
                          <a href="#" class="link--icon link--disabled">Notulen {{wu-icon "vi-clock"}}</a>
                        {{/if}}
                      </div>
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
          <div class="data-table__actions data-table__actions--bottom">
            {{number-pagination page=page size=size nbOfItems=model.length
                total=model.meta.count links=model.meta.pagination}}
          </div>
        </div>
      </div>
    </div>

    {{outlet}}

  </div>
</div>
