<VoPage>
  <section class="au-o-region-large">
      <div class="au-o-layout">
        <div class="au-o-grid au-o-grid--small">
          <div class="au-o-grid__item au-u-3-4@small au-u-1-2@medium">
            <AuContent @skin="large">
              <h1>{{t "switch-login.heading"}}</h1>
              <p class="au-c-heading au-c-heading--4">{{t "switch-login.app-description"}}</p>
              <p>{{t "switch-login.contact-text"}} <a class="au-c-link" href="https://overheid.vlaanderen.be/ict/ict-diensten/gebruikersbeheer">{{t "switch-login.user-admin"}}</a>.</p>
              <p>{{t "switch-login.signing-instructions"}}</p>
            </AuContent>
          </div>
          <div class="au-o-grid__item au-u-1-4@small au-u-1-2@medium au-u-text-right@medium">
            <AcmidmLogin />
            {{#if this.model}}
              <AuAlert @icon="alert-triangle" @title={{this.model}}  @skin="error" class="au-u-text-left" />
            {{/if}}
          </div>
        </div>
      </div>
  </section>
</VoPage>
