<h1>zetelverderling van {{model.bestuursorgaan.isTijdsspecialisatieVan.naam}} {{model.bestuursorgaan.bindingStart}}</h1>
<table>
  {{#each-in zetels as |zetel aantal|}}
    <tr>
      <td>{{zetel}}</td><td>{{aantal}}</td>
    </tr>
    {{/each-in}}
</table>
<table>
  {{#each resultaten as |resultaat|}}
    <tr>
      <td>{{resultaat.isResultaatVan.uri}}</td>
      <td>
        {{resultaat.isResultaatVan.gebruikteVoornaam}}
      </td>
      <td>
        {{resultaat.isResultaatVan.achternaam}}
      </td>
      <td>
        {{resultaat.aantalNaamstemmen}}
      </td>
      <td>
        {{resultaat.isResultaatVoor.lijstnaam}}
      </td>
    </tr>
  {{/each}}
</table>
