<div class="u-padding--round--small u-background--gray-lightest u-spacer--tb--large">
  <h3 class="h5 u-spacer--tiny">{{t "manageAgendaZittingModalDelete.modalSubtitle"}}</h3>
  <p class="small u-spacer--small">
    <strong>{{t "manageAgendaZittingModalDelete.warningPartOne"}}</strong> {{t "manageAgendaZittingModalDelete.warningPartTwo"}}
  </p>

  {{#if isShowingWarning}}
    <div class="u-hr u-spacer"></div>
    <div class="u-spacer--top--tiny" id="isShowingWarning-verwijder-agendapunt">
      <div class="u-spacer">
        <p class="small"><strong>{{t "manageAgendaZittingModalDelete.agreeQuestion"}}</strong></p>
        <label class="checkbox checkbox--block">
          {{input class="checkbox__toggle" type="checkbox" checked=this.hasAgreed}}
          <span></span>
          <span>{{t "manageAgendaZittingModalDelete.checkboxLabel"}}</span>
        </label>
      </div>

      {{#wu-button
           onClick=@toggleEditing
           class="button button--alt button--narrow"}}
        {{t "manageAgendaZittingModalDelete.toggleEditButton"}}
      {{/wu-button}}
      <span></span>
      {{#wu-button
           onClick=this.delete
           disabled=(if this.hasAgreed false true)
           class="button button--alt button--alt--warning button--narrow"}}
        {{t "manageAgendaZittingModalDelete.deleteButton"}}
      {{/wu-button}}
    </div>
  {{else}}
    <div>
      {{#wu-button
           onClick=this.toggleWarning
           class="button button--alt button--alt--warning button--narrow"}}
        {{t "manageAgendaZittingModalDelete.toggleWarningButton"}}
      {{/wu-button}}
    </div>
  {{/if}}
</div>
