<div class="u-padding--round--small u-background--gray-lightest">
  <h2 class="h5">Bewerk agendapunt</h2>
</div>

<div class="u-padding--round--small">

  <label class="form__label form__label--block u-spacer--small" for="agendapunt-bewerk">
    Titel agendapunt
    {{textarea
      class="textarea textarea--block u-spacer--tiny"
      rows="4"
      value=(mut @agendapunt.titel)
    }}
  </label>

  <label class="form__label form__label--block u-spacer--small" for="agendapunt-bewerk">
    Beschrijving agendapunt
    {{textarea
      class="textarea textarea--block u-spacer--tiny"
      rows="4"
      value=(mut @agendapunt.beschrijving)
    }}
  </label>

  <label class="form__label form__label--block u-spacer--tiny">
    Geplande openbaarheid
  </label>
  <div class="u-spacer--small">
    <label class="radio">
      <input class="radio__toggle" type="radio" name="geslotenAgendapunt" checked={{not @agendapunt.geplandOpenbaar}} onclick={{action "toggleGeplandOpenbaar"}}>
      <span></span>
      <span>Gepland besloten agendapunt</span>
    </label>
    <label class="radio">
      <input class="radio__toggle" type="radio" name="openAgendapunt" checked={{@agendapunt.geplandOpenbaar}} onclick={{action "toggleGeplandOpenbaar"}}>
      <span></span>
      <span>Gepland openbaar agendapunt</span>
    </label>
  </div>
  <Agenda::Delete @toggleEditing={{@toggleEditing}} @agendapunt={{@agendapunt}}/>

</div>
