<div style="height:70vh; max-height:none;">
  <table class="data-table">
    <thead>
      <tr>
        <th>{{t "manageAgendaZittingModal.orderLabel"}}</th>
        <th style="width: 400px;">{{t "manageAgendaZittingModal.titleLabel"}}</th>
        <th>{{t "manageAgendaZittingModal.geplandOpenbaar"}}</th>
        <th>
          <div class="grid">
            <div class="col--2-12">{{t "manageAgendaZittingModal.actionsLabel"}}</div>
            <div class="col--10-12 u-align-right">
              <AuButton {{on "click" @createAgendapunt}} @icon="add" @iconAlignment="left">
                {{t "manageAgendaZittingModal.createItemButton"}}
              </AuButton>
            </div>
          </div>
        </th>
      </tr>
    </thead>

    <SortableObjects @tagName={{"tbody"}} @sortEndAction={{this.sort}} @sortableObjectList={{@agendapunten}} enableSort={{true}} useSwap={{true}} inPlace={{true}}>
      {{#each @agendapunten as |agendapunt|}}
        {{#draggable-object tagName="tr" content=agendapunt isSortable=true}}
          {{!--  <td class="u-align-right">1</td> --}}
          <td>
            {{#wu-link-button
              isTiny=true
              isLink=true
              isNarrow=true
              onClick=null}}
              <span style="cursor:pointer">
                <i class="fa fa-bars"></i>
              </span>
            {{/wu-link-button}}
          </td>
          <td>
            <p>{{agendapunt.titel}}</p>
          </td>
          <td>
            {{if agendapunt.geplandOpenbaar (t "manageAgendaZittingModal.geplandOpenbaarTrueLabel") (t "manageAgendaZittingModal.geplandOpenbaarFalseLabel")}}
          </td>
          <td>
            {{#wu-button-group}}
              <WuButton
                @isSmall={{true}}
                @isAlt={{true}}
                @isNarrow={{true}}
                @label={{"Bewerk"}}
                @onClick={{fn @edit agendapunt}}>
                <i class="vi vi-edit"></i> {{t "manageAgendaZittingModal.editItemButton"}}
              </WuButton>
            {{/wu-button-group}}
          </td>
        {{/draggable-object}}
      {{else}}
        <tr>
          <td colspan="5">{{t "manageAgendaZittingModal.noDataMessage"}}
              {{#wu-button
                isNarrow=true
                isLink=true
                onClick=@createAgendapunt}}
                {{t "manageAgendaZittingModal.createItemButton"}}
              {{/wu-button}}
            </td>
        </tr>
      {{/each}}
    </SortableObjects>
  </table>
</div>
