<div class="au-c-data-table__wrapper">
  <table class="au-c-data-table__table">
    <thead>
      <tr class="au-c-data-table__header">
        <th>{{t "manageAgendaZittingModal.orderLabel"}}</th>
        <th style="width: 400px;">{{t "manageAgendaZittingModal.titleLabel"}}</th>
        <th>{{t "manageAgendaZittingModal.geplandOpenbaar"}}</th>
        <th class="au-u-table-right">
          {{!-- {{t "manageAgendaZittingModal.actionsLabel"}} --}}
          <AuButton {{on "click" @createAgendapunt}} @icon="add" @iconAlignment="left">
            {{t "manageAgendaZittingModal.createItemButton"}}
          </AuButton>
        </th>
      </tr>
    </thead>

    <SortableObjects @tagName={{"tbody"}} @sortEndAction={{@sort}} @sortableObjectList={{@agendapunten}} enableSort={{true}} useSwap={{true}} inPlace={{true}}>
      {{#each @agendapunten as |agendapunt|}}
        {{#unless agendapunt.isDeleted}}
          {{#draggable-object tagName="tr" content=agendapunt isSortable=true}}
            {{!--  <td class="u-align-right">1</td> --}}
            <td>
              {{#wu-link-button
                isTiny=true
                isLink=true
                isNarrow=true
                onClick=null}}
                <span style="cursor:pointer">
                  <i class="fa fa-bars"></i>
                </span>
              {{/wu-link-button}}
            </td>
            <td>
              <p>{{agendapunt.titel}}</p>
            </td>
            <td>
              {{if agendapunt.geplandOpenbaar (t "manageAgendaZittingModal.geplandOpenbaarTrueLabel") (t "manageAgendaZittingModal.geplandOpenbaarFalseLabel")}}
            </td>
            <td class="au-u-table-right">
              <AuButton @skin="tertiary" @icon="pencil" @iconAlignment="left" {{on "click" (fn @edit agendapunt)}}>
                {{t "manageAgendaZittingModal.editItemButton"}}
              </AuButton>
            </td>
          {{/draggable-object}}
        {{/unless}}
      {{else}}
        <tr>
          <td colspan="4">{{t "manageAgendaZittingModal.noDataMessage"}}
            <AuButton @skin="tertiary" @icon="add" @iconAlignment="left" {{on "click" @createAgendapunt}}>
              {{t "manageAgendaZittingModal.createItemButton"}}
            </AuButton>
          </td>
        </tr>
      {{/each}}
    </SortableObjects>
  </table>
</div>
